{% extends "base_edit.html" %}

{% block titulo %}

<title>Editar ambiente</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar el ambiente {{form_edit_ambiente.ambiente.value|lower}} </h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{form_edit_ambiente.as_p}}

</div>
<script type="text/javascript">
document.getElementById('id_ambiente').focus()
</script>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Tipos de inmuebles que tienen este ambiente asociado</h4>
<div class="panel panel-default">
  <table class="table textAlignCenter">
    <tr class="">
      <th width="300">Tipo de inmuebles</th>
      <th width="1"></th>
      <th width="1">
        <a href="{% url 'uambientes:add_ambiente_tipoinmueble' ambiente.id 2 %}?next={{request.get_full_path}}" class="glyphicon">Asociar nuevo</a>
      </th>
    </tr>

    {% for i in ambiente.ambiente_tipo_inmueble_set.all %}

    <tr id="tr{{i.id}}">
      <td>{{ i.tipo_inmueble }}</td>
      <td width="">
        <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uambientes:edit_ambiente_tipoinmueble' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit displayNone"></a>
      </td>
      <td>
        <a title="Eliminar" href="#myModal" role="button" href="#myModal" role="button" class="glyphicon delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.ambiente}}">Eliminar relación</a>
      </td>
    </tr>

    {% endfor %}

  </table>
</div>
<br>
<h4>Muebles típicos asociados a este ambiente</h4>
<div class="panel panel-default">
  <table class="table textAlignCenter">
    <tr class="">
      <th width="300">Muebles</th>
      <th width="1">
        <a href="{% url 'umuebles:add_muebleambiente' ambiente.id 2 %}?next={{request.get_full_path}}" class="glyphicon">Asociar nuevo</a>
      </th>
    </tr>

    {% for i in ambiente.mueble_ambiente_set.all %}

    <tr id="tr{{i.id}}">
      <td>{{ i.mueble }}</td>
      <td>
        <a title="Eliminar" href="#myModal" role="button" href="#myModal" role="button" class="glyphicon delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.ambiente}}">Eliminar relación</a>
      </td>
    </tr>

    {% endfor %}

  </table>
</div>

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="">
    <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
    <p>Cree nombres de <strong>Ambientes</strong> que no generen ambigüedades o confusiones como pudiera suceder entre <i>Living</i> y <i>Living Room</i>.</p>
    <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
</div>

{% endblock%}
