{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'umuebles:buscar_mueble_ambiente' 0 %}">Muebles por ambiente</a></li>
<li class="linknav"><a href="{% url 'uambientes:lista_ambiente_tipo_inmueble' %}">Ambientes por tipo de inmueble</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'umuebles:buscar_mueble_ambiente' 0 %}">Muebles por ambiente</a></li>
<li><a href="{% url 'uambientes:lista_ambiente_tipo_inmueble' %}">Ambientes por tipo de inmueble</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Ambientes</title>

{% endblock %}

{% block titulo_modal %}

Eliminar ambiente

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el ambiente <strong><span id="modal_name"></span></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Ambientes</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}
 <div id="search-results">
   {% include "ambiente_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="">
    <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
    <p>Al momento de evaluar o realizar una mudanza, los ambientes servirán para clasificar todos los muebles y contenidos que serán trasladados.</p>
    <p>El uso de etiquetas en los muebles y contenidos implica la identificación del <strong>Ambiente</strong> del inmueble de origen en el cual fueron encontrados, para una precisa clasificación en el inmueble destino.</p>
    <p>Puede agregar más <strong>Ambientes</strong> presionando el botón <a title="Nuevo" class="" role="button" href="nuevo/" style="color: #777; font-size: 18px;"><span class="glyphicon-asterisk glyphicon glyphicon-plus"></span></a> en la barra de herramientas.</p>
</div>

{% endblock%}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'uambientes:search_ambiente' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
