{% extends 'base_ficha.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uambientes:lista_ambiente' %}">Ambientes</a></li>
<li class="linknav"><a href="{% url 'udirecciones:lista_tipo_inmueble' %}">Tipos de Inmueble</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uambientes:lista_ambiente' %}">Ambientes</a></li>
<li><a href="{% url 'udirecciones:lista_tipo_inmueble' %}">Tipos de Inmueble</a></li>

{% endblock footerLink %}

{% block acceso_rapido_adicional%}{% endblock acceso_rapido_adicional%}

{% block titulo %}

<title>Ambientes comunes por tipo de inmueble</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar la relación del ambiente con el tipo de inmueble

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar la relación del ambiente <span id="modal_name"></span> con el tipo de inmueble?</p>

{% endblock validacion_modal %}

{% block titulo_ficha %}

<h2>Ambientes comunes por tipo de inmueble</h2>

{% endblock titulo_ficha %}

{% block pagination %}

{% if listas_inmueble.has_previous %}

<li>
  <a href="?page={{ listas_inmueble.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a class="fuenteNegra"> Página

    {{ listas_inmueble.number }}

    de

    {{ listas_inmueble.paginator.num_pages }}

    Desde el ambiente

    {{ listas_inmueble.start_index }}

    hasta el ambiente

    {{ listas_inmueble.end_index }}

  </a>
</li>

{% if listas_inmueble.has_next %}

<li>
  <a href="?page={{ listas_inmueble.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

{% block col1 %}

class="col-md-6"

{% endblock col1 %}

{% block content1 %}

{% if lista_inmueble %}

<h6>Cantidad de inmuebles:
  <span class="badge" id="count_reg">

    {{ lista_inmueble.count }}

  </span>
</h6>
<br>
<br>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% for im in listas_inmueble %}

  <div class="panel panel-default">
    <div class="panel-heading cursorPointer" role="tab" id="heading{{im.id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{im.id}}" aria-expanded="false" aria-controls="collapse{{im.id}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{im.id}}" aria-expanded="false" aria-controls="collapse{{im.id}}">

          {{ im.tipo_inmueble }}

        </a>
        <span class="caret hidden-print floatRight"></span>
      </h4>
    </div>
    <div id="collapse{{im.id}}" class="panel-collapse collapse btn-colapsable {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{im.id}}">
      <table class="table table-hover textAlignCenter" id="tabla">
        <tr class="">
          <th class="hidden-print">Ambientes</th>
          <th width="80px" class="hidden-print">
            <a href="{% url 'uambientes:add_ambiente_tipoinmueble' im.id 1 %}" class="glyphicon floatRight">Agregar ambiente</a>
          </th>
        </tr>

        {% for i in lista_ambtipoinmueble %}

        {% if i.tipo_inmueble == im %}

        <tr id="tr{{i.id}}">
          <td>{{ i.ambiente }}</td>
          <td width="80px" class="hidden-print">
            <a title="Eliminar" href="#myModal" role="button" class="glyphicon delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.ambiente}}">Eliminar relación</a>
          </td>

        </tr>

        {% endif %}

        {% endfor %}

      </table>
    </div>
  </div>

  {% endfor %}

</div>

{% endif %}

<div class="ayuda well well-lg">
  <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
  <p>Para ello existen las relaciones entre <strong>Tipos de inmuebles</strong> y <strong>Ambientes</strong>, los cuales clasifican a los ambientes según su tipo de inmueble.</p>
  <p>Clasifique los ambientes según su tipo de inmueble presionando el botón ( <span class="glyphicon-asterisk glyphicon glyphicon-plus"></span> ).</p>
</div>

{% endblock content1 %}
