{% extends "base_edit.html" %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uambientes:lista_ambiente' %}" style="color:#777;">Ambientes</a></li>
<li class="linknav"><a href="{% url 'uambientes:lista_ambiente_tipo_inmueble' %}" style="color:#777;">Ambiente tipo inmueble</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uambientes:lista_ambiente' %}" style="color:#777;">Ambientes</a></li>
<li class="linknav"><a href="{% url 'uambientes:lista_ambiente_tipo_inmueble' %}" style="color:#777;">Ambiente tipo inmueble</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Ambientes por tipo de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar ambientes por tipo de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group filtra-tipoinmueble">

    {{ form_ambtipoinmueble.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_ambiente').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
    <p>Para ello existen las relaciones entre <strong>Tipos de inmuebles</strong> y <strong>Ambientes</strong>, los cuales clasifican a los ambientes según su tipo de inmueble.</p>
    <p>Seleccione la relacion de un tipo de inmueble y un ambiente. luego presione resgistrar.</p>
</div>

{% endblock%}
