{% extends 'inicio/base_lista.html' %}

{% block titulo %}

<title>Densidad de muebles</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar densidad de muebles

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Densidad de muebles</h2>

{% endblock titulo_tabla %}

{% if lista_densidad %}

{% block cantidad_tabla %}

<h6>Densidades de muebles registradas:
  <span class="badge" id="count_reg">

    {{ lista_densidad.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block pagination %}

{% if densidades.has_previous %}

<li>
  <a href="?page={{ densidades.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a style="color:#000;"> Página

    {{ densidades.number }}

    de

    {{ densidades.paginator.num_pages }}

    Desde la densidad

    {{ densidades.start_index }}

    hasta la densidad

    {{ densidades.end_index }}

  </a>
</li>

{% if densidades.has_next %}

<li>
  <a href="?page={{ densidades.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

{% block cuerpo_tabla %}

<tr class="active">
  <th>Densidad</th>
  <th width="3">Editar</th>
  <th width="3">Eliminar</th>
</tr>

{% for i in densidades %}

<tr id="tr{{i.id}}">
  <td>{{ i.descripcion }}</td>
  <td>
    <a href="{% url 'umuebles:edit_densidad' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a>
  </td>
  <td>
    <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.descripcion}}"></a>
  </td>
  <input type="hidden" value="{{i.id}}" id="idtele">
</tr>

{% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="">
  <p>El <strong>Densidad de mueble</strong> es una referencia que permite rápidamente asignar dimensiones a los <strong>Muebles</strong> de forma genérica, de forma que no se depende de la medición exacta de todos los <strong>Muebles</strong> encontrados.</p>
  <p>La experiencia convertida en estadística es la fuente principal para la asignación de dimensiones a los <strong>Densidades</strong> típicos de cada <strong>Mueble</strong>, de este modo se facilita el trabajo del cotizador al momento de describir sus detalles a medida que se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock ayuda %}
