{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Muebles por ambientes</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar muebles por ambiente</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

    {{ form_edit_muebleambiente.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_mueble').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
    <p>Los <strong>Mueble</strong> serán los objetos que se verán afectados durante una mudanza, algunos de ellos recibiendo servicios, otros almacenando contenidos.</p>
    <p>Los <strong>Muebles</strong>, durante una mudanza, estarán asociados a un <strong>Ambiente</strong> de origen, y podrán ser trasladables o no. En caso de no ser trasladables, el único sentido de registrarlos consiste en la identificación de los <strong>Contenidos</strong> que mantienen, como puede ser el caso de los <i>muebles de cocina empotrada</i> o los <i>armarios empotrados</i> que generarán <strong>Contenedores</strong> pero ellos mismos no formarán parte de la mudanza.</p>
    <p>Los muebles deben contar con un equilibrio entre lo general y lo específico, de manera que pueda estandarizarse la inmensa diversidad de posibilidades que se encuentra en el mercado, en solo unos pocos <i>muebles representativos</i> del resto.</p>
</div>

{% endblock ayuda %}
