{% extends 'base_ficha.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uambientes:lista_ambiente' %}">Ambientes</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipo de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_tamano' %}">Tipos de tamaños</a></li>
<li class="linknav"><a href="{% url 'umuebles:buscar_tamano_mueble' 0 %}">Tamaños de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uambientes:lista_ambiente' %}">Ambientes</a></li>
<li><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipo de muebles</a></li>
<li><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li><a href="{% url 'umuebles:lista_tamano' %}">Tipos de tamaños</a></li>
<li><a href="{% url 'umuebles:buscar_tamano_mueble' 0 %}">Tamaños de muebles</a></li>
<li><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>

{% endblock footerLink %}

{% block acceso_rapido_adicional%}{% endblock acceso_rapido_adicional%}

{% block titulo %}

<title>Muebles por ambiente</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar mueble por ambiente

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Desea eliminar <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% block col1 %}

class="col-md-6"

{% endblock col1 %}

{% block pagination %}

{% if muebleambientes.has_previous %}

<li>
  <a href="?page={{ muebleambientes.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a class="fuenteNegra"> Página

    {{ muebleambientes.number }}

    de

    {{ muebleambientes.paginator.num_pages }}

    Desde el ambiente

    {{ muebleambientes.start_index }}

    hasta al ambiente

    {{ muebleambientes.end_index }}

  </a>
</li>

{% if muebleambientes.has_next %}

<li>
  <a href="?page={{ muebleambientes.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

{% block titulo_ficha %}

<h2>Muebles por ambiente</h2>

{% endblock titulo_ficha %}

{% block content1 %}

{% if lista_ambiente %}

<h6>Cantidad de ambientes:
  <span class="badge" id="count_reg">

    {{ lista_ambiente.count }}

  </span>
</h6>
<br>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% for im in muebleambientes %}

  <div class="panel panel-default">
    <div class="panel-heading cursorPointer" role="tab" id="heading{{im.id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{im.id}}" aria-expanded="false" aria-controls="collapse{{im.id}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{im.id}}" aria-expanded="false" aria-controls="collapse{{im.id}}">

          {{ im.ambiente }}
        </a>
        <span class="caret hidden-print floatRight"></span>
      </h4>
    </div>
    <div id="collapse{{im.id}}" class="panel-collapse collapse btn-colapsable {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{im.id}}">
      <table class="table table-hover textAlignCenter" id="tabla">
        <tr class="">
          <th class="hidden-print">Mueble</th>
          <th class="hidden-print">Predefinido</th>
          <th width="80px" class="hidden-print">
            <a href="{% url 'umuebles:add_muebleambiente' im.id 1 %}" class="glyphicon glyphicon-plus floatRight"></a>
          </th>
        </tr>

        {% for i in buscar_muebleambiente %}

        {% if i.ambiente == im %}

        <tr id="tr{{i.id}}">
          <td>{{ i.mueble }}</td>
          <td>{{ i.predefinido|yesno:"Si,No" }}</td>
          <td width="80px" class="hidden-print">
            <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.servicio}}"></a>
          </td>
        </tr>

        {% endif %}

        {% endfor %}

      </table>
    </div>
  </div>

  {% endfor %}

</div>

{% endif %}

{% endblock content1 %}

{% block ayuda %}

<div class="">
  <p>Los <strong>Mueble</strong> serán los objetos que se verán afectados durante una mudanza, algunos de ellos recibiendo servicios, otros almacenando contenidos.</p>
  <p>Los <strong>Muebles</strong>, durante una mudanza, estarán asociados a un <strong>Ambiente</strong> de origen, y podrán ser trasladables o no. En caso de no ser trasladables, el único sentido de registrarlos consiste en la identificación de los <strong>Contenidos</strong> que mantienen, como puede ser el caso de los <i>muebles de cocina empotrada</i> o los <i>armarios empotrados</i> que generarán <strong>Contenedores</strong> pero ellos mismos no formarán parte de la mudanza.</p>
  <p>Los muebles deben contar con un equilibrio entre lo general y lo específico, de manera que pueda estandarizarse la inmensa diversidad de posibilidades que se encuentra en el mercado, en solo unos pocos <i>muebles representativos</i> del resto.</p>
</div>

{% endblock ayuda %}
