{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipo de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_tamano' %}">Tipos de tamaños</a></li>
<li class="linknav"><a href="../tamano_mueble/0/">Tamaños de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>
<li class="linknav"><a href="{% url 'umuebles:buscar_mueble_ambiente' 0 %}">Muebles por ambiente</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipo de muebles</a></li>
<li><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li><a href="{% url 'umuebles:lista_tamano' %}">Tipos de tamaños</a></li>
<li><a href="../tamano_mueble/0/">Tamaños de muebles</a></li>
<li><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>
<li><a href="{% url 'umuebles:buscar_mueble_ambiente' 0 %}">Muebles por ambiente</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Mueble</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar mueble

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Muebles</h2>

{% endblock titulo_tabla %}

{% if lista_tipomueble %}

{% block cantidad_tabla %}

<h6>Cantidad de muebles encontradas:
  <span class="badge" id="count_reg">

    {{ lista_mueble.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block pagination %}

    {% if muebles.has_previous %}

    <li>
      <a href="?page={{ muebles.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>

    {% endif %}

    <li class="current">
      <a style="color:#000;"> Página

        {{ muebles.number }}

        de

        {{ muebles.paginator.num_pages }}

        Desde el mueble

        {{ muebles.start_index }}

        hasta el mueble

        {{ muebles.end_index }}

      </a>
    </li>

    {% if muebles.has_next %}

    <li>
      <a href="?page={{ muebles.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>

    {% endif %}

{% endblock pagination %}

{% block cuerpo_tabla %}

<tr class="active">
  <th>Mueble</th>
  <th>Tipo de mueble</th>
  <th>Forma</th>
  <th>Trasladable</th>
  <th width="80px">Editar</th>
  <th width="80px">Eliminar</th>
</tr>

{% for i in muebles %}

<tr id="tr{{i.id}}">
  <td>{{ i.mueble }}</td>
  <td>{{ i.tipo_mueble }}</td>
  <td>{{ i.forma }}</td>
  <td>{{i.trasladable|yesno:"Si,No"}}</td>
  <td>
    <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'umuebles:edit_mueble' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a>
  </td>
  <td>
    <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.mueble}}"></a>
  </td>
  <input type="hidden" value="{{i.id}}" id="idtele">
</tr>

{% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="">
  <p>Los <strong>Mueble</strong> serán los objetos que se verán afectados durante una mudanza, algunos de ellos recibiendo servicios, otros almacenando contenidos.</p>
  <p>Los <strong>Muebles</strong>, durante una mudanza, estarán asociados a un <strong>Ambiente</strong> de origen, y podrán ser trasladables o no. En caso de no ser trasladables, el único sentido de registrarlos consiste en la identificación de los <strong>Contenidos</strong> que mantienen, como puede ser el caso de los <i>muebles de cocina empotrada</i> o los <i>armarios empotrados</i> que generarán <strong>Contenedores</strong> pero ellos mismos no formarán parte de la mudanza.</p>
  <p>Los muebles deben contar con un equilibrio entre lo general y lo específico, de manera que pueda estandarizarse la inmensa diversidad de posibilidades que se encuentra en el mercado, en solo unos pocos <i>muebles representativos</i> del resto.</p>
</div>

{% endblock ayuda %}
