{% extends "base_edit.html" %}

{% block titulo %}

<title>Editar nivel de ocupación</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar el nivel de ocupación {{form_edit_ocupacion.descripcion.value|lower}}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

{{ form_edit_ocupacion.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_descripcion').focus()
</script>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Muebles que tienen asociado este nivel de ocupación</h4>
          <div class="panel panel-default">
<table class="table textAlignCenter">
<tr class="">
    <th width="50">Mueble</th>
    <th width="80px"></th>
</tr>

{% for det in ocupacion.mueble_set.all %}

<tr id="tr{{det.id}}">
    <td width="50">{{ det.mueble }}</td>
    <td width="80px">
      <a href="{% url 'umuebles:edit_mueble' det.id %}?next={% url 'umuebles:edit_ocupacion' ocupacion.id %}" class="glyphicon glyphicon-edit"></a>

    </td>
</tr>

{% endfor %}

</table>
</div>
{% endblock contenido_adicional %}

{% block ayuda %}

<div class="">
  <p>El <strong>Nivel de ocupación</strong> permite estimar la cantidad de contenido que tiene un <strong>Mueble</strong> de forma que se pueda determinar la cantidad de <strong>Contenedores</strong> que serán necesarios para el traslado del mismo.</p>
  <p>El <strong>Nivel de ocupación</strong> se asume de forma estimada con un nivel de precisión que permite asignar de forma justa la cantidad de <strong>Contenedores</strong> sin perjudicar al cliente por una cantidad excesiva de estos.</p>
  <p>La cantidad de <strong>Contenedores</strong> asignados incide sobre el precio final de la cotización.</p>
  <p>La apropiada identificación de los <strong>Niveles de ocupación</strong> redundará en cotizaciones ágiles y justas.</p>
</div>

{% endblock%}
