{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipo de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li class="linknav"><a href="../tamano_mueble/0/">Tamaños de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipo de muebles</a></li>
<li><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li><a href="../tamano_mueble/0/">Tamaños de muebles</a></li>
<li><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Tamaños</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar tamaño de mueble

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Tamaños</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "tamano_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="">
  <p>El <strong>Tamaño de mueble</strong> es una referencia que permite rápidamente asignar dimensiones a los <strong>Muebles</strong> de forma genérica, de forma que no se depende de la medición exacta de todos los <strong>Muebles</strong> encontrados.</p>
  <p>La experiencia convertida en estadística es la fuente principal para la asignación de dimensiones a los <strong>Tamaños</strong> típicos de cada <strong>Mueble</strong>, de este modo se facilita el trabajo del cotizador al momento de describir sus detalles a medida que se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'umuebles:search_tamano' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
