{% extends "base_ficha.html" %}

{% block titulo %}

<title>Tamaño de mueble</title>

{% endblock titulo %}

{% block titulo_ficha %}

<h2>Tamaños de muebles</h2>

{% endblock titulo_ficha %}

{% block col1 %}class="col-md-4"{% endblock col1 %}

{% block content1 %}
<style>
    .caret {
        top:16px!important;
        right: 12px!important;
    }
    td {
        text-align: center;
        max-width: 100px;
    }
    td input {
        display: block;
        max-width: 80px;
        text-align: right;
        margin: auto!important;
        border-right: hidden !important;
        background: transparent;
    }
    td input::-webkit-inner-spin-button,
    td input::-webkit-outer-spin-button  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
    td select {
        display: none;
    }
</style>

<form action="" method="post" id="myformEdit">
{% csrf_token %}
<h4 class="elementHidden">detalle del mueble</h4>
<div class="form-group">
        <select name="listamueble" id="listamueble">
            <option value="0">Seleccione el mueble</option>
            {% for mu in mueble %}

            <option value="{{mu.id}}">{{mu.mueble}}</option>

            {% endfor %}

        </select>
</div>


{% endblock content1 %}

{% block col2 %}class="col-md-8"{% endblock col2 %}

{% block content2 %}
<h4>Detalle del mueble <span id="spanNmueble">"Seleccione un mueble"</span></h4>
        <div class="form-group">
<table class="table table-bordered table-hover">
        {{ formset.management_form }}
        <tr class="active">
            <th></th>
            <th>Ancho (cm)</th>
            <th>Largo (cm)</th>
            <th>Alto (cm)</th>
            <th>Predefinido</th>
        </tr>

        {% for form in formset %}
        <tr>
            <td>{{form.tamano}} <label class="mTamano{{forloop.counter0}}"></label></td>
            <td>{{form.ancho}}</td>
            <td>{{form.largo}}</td>
            <td>{{form.alto}}</td>
            <td>{{form.predefinido}}</td>
        </tr>
        <span class="elementNone">{{form.mueble}}</span>
        {% endfor %}

</table>
        </div>

          <button type="submit" class="btn btn-default registrar">Registrar</button>
            <br>

        </form>

{% endblock content2 %}

{% block js_inf %}


<script type="text/javascript">
//$('input[type=checkbox]').bootstrapSwitch();

$('#listamueble').zelect( {
    placeholder:'Seleccione el mueble'
});
$(document).ready(function() {
enterNone();


            $('.registrar').addClass('btn-disabled');


$('.zelected').click();
$( ".zelected" ).focus(function() {
  //$('.zelected').click();
});
$('.zelected').attr('tabindex', '1');
$('#listamueble').val('{{request.GET.item}}');

{% if request.GET.item == None %}

{% else %}
$('#spanNmueble').text($('#listamueble option:selected').text().toLowerCase());
$('.zelected').css('color', '#000').text($('#listamueble option:selected').text());
{% endif %}


    {% for ta in tamano %}

    var tamano = document.getElementById("id_form-{{forloop.counter0}}-tamano");
    for(var i=0; i<tamano.length; i++) {
        if ("{{ta.id}}"==tamano[i].value) {
            $('#id_form-{{forloop.counter0}}-tamano').val("{{ta.id}}");
            $('.mTamano{{forloop.counter0}}').text($("#id_form-{{forloop.counter0}}-tamano option:selected").text());
        }

    }
    {% endfor %}

    $("#listamueble").on("change", function() {

        id_lista_mueble = $("#listamueble").val();

        if (id_lista_mueble == 0){
            $('.registrar').addClass('btn-disabled');
        }else{
        $('.registrar').removeClass('btn-disabled');
        $('#id_form-0-ancho').focus();
        $('#spanNmueble').text($('#listamueble option:selected').text().toLowerCase());
        {% for ta in tamano %}

        var mueble = document.getElementById("id_form-{{forloop.counter0}}-mueble");
        for(var i=0; i<mueble.length; i++) {
            if (id_lista_mueble==mueble[i].value) {
                $('#id_form-{{forloop.counter0}}-mueble').val(id_lista_mueble);
            }
        }
        $.get('/mueble/tamano_mueble/nuevo',
            {
                id_lista_mueble: id_lista_mueble,
                id_tamano: $("#id_form-{{forloop.counter0}}-tamano").val()
            },
            function(data) {
                $("#id_form-{{forloop.counter0}}-ancho").val(data[0].ancho);
                $("#id_form-{{forloop.counter0}}-largo").val(data[0].largo);
                $("#id_form-{{forloop.counter0}}-alto").val(data[0].alto);
                if (data[0].predefinido == true) {
                    document.getElementById("id_form-{{forloop.counter0}}-predefinido").checked = true;
                //$('#id_form-{{forloop.counter0}}-predefinido').bootstrapSwitch('state', true);
                } else {
                    document.getElementById("id_form-{{forloop.counter0}}-predefinido").checked = false;
                //$('#id_form-{{forloop.counter0}}-predefinido').bootstrapSwitch('state', false);
                }

            });

        {% endfor %}
        }

    });

$('a').attr('tabindex', '-1');

$("input").click(function(){
  this.select();
});

{% if messages %}

{% for message in messages %}

$('.registrar').removeClass('btn-disabled');
var msj = document.getElementById('msjEliminado');
$(msj).text('{{ message }}');
$(msj).fadeIn();
setTimeout(function() {
    $(msj).fadeOut();
}, 1000);


{% endfor %}

{% endif %}
});

</script>

{% endblock js_inf %}

{% block ayuda %}

<div class="">
    <div class="">
        <p>Los <strong>Servicios</strong> comprenden aquellas actividades que se realizan sobre un <strong>Mueble</strong> para lograr su traslado en las mejores condiciones posibles.</p>
        <p>Los <strong>Servicios</strong> pueden sevir para proteger, modificar o brindar un tratamiento específico a cada <strong>Mueble</strong>.</p>
        <p>Al momento de evaluar o realizar una mudanza, los <strong>Servicios</strong> serán una parte importante de la calidad percibida por el cliente, al igual que un componente que incide sobre el precio final de la misma.</p>
        <p>La apropiada identificación de <strong>Servicios</strong> y su relación con los <strong>Materiales</strong> que involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
        <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
    </div>
</div>

{% endblock%}
