{% extends "base_edit.html" %}

{% block titulo %}

<title>Agregar tipo de mueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar tipo de mueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

    {{ form_tipomueble.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_tipo_mueble').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>El <strong>Tipo de mueble</strong> es una clasificación referencial de los <strong>Muebles</strong> que permite encontrarlos por su nombre genérico, el cual agrupará a otros <strong>Muebles</strong> similares.</p>
    <p>Una buena clasificación de los <strong>Muebles</strong> facilita el trabajo del cotizador al momento de seleccionarlos, según se encuentran en un <strong>Ambiente</strong>.</p>
    <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
    <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
</div>

{% endblock ayuda %}
