{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_tamano' %}">Tipos de tamaños</a></li>
<li class="linknav"><a href="../tamano_mueble/0/">Tamaños de muebles</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a></li>
<li><a href="{% url 'umuebles:lista_tamano' %}">Tipos de tamaños</a></li>
<li><a href="../tamano_mueble/0/">Tamaños de muebles</a></li>
<li><a href="{% url 'umuebles:lista_densidad' %}">Niveles de densidad</a></li>
<li><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Tipos de mueble</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar tipo de mueble

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<div class="btn-procesos">
</div>
<h2>Tipos de mueble</h2>

{% endblock titulo_tabla %}

{% if lista_tipomueble %}

{% block cantidad_tabla %}

<h6>Tipos de muebles registrados:
  <span class="badge" id="count_reg">
    {{ lista_tipomueble.count }}
  </span>
</h6>

{% endblock cantidad_tabla %}

{% block pagination %}

{% if tipomuebles.has_previous %}

<li>
  <a href="?page={{ tipomuebles.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a style="color:#000;"> Página

    {{ tipomuebles.number }}

    de

    {{ tipomuebles.paginator.num_pages }}

    Desde el tipo de mueble

    {{ tipomuebles.start_index }}

    hasta el tipo de mueble

    {{ tipomuebles.end_index }}

  </a>
</li>

{% if tipomuebles.has_next %}

<li>
  <a href="?page={{ tipomuebles.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

{% block cuerpo_tabla %}

<tr class="active">
  <th>Tipo de mueble</th>
  <th width="80px">Editar</th>
  <th width="80px">Eliminar</th>
</tr>

{% for i in tipomuebles %}

<tr id="tr{{i.id}}">
  <td>{{ i.tipo_mueble }}</td>
  <td>
    <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'umuebles:edit_tipo_mueble' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a>
  </td>
  <td>
    <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.tipo_mueble}}"></a>
  </td>
  <input type="hidden" value="{{i.id}}" id="idtele">
</tr>


{% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="">
  <p>El <strong>Tipo de mueble</strong> es una clasificación referencial de los <strong>Muebles</strong> que permite encontrarlos por su nombre genérico, el cual agrupará a otros <strong>Muebles</strong> similares.</p>
  <p>Una buena clasificación de los <strong>Muebles</strong> facilita el trabajo del cotizador al momento de seleccionarlos, según se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock ayuda %}
