 {% extends 'inicio/base_ficha.html' %}

 {% block titulo %}

<title class="hidden-print">Contenidos tipico</title>

{% endblock titulo %}

 {% block titulo_modal %}

Eliminar contenido tipico

 {% endblock titulo_modal %}

 {% block validacion_modal %}

<p>¿Desea eliminar <span id="modal_name"></span>?</p>

 {% endblock validacion_modal %}

 {% block titulo_ficha %}

<h2>Contenidos tipico</h2>
<a href="/contenido/" class="btn btn-default hidden-print">Lista de contenidos</a>
<a href="/contenido/contenido_tipico/0/" class="btn btn-default hidden-print">Ver todos</a>
<a href="/contenido/contenido_tipico/nuevo" class="btn btn-default hidden-print">Nuevo</a>

 {% endblock titulo_ficha %}

 {% block content1 %}

 {% if buscar_contenidotipico %}

<h6>Cantidad de registros encontrados:
  <span class="badge" id="count_reg">

    {{ buscar_contenidotipico.count }}


  </span>
</h6>
 <div class="panel panel-default">
  <table class="table table-hover" style="text-align: center;">
   <tr class="active">
    <th>Contenido</th>
    <th>Mueble</th>
    <th>Cantidad</th>
    <th width="3" class="hidden-print">Editar</th>
    <th width="3" class="hidden-print">Eliminar</th>
  </tr>

  {% for i in buscar_contenidotipico %}

  <tr id="tr{{i.id}}" class="">
    <td>{{ i.contenido }}</td>
    <td>{{ i.mueble }}</td>
    <td>{{ i.cantidad }}</td>
    <td width="3" class="hidden-print">
      <a title="Editar" data-toggle="tooltip" data-placement="right" href="../editar/{{i.id}}" class="glyphicon glyphicon-edit" ></a>
    </td>
    <td width="3" class="hidden-print">
      <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="Contenido: {{i.contenido}} Mueble: {{ i.mueble }}"></a>
    </td>
  </tr>

  {% endfor %}

</table>
</div>

{% endif %}

 {% endblock content1 %}

{% block content2 %}

<div class="well well-lg hidden-print">
  <p>Los <strong>Tipos de contenido</strong> son los artículos que se encuentran en los <strong>Muebles</strong> y están conformados por una ámplia variedad de objetos con diversas formas, tamaños y tratamientos.</p>
  <p>Los <strong>Tipos de contenido</strong> son el ejemplo más emblemático del uso de la estadística para la estimación del esfuerzo en las mudanzas, de este modo se facilita el trabajo del cotizador al momento de describir sus detalles a medida que se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock content2 %}
