{% extends "base_edit.html" %}

{% block titulo %}

<title>Agregar tipo de contenedor</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar tipo de contenedor</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

    {{ form_contenedor.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
    <p>El <strong>Tipo de contenedor</strong> permite trasladar los <strong>Contenidos</strong> encontrados en los <strong>Muebles</strong> durante una mudanza.</p>
    <p>Se cuenta con <strong>Tipos de contenedores</strong> retornables como los <i>Canastos</i> y descartables como las <i>Cajas de cartón</i>.</p>
    <p>Un <strong>Tipo de contenedor</strong> retornable no incide sobre el precio de la cotización, a diferencia del contenedor no retornable que será un costo para el cliente.</p>
    <p>De los <strong>Tipos de Contenedores</strong> se considera importante para la logística el volúmen y peso que pueden llevar, así como el volúmen y peso que ellos mismos representan para la carga de los camiones.</p>
</div>

{% endblock ayuda %}
