{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Contenedor</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar contenedor</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

 {{form_edit_contenedor.as_p}}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

{% if contenedor.contenido_set.all %}

<h4>Contenidos asociados al contenedor</h4>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <!-- Table -->
    <table class="table" style="text-align: center;">
        <tr class="">
            <th width="200">Contenidos</th>
            <th width=""></th>
        </tr>

{% for i in contenedor.contenido_set.all %}

   <tr id="tr{{i.id}}">
            <td width="200">{{i.contenido}}</td>
            <td width="">
                <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'ucontenidos:edit_contenido' i.id %}?next={% url 'ucontenidos:edit_contenedor' contenedor.id %}" class="glyphicon glyphicon-edit"></a>
            </td>
        </tr>

{% endfor %}

    </table>
</div>

{% endif %}

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="well well-lg">
  <p>El <strong>Tipo de contenedor</strong> permite trasladar los <strong>Contenidos</strong> encontrados en los <strong>Muebles</strong> durante una mudanza.</p>
  <p>Se cuenta con <strong>Tipos de contenedores</strong> retornables como los <i>Canastos</i> y descartables como las <i>Cajas de cartón</i>.</p>
  <p>Un <strong>Tipo de contenedor</strong> retornable no incide sobre el precio de la cotización, a diferencia del <strong>contenedor</strong> no retornable que será un costo para el cliente.</p>
  <p>De los <strong>Tipos de contenedores</strong> se considera importante para la logística el volúmen y peso que pueden llevar, así como el volúmen y peso que ellos mismos representan para la carga de los camiones.</p>
</div>

{% endblock ayuda %}
