{% extends "base3.html" %}

{% block acceso_rapido %}

        <a title="Volver" class="navbar-brand" role="button" aria-expanded="false" href="{% if request.GET.next = None %}../{% else %}{{request.GET.next}}{% endif %}"><span class="glyphicon glyphicon-chevron-left"></span></a>

{% endblock acceso_rapido %}


{% block content %}

<div {% block col_edit %}

    class="col-md-5"

{% endblock col_edit %}

>
    <div class="">

        {% block titulo_form %}{% endblock titulo_form %}

        <form action="" method="post" id="myformEdit">

            {% csrf_token %}

            {% block cuerpo_form %}{% endblock cuerpo_form %}

            <button type="submit" class="btn btn-default registrar">Registrar</button>
            <button type="submit" class="btn btn-default registrar">Registrar y seguir editando</button>
            <br>

        </form>
    </div>
    <br>
    <div class="">

        {% block contenido_adicional %}{% endblock contenido_adicional %}

    </div>
</div>
<div class="ayuda well well-lg">
    <button type="button" class="ayuda_btn close padding0" data-dismiss="modal" aria-label="Close" tabIndex="-1"><span aria-hidden="true">&times;</span></button>

    {% block ayuda %}{% endblock ayuda %}

</div>
<script>
    $('#myformEdit').submit(function(){
    disabledBtn($('.registrar'));
});
  $('#myform').keypress(function(e){
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });

</script>

{% endblock content %}
