{% extends "base3.html" %}

{% block content %}

<div class="col-md-12">
    <h2>Menú general</h2>
    <div class="">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Presupuestos</h4>
                        <p>Ver y crear presupuestos.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'upresupuestos:PresupuestoList' %}">Presupuestos</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'upresupuestos:PresupuestoList' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Cotizaciones</h4>
                        <p>Ver, agregar y editar costizaciones.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'ucotizaciones:lista_cotizacion' %}">Cotizaciones</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucotizaciones:lista_cotizacion' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'ucotizaciones:lista_cotizacion' %}">Cotizaciones abiertas</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucotizaciones:lista_cotizacion' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Clientes</h4>
                        <p>Ver, agregar y editar clientes.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'uclientes:lista_cliente' %}">Clientes activos</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uclientes:lista_cliente' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uclientes:lista_cliente' %}">Todos los clientes</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uclientes:lista_cliente' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'utelefonos:lista_tipotelefono' %}">Tipos de teléfonos</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uclientes:lista_cliente' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Inmuebles</h4>
                        <p>Ver, agregar y editar inmuebles. Crear datos básicos para la gestión de inmuebles</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_tipo_inmueble' %}">Tipos de inmuebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_tipo_inmueble' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_complejidad_inmueble' %}">Niveles de complejidad de inmuebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_complejidad_inmueble' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Ambientes</h4>
                        <p>Ver, agregar y editar ambientes y tipos de ambientes. Asignar ambientes comunes por tipo de inmueble.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'uambientes:lista_ambiente' %}">Ambientes</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uambientes:lista_ambiente' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uambientes:lista_ambiente_tipo_inmueble' %}">Ambientes comunes por tipo de inmueble</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uambientes:lista_ambiente_tipo_inmueble' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Vehículos y trabajadores</h4>
                        <p>Ver, agregar y editar vehículos, y roles de trabajadores. Asignar tarifas y recargos por tiempo y tiempo extra. Listar cotizaciones abiertas asociadas a vehículos y a roles de trabajadores</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'ucotizaciones:lista_vehiculo' %}">Vehículos</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucotizaciones:lista_vehiculo' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'utrabajadores:lista_cargotrabajador' %}">Roles de trabajador</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'utrabajadores:lista_cargotrabajador' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Muebles</h4>
                        <p>Ver, agregar y editar muebles, tipos, formas, tamaños y niveles de ocupación de muebles. Asignar muebles comunes por ambiente.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:lista_mueble' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'umuebles:lista_tipo_mueble' %}">Tipos de muebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:lista_tipo_mueble' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'umuebles:lista_forma_mueble' %}">Formas de muebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:lista_forma_mueble' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'umuebles:lista_forma_mueble' %}">Tamaños de muebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:lista_forma_mueble' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'umuebles:lista_ocupacion' %}">Niveles de ocupación de muebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:lista_ocupacion' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'umuebles:buscar_mueble_ambiente' 0 %}">Muebles comunes por ambiente</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:buscar_mueble_ambiente' 0 %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'umuebles:buscar_tamano_mueble' 0 %}">Medidas básicas por tamaño de mueble</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'umuebles:buscar_tamano_mueble' 0 %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Contenidos</h4>
                        <p>Ver, agregar y editar tipos de contenidos y contenedores.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'ucontenidos:lista_contenido' %}">Tipos de contenidos</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucontenidos:lista_contenido' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'ucontenidos:buscar_contenidoservicio' 0 %}">Servicios típicos para contenidos</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucontenidos:buscar_contenidoservicio' 0 %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'ucontenidos:buscar_contenidotipico' 0 %}">Contenidos típicos por muebles</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucontenidos:buscar_contenidotipico' 0 %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Servicios y materiales</h4>
                        <p>Ver, agregar y editar servicios y materiales. Asignar materiales asociados a los servicios, e indicar su nivel de complejidad.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uservicios:lista_servicio' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uservicios:lista_complejidad' %}">Niveles de complejidad de servicios</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uservicios:lista_complejidad' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Complejidad por servicios</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uservicios:lista_unidad' %}">Unidades de medida</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uservicios:lista_unidad' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uservicios:lista_material' %}">Materiales</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uservicios:lista_material' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Materiales de servicios</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uservicios:buscar_servicio_material' 0 0 %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Tablas de dirección</h4>
                    </div>
                    <div class="panel-body">
                        <p>Ver, crear o editar los componentes que conforman una dirección.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_pais' %}">Países</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_pais' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_provincia' %}">Provincias</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_provincia' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_ciudad' %}">Ciudades</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_ciudad' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_zona' %}">Zonas</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_zona' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'udirecciones:lista_tipo_direccion' %}" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Tablas de Inteligencia de Negocio</h4>
                    </div>
                    <div class="panel-body">
                        <p>Ver listados de todas las tablas de inteligencia de neogocio disponibles.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'ucotizaciones:lista_estado_cotizacion' %}">Estado de cotización</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'ucotizaciones:lista_estado_cotizacion' %}" target="_blank"></a></li>
                        <li class="list-group-item"><a href="#">Ambientes comunes por tipo de inmueble</a></li>
                        <li class="list-group-item"><a href="#">Muebles comunes por ambiente</a></li>
                        <li class="list-group-item"><a href="#">Contenido típico por mueble</a></li>
                        <li class="list-group-item"><a href="#">Niveles de complejidad por servicio</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Recursos para desarrolladores</h4>
                    </div>
                    <div class="panel-body">
                        <p>Ver todos los componentes del sistema, normas y políticas.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'uinicio:guia_de_estilos' %}">Guía de estilo</a><a style="float:Right;" class="glyphicon glyphicon-new-window" href="{% url 'uinicio:guia_de_estilos' %}" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% block contenido_adicional %}{% endblock contenido_adicional %}

{% endblock content %}

{% block ayuda %}{% endblock ayuda %}
