<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/thema-ui.css">
<link rel="stylesheet" href="/static/css/presupuestoForm/preBuscador.css">
<link href="/static/css/estilosForm.css" rel="stylesheet">
<link href="/static/css/bootstrap-switch.css" rel="stylesheet">
<style>
        body {
        padding: 0!important;
    }
</style>

{% block style %}{% endblock style %}

<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/multiSelect.js"></script>
<script src="/static/js/bootstrap-switch.js"></script>
<script src="/static/js/presupuestoForm/preBuscador.js"></script>
<div class="container-fluid">

    {% block formulario %}{% endblock formulario %}

</div>

{% block js_form %}{% endblock js_form %}
