{% extends 'base3.html' %}

{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" role="button" aria-expanded="true" href="javascript:history.back();"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a title="Nuevo" class="navbar-brand" role="button" aria-expanded="false" href="nuevo/"><span class="glyphicon-asterisk glyphicon glyphicon-plus"></span></a>
<a title="Imprimir" class="navbar-brand" role="button" aria-expanded="false" onclick="window.print();"><span class="glyphicon glyphicon-print"></span></a>

{% endblock acceso_rapido %}



{% block content %}

<script>
    function ocultarASCDesc(id){
        if ('{{request.GET.order_by}}' == id){
            $('#'+id).css('display', 'none');
        }else{
            $('#-'+id).css('display', 'none');
        }
    }
</script>

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">

                    {% block titulo_modal %}{% endblock titulo_modal %}

                </h4>
            </div>
            <div class="modal-body">

                {% block validacion_modal %}{% endblock validacion_modal %}

            </div>
            <div class="modal-footer">
                <form method="post" id="frmEliminar">

                    {% csrf_token %}

                    <input type="hidden" id="modal_id" name="item_id">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button type="submit" class="btn btn-default">Sí</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="ayuda well well-lg">
    <button style="padding:0px;" type="button" class="ayuda_btn close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    {% block ayuda %}{% endblock ayuda %}

</div>
<!--EndModal-->
<div class="col-md-12">
    <div class="">

        <input class="form-control hidden-print" style="max-width: 250px;float:right;" type="text" id="search" name="search" placeholder="Buscar...">

        {% block titulo_tabla %}{% endblock titulo_tabla %}

        {% csrf_token %}

        {% block contenidogeneral %}

            {% block cantidad_tabla %}{% endblock cantidad_tabla %}

            <nav class="nav-pagination hidden-print">
                <ul class="pagination" >

                    {% block pagination %}{% endblock pagination %}

                </ul>
            </nav>
            <table class="table table-hover table-bordered" id="tabla" style="text-align: center;">

                {% block cuerpo_tabla %}{% endblock cuerpo_tabla %}

            </table>

        {% endblock contenidogeneral%}
        <br>
        <br>
    </div>
</div>
<script type="text/javascript">
document.getElementById('search').focus();
</script>

{% endblock content %}

{% block footer_principal %} {% endblock footer_principal %}
