{% load staticfiles %}

<!--Estilos-->
<link rel="stylesheet" href="{% static 'css/estilosForm.css' %}">
<link rel="stylesheet" href="{% static 'css/formModal.css' %}">
<!--Framework-->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
<link rel="stylesheet" href="{% static 'jquery-ui-datepiker/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/preBuscador.css' %}">

{% block style %}{% endblock style %}

<!--Framework-->
<script src="{% static 'jquery/jquery-2.1.4.js' %}"></script>
<script src="{% static 'jquery/jquery.form.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-ui-datepiker/jquery-ui.js' %}"></script>
<script src="{% static 'multiSelect/multiSelect.js' %}"></script>
<script src="{% static 'js/bootstrap-switch.js' %}"></script>
<script src="{% static 'js/preBuscador.js' %}"></script>
<!--Script-->
<script src="{% static 'js/script.js' %}"></script>

<div class="container-fluid">

    {% block formulario %}{% endblock formulario %}

</div>
<div class="alert alert-danger msj displayNone" id="msjError" role="alert">Eliminado</div>

{% block js_form %}{% endblock js_form %}
