<div class="alert alert-success msj notific" id="msjEliminado" style="display:none;" role="alert"></div>
<!--modal eliminar-->
<div aria-hidden="true" aria-labelledby="mySmallModalLabel" class="modal fade eliminar" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="nombreEliminar elementHidden"></span>
                <span class="askEliminar elementHidden"></span>
                <button  aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" id="cerrarEliminar" type="button" tabindex="-1">
                    <span aria-hidden="true">&times;</span>
                </button>
                <iframe class="id_opcionEliminar" frameborder="0" height="" id="" scrolling="auto"  seamless src="" width="100%">
                    <p>ESTE NAVEGADOR NO ACEPTA IFRAMES. UTILICE OPERA, MOZILLA FIREFOX O CHROME</p>
                </iframe>
            </div>
            <div class="modal-footer">
                <form method="post" id="myform">

                    {% csrf_token %}

                    <a class="btn btn-default" id="btn-cancelarEliminar">CANCELAR</a>
                    <input type="submit" class="btn btn-success" id="boton" value="{{boton}}">
                </form>
            </div>
        </div>
    </div>
</div>
