<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a href="#menu-toggle" class="glyphicon glyphicon-menu-hamburger navbar-brand menu-toggle" id="menuSidebar"></a>
<a tilte="Mudarte" class="navbar-brand">Mudarte <span class="glyphicon glyphicon-road"></span></a>
<a title="Inicio" class="navbar-brand" href="/index" role="button" aria-expanded="false"><span class="glyphicon glyphicon-home"></span>  </a>
<a title="Blog" href="#" type="button" class="navbar-brand" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-book"></span>  </a>
<a title="Contactenos" href="#" type="button" class="navbar-brand" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-phone"></span>  </a>
<a class="navbar-brand divider-vertical-b"></a>
