<ul class="nav navbar-nav navbar-right">
    <a class="navbar-brand divider-vertical"></a>
    <li>
        <a aria-expanded="false" class="navbar-brand ayuda_btn icon-question" role="button" title="Ayuda"></a>
    </li>
    <li>
        <a aria-expanded="false" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" title="Soporte"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge">2</span> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#">Mensajes de prueba<span class="badge">1</span></a>
            </li>
            <br>
            <li>
                <a href="#">Notificación de prueba<span class="badge">1</span></a>
            </li>
            <br>
            <li>
                <a href="#">Otras notificaciones de prueba</a>
            </li>
            <br>
            <li class="divider" role="presentation"></li>
            <br>
            <li>
                <a href="#">Más notificaciones de prueba</a>
            </li>
            <br>
        </ul>
    </li>
    <li>
        <a aria-expanded="false" class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#" role="button" title="Notificaciones"><span class="glyphicon glyphicon-flag"></span> <span class="badge">9</span> <span class="caret"></span> </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#">Mensajes de prueba <span class="badge">7</span></a>
            </li>
            <br>
            <li>
                <a href="#">Notificación de prueba <span class="badge">2</span></a>
            </li>
            <br>
            <li>
                <a href="#">Otras notificaciones de prueba</a>
            </li>
            <br>
            <li class="divider" role="presentation"></li>
            <br>
            <li>
                <a href="#">Más notificaciones de prueba</a>
            </li>
            <br>
        </ul>
    </li>
    <li>

        {% if user.username %}

        <a aria-expanded="true" class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" title="{% if user.username %}{{ user.username }}{% endif %}" type="button">
            <span class="glyphicon glyphicon-user"></span>
            <span class="caret"></span>

            {% if user.username %}

            {{ user.username }}

            {% endif %}

        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'uinicio:home' %}">Datos personales</a>
            </li>
            <li>
                <a href="#">Configuraciones</a>
            </li>
            <li>
                <a href="{% url 'uinicio:signup' %}">Crear usuario</a>
            </li>
            <li>
                <a href="{% url 'uinicio:login' %}">Login</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url 'uinicio:logout' %}">Salir</a>
            </li>
        </ul>


        {% else %}

        <a class="navbar-brand" data-target="{% if user.username %}#myModal2{% else %}/login{% endif %}" href="{% url 'uinicio:login' %}" title="{% if user.username %}{{ user.username }}{% else %}Login{% endif %}" type="button"><span class="glyphicon glyphicon-user"></span>Login</a>

        {% endif %}

    </li>
</ul>
