{% extends 'base_modal_form.html' %}

{% block formulario %}

            <div id="status" class="modal-body">

                {% block validacion_modal %}

                <h4>
                    ¿<span id="ask">
                        {{ ask }}
                     </span>
                    <strong id="objeto">
                        {{ object }}
                    </strong>?
                </h4>
                <p class="elementNone" id="pcometario">
                    <label class="labelU" for="comentario">Motivo de la anulación: </label>
                    <input class="form-control" type="text" id="comentario" name="comentario" required>
                </p>
                <div class="alert alert-danger motivoAnulacion displayNone" id="motivoAnulacion"  role="alert"></div>

                {% endblock validacion_modal %}

            </div>

{% endblock formulario %}

{% block js_form %}

<script>
var object = $(parent.document.getElementsByClassName("nombreEliminar")).text();
var myform = $(parent.document.getElementById("myform"));
var boton = $(parent.document.getElementById("boton"));
var ask = $(parent.document.getElementsByClassName("askEliminar")).text();
var iframe = $(parent.document.getElementsByClassName("id_opcionEliminar"));

$('#objeto').text(object);
$('#ask').text(ask);

if (boton.val() == "ANULAR"){
    iframe.attr('height', '140');
    $('#pcometario').removeClass("elementNone");
    setTimeout(function() {
    $('#comentario').focus();
    }, 300);
    }else{
    iframe.attr('height', '80');
    $('#comentario').val('eliminar');
}

myform.submit(function () {
    if ( $('#comentario').val() != ''){
        var comentario= $('#comentario').val();
        var id = $(parent.document.getElementsByClassName("id_opcionEliminar")).attr('src');
        var action = id;
        var that = $(this);
        $.ajax({
            url: action,
            type: 'POST',
            data: that.serialize() + "&comentario=" + comentario,
            success: function (data) {
                var closep = parent.document.getElementById("cerrarEliminar");
                var eliminar = parent.document.getElementById("msjEliminado");
                if (data.estatus=="ok") {
                    $(eliminar).addClass('alert alert-success msj notific');
                    cerrarModal(closep, eliminar);
                    setTimeout(function () {
                        parent.location.reload();
                    }, 500);
                    if (boton.val() == 'ANULAR') {
                        $(eliminar).append("<span class='glyphicon glyphicon-ok-circle'></span> " + object + " anulado ");
                    }else {
                        $(eliminar).append("<span class='glyphicon glyphicon-ok-circle'></span> " + object + " eliminado ");
                    }
                    $(eliminar).fadeIn();
                }else {
                    cerrarModal(closep, eliminar);
                    setTimeout(function () {
                        $(eliminar).fadeOut();
                        parent.location.reload();
                    }, 3000);
                    $(eliminar).addClass('alert alert-danger msj notific');
                    if (boton.val() == 'ANULAR') {
                        $(eliminar).append("<span class='glyphicon glyphicon-ban-circle'></span> " + object + " no anulado <p style='font-size: 12px;'>" + data.msj + "</p>");
                    }else{
                        $(eliminar).append("<span class='glyphicon glyphicon-ban-circle'></span> " + object + " no eliminado <p style='font-size: 12px;'>" + data.msj + "</p>");
                    }
                    $(eliminar).fadeIn();
                }
            }
        });
        return false;
    }else{
      $("#motivoAnulacion").text('Díganos el motivo de la anulación');
      $("#motivoAnulacion").fadeIn();
      setTimeout(function() {
        $("#motivoAnulacion").fadeOut();
        $('#comentario').focus();
      }, 3000);
        return false;
    }
});
</script>

{% endblock js_form %}
