{% extends 'base3.html' %}

{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" href="/login"><span class="glyphicon glyphicon-chevron-left"></span></a>

{% endblock acceso_rapido %}

{% block titulo %}

<title>Confirmar usuario</title>

{% endblock titulo %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 animated fadeIn">

            <div class="panel panel-default">
                <div class="panel-heading">  <h2>Datos del usuario</h2></div>
                <table class="table">
                    <tr>
                        <td class="text-right"><strong>Usuario</strong>:</td>
                        <td>

                            {{ user.username }}

                        </td>
                    </tr>

                    <tr>
                        <td class="text-right"><strong>Email</strong>:</td>
                        <td>

                            {{ user.email }}

                        </td>
                    </tr>

                    <tr>
                        <td class="text-right"><strong>Primer nombre</strong>:</td>
                        <td>

                            {{ user.first_name }}

                        </td>
                    </tr>

                    <tr>
                        <td class="text-right"><strong>Segundo nombre</strong>:</td>
                        <td>

                            {{ user.last_name }}

                        </td>
                    </tr>

                    <tr>
                        <td class="text-right"><strong>Fecha de registro</strong>:</td>
                        <td>

                            {{ user.date_joined }}

                        </td>
                    </tr>

                    <tr>
                        <td class="text-right"><strong>Fecha último Login</strong>:</td>
                        <td>

                            {{ user.last_login }}

                        </td>
                    </tr>
                </table>
            </div>
            <a href="/index/" class="btn btn-success">Confirmar</a>
            <a href="/login" class="btn btn-default">Cancelar</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}
