{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a width="" href="{% url 'upresupuestos:DatosPrecargadoUpdate' 1 %}?next={{request.get_full_path}}">Datos precargados</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'upresupuestos:DatosPrecargadoUpdate' 1 %}?next={{request.get_full_path}}">Datos precargados</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar presupuesto

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de presupuestos</h2>

{% endblock titulo_tabla %}

{% if presupuestos %}

{% block cantidad_tabla %}

<h6>Cantidad de registros encontrados:
  <span class="badge" id="count_reg">

    {{ presupuestos.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block pagination %}

{% if page_obj.has_previous %}

<li>
  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a style="color:#000;"> Página

    {{ page_obj.number }}

    de

    {{ page_obj.paginator.num_pages }}

    desde el presupuesto

    {{ page_obj.start_index }}

    hasta el presupuesto

    {{ page_obj.end_index }}

  </a>
</li>

{% if page_obj.has_next %}

<li>
  <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

{% block cuerpo_tabla %}

<tr class="active">
  <th width="50px">N°</th>
  <th width="80px">Fecha</th>
  <th width="100px">DNI</th>
  <th>Nombre del solicitante</th>
  <th>Empresa</th>
  <th width="80px">Ficha</th>
  <th width="80px">Eliminar</th>
</tr>

{% for i in presupuestos %}

<tr id="tr{{i.id}}">
  <td>{{ i.id }}</td>
  <td>{{ i.fecha_creacion|date:"d/m/Y" }}</td>
  <td>{{ i.dni }}</td>
  <td>{{ i.nombre_cliente }}</td>
  <td>{{ i.empresa_cliente }}</td>
  <td>
    <a class="glyphicon glyphicon-file"  data-placement="left" data-toggle="tooltip" href="{% url 'upresupuestos:PresupuestoDetail' i.id %}?next={{request.get_full_path}}" title="Ver ficha"></a>
  </td>
  <td>
    <a class="glyphicon glyphicon-remove"  data-placement="left" data-toggletooltip="tooltip" href="{% url 'upresupuestos:PresupuestoDelete' i.id %}?next={{request.get_full_path}}" onclick="" title="Eliminar registro"></a>
  </td>
</tr>

{% endfor %}

<!-- Modal editar datos personales-->
<div class="modal fade" id="myModalDatosPersonales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel44">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarDatosPersonales">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel4">Editar datos personales</h4>
      </div>
      <div class="modal-body">
        <iframe class="id_opcionDatosPersonales" id="" src="" width="100%" height="340" scrolling="auto" frameborder="0" seamless>
          <p>Texto alternativo para navegadores que no aceptan iframes.</p>
        </iframe>
      </div>
    </div>
  </div>
</div>
<script>
$(".botonmodalDatosPersonales").on('click',function(even){
  even.preventDefault();
  var numero = $(this).data('numero');
  var opcion = $(this).data('opcion');
  $('.id_opcionDatosPersonales').attr('src', opcion);
  $('.id_opcionDatosPersonales').attr('id', numero);
});
</script>

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Cotizacion</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}

