{% extends "base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block col_edit %}

class="col-md-10"

{% endblock col_edit %}

{% block titulo_form %}

  <h2>Nuevo presupuesto</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<link rel="stylesheet" href="/static/css/presupuestoForm/preDatosPersonales.css">
<div class="form-group filtra-campos">

{% for campo in form %}

    <p id="{{campo.name}}">
        <label for="{{campo.id_for_label}}">{{ campo.label }}</label>
        {{ campo }}
    </p>

{% endfor %}

</div>
<script src="/static/js/presupuestoForm/preDatosPersonales.js"></script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>
        Se llama <strong>presupuesto</strong> al cálculo y negociación anticipado de los ingresos y egresos de una actividad económica.  Es un plan de acción dirigido a cumplir una meta prevista, expresada en valores y términos financieros que debe cumplirse en determinado tiempo y bajo ciertas condiciones previstas.
    </p>
</div>

{% endblock ayuda %}
