{% extends 'base_ficha.html' %}

{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" role="button" aria-expanded="false" href="../../">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a title="Imprimir" class="navbar-brand" role="button" aria-expanded="false" onclick="window.print();">
    <span class="glyphicon glyphicon-print"></span>
</a>

{% block acceso_rapido_adicional %}{% endblock acceso_rapido_adicional %}

{% endblock acceso_rapido %}

{% block link_navegacion %}

<li class="linknav">
    <a href="#datos-personales" style="color:#777;">Datos del cliente

        {% if presupuesto.dni %}

        <span style="float:right;" class="glyphicon glyphicon-ok"></span>

        {% else %}

        <span style="float:right;" class="glyphicon glyphicon-minus"></span>

        {% endif %}

    </a>
</li>
<li class="linknav">
    <a href="#direcciones" style="color:#777;">Direcciones y datos de los inmuebles

        {% if direccion_origen and direccion_destino %}

        <span style="float:right;" class="glyphicon glyphicon-ok"></span>

        {% else %}

        <span style="float:right;" class="glyphicon glyphicon-minus"></span>

        {% endif %}

    </a>
</li>
<li class="linknav">
    <a href="#ambientes" style="color:#777;">Ambientes y muebles

        {% if lista_ambiente %}

        <span style="float:right;" class="glyphicon glyphicon-ok"></span>

        {% else %}

        <span style="float:right;" class="glyphicon glyphicon-minus"></span>

        {% endif %}

    </a>
</li>

{% if presupuesto.dni and direccion_origen and direccion_destino and lista_ambiente%}

<li class="linknav" style="cursor:pointer;">
    <a type="button" data-toggle="modal" data-target=".resumen21"  style="color:#777;">Ver resumen del presupuesto</a>
</li>

{% endif %}

{% endblock link_navegacion %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block col1 %}

class="col-md-10"

{% endblock col1 %}

{% block content1 %}

<div>
    <h2>Detalles del presupuesto</h2>
    <table class="table table-hover table-bordered">
         <tr>
             <td><b>Cotizador:</b> {{ presupuesto.cotizador }}</td>
             <td><b>Fecha de registro:</b> {{ presupuesto.fecha_creacion|date:"d/m/Y" }}</td>
             <td><b>Hora de registro:</b> {{ presupuesto.hora_creacion|time:"h:i a" }}</td>
             <td><b>N° de presupuesto:</b> {{ presupuesto.id }}</td>
         </tr>
         <tr>
             <td colspan="2"><b>Solicitante:</b> {{ presupuesto.nombre_cliente }}</td>
             <td><b>Teléfono celular:</b> {{ presupuesto.telefono_celular }}</td>
             <td><b>Teléfono fijo:</b> {{ presupuesto.telefono }}</td>
         </tr>
         <tr>
             <td colspan="2"><b>e-mail:</b> {{ presupuesto.email }}</td>
             <td><b>Cargo:</b> {{ presupuesto.empresa_cliente }}</td>
             <td><b>Empresa:</b> {{ presupuesto.cargo_cliente }}</td>
         </tr>
         <tr>
             <td colspan="2"><b>Medio de contacto:</b> {{ presupuesto.fuente_promocion }}</td>
             <td><b>Fecha de mudanza:</b> {{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</td>
             <td><b>Hora de mudanza:</b> {{ presupuesto.hora_estimadamudanza|time:"h:i a" }}</td>
         </tr>
     </table>
     <a title="Editar detalles del presupuesto" data-toggle="modal" data-target="#myModalDatosPersonales" data-opcion="{% url 'upresupuestos:PresupuestoUpdate' presupuesto.id %}" data-numero="{{presupuesto.id}}" class="btn btn-default botonmodalDatosPersonales hidden-print" data-toggletooltip="tooltip" data-placement="left">Editar detalles del presupuesto</a>
</div>
<br>
<div class="panel panel-color1">
    <div class="panel-body">
        <div class="row" id="myLabel">
            <div class="col-md-4 boton-almedio">
                <h4 class="titulo-seccion">Dirección de origen</h4>
                {% if direccion_origen %}

                {% for direc_origen in direccion_origen %}

                <table class="table table-condensed table-hover table-bordered">
                    <tr>
                        <td colspan="2">
                        {% if forloop.first %}
                        <a title="Dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?tipo=Origen&posicion=bajar" data-numero="{{direc_origen.id}}" class="btn glyphicon glyphicon-menu-down botonOrden"></a>

                        {% else %}
                        <a title="Dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?tipo=Origen&posicion=subir" data-numero="{{direc_origen.id}}" class="btn glyphicon glyphicon-menu-up botonOrden"></a>

                        {% endif %}
                            {{ direc_origen.direccion }}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color:#777;">

                                {{ direc_origen.tipo_inmueble }}

                            </span>
                        </td>
                        <td>

                            {{ direc_origen.total_m2|floatformat:"0" }}

                             m<sup>2</sup> en

                            {{ direc_origen.pisos }}

                            {% if direc_origen.pisos > 1 %}

                             pisos

                            {% else %}

                             piso

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:#777;">Nivel de ocupación: </span> </td>
                        <td>{{ direc_origen.ocupacidad_inmueble }}</td>
                    </tr>
                    <tr>
                        <td><span style="color:#777;">Distancia del vehículo: </span></td>
                        <td>

                            {% if direc_origen.distancia_vehiculo = 70 %}

                            Más de

                            {% endif %}

                            {{ direc_origen.distancia_vehiculo }} metros

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            {% if direc_origen.pisos_escalera = 0 %}

                            <span style="color:#777;">Sin escaleras</span>

                            {% else %}

                            <span style="color:#777;">
                                Con escaleras (

                                {{ direc_origen.pisos_escalera }}

                                {% if direc_origen.pisos_escalera > 1 %}

                                pisos

                                {% else %}

                                piso

                                {% endif %}

                                )
                            </span>

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            {% if direc_origen.pisos_ascensor = 0 %}

                            <span style="color:#777;">Sin ascensor</span>

                            {% else %}

                            {{ direc_origen.pisos_ascensor }}

                            {% if direc_origen.pisos_ascensor > 1 %}

                            {% if direc_origen.pisos_ascensor = 10 %}

                            o más pisos

                            {% else %}

                            pisos

                            {% endif %}

                            {% else %}

                            piso

                            {% endif %}

                        </td>
                    </tr>

                    {% endif %}

                    <tr>
                        <td colspan="2">
                            <span style="color:#777;">
                                {{ direc_origen.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                                {% if direc_origen.ascensor_servicio %}

                                (

                                {{ direc_origen.pisos_ascensor_servicio }}

                                {% if direc_origen.pisos_ascensor_servicio > 1 %}

                                pisos)

                                {% else %}

                                piso)

                                {% endif %}

                                {% endif %}

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="color:#777;">{{ direc_origen.rampa|yesno:"Con rampa,Sin rampa" }}</span>
                        </td>
                    </tr>
                </table>

                {% endfor %}

                {% for direc_origen in direccion_origen %}

                <a data-toggle="modal" data-target="#myModalDireccion" title="Editar dirección de origen"  data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_origen.id %}?next={{request.get_full_path}}" class="btn btn-default botonmodalDireccion edit" id="{{direc_origen.id}}" data-numero="{{direc_origen.id}}">Editar</a>
                <a title="Eliminar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_origen.id %}?next={{request.get_full_path}}"  class="btn btn-default botonmodalEliminar" data-toggle="modal" data-target=".eliminar" data-nombre="Dirección de origen">Eliminar</a>

                {% endfor %}
                <a data-toggle="modal" data-target="#myModalDireccion" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Origen&pre={{presupuesto.id}}" title="Agregar dirección de origen" class="botonmodalDireccion btn btn-success hidden-print">Agregar dirección de origen</a>

                {% else %}

                <a data-toggle="modal" data-target="#myModalDireccion" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Origen&pre={{presupuesto.id}}" title="Agregar dirección de origen" class="botonmodalDireccion btn btn-success hidden-print">Agregar dirección de origen</a>

                {% endif %}
            </div>
            <div class="col-md-4">
                <h4 class="titulo-seccion">Dirección de destino</h4>
                {% if direccion_destino %}

                {% for direc_destino in direccion_destino %}

                <table class="table table-condensed table-hover table-bordered">
                    <tr>
                        <td colspan="2">

                            {{ direc_destino.direccion }}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color:#777;">

                                {{ direc_destino.tipo_inmueble }}

                            </span>
                        </td>
                        <td>

                            {{ direc_destino.total_m2|floatformat:"0" }}

                             m<sup>2</sup> en

                            {{ direc_destino.pisos }}

                            {% if direc_destino.pisos > 1 %}

                             pisos

                            {% else %}

                             piso

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:#777;">Distancia del vehículo: </span></td>
                        <td>

                            {% if direc_destino.distancia_vehiculo = 70 %}

                            Más de

                            {% endif %}

                            {{ direc_destino.distancia_vehiculo }} metros

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            {% if direc_destino.pisos_escalera = 0 %}

                            <span style="color:#777;">Sin escaleras</span>

                            {% else %}

                            <span style="color:#777;">
                                Con escaleras (

                                {{ direc_destino.pisos_escalera }}

                                {% if direc_destino.pisos_escalera > 1 %}

                                pisos

                                {% else %}

                                piso

                                {% endif %}

                                )
                            </span>

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            {% if direc_destino.pisos_ascensor = 0 %}

                            <span style="color:#777;">Sin ascensor</span>

                            {% else %}

                            {{ direc_destino.pisos_ascensor }}

                            {% if direc_destino.pisos_ascensor > 1 %}

                            {% if direc_destino.pisos_ascensor = 10 %}

                            o más pisos

                            {% else %}

                            pisos

                            {% endif %}

                            {% else %}

                            piso

                            {% endif %}

                        </td>
                    </tr>

                    {% endif %}

                    <tr>
                        <td colspan="2">
                            <span style="color:#777;">
                                {{ direc_destino.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                                {% if direc_destino.ascensor_servicio %}

                                (

                                {{ direc_destino.pisos_ascensor_servicio }}

                                {% if direc_destino.pisos_ascensor_servicio > 1 %}

                                pisos)

                                {% else %}

                                piso)

                                {% endif %}

                                {% endif %}

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="color:#777;">{{ direc_destino.rampa|yesno:"Con rampa,Sin rampa" }}</span>
                        </td>
                    </tr>
                </table>

                {% endfor %}

                {% for direc_destino in direccion_destino %}

                <a data-toggle="modal" data-target="#myModalDireccion" title="Editar dirección de destino"  data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{request.get_full_path}}" class="btn btn-default botonmodalDireccion edit" id="{{direc_destino.id}}" data-numero="{{direc_destino.id}}">Editar</a>
                <a title="Eliminar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_destino.id %}?next={{request.get_full_path}}"  class="btn btn-default botonmodalEliminar" data-toggle="modal" data-target=".eliminar" data-nombre="Dirección de destino">Eliminar</a>

                {% endfor %}

                {% else %}

                <a data-toggle="modal" data-target="#myModalDireccion" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Destino&pre={{presupuesto.id}}" title="Agregar dirección de destino" class="botonmodalDireccion btn btn-success hidden-print boton-almedio">Agregar dirección de destino</a>

                {% endif %}
            </div>
        </div>
    </div>

</div><!--fin panel default datos básicos-->
<h3 id="ambientes" style="border-bottom:1px solid #e7e7e7;" >Detalle de muebles a mudar
    <small class="btn-group btn-group-xs" role="group" aria-label="..." style="float:right;">
        <a data-toggle="modal" data-target="#myModalAmbiente" title="Agregar ambiente" style="float:righ;" class="btn btn-default btn-sm botonmodalMueble hidden-print" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&amb={{ ambiente.ambiente }}" data-numero="ambienteFocus">Agregar mueble</a>

        {% if lista_ambiente %}

        <a id="addClass" style="cursor:pointer;display:none;" class="btn btn-default btn-sm hidden-print">Expandir</a>
        <a id="removeClass" style="cursor:pointer;" class="btn btn-default btn-sm hidden-print">Contraer</a>

        {% endif %}

    </small>
</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {% if lista_ambiente %}

    {% for ambiente in lista_ambiente %}

    <div class="panel panel-default">
        <div class="panel-heading" style="padding:0px 5px!important;">
            <h4 class="panel-title" >
                <a role="tab" class="t-ambiente" id="headingOne{{forloop.counter}}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne{{forloop.counter}}">{{ambiente.ambiente|upper}}</a>
                <a data-toggle="modal" data-target="#myModalAmbiente" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&amb={{ ambiente.ambiente }}" title="Agregar mueble al ambiente {{ambiente.ambiente|upper}}" class="btn btn-default btn-xs botonmodalMueble hidden-print btn-addmueble" data-numero="{{ ambiente.ambiente }}">Agregar otro mueble</a>
            </h4>
        </div>
        <div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse btn-colapsable in{% if forloop.first %}  {% endif %}" role="tabpanel" aria-labelledby="headingOne{{forloop.counter}}">
            <table class="table table-hover">
                <tr>
                    <td width="30%" style="margin-left:20px;">
                        <strong>&nbsp; &nbsp; &nbsp;Mueble</strong>
                    </td>
                    <td width="20%">
                        <strong>Tamaño/Ocupación</strong>
                    </td>
                    <td width="10%">
                        <strong>Dimensiones</strong>
                    </td>
                    <td width="30%">
                        <strong>Servicios</strong>
                    </td>
                    <td width="3.3333333%"></td>
                    <td width="3.3333333%"></td>
                    <td width="3.3333333%"></td>
                </tr>

                {% for mueble in detalle_list %}

                {% if ambiente.ambiente = mueble.ambiente %}

                <tr style="color:#777;" class="tr-mueble">
                    <td>&nbsp; &nbsp; &nbsp;{{mueble.mueble}}</td>
                    <td>{{ mueble.tamano }}/{{ mueble.ocupacidad }}</td>
                    <td>{{ mueble.ancho|floatformat:"0" }}x{{ mueble.largo|floatformat:"0" }}x{{ mueble.alto|floatformat:"0" }}</td>
                    <td>
                        <div class="">
                            <span style="color:#777;" id="listservi{{mueble.id}}">

                                {% regroup mueble.presupuesto_servicio_set.all by servicio as servicio_list %}

                                {% for det_servivio in servicio_list %}

                                <span class="{% if servicio %}servicioStyle{% endif %}" style="margin-left:5px;padding-left:5px;">

                                    {{ det_servivio.grouper }}

                                    {% for item in det_servivio.list %}

                                    {% if forloop.first %}

                                    <a title="Eliminar {{ det_servivio.grouper }}" style="font-size:10px;color:#777;cursor:pointer;" data-opcion="{% url 'upresupuestos:PresupuestoServicioDelete' item.id %}?next={{request.get_full_path}}" class="hidden-print glyphicon glyphicon-remove botonmodalEliminar" data-toggletooltip="tooltip" data-placement="left" data-toggle="modal" data-target=".eliminar" data-nombre="{{ det_servivio.grouper }}"></a>

                                    {% endif %}

                                    {% endfor %}

                                </span>

                                {% endfor %}

                            </span>
                        </div>
                    </td>
                    <td>
                        <a title="Agregar servicio al mueble {{mueble.mueble|lower}}" style="float:right;cursor:pointer;padding:0px 0px 8px 8px;" data-toggle="modal" data-target="#myModalServicio" data-opcion="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{request.get_full_path}}&pre={{ mueble.id }}" data-name="{{mueble.mueble|lower}}" class="controles glyphicon glyphicon-plu botonmodalServicio hidden-print" data-toggletooltip="tooltip" data-placement="left">Agregar servicio</a>
                    </td>
                    <td>
                        <a style="padding:0px 0px 8px 16px;float:right;cursor:pointer;" title="Editar {{mueble.mueble|lower}}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleUpdate' mueble.id %}?next={{request.get_full_path}}" style="float:righ;" class="controles botonmodalMueble glyphicon glyphicon-edi hidden-print" data-toggletooltip="tooltip" data-placement="left" data-toggle="modal" data-target="#myModalAmbienteEditar">Editar mueble</a>
                    </td>
                    <td width="">
                        <a title="Eliminar {{mueble.mueble|lower}}" style="padding:0px 0px 8px 8px;float:right;cursor:pointer;" data-opcion="{% url 'upresupuestos:PresupuestoDetalleDelete' mueble.id %}?next={{request.get_full_path}}" data-numero="{{mueble.id}}"  class="controles botonmodalEliminar glyphicon glyphicon-remov hidden-print" data-toggletooltip="tooltip" data-placement="left" data-toggle="modal" data-target=".eliminar" data-nombre="{{mueble.mueble|lower}}">Eliminar mueble</a>
                    </td>
                </tr>

                {% endif %}

                {% endfor %}

            </table>
        </div>
    </div>

    {% endfor %}

    {% endif %}

</div><!--fin acordion-->
<div style="display:block;height:600px;width:100%;"></div>
<!--modal eliminar-->
<div class="modal fade eliminar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="cerrarEliminar" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Eliminar <span class="nombreEliminar"></span>
                </h4>
            </div>
            <iframe class="id_opcionEliminar" id="" src="" width="100%" height="200" scrolling="no" frameborder="0" seamless>
                <p>Texto alternativo para navegadores que no aceptan iframes.</p>
            </iframe>
        </div>
    </div>
</div>
<!-- Modal agregar dirección-->
<div class="modal fade" id="myModalDireccion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrardir">
                    <span aria-hidden="true">&times;</span>
                </button>
                <iframe class="id_opcionDireccion" id="" src="" width="100%" height="595" frameborder="0" scrolling="auto">
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal agregar servicio-->
<div class="modal fade" id="myModalServicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel444">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel444">Agregar servicio al mueble <span id="name-mueble"></span></h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionServicio" onload="autofitIframe(this)" src="{% url 'upresupuestos:PresupuestoServicioView' %}" width="100%" height="1" scrolling="no" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal agregar mueble-->
<div class="modal fade bs-example-modal-lg" id="myModalAmbiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarmueble">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Agregar detalle del presupuesto</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionMueble" src="" width="100%" height="400" scrolling="auto" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal editar mueble-->
<div class="modal fade" id="myModalAmbienteEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarmuebleEdit">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Editar detalle del presupuesto</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionMueble" transparency="transparency" src="" id="" height="400" width="100%" scrolling="no" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal editar datos personales-->
<div class="modal fade" id="myModalDatosPersonales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel44">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarDatosPersonales">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel44">Editar datos personales</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionDatosPersonales" id="" src="" width="100%" height="310"  scrolling="auto" frameborder="0">
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal resumen de presupuesto-->
<div class="modal fade resumen21" tabindex="-1" role="dialog" aria-labelledby="resumen">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Resumen del presupuesto</h4>
            </div>
            <div class="modal-body">

                {% if servicio %}

                ¿Desea contratar más servicios?

                {% else %}

                ¿Desea contratar servicios?

                {% endif %}

            </div>
            <div class="modal-footer">

                {% if servicio %}

                <a href="#ambientes" type="button" class="btn btn-default" data-dismiss="modal" >Si</a>
                <a class="btn btn-default resumenPresupuesto" data-opcion="{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}"  data-dismiss="modal" >No, calcular presupuesto</a>

                {% else %}

                <a href="#ambientes" type="button" class="btn btn-default" data-dismiss="modal" >Si</a>
                <a data-opcion="{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}" href="" type="button" class="btn btn-default resumenPresupuesto" data-dismiss="modal" >No, calcular presupuesto</a>

                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger" id="msjEliminado" style="display:none;" role="alert">Eliminado</div>
<div class="alert alert-success" id="msjGuardado" style="display:none;" role="alert">Guardado</div>
<div title="Click para Cerrar" id="cargar" style="cursor:pointer;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:inset yellow 0px 0px 14px;background-position:center;background-size:100%;background-color:#111111;width:300px;color:#fff;text-align:center;height:100px;padding:52px 12px 12px 12px;position:fixed;top:30%;left:40%;z-index:6;display:none;">PROCESANDO...</div>
<script src="/static/js/presupuestoFicha/preFicha.js"></script>

{% endblock content1 %}

{% block ayuda %}

<div class="">
    <p>
        Se llama <strong>presupuesto</strong> al cálculo y negociación anticipado del ingreso y egreso de una actividad económica.  Es un plan de acción dirigido a cumplir una meta prevista, expresada en valores y términos financieros que debe cumplirse en determinado tiempo y bajo ciertas condiciones previstas.
    </p>
    <p>
        Puede solicitar su presupuesto con 3 simples  pasos.
        <ul>
            <li>Paso 1 complete los datos personales y fecha de la mudanza.</li>
            <li>Paso 2 complete las direcciones y datos de los inmuebles.</li>
            <li>Paso 3 complete los ambientes y muebles a trasladar con sus servicios.</li>
        </ul>
        Luego presione finalizar presupuesto para calcular los datos y enviarle un correo con el presupuesto.
    </p>
</div>

{% endblock ayuda %}
