{% extends "base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar detalle</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form.as_p }}

</div>

{% endblock cuerpo_form %}
{% block js_sup %}
<script>
$(document).ready(function(){
  $("#id_lista_ambiente").on("change", function(){
    id_lista_ambiente = $("#id_lista_ambiente").val();
    $("#id_ambiente").val(id_lista_ambiente);
    $.get('/presupuesto/detalle/nuevo',
      {id_lista_ambiente: id_lista_ambiente},
          function(data){
            $("#id_ambiente").val(data[0].ambiente);
      });
    });

  $("#id_lista_mueble").on("change", function(){
      id_lista_mueble = $("#id_lista_mueble").val();
        $.get('/presupuesto/detalle/nuevo',
          {id_lista_mueble: id_lista_mueble},
              function(data){
                $("#id_mueble").val(data[0].mueble);
                $("#id_ocupacidad").val(data[0].descripocupacion);
                $("#id_valor_ocupacidad").val(data[0].valorocupacion);
                $("#id_lista_ocupacion").val(data[0].ocupacion);
                $("#capacidadmueble").val(data[0].capacidadmueble);
                lista_ocupacion = $("input[name=lista_ocupacion]");
                for(var i=0; i<lista_ocupacion.length; i++){
                  if (data[0].ocupacion==lista_ocupacion[i].value){
                    $(lista_ocupacion[i]).attr("checked","checked");
                  }
                }
          });
  });

  $("#id_lista_tamano").on("change", function(){
  id_lista_tamano = $("#id_lista_tamano").val();
  id_lista_mueble = $("#id_lista_mueble").val();
  $.get('/presupuesto/detalle/nuevo',
    {id_lista_tamano: id_lista_tamano, id_lista_mueble: id_lista_mueble},
        function(data){
          $("#id_tamano").val(data[0].tamano);
          $("#id_ancho").val(data[0].ancho);
          $("#id_largo").val(data[0].largo);
          $("#id_alto").val(data[0].alto);
          $("#id_densidad").val(data[0].densidad);
          $("#id_peso").val(data[0].peso);
          valor_densidad= calcular_densidad($("#id_peso").val(),$("#id_ancho").val(),$("#id_largo").val(),$("#id_alto").val())
          $("#id_valor_densidad").val(valor_densidad);
    });
  });

  $("input[name=lista_ocupacion]").click(function () {
    id_ocupacion = $('input[name=lista_ocupacion]:checked').val();
    $.get('/presupuesto/detalle/nuevo',
      {id_ocupacion: id_ocupacion},
          function(data){
            $("#id_ocupacidad").val(data[0].ocupacion);
            $("#id_valor_ocupacidad").val(data[0].valorocupacion);
             vol_contenido = $("#id_valor_ocupacidad").val()*$("#capacidadmueble").val();
            $("#id_volumen_contenido").val(vol_contenido.toFixed(2))
      });
  });

});
</script>

<script>
function calcular_densidad(peso,ancho,largo,alto){
    var resultado;
    resultado= ((ancho*largo*alto)/peso);

  return resultado.toFixed(2);
}
</script>

{% endblock js_sup %}
{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
