<link href="/static/bootstrap/css/bootstrap3.css" rel="stylesheet">
<link href="/static/css/estilosForm.css" rel="stylesheet">
<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
<style>
body{padding: 0px;}
#id_servicio,p label[for=id_servicio],#id_detalle_presupuesto,p label[for=id_detalle_presupuesto]{display: none;}
</style>
<form action="" method="post">

  {% csrf_token %}

  <div class="form-group">

    {{ form.as_p }}

  </div>
  <button type="submit" class="btn btn-default btn-registrar">Registrar</button>
</form>
<script>

$(document).ready(function() {

  $("#id_lista_servicio").on("change", function(){
    id_lista_servicio = $("#id_lista_servicio").val();
    $.get('/presupuesto/servicio/nuevo'+id_lista_servicio,
      {id_lista_servicio: id_lista_servicio},
      function(data){
        $("#id_servicio").val(data[0].servicio);
      });
  });

$('#myform').submit(function(){
    var action = "{% url 'upresupuestos:PresupuestoServicioView' %}";
    var that = $(this);
    $.ajax({
        url: action,
        type: 'POST',
        data: that.serialize()
        ,success: function(data){
            var modalp = parent.document.getElementById('myModalServicio');
            var divp = parent.document.getElementsByClassName("modal-backdrop");
            var bodyp = parent.document.getElementById('id_body');
            var closep = parent.document.getElementById("btn-cerrar");
          if (data.estatus=="ok"){
            $(closep).click();
            refresh();
            //parent.location.reload(); //para refrescar la pagina
            //$(modalp).hide();
            //$(divp).remove();
            //$(bodyp).removeClass('modal-open');
            //$(bodyp).css('padding-right','');
          }

        }
    });
    return false;
});

});

</script>
<script type="text/javascript">
function refresh() {
  var id_mueble = $("#id_detalle_presupuesto").val();
  $.ajax({
  url: "/presupuesto/detalle/servicio/"+ id_mueble,
  success: function(data) {
    var divs = parent.document.getElementById('listservi'+id_mueble);
    $(divs).html(data);
  }
 });
}
</script>
