{% extends 'base_ficha.html' %}
{% load presupuesto_extras %}

{% block col1 %}class="col-md-10"{% endblock col1 %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block content1 %}

<div class="panel panel-default">
    <table class="table table-hover">
        <tr>
            <td align="center" width="20%">
                <img src="/{{empresa.logo}}" alt="">
            </td>
            <td align="center" width="50%" colspan="2">
                {{empresa.empresa}} <br>
                Dirección: {{empresa.direccion}}<br>
                sitio web: {{empresa.sitio_web}}<br>
                Email: {{empresa.correo}}<br>
                Teléfono: {{empresa.telefonos}}<br>
            </td>
            <td>
                <span style="font-size:25px;"><strong>Presupuesto Nro: </strong> <span style=" float:right;">{{ presupuesto.id }}</span></span><br>
                <strong>Cotizador:</strong> <span style="float:right;">{{presupuesto.cotizador|title }}</span><br>
                <strong>Fecha actual: </strong> <span style="float:right;">{{ now|date:"d/m/Y" }}</span> <br>
                <strong>Fecha presupuesto: </strong><span style="float:right;">{{ presupuesto.fecha_creacion|date:"d/m/Y" }}</span> <br>
                <strong>Fecha estimada de Mudanza: </strong><span style="float:right;">{{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</span> <br>


            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Datos del Cliente</h4>
            </td>
        </tr>
        <tr>
            <td>
                <strong>DNI: </strong> {{ presupuesto.dni }} <br>
                <strong>Teléfonos: </strong>{{ presupuesto.telefono }}
            </td>
            <td width="30%">
                <strong> Nombre: </strong>{{ presupuesto.nombre_cliente|title }}<br>
                <strong>Email: </strong>{{ presupuesto.email }}
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Dirección de origen</h4>
            </td>
            <td colspan="2">
                <h4>Dirección de destino</h4>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for direc_origen in direccion_origen %}
                {{ direc_origen.direccion }} <br>
                Tipo: {{ direc_origen.tipo_inmueble }}, {{ direc_origen.total_m2 }} m2, {{ direc_origen.pisos }}
                {% if direc_origen.pisos > 1 %}
                pisos,
                {% else %}
                piso,
                {% endif %} ocupación: {{ direc_origen.ocupacidad_inmueble }}<br>
                {% if direc_origen.pisos_escalera = 0 %}
                sin escaleras,
                {% else %}
                {{ direc_origen.pisos_escalera }}
                {% if direc_origen.pisos_escalera > 1 %}
                pisos por escaleras,
                {% else %}
                piso por escaleras,
                {% endif %}
                {% endif %}
                {% if direc_origen.ascensor %}
                con rampa,
                {% else %}
                sin rampa,
                {% endif %}

                {% if direc_origen.ascensor %}
                {{ direc_origen.pisos_ascensor }}
                {% if direc_origen.pisos_ascensor > 1 %}
                pisos por ascensor <br>
                {% else %}
                piso por ascensor <br>
                {% endif %}
                {% else %}
                sin ascensor,
                {% endif %}

                {% if direc_origen.ascensor_servicio %}
                {{ direc_origen.pisos_ascensor_servicio }}
                {% if direc_origen.pisos_ascensor_servicio > 1 %}
                pisos por ascensor de servicio <br>
                {% else %}
                piso por ascensor de servicio <br>
                {% endif %}
                {% else %}
                sin ascensor de servicio <br>
                {% endif %}

                Distancia del vehículo al inmueble: {{ direc_origen.distancia_vehiculo }} mts
                {% endfor %}
            </td>
            <td colspan="2">
                {% for direc_destino in direccion_destino %}
                {{ direc_destino.direccion }}<br>
                Tipo: {{ direc_destino.tipo_inmueble }}, {{ direc_destino.total_m2 }} m2, {{ direc_destino.pisos }}
                {% if direc_destino.pisos > 1 %}
                pisos,
                {% else %}
                piso,
                {% endif %} ocupación: {{ direc_destino.ocupacidad_inmueble }}<br>
                {% if direc_destino.pisos_escalera = 0 %}
                sin escaleras,
                {% else %}
                {{ direc_destino.pisos_escalera }}
                {% if direc_destino.pisos_escalera > 1 %}
                pisos por escaleras,
                {% else %}
                piso por escaleras,
                {% endif %}
                {% endif %}
                {% if direc_destino.ascensor %}
                con rampa,
                {% else %}
                sin rampa,
                {% endif %}

                {% if direc_destino.ascensor %}
                {{ direc_destino.pisos_ascensor }}
                {% if direc_destino.pisos_ascensor > 1 %}
                pisos por ascensor <br>
                {% else %}
                piso por ascensor <br>
                {% endif %}
                {% else %}
                sin ascensor,
                {% endif %}

                {% if direc_destino.ascensor_servicio %}
                {{ direc_destino.pisos_ascensor_servicio }}
                {% if direc_destino.pisos_ascensor_servicio > 1 %}
                pisos por ascensor de servicio <br>
                {% else %}
                piso por ascensor de servicio <br>
                {% endif %}
                {% else %}
                sin ascensor de servicio <br>
                {% endif %}

                Distancia del vehículo al inmueble: {{ direc_destino.distancia_vehiculo }} mts
                {% endfor %}

            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Detalle de la Mudanza</h4>
                        <table class="table table-hover table-condensed table-bordered" align="center">
                            <tr align="center">
                                <td width="20px"></td>
                                <td width="20px">Cantidad</td>
                                <td width="20px">Peso kg</td>
                                <td width="20px">Volumen m3</td>
                            </tr>
                            <tr align="center">
                                <td>Ambiente</td>
                                <td>{{ presupuesto.cantidad_ambientes}}</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr align="center">
                                <td>Muebles</td>
                                <td>{{ presupuesto.cantidad_muebles}}</td>
                                <td>{{ presupuesto.total_peso_muebles|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_muebles|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Contenido</td>
                                <td>-</td>
                                <td>{{ presupuesto.total_peso_contenidos|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_contenidos|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Contenedor</td>
                                <td>{{presupuesto.cantidad_contenedores}}</td>
                                <td>{{ presupuesto.total_peso_contenedores|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_contenedores|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Material</td>
                                <td>-</td>
                                <td>{{ presupuesto.total_peso_materiales|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_materiales|floatformat:"2"}}</td>
                            </tr>
                        </table>
                        <table class="table table-hover table-condensed table-bordered" align="center">
                            <tr align="center">
                                <td width="50px">Tiempo de servicios</td>
                                <td width="50px">Tiempo de recorrido</td>
                                <td width="50px">km recorrido</td>
                            </tr>
                            <tr align="center">
                                <td>
                                    {% calular_horas presupuesto.tiempo_servicios %}
                                </td>
                                <td>
                                    {% calular_horas presupuesto.tiempo_recorrido %}
                                </td>
                                <td>{{ presupuesto.recorrido_km}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4>Detalle de Vehículos</h4>
                        <table class="table table-hover table-condensed table-bordered" align="center" style="display:inline-table">
                            <tr align="center">
                                <td width="20px">
                                    <strong>Cantidad: {{ presupuesto.cantidad_vehiculo}}</strong>
                                </td>
                                <td width="20px">Volumen m3</td>
                                <td width="20px">Peso kg</td>
                            </tr>
                            <tr align="center">
                                <td>Disponible</td>
                                <td>{{ presupuesto.total_capacidad_vehiculovol|floatformat:"2"}}</td>
                                <td>{{presupuesto.total_capacidad_vehiculokg|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Usado</td>
                                <td>{{presupuesto.total_m3|floatformat:"2"}}</td>
                                <td>{{presupuesto.total_peso_mudanza|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>% ocupación: </td>
                                <td>{{presupuesto.porcentajeocupacionvol|floatformat:"2"}}% </td>
                                <td>{{presupuesto.porcentajeocupacionkg|floatformat:"2"}}% </td>
                            </tr>
                            <tr>
                                <td colspan="3" >
                                    <strong> Descripción de vehículos: </strong>{{ presupuesto.descripcion_vehiculo}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4>Detalle de Trabajadores</h4>
                        <table class="table table-hover table-condensed table-bordered" align="center">
                            <tr align="center">
                                <td></td>
                                <td width="20px">Conductores</td>
                                <td width="20px">Ayudantes</td>
                                <td width="20px">Adicionales</td>
                            </tr>
                            <tr align="center">
                                <td>Cantidad</td>
                                <td>{{ presupuesto.cantidad_vehiculo}}</td>
                                <td>{{presupuesto.cantidad_ayudante}}</td>
                                <td>{{presupuesto.cantidad_ayudanteadicional}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>Descripción de Trabajadores: </strong>{{ presupuesto.descripcion_persona}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Detalle del presupuesto</h4>
                <table class="table table-hover table-condensed table-bordered" align="center" style="border: 2px solid #ddd;">
                    <tr align="center">
                        <td width="200px"></td>
                        <td width="100px">Cantidad</td>
                        <td width="100px">Tarifa</td>
                        <td width="100px">Total recurso</td>
                        <td width="100px">Básico</td>
                        <td width="100px">Optimizado</td>
                    </tr>
                    <tr align="center">
                        <td>Tiempo de mudanza </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {% calular_horas presupuesto.duracion_teorica %}
                        </td>
                        <td>
                            {% calular_horas presupuesto.duracion_optima %}
                        </td>
                    </tr>
                    <tr align="center" style="border-top: 2px solid #ddd;">
                        <td>Valor por m3 </td>
                        <td>{{presupuesto.total_m3|floatformat:"2"}}</td>
                        <td>{{direccion_origen.0.valor_metrocubico_complejiadad}}</td>
                        <td>{{presupuesto.monto_m3_inmueble}}</td>
                        <td>
                            {% if presupuesto.maxrecursoteorico == presupuesto.monto_m3_inmueble %}
                            {{presupuesto.maxrecursoteorico}}
                            {% endif %}
                        </td>
                        <td>
                            {% if presupuesto.maxrecursooptimo == presupuesto.monto_m3_inmueble %}
                            {{presupuesto.maxrecursooptimo}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr align="center">
                        <td>Valor por ambiente </td>
                        <td>{{ presupuesto.cantidad_ambientes}}</td>
                        <td>{{direccion_origen.0.valor_ambiente_complejidad}}</td>
                        <td>{{presupuesto.monto_amb_inmueble}}</td>
                        <td>
                            {% if presupuesto.maxrecursoteorico == presupuesto.monto_amb_inmueble %}
                            {{presupuesto.maxrecursoteorico}}
                            {% endif %}
                        </td>
                        <td>
                            {% if presupuesto.maxrecursooptimo == presupuesto.monto_amb_inmueble %}
                            {{presupuesto.maxrecursooptimo}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr align="center">
                        <td>Valor por recurso humano</td>
                        <td>{{ presupuesto.cantidadpersonaterica}}</td>
                        <td></td>
                        <td>{{presupuesto.monto_personateorica}}</td>
                        <td>
                            {% if presupuesto.maxrecursoteorico == presupuesto.monto_personateorica %}
                            {{presupuesto.maxrecursoteorico}}
                            {% endif %}
                        </td>
                        <td>
                            {% if presupuesto.maxrecursooptimo == presupuesto.monto_personateorica %}
                            {{presupuesto.maxrecursooptimo}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr align="center">
                        <td>Valor con RRHH adicional</td>
                        <td>{{ presupuesto.cantidadpersonaoptima}}</td>
                        <td></td>
                        <td>{{presupuesto.monto_personaoptima}}</td>
                        <td>
                            {% if presupuesto.maxrecursoteorico == presupuesto.monto_personaoptima %}
                            {{presupuesto.maxrecursoteorico}}
                            {% endif %}
                        </td>
                        <td>
                            {% if presupuesto.maxrecursooptimo == presupuesto.monto_personaoptima %}
                            {{presupuesto.maxrecursooptimo}}
                            {% endif %}
                        </td>
                    </tr>

                    <tr align="center"  style="border-top: 2px solid #ddd;">
                        <td>Valor de vehículos por hrs</td>
                        <td></td>
                        <td></td>
                        <td>{{presupuesto.monto_vehiculo_hora}}</td>
                        <td>
                            {% if presupuesto.vehiculomontomax == presupuesto.monto_vehiculo_hora %}
                            {{presupuesto.vehiculomontomax}}
                            {% endif %}
                        </td>
                        <td>
                            {% if presupuesto.vehiculomontomax == presupuesto.monto_vehiculo_hora %}
                            {{presupuesto.vehiculomontomax}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr align="center">
                        <td>Valor de vehículos por km</td>
                        <td></td>
                        <td></td>
                        <td>{{presupuesto.monto_vehiculo_recorrido}}</td>
                        <td>
                            {% if presupuesto.vehiculomontomax == presupuesto.monto_vehiculo_recorrido %}
                            {{presupuesto.vehiculomontomax}}
                            {% endif %}
                        </td>
                        <td>
                            {% if presupuesto.vehiculomontomax == presupuesto.monto_vehiculo_recorrido %}
                            {{presupuesto.vehiculomontomax}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr align="center" style="border-top: 2px solid #ddd;">
                        <td>Servicios aplicados</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{presupuesto.monto_servicios}}</td>
                        <td>{{presupuesto.monto_servicios}}</td>
                    </tr>
                    <tr align="center">
                        <td>Materiales utilizados</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{presupuesto.monto_materiales}}</td>
                        <td>{{presupuesto.monto_materiales}}</td>
                    </tr>
                    <tr style="border-top: 2px solid #ddd;">
                        <td colspan="4">Valor total mudanza</td>
                        <td align="center">{{presupuesto.monto_mudanza_hrsdirectas}}</td>
                        <td align="center">{{presupuesto.monto_mundanza_hrsoptimas}}</td>
                    </tr>
                    <tr style="border-top: 2px solid #ddd;">
                        <td colspan="4">Descuento / recargo</td>
                        <td align="center">{{presupuesto.monto_descuesto_regargo}}</td>
                        <td align="center">{{presupuesto.monto_descuesto_regargo}}</td>
                    </tr>
                    <tr style="border-top: 2px solid #ddd;">
                        <td colspan="4">Valor total mudanza revisado</td>
                        <td align="center">{{presupuesto.mudanzamontorevisadotoerico}}</td>
                        <td align="center">{{presupuesto.mudanzamontorevisadooptimo}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Detalle de los muebles</h4>

                <div class="row">
                    <div class="col-md-12">
                        {% for ambiente in ambientes %}
                        <h4>{{ambiente.ambiente}}</h4>
                        <table class="table table-hover table-condensed table-bordered" align="center">
                            <tr>
                                <th width="250px">Mueble</th>
                                <th width="100px">Tamaño</th>
                                <th width="100px">Ocupación</th>
                                <th width="200px">Servicio</th>
                                <th width="60px">Peso (kgs)</th>
                                <th width="60px">Vol. (m3)</th>
                                <th width="100px">Contenedor</th>
                                <th width="60px">Trasl.</th>
                            </tr>

                            {% for det_mueble in detalle_list %}
                            {% if ambiente.ambiente = det_mueble.ambiente %}
                            <tr align="center">
                                <td>
                                    {{ det_mueble.mueble }}
                                </td>
                                <td>
                                    {{ det_mueble.tamano }} <br>
                                    ({{ det_mueble.ancho|floatformat:"0" }}x{{ det_mueble.largo|floatformat:"0" }}x{{ det_mueble.alto|floatformat:"0" }})
                                </td>
                                <td>{{ det_mueble.ocupacidad }}</td>
                                <td>
                                    {% if servicio %}
                                    {% for det_servivio in servicio %}
                                    {% if det_servivio.detalle_presupuesto = det_mueble.id %}
                                    {{ det_servivio.servicio }}
                                    {% if forloop.last %}

                                    {% else %} -

                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ det_mueble.peso|floatformat:"0"}}</td>
                                <td>{{det_mueble.volumen_mueble|floatformat:"0"}}</td>
                                <td>{{ det_mueble.cantidad_contenedor }} {{ det_mueble.descripcion_contenedor}} <br>
                                    {{ det_mueble.peso_contenedor|floatformat:"0"}} kgs
                                </td>
                                <td>
                                    {{ det_mueble.trasladable|yesno:"Si,No" }}

                                </td>
                            </tr>
                            {%endif%}
                            {% endfor %}
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Detalle de los servicios</h4>

                <table class="table table-hover table-condensed table-bordered" align="center">
                    <tr>
                        <th width="200px">Servicio</th>
                        <th width="80px">Monto</th>
                        <th width="60px">Tiempo aplicado</th>
                        <th width="200px">Material</th>
                        <th width="60px">Vol. (m3)</th>
                        <th width="60px">Peso (kgs)</th>
                        <th width="60px">Cantidad</th>
                        <th width="80px">Precio</th>
                        <th width="80px">Monto</th>

                    </tr>

                    {% regroup servicio2 by servicio as servicio_list %}

                    {% for servicio in servicio_list %}
                    {% for item in servicio.list %}
                    <tr align="center">
                        {% if forloop.counter == 1 %}
                        <td rowspan="{{servicio.list|length}}">
                            {{ servicio.grouper }}
                        </td>
                        <td rowspan="{{servicio.list|length}}">
                            {{item.smontoserv}}
                        </td>
                        <td rowspan="{{servicio.list|length}}">
                            {% calular_horas item.stiempoa %}
                        </td>

                        {% endif %}

                        <td>
                            {{ item.material }}
                        </td>
                        <td>
                            {{ item.svolmat|floatformat:"2" }}
                        </td>
                        <td>
                            {{ item.spesomat|floatformat:"2" }}
                        </td>
                        <td>
                            {{ item.scantmat }}
                        </td>
                        <td>
                            {{ item.precio_material }}
                        </td>
                        <td>
                            {{item.smontomat}}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
</div>


{% endblock content1 %}

{% block ayuda %}

<div class="well well-lg">
    <p>el <strong>presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
