{% extends 'base_lista.html' %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar presupuesto

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de presupuestos</h2>

{% endblock titulo_tabla %}

{% if presupuestos %}

{% block cantidad_tabla %}

<h6>Cantidad de registros encontrados:
  <span class="badge" id="count_reg">

    {{ presupuestos.count }}

  </span>
</h6>
<a width="" href="{% url 'upresupuestos:DatosPrecargadoUpdate' 1 %}?next={{request.get_full_path}}" class="glyphicon glyphicon-tag" >Datos precargados</a><br>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

<tr class="active">
  <th>Fecha</th>
  <th>N° presupuesto</th>
  <th>Dni</th>
  <th>cliente</th>
  <th width="">Ver ficha</th>
  <th width="50">Editar</th>
  <th width="50">Eliminar</th>
</tr>

{% for i in presupuestos %}

<tr id="tr{{i.id}}">
  <td>{{ i.fecha_creacion|date:"d/m/Y" }}</td>
  <td>{{ i.id }}</td>
  <td>{{ i.dni }}</td>
  <td>{{ i.nombre_cliente }}</td>
  <td>
    <a width="" href="{% url 'upresupuestos:PresupuestoDetail' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-tag" ></a>
  </td>
  <td>
    <a width="50" class="botonmodalDatosPersonales glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModalDatosPersonales" data-opcion="editar/{{i.id}}" data-numero="{{i.id}}" style="cursor:pointer;"></a>
  </td>
  <td>
    <a style="padding:0px 0px 8px 8px;" href="{% url 'upresupuestos:PresupuestoDelete' i.id %}?next={{request.get_full_path}}" onclick="" class="glyphicon glyphicon-remove"></a>
  </td>
</tr>

{% endfor %}

{% if page_obj.has_previous %} <a href="{% url 'PresupuestoList' %}?page={{ page_obj.previous_page_number }}"> Ir a página {{ page_obj.previous_page_number }} </a> {% endif %} La página actual es {{ page_obj.number }} {% if page_obj.has_next %} <a href="{% url 'PresupuestoList' %}?page={{ page_obj.next_page_number }}"> Ir a página {{ page_obj.next_page_number }} </a> {% endif %}
<!-- Modal editar datos personales-->
<div class="modal fade" id="myModalDatosPersonales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel44">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarDatosPersonales">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">Editar datos personales</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionDatosPersonales" id="" src="" width="100%" height="340" scrolling="auto" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<script>
  $(".botonmodalDatosPersonales").on('click',function(even){
    even.preventDefault();
    var numero = $(this).data('numero');
    var opcion = $(this).data('opcion');
    $('.id_opcionDatosPersonales').attr('src', opcion);
    $('.id_opcionDatosPersonales').attr('id', numero);
});
</script>

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Cotizacion</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}

