<tr>
    <td><b>Cotizador:</b> {{ presupuesto.cotizador }}</td>
    <td><b>Fecha de registro:</b> {{ presupuesto.fecha_creacion|date:"d/m/Y" }}</td>
    <td><b>Hora de registro:</b> {{ presupuesto.hora_creacion|time:"h:i a" }}</td>
    <td><b>N° de presupuesto:</b> {{ presupuesto.id }}</td>
</tr>
<tr>
    <td colspan="2"><b>Solicitante:</b> {{ presupuesto.nombre_cliente }}</td>
    <td><b>Teléfono celular:</b> {{ presupuesto.telefono_celular }}</td>
    <td><b>Teléfono fijo:</b> {{ presupuesto.telefono }}</td>
</tr>
<tr>
    <td colspan="2"><b>e-mail:</b> {{ presupuesto.email }}</td>
    <td><b>Cargo:</b> {{ presupuesto.cargo_cliente }}</td>
    <td><b>Empresa:</b> {{ presupuesto.empresa_cliente }}</td>
</tr>
<tr>
    <td colspan="2"><b>Medio de contacto:</b> {{ presupuesto.fuente_promocion }}</td>
    <td><b>Fecha de mudanza:</b> {{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</td>
    <td><b>Hora de mudanza:</b> {{ presupuesto.hora_estimadamudanza|time:"h:i a" }}</td>
</tr>
