{% extends "base_modal_form.html" %}

{% block formulario %}

<form action="" method="post" id="myform">

  {% csrf_token %}

  <div class="form-group control-campos">

    {{form.as_p}}

  </div>
  <button class="btn btn-default" type="submit">Registrar</button>
  <button class="btn btn-default" data-dismiss="modal" id="btn-cancelar" type="button">Cancelar</button>
</form>

{% endblock formulario %}

{% block style %}

<style>

{% if form.tipo_direccion.value = "Destino" %}

#id_lista_ocupacion,
.control-campos p label[for=id_lista_ocupacion_0],
#id_total_m2,
.control-campos p label[for=id_total_m2] {
  display: none;
}

{% endif %}

</style>

{% endblock style %}

{% block js_form %}

<script src="/static/js/presupuestoForm/preDireccion.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#myform').submit(function() {
    var action = "{% url 'upresupuestos:PresupuestoDireccionView' %}";
    var that = $(this);
    $.ajax( {
      url: action,
      type: 'POST',
      data: that.serialize(),
      success: function(data) {
        var modalp = parent.document.getElementById('myModalDireccion');
        var divp = parent.document.getElementsByClassName("modal-backdrop");
        var bodyp = parent.document.getElementById('id_body');
        var closep = parent.document.getElementById("btn-cerrarModal");
        var msj = parent.document.getElementById('msjGuardado');
        if (data.estatus == "ok") {
          $(closep).click();
          $(msj).text('Guardado con exito');
          $(msj).fadeIn();
          setTimeout(function() {
            parent.location.reload();
          }, 1000);
        }
      }
    });
    return false;
  });
});

function refresh () {
  var tipo_direccion = $("#id_tipo_direccion").val();
  var id_presupuesto = $("#id_presupuesto").val();
  var urldir = "";
  var iddiv = "";
  if (tipo_direccion == "Origen") {
    urldir = "/presupuesto/ficha/direccionorigen/" + id_presupuesto;
    iddiv = 'direccion-origen';
  } else if(tipo_direccion == "Destino") {
    urldir = "/presupuesto/ficha/direcciondestino/" + id_presupuesto;
    iddiv = 'direccion-destino';
  }
  $.ajax( {
    url: urldir,
    success: function (data) {
      var divs = parent.document.getElementById(iddiv);
      $(divs).html(data);
    }
  });
}

$('#btn-cancelar').click(function() {
  cerrarModal(parent.document.getElementById('btn-cerrarModal'),
    parent.document.getElementById('msjEliminado')
    );
});
</script>

{% endblock js_form %}
