{% extends "base_modal_form.html" %}

{% block formulario %}

<h4 style="margin-top:0px;">Editar dirección de {{ form.tipo_direccion.value|lower }}</h4>
<form action="" method="post" id="myform">

  {% csrf_token %}

<div class="form-group control-campos">

  {% if form.errors %}

  <p class="alert-danger alerta">Complete todos los campos y luego clic en registrar.</p>

  {% endif %}

  {% for i in form %}

  <div class="campo form-group {{i.name}}" id="s_{{i.name}}">
    <label for="{{ i.id_for_label }}">{{ i.label }} {{ i }}</label>
  </div>

  {% endfor %}

<button type="submit" class="btn btn-default" style="float:right;margin-right:10px;">Registrar</button>
</div>

</form>

{% endblock formulario %}

{% block style %}

<link rel="stylesheet" href="/static/css/presupuestoForm/preDireccion.css">
<style>

{% if form.tipo_direccion.value = "Destino" %}

#s_lista_ocupacion,#s_total_m2{display: none;}

{% endif %}

@media (max-width:600px) {

  {% if form.tipo_direccion.value = "Destino" %}

  button{position: absolute;bottom:-325px;}

  {% else %}

  button{position: absolute;bottom:-400px;}

  {% endif %}

}
</style>

{% endblock style %}

{% block js_form %}

<script src="/static/js/presupuestoForm/preDireccion.js"></script>
<script type="text/javascript">
check5 = document.getElementById("id_ascensor");
check6 = document.getElementById("id_ascensor_servicio");
if (check5.checked){
  $('#s_pisos_ascensor').css('visibility','visible');
}
else{
  $('#s_pisos_ascensor').css('visibility','hidden');
}

if (check6.checked){
  $('#s_pisos_ascensor_servicio').css('visibility','visible');
}
else{
  $('#s_pisos_ascensor_servicio').css('visibility','hidden');
}


</script>
<script type="text/javascript">
document.getElementById('s_rampa').setAttribute('class','checkbox-inline')
document.getElementById('id_ascensor').setAttribute('onchange','javascript:showContent()')
document.getElementById('id_ascensor_servicio').setAttribute('onchange','javascript:showContent2()')
document.getElementById('s_ascensor').setAttribute('class','checkbox-inline')
document.getElementById('s_ascensor_servicio').setAttribute('class','checkbox-inline')
$( "l" ).addClass( "radio radio-primary" );
$('#s_pisos_ascensor').css('visibility','hidde');
$('#s_pisos_ascensor_servicio').css('visibility','hidde');

$(document).ready(function() {
  setTimeout(function() {
    $(".alerta").fadeOut(1500);
  },3000);
});
</script>
<script>
$(document).ready(function(){


$('#myform').submit(function(){
    var id = $(parent.document.getElementsByClassName("id_opcionDireccion")).attr('id');
    var action = "/presupuesto/direccion/"+id+"/";
    var that = $(this)
    var closep = parent.document.getElementById("btn-cerrardir");
    $.ajax({
        url: action,
        type: 'POST',
        data: that.serialize()
        ,success: function(data){
          if (data.estatus=="ok"){
            var closep = parent.document.getElementById("btn-cerrardir");
            var closepd = parent.document.getElementById("btn-cerrardirD");
            $(closep).click();
            $(closepd).click();
            refresh();
          }
        }
    });
//parent.location.reload();
 return false;
});

});

function refresh() {
  var tipo_direccion = $("#id_tipo_direccion").val();
  var id_presupuesto = $("#id_presupuesto").val();
  var urldir = "";
  var iddiv = "";

  if (tipo_direccion=="Origen"){
    urldir = "/presupuesto/ficha/direccionorigen/"+ id_presupuesto;
    iddiv = 'direccion-origen';
  }else if(tipo_direccion=="Destino"){
    urldir = "/presupuesto/ficha/direcciondestino/"+ id_presupuesto;
    iddiv = 'direccion-destino';
  }

  $.ajax({
    url: urldir,
    success: function(data) {
      var divs = parent.document.getElementById(iddiv);
      $(divs).html(data);
    }
  });
}

    function asyncChange()
{
    var request;
    var id_presupuesto = $("#id_presupuesto").val();
    var id = $(parent.document.getElementsByClassName("id_opcionDireccion")).attr('id');
    var action = "/presupuesto/ficha/direccionorigen/"+ id_presupuesto;;

    if (window.XMLHttpRequest) {
        request = new window.XMLHttpRequest();
    } else {
        request = new window.ActiveXObject("Microsoft.XMLHTTP");
    }

    request.open("GET", action, true);
    request.send();

    request.onreadystatechange = function()
    {
      var tipo_direccion = $("#id_tipo_direccion").val();

        if (request.readyState == 4 && request.status == 200)
        {
            parent.document.getElementById("direccion-origen").innerHTML = request.responseText;
            if (tipo_direccion=="Origen"){
              urldir = "/presupuesto/ficha/direccionorigen/"+ id_presupuesto;
              iddiv = 'direccion-origen';
            }else if(tipo_direccion=="Destino"){
              urldir = "/presupuesto/ficha/direcciondestino/"+ id_presupuesto;
              iddiv = 'direccion-destino';
            }
        }
    }
}
</script>

{% endblock js_form %}
