{% extends 'base_ficha.html' %}

{% load presupuesto_extras %}

{% block col1 %}class="col-md-12"{% endblock col1 %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block acceso_rapido %}

    <a title="Volver" class="navbar-brand" role="button" aria-expanded="false" href="{% url 'upresupuestos:PresupuestoDetail' presupuesto.id %}"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a title="Imprimir" class="navbar-brand" role="button" aria-expanded="false" onclick="window.print();"><span class="glyphicon glyphicon-print"></span></a>

{% endblock acceso_rapido %}

{% block link_navegacion %}

<li class="linknav">
    <a onClick="location='{% url 'upresupuestos:PresupuestoDetail' presupuesto.id %}'">Volver a la ficha</a>
</li>

{% if presupuesto.dni and direccion_origen and direccion_destino and ambientes %}

<div class="widgetAcciones">
    <div class="titleAcciones">Acciones</div>
    <div id="" class="btnAcciones btn-group-vertical">

        {% if estado.0.estado__orden == 4 %}

        <button type="button" class="btn btn-default floatLeft botonFinalizar" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=5">Finalizar solicitud</button>
        <button type="button" class="btn btn-success floatLeft elementHidden" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7&terminar=terminar">Terminar presupuesto</button>

        {% endif %}

        {% endif %}

        {% if estado.0.estado__orden == 5 or estado.0.estado__orden == 6 %}

    {% if user.groups.count > 0 %}

        {% for group in user.groups.all %}

            {% if group.name == 'cotizador' %}

            <button type="button" class="btn btn-default floatLeft" onClick="location='{% url 'upresupuestos:PresupuestoRevisarUpdateView' presupuesto.id %}?next={{ request.get_full_path }}'">Revisar presupuesto</button>
            <button type="button" class="btn btn-success floatLeft botonFinalizar" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7&terminar=terminar">Terminar presupuesto</button>

            {% endif %}

        {% endfor %}

    {% elif user.is_superuser %}

            <button type="button" class="btn btn-default floatLeft" onClick="location='{% url 'upresupuestos:PresupuestoRevisarUpdateView' presupuesto.id %}?next={{ request.get_full_path }}'">Revisar presupuesto</button>
            <button type="button" class="btn btn-success floatLeft botonFinalizar" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7&terminar=terminar">Terminar presupuesto</button>

    {% endif %}

{% endif %}

{% if estado.0.estado__orden == 7 %}

    <button class="btn btn-default floatLeft" onClick="location='{% url 'upresupuestos:PresupuestoRevisarUpdateView' presupuesto.id %}?next={{ request.get_full_path }}'" type="button">Revisar presupuesto</button>
    <button class="btn btn-default floatLeft" onClick="location='{% url 'upresupuestos:PresupuestoDetailResumenFinal' presupuesto.id %}'" type="button">Resumen final</button>

{% endif %}

{% if estado.0.estado__orden == 6 %}

    {% if user.groups.count > 0 %}

        {% for group in user.groups.all %}

        {% if group.name == 'cotizador' %}

            <button type="button" class="btn btn-success floatLeft botonFinalizar" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7">Autorizar</button>
            <button type="button" class="btn btn-success floatLeft elementHidden" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7&terminar=terminar">Terminar presupuesto</button>

        {% endif %}

        {% endfor %}

    {% elif user.is_superuser %}

            <botton type="button" class="btn btn-default floatLeft botonFinalizar" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7">Autorizar</botton>
            <button type="button" class="btn btn-success floatLeft elementHidden" data-numero="{{ presupuesto.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=7&terminar=terminar">Terminar presupuesto</button>

    {% endif %}

{% endif %}

    </div>
</div>

{% endblock link_navegacion %}

{% block content1 %}
{% comment %}
        <a href="{% url 'upresupuestos:pdf' %}">
        <input type="button" class="btn-primary" value="Imprimir"/>
    </a>
{% endcomment %}
<br>
<div class="panel panel-default">
    <table class="table table-hover">
        <tr>
            <td align="center" width="20%">
                <img src="/{{empresa.logo}}" alt="">
            </td>
            <td align="center" width="50%" colspan="2">
                {{empresa.empresa}} <br>
                Dirección: {{empresa.direccion}}<br>
                sitio web: {{empresa.sitio_web}}<br>
                Email: {{empresa.correo}}<br>
                Teléfono: {{empresa.telefonos}}<br>
            </td>
            <td>
                <span class="fontSize25"><strong>Presupuesto Nro: </strong> <span class=" floatRight">{{ presupuesto.id }}</span></span><br>
                <strong>Cotizador:</strong>
                <span class="floatRight">

                    {{presupuesto.cotizador.get_full_name}}

                </span><br>
                <strong>Fecha actual: </strong> <span class="floatRight">{{ now|date:"d/m/Y" }}</span> <br>
                <strong>Fecha presupuesto: </strong><span class="floatRight">{{ presupuesto.fecha_creacion|date:"d/m/Y" }}</span> <br>
                <strong>Fecha estimada de Mudanza: </strong><span class="floatRight">{{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</span> <br>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h4>Datos del Cliente</h4>
            </td>
        </tr>
        <tr>
            <td class="border-none">
                <strong>DNI: </strong> {{ presupuesto.dni }} <br>
                <strong>Teléfonos: </strong>{{ presupuesto.telefono }}
            </td>
            <td width="30%" class="border-none">
                <strong> Nombre: </strong>{{ presupuesto.nombre_cliente|title }}<br>
                <strong>Email: </strong>{{ presupuesto.email }}
            </td>
            <td class="border-none"></td>
            <td class="border-none"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h4>

                    {% if direccion_origen.count > 1%}

                        Direcciones de origen

                    {% else %}

                        Dirección de origen

                    {% endif %}

                </h4>
            </td>
            <td colspan="2">
                <h4>

                    {% if direccion_destino.count > 1%}

                        Direcciones de destino

                    {% else %}

                        Dirección de destino

                    {% endif %}

                </h4>
            </td>
        </tr>
        <tr>
            <td colspan="2">

                {% for direc_origen in direccion_origen %}

                <strong>{{ direc_origen.tipo_direccion }} {{ direc_origen.orden }}</strong> <br>
                {{ direc_origen.direccion }} <br>
                Tipo: {{ direc_origen.tipo_inmueble }}, {{ direc_origen.total_m2 }} m<sup>2</sup>, {{ direc_origen.pisos }}

                {% if direc_origen.pisos > 1 %}

                pisos,

                {% else %}

                piso,

                {% endif %}

                ocupación: {{ direc_origen.ocupacidad_inmueble }}<br>

                {% if direc_origen.pisos_escalera = 0 %}

                sin escaleras,

                {% else %}

                {{ direc_origen.pisos_escalera }}

                {% if direc_origen.pisos_escalera > 1 %}

                pisos por escaleras,

                {% else %}

                piso por escaleras,

                {% endif %}

                {% endif %}

                {% if direc_origen.ascensor %}

                con rampa,

                {% else %}

                sin rampa,

                {% endif %}

                {% if direc_origen.ascensor %}

                {{ direc_origen.pisos_ascensor }}

                {% if direc_origen.pisos_ascensor > 1 %}

                pisos por ascensor <br>

                {% else %}

                piso por ascensor <br>

                {% endif %}

                {% else %}

                sin ascensor,

                {% endif %}

                {% if direc_origen.ascensor_servicio %}

                {{ direc_origen.pisos_ascensor_servicio }}

                {% if direc_origen.pisos_ascensor_servicio > 1 %}

                pisos por ascensor de servicio <br>

                {% else %}

                piso por ascensor de servicio <br>

                {% endif %}

                {% else %}

                sin ascensor de servicio <br>

                {% endif %}

                Distancia del vehículo al inmueble: {{ direc_origen.distancia_vehiculo }} mts <br>

                {% endfor %}

            </td>
            <td colspan="2">
                {% for direc_destino in direccion_destino %}

                <strong>{{ direc_destino.tipo_direccion }} {{ direc_destino.orden }}</strong> <br>
                {{ direc_destino.direccion }}<br>
                Tipo: {{ direc_destino.tipo_inmueble }}, {{ direc_destino.total_m2 }} m<sup>2</sup>, {{ direc_destino.pisos }}

                {% if direc_destino.pisos > 1 %}

                pisos,

                {% else %}

                piso,

                {% endif %}

                ocupación: {{ direc_destino.ocupacidad_inmueble }}<br>

                {% if direc_destino.pisos_escalera = 0 %}

                sin escaleras,

                {% else %}

                {{ direc_destino.pisos_escalera }}

                {% if direc_destino.pisos_escalera > 1 %}

                pisos por escaleras,

                {% else %}

                piso por escaleras,

                {% endif %}

                {% endif %}

                {% if direc_destino.ascensor %}

                con rampa,

                {% else %}

                sin rampa,

                {% endif %}

                {% if direc_destino.ascensor %}

                {{ direc_destino.pisos_ascensor }}

                {% if direc_destino.pisos_ascensor > 1 %}

                pisos por ascensor <br>

                {% else %}

                piso por ascensor <br>

                {% endif %}

                {% else %}

                sin ascensor,

                {% endif %}

                {% if direc_destino.ascensor_servicio %}

                {{ direc_destino.pisos_ascensor_servicio }}

                {% if direc_destino.pisos_ascensor_servicio > 1 %}

                pisos por ascensor de servicio <br>

                {% else %}

                piso por ascensor de servicio <br>

                {% endif %}

                {% else %}

                sin ascensor de servicio <br>

                {% endif %}

                Distancia del vehículo al inmueble: {{ direc_destino.distancia_vehiculo }} mts <br>

                {% endfor %}

            </td>
        </tr>

        {% if perms.presupuesto.see_presupuestoitem %}

        <tr>
            <td colspan="4">
                <div class="row">
                    <div class="col-md-4 break-inside">
                        <h4>Detalles de la mudanza</h4>
                        <table class="table table-hover table-condensed table-bordered" align="center">
                            <tr align="center">
                                <td width="40%">Ítem</td>
                                <td width="20%">Cantidad</td>
                                <td width="20%">Peso Kg</td>
                                <td width="20%">Vol. m<sup>3</sup></td>
                            </tr>
                            <tr align="center">
                                <td>Ambientes</td>
                                <td>{{ presupuesto.cantidad_ambientes}}</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr align="center">
                                <td>Muebles</td>
                                <td>{{ presupuesto.cantidad_muebles}}</td>
                                <td>-</td>
                                <td>{{ presupuesto.total_volumen_muebles|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Contenidos</td>
                                <td>-</td>
                                <td>{{ presupuesto.total_peso_contenidos|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_contenidos|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Contenedores</td>
                                <td>{{presupuesto.cantidad_contenedores}}</td>
                                <td>{{ presupuesto.total_peso_contenedores|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_contenedores|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Materiales</td>
                                <td>-</td>
                                <td>{{ presupuesto.total_peso_materiales|floatformat:"2"}}</td>
                                <td>{{ presupuesto.total_volumen_materiales|floatformat:"2"}}</td>
                            </tr>
                        </table>
                        <table class="table table-hover table-condensed table-bordered break" align="center">
                            <tr align="center">
                                <td width="40px">Km recorrido</td>
                                <td width="40px">Tiempo de recorrido</td>
                                <td width="40px">Tiempo de servicios</td>
                                <td width="40px">Tiempo de carga</td>
                            </tr>
                            <tr align="center">
                                <td>{{ presupuesto.recorrido_km}}</td>
                                <td>{% calular_horas presupuesto.tiempo_recorrido %}</td>
                                <td>{% calular_horas presupuesto.tiempo_servicios %}</td>
                                <td>{% calular_horas presupuesto.tiempo_carga %}</td>
                            </tr>
                            <tr align="center">
                                <td colspan="3">
                                    Tiempo total de la mudanza
                                </td>
                                <td>{% calular_horas presupuesto.tiempo_total %}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 break-inside">
                        <h4>Detalles de vehículos</h4>
                        <table class="table table-hover table-condensed table-bordered displayInlineTable" align="center">
                            <tr align="center">
                                <td width="40%">
                                    Cantidad: {{ presupuesto.cantidad_vehiculo}}
                                </td>
                                <td width="30%">Vol. m<sup>3</sup></td>

                            </tr>
                            <tr align="center">
                                <td>Disponible</td>
                                <td>{{ presupuesto.total_capacidad_vehiculovol|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>Utilizado</td>
                                <td>{{presupuesto.total_m3|floatformat:"2"}}</td>
                            </tr>
                            <tr align="center">
                                <td>% ocupación: </td>
                                <td>{{presupuesto.porcentajeocupacionvol|floatformat:"2"}}% </td>
                            </tr>
                            <tr>
                                <td colspan="2" >
                                    <strong> Descripción: </strong>{{ presupuesto.descripcion_vehiculo}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4>Detalles de trabajadores</h4>
                        <table class="table table-hover table-condensed table-bordered" align="center">
                            <tr align="center">
                                <td></td>
                                <td width="20px">Conductores</td>
                                <td width="20px">Ayudantes</td>
                                <td width="20px">Adicionales</td>
                            </tr>
                            <tr align="center">
                                <td>Cantidad</td>
                                <td>{{ presupuesto.cantidad_vehiculo}}</td>
                                <td>{{presupuesto.cantidad_ayudante}}</td>
                                <td>{{presupuesto.cantidad_ayudanteadicional}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>Descripción: </strong>{{ presupuesto.descripcion_persona}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>

        {% endif %} <!-- end del if de verificación del permiso en presupuesto -->

        {% if perms.presupuesto.see_presupuestoitem %}

        <tr>
            <td colspan="4" class="border-none">
                <div class="break-inside">
                    <h4>Detalles de los costos del presupuesto</h4>
                    <table class="table table-hover table-condensed table-bordered border2px" align="center">
                        <tr align="center">
                            <td width="200px"></td>
                            <td width="100px">Cantidad</td>
                            <td width="100px">Tarifa</td>
                            <td width="100px">Total recurso</td>
                            <td width="100px">

                                {% if presupuesto.tipo_calculo == 'Basico' %}

                                <span class="glyphicon glyphicon-ok"></span>

                                {% endif %}

                                Básico
                            </td>
                            <td width="100px">

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                <span class="glyphicon glyphicon-ok"></span>

                                {% endif %}

                                Optimizado
                            </td>
                            <td width="100px">

                                {% if presupuesto.tipo_calculo == 'Revisado' %}

                                <span class="glyphicon glyphicon-ok"></span>

                                {% endif %}

                                Revisado
                            </td>
                        </tr>
                        <tr align="center">
                            <td>Tiempo de mudanza </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>

                                {% calular_horas presupuesto.duracion_teorica %}

                            </td>
                            <td>

                                {% calular_horas presupuesto.duracion_optima %}

                            </td>
                            <td>

                                {% calular_horas presupuesto.tiempo_carga %}

                            </td>
                        </tr>
                        <tr align="center" class="borderTop2px">
                            <td>Valor por m<sup>3</sup> </td>
                            <td>{{presupuesto.total_m3|floatformat:"2"}}</td>
                            <td>{{direccion_origen.0.valor_metrocubico_complejiadad}}</td>
                            <td>{{presupuesto.monto_m3_inmueble}}</td>
                            <td>

                                {% if presupuesto.maxrecursoteorico == presupuesto.monto_m3_inmueble %}

                                {{presupuesto.maxrecursoteorico}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_m3_inmueble %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_m3_inmueble %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                                {% else %}

                                    {% if presupuesto.monto_m3_inmueble == presupuesto.monto_recursos_revisado %}

                                    {{presupuesto.monto_recursos_revisado}}

                                    {% else %}

                                    {% if  presupuesto.monto_m3_inmueble != presupuesto.monto_recursos_revisado and presupuesto.monto_amb_inmueble != presupuesto.monto_recursos_revisado and presupuesto.monto_personateorica != presupuesto.monto_recursos_revisado and presupuesto.monto_personaoptima != presupuesto.monto_recursos_revisado %}

                                    {{presupuesto.monto_recursos_revisado}}

                                    {% endif %}

                                    {% endif %}

                                {% endif %}

                            </td>
                        </tr>
                        <tr align="center">
                            <td>Valor por ambiente </td>
                            <td>{{ presupuesto.cantidad_ambientes}}</td>
                            <td>{{direccion_origen.0.valor_ambiente_complejidad}}</td>
                            <td>{{presupuesto.monto_amb_inmueble}}</td>
                            <td>

                                {% if presupuesto.maxrecursoteorico == presupuesto.monto_amb_inmueble %}

                                {{presupuesto.maxrecursoteorico}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_amb_inmueble %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_amb_inmueble %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                                {% else %}

                                    {% if presupuesto.monto_amb_inmueble == presupuesto.monto_recursos_revisado %}

                                    {{presupuesto.monto_recursos_revisado}}

                                    {% endif %}

                                {% endif %}

                            </td>
                        </tr>
                        <tr align="center">
                            <td>Valor por recurso humano</td>
                            <td>{{ presupuesto.cantidadpersonaterica}}</td>
                            <td></td>
                            <td>{{presupuesto.monto_personateorica}}</td>
                            <td>

                                {% if presupuesto.maxrecursoteorico == presupuesto.monto_personateorica %}

                                {{presupuesto.maxrecursoteorico}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_personaoptima %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_personaoptima %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                                {% else %}

                                    {% if presupuesto.monto_personateorica == presupuesto.monto_recursos_revisado %}

                                    {{presupuesto.monto_recursos_revisado}}

                                    {% endif %}

                                {% endif %}

                            </td>
                        </tr>
                        <tr align="center">
                            <td>Valor con RRHH adicional</td>
                            <td>{{ presupuesto.cantidadpersonaoptima}}</td>
                            <td></td>
                            <td>{{presupuesto.monto_personaoptima}}</td>
                            <td>

                                {% if presupuesto.maxrecursoteorico == presupuesto.monto_personaoptima %}

                                {{presupuesto.maxrecursoteorico}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.maxrecursooptimo == presupuesto.monto_personaoptima %}

                                {{presupuesto.maxrecursooptimo}}

                                {% endif %}

                            </td>
                            <td>

                                {% if presupuesto.monto_personaoptima == presupuesto.monto_recursos_revisado %}

                                {% if presupuesto.monto_personaoptima != presupuesto.monto_personateorica %}

                                    {{presupuesto.monto_recursos_revisado}}

                                {% endif %}

                                {% endif %}

                            </td>
                        </tr>

                        <tr align="center"  class="borderTop2px">
                            <td>Valor de vehículos por hora</td>
                            <td></td>
                            <td></td>
                            <td>{{presupuesto.monto_vehiculo_hora}}</td>
                            <td rowspan="2" class="verticalAlign">
                                {{presupuesto.vehiculomonto}}
                            </td>
                            <td rowspan="2" class="verticalAlign">
                                {{presupuesto.vehiculomonto}}
                            </td>
                            <td rowspan="2" class="verticalAlign">
                                {{presupuesto.monto_vehiculo_revisado}}
                            </td>
                        </tr>
                        <tr align="center">
                            <td>Valor de vehículos por Km</td>
                            <td></td>
                            <td></td>
                            <td>{{presupuesto.monto_vehiculo_recorrido}}</td>
                        </tr>
                        <tr align="center" class="borderTop2px">
                            <td>Servicios aplicados</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{presupuesto.monto_servicios}}</td>
                            <td>{{presupuesto.monto_servicios}}</td>
                            <td>{{presupuesto.monto_servicios_revisado}}</td>
                        </tr>
                        <tr align="center">
                            <td>Materiales utilizados</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{presupuesto.monto_materiales}}</td>
                            <td>{{presupuesto.monto_materiales}}</td>
                            <td>
                                {{presupuesto.monto_materiales_revisado}}
                            </td>
                        </tr>
                        <tr class="borderTop2px">
                            <td colspan="4">Valor total mudanza</td>
                            <td align="center">{{presupuesto.monto_mudanza_hrsdirectas}}</td>
                            <td align="center">{{presupuesto.monto_mundanza_hrsoptimas}}</td>
                            <td align="center">

                                {% if presupuesto.monto_mundanza_revisada == 0 %}

                                    {{presupuesto.monto_mundanza_hrsoptimas}}

                                {% else %}

                                    {{presupuesto.monto_mundanza_revisada}}

                                {% endif %}

                            </td>
                        </tr>
                        <tr class="borderTop2px">
                            <td colspan="4">

                                {% if presupuesto.descuento_recargo == '-' %}

                                    Descuento

                                {% else %}

                                Recargo

                                {% endif %}

                            </td>
                            <td align="center">

                                {% if presupuesto.tipo_calculo == 'Basico' %}

                                    {{presupuesto.monto_descuento_recargo}}

                                {% else %}

                                 0.00

                                {% endif %}

                            </td>
                            <td align="center">

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                    {{presupuesto.monto_descuento_recargo}}

                                {% else %}

                                 0.00

                                {% endif %}

                            </td>
                            <td align="center">
                                {{presupuesto.monto_descuento_recargo}}
                            </td>
                        </tr>
                        <tr class="borderTop2px">
                            <td colspan="4">Valor total mudanza revisado</td>
                            <td align="center">{{presupuesto.mudanzamontorevisadotoerico}}</td>
                            <td align="center">{{presupuesto.mudanzamontorevisadooptimo}}</td>
                            <td align="center">

                                {% if presupuesto.tipo_calculo == 'Optimizado' %}

                                    {{presupuesto.mudanzamontorevisadooptimo}}

                                {% elif presupuesto.tipo_calculo == 'Basico' %}

                                    {{presupuesto.mudanzamontorevisadotoerico}}

                                {% else %}

                                        {{presupuesto.mudanzamontorevisado}}

                                {% endif %}

                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        {% endif %} <!-- end del if de verificación del permiso en presupuesto -->

        <tr>
            <td colspan="4" class="border-none">
                <h4>Detalles de los muebles</h4>

                <div class="row">
                    <div class="col-md-12">

                        {% for ambiente in ambientes %}

                        <div class="break-inside">
                            <h4>{{ambiente.ambiente}}</h4>
                            <table class="table table-hover table-condensed table-bordered" align="center">
                                <tr>
                                    <th width="80px">Cantidad</th>
                                    <th width="190px">Mueble</th>
                                    <th width="100px">Tamaño</th>
                                    <th width="100px">Ocupación</th>
                                    <th width="180px">Servicios</th>

                                    {% if perms.presupuesto_detalle.see_detallepresupuestoitem %}

                                    <th width="60px">Vol. (m<sup>3</sup>)</th>
                                    <th width="180px">Contenedores</th>
                                    <th width="60px">Trasl.</th>

                                     {% endif %} <!-- end del if de verificación del permiso en detalle presupuesto -->

                                </tr>

                                {% for det_mueble in detalle_list %}

                                {% if ambiente.ambiente = det_mueble.ambiente %}

                                <tr align="center">
                                    <td>
                                        {{ det_mueble.cantidad }}
                                    </td>
                                    <td>
                                        {{ det_mueble.mueble }}
                                    </td>
                                    <td>
                                        {{ det_mueble.tamano }} <br>
                                        ({{ det_mueble.ancho|floatformat:"0" }}x{{ det_mueble.largo|floatformat:"0" }}x{{ det_mueble.alto|floatformat:"0" }})
                                    </td>
                                    <td>{{ det_mueble.ocupacidad }}</td>
                                    <td>
                                        {% if servicio %}

                                        {% for det_servicio in servicio %}

                                        {% if det_servicio.detalle_presupuesto = det_mueble.id %}

                                        {{ det_servicio.servicio }}

                                        {% if forloop.last %}

                                        {% else %} -

                                        {% endif %}

                                        {% endif %}

                                        {% endfor %}

                                        {% endif %}

                                    </td>

                                    {% if perms.presupuesto_detalle.see_detallepresupuestoitem %}

                                    <td>{{det_mueble.volumen_mueble|floatformat:"2"}}</td>
                                    <td>

                                        {% if det_mueble.cantidad_contenedor > 0 %}

                                        {{ det_mueble.cantidad_contenedor }}

                                        {% if det_mueble.descripcion_contenedor|slice:":6" == 'Caja 4' %}

                                        {{det_mueble.descripcion_contenedor|slice:":4"}}{{ det_mueble.cantidad_contenedor|pluralize }} 40
                                        <br>

                                        {% elif det_mueble.descripcion_contenedor|slice:":6" == 'Caja g'%}

                                        {{det_mueble.descripcion_contenedor|slice:":4"}}{{ det_mueble.cantidad_contenedor|pluralize }} grande
                                        <br>

                                        {% else %}

                                        {{ det_mueble.descripcion_contenedor }}{{ det_mueble.cantidad_contenedor|pluralize }} <br>

                                        {% endif %}

                                        Contenido: {{ det_mueble.descripcion_contenido }} <br>
                                        {{det_mueble.peso_contenido|floatformat:"2"}} kg /
                                        {{ det_mueble.volumen_contenido|floatformat:"2" }} m<sup>3</sup>

                                        {% else %}
                                        -
                                        {% endif %}

                                    </td>
                                    <td>
                                        {{ det_mueble.trasladable|yesno:"Si,No" }}

                                    </td>

                                    {%endif%} <!-- end del if de verificación del permiso en detalle presupuesto -->

                                </tr>

                                {%endif%}

                                {% endfor %}

                            </table>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </td>
        </tr>

        {% if perms.presupuesto_servicio.see_servicioitem %}

        {% if servicio2 %}

        <tr>
            <td colspan="4" class="border-none">
                <h4>Detalles de los servicios</h4>
                <table class="table table-hover table-condensed table-bordered" align="center">
                    <tr>
                        <th width="23%">Servicio</th>
                        <th width="7%">Monto ($)</th>
                        <th width="9%">Duración</th>
                        <th width="22%">Material</th>
                        <th width="7%">Peso (Kg)</th>
                        <th width="7%">Vol. (m <sup>3</sup>)</th>
                        <th width="7%">Cantidad</th>
                        <th width="7%">Precio</th>
                        <th width="7%">Monto ($)</th>
                    </tr>

                    {% regroup servicio2 by servicio as servicio_list %}

                    {% for servicio in servicio_list %}

                    {% for item in servicio.list %}

                    <tr align="center">

                        {% if forloop.counter == 1 %}

                        <td rowspan="{{servicio.list|length}}">
                            {{ servicio.grouper }}
                        </td>
                        <td rowspan="{{servicio.list|length}}">
                            {{item.smontoserv}}
                        </td>
                        <td rowspan="{{servicio.list|length}}">
                            {% calular_horas item.stiempoa %}
                        </td>

                        {% endif %}

                        <td>
                            {{ item.material }}
                        </td>
                        <td>
                            {{ item.spesomat|floatformat:"2" }}
                        </td>
                        <td>
                            {{ item.svolmat|floatformat:"2" }}
                        </td>
                        <td>
                            {{ item.scantmat }} {{item.unidad_material}}
                        </td>
                        <td>
                            {{ item.precio_material }}
                        </td>
                        <td>
                            {{item.smontomat}}
                        </td>
                    </tr>

                    {% endfor %}

                    {% endfor %}

                    <tr align="center" class="borderTop2px">
                        <td>Totales</td>
                        <td>{{totales.montoservicio}}</td>
                        <td>{% calular_horas totales.tiemposervicio %}</td>
                        <td></td>
                        <td>{{totales.totalpesomateriales|floatformat:"2"}}</td>
                        <td>{{totales.totalvolumenmateriales|floatformat:"2"}}</td>
                        <td></td>
                        <td></td>
                        <td>{{totales.totalmontomateriales|floatformat:"2"}}</td>
                    </tr>

                </table>

            </td>
        </tr>

        {% else %}

        <tr>
            <td colspan="4">
                <div>
                    <h4>No se cargaron servicios a este presupuesto</h4>
                </div>
            </td>
        </tr>

        {% endif %}

        {%endif%} <!-- end del if de verificación del permiso en servicio -->

    </table>
</div>
<div class="alert alert-success msj notific displayNone" id="msjGuardado" role="alert">Guardado</div>

{% if messages %}

{% for message in messages %}

<script>
var msj = document.getElementById('msjGuardado');
$(msj).text('{{ message }}');
$(msj).fadeIn();
setTimeout(function() {
    $(msj).fadeOut();
}, 4000);
</script>

{% endfor %}

{% endif %}

{% endblock content1 %}

{% block ayuda %}

<div class="well well-lg">
    <p>el <strong>presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
