{% extends 'base_ficha.html' %}

{% block acceso_rapido %}

<a title="Volver" class="navbar-brand" role="button" aria-expanded="false" href="../../"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a title="Imprimir" class="navbar-brand" role="button" aria-expanded="false" onclick="window.print();"><span class="glyphicon glyphicon-print"></span></a>

{% block acceso_rapido_adicional %}{% endblock acceso_rapido_adicional %}

{% endblock acceso_rapido %}

{% block link_navegacion %}

<li class="linknav"><a href="#datos-personales" style="color:#777;">Datos personales

    {% if presupuesto.dni %}

    <span style="float:right;" class="glyphicon glyphicon-ok"></span>

    {% else %}

    <span style="float:right;" class="glyphicon glyphicon-minus"></span>

    {% endif %}

</a></li>
<li class="linknav"><a href="#direcciones" style="color:#777;">Direcciones y datos del inmueble

    {% if direccion_origen and direccion_destino %}

    <span style="float:right;" class="glyphicon glyphicon-ok"></span>

    {% else %}

    <span style="float:right;" class="glyphicon glyphicon-minus"></span>

    {% endif %}

</a></li>
<li class="linknav"><a href="#ambientes" style="color:#777;">Ambientes y muebles

    {% if lista_ambiente %}

    <span style="float:right;" class="glyphicon glyphicon-ok"></span>

    {% else %}

    <span style="float:right;" class="glyphicon glyphicon-minus"></span>

    {% endif %}

</a></li>
<a data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}" style="float:right;" class="">ver resumen</a>

{% if presupuesto.dni and direccion_origen and direccion_destino and lista_ambiente%}

{% endif %}

{% endblock link_navegacion %}

{% block titulo %}

<title>Ficha del presupuesto</title>

{% endblock titulo %}

{% block col1 %}

class="col-md-10"

{% endblock col1 %}

{% block content1 %}

<h3 id="datos-personales" style="border-bottom:1px solid #e7e7e7;">Datos personales
<a title="Editar datos personales" data-toggle="modal" data-target="#myModalDatosPersonales" data-opcion="../../editar/{{presupuesto.id}}/" data-numero="{{presupuesto.id}}" class="btn btn-default btn-xs botonmodalDatosPersonales hidden-print" data-toggletooltip="tooltip" data-placement="left" style="float:right!important;">Editar</a>
</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" id="myLabel">
            <div class="col-md-5">
                <h2>{{ presupuesto.nombre_cliente|capfirst }}</h2>
            </div>
            <div class="col-md-3">
                <h4>
                    <p><small>DNI: </small>{{ presupuesto.dni }}</p>
                    <p><small>Teléfono: </small>{{ presupuesto.telefono }}</p>
                    <p><small>Email: </small>{{ presupuesto.email }}</p>
                </h4>
            </div>
            <div class="col-md-4">
                <h4>
                    <p><small>N° presupuesto: </small>{{ presupuesto.id }}</p>
                    <p><small>Fecha presupuesto: </small>{{ presupuesto.fecha_creacion|date:"d/m/Y" }}</p>
                    <p><small>Fecha estimada de la mudanza: </small>{{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</p>
                </h4>
            </div>
        </div>

    </div>
</div><!--fin panel default datos basicos-->
<div id="direcciones" class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6" >

                <h3>Dirección de origen

                    {% if direccion_origen %}

                    {% for direc_origen in direccion_origen %}

                    <small style="float:right;" class="hidden-print btn-group btn-group-xs" role="group" aria-label="...">
                        <a data-toggle="modal" data-target="#myModalDireccion" title="Editar dirección de origen"  data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_origen.id %}?next={{request.get_full_path}}" class="btn btn-default botonmodalDireccion edit" id="{{direc_origen.id}}" data-numero="{{direc_origen.id}}">Editar</a>
                        <a title="Eliminar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_origen.id %}?next={{request.get_full_path}}"  class="btn btn-default botonmodalEliminar" data-toggle="modal" data-target=".eliminar">Eliminar</a>
                    </small>

                    {% endfor %}

                    {% else %}

                    <a data-toggle="modal" style="float:right;" data-target="#myModalDireccion" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Origen&pre={{presupuesto.id}}" title="Agregar dirección de origen" class="botonmodalDireccion btn btn-default btn-xs  hidden-print">Agregar dirección de origen</a>

                    {% endif %}

                </h3>
                <span id="direccion-origen">

                    {% for direc_origen in direccion_origen %}

                    <p style="padding:5px;">{{ direc_origen.direccion }}</p>

                    <table class="table table-condensed table-hover table-bordered" >
                        <tr>
                            <td><span style="color:#777;">Tipo de direccion del inmueble: </span></td>
                            <td>{{ direc_origen.tipo_inmueble }}</td>
                        </tr>
                        <tr>
                            <td><span style="color:#777;">Metros cuadrados del inmueble: </span></td>
                            <td>

                                {% if direc_origen.total_m2 = 240 %}

                                Más de

                                {% endif %}

                                {{ direc_origen.total_m2|floatformat:"0" }} m2

                            </td>
                        </tr>
                        <tr>
                            <td><span style="color:#777;">Ocupación del inmueble: </span> </td>
                            <td>{{ direc_origen.ocupacidad_inmueble }}</td>
                        </tr>
                        <tr>
                            <td><span style="color:#777;">Distancia del vehículo al inmueble: </span></td>
                            <td>

                                {% if direc_origen.distancia_vehiculo = 70 %}

                                Más de

                                {% endif %}

                                {{ direc_origen.distancia_vehiculo }} m.

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de

                                    {% if direc_origen.pisos > 1 %}

                                    pisos

                                    {% else %}

                                    piso

                                    {% endif %}

                                    del inmueble:
                                </span>
                            </td>
                            <td>{{ direc_origen.pisos }} {% if direc_origen.pisos > 1 %}

                                {% if direc_origen.pisos = 10 %}

                                o más pisos

                                {% else %}

                                pisos

                                {% endif %}

                                {% else %}

                                piso

                                {% endif %}
                            </td>
                        </tr>

                        {% if direc_origen.pisos_escalera = 0 %}

                        {% else %}

                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de

                                    {% if direc_origen.pisos_escalera > 1 %}

                                    Pisos

                                    {% else %}

                                    Piso

                                    {% endif %}

                                    a recorrer por escalera:
                                </span>
                            </td>
                            <td>{{ direc_origen.pisos_escalera }} {% if direc_origen.pisos_escalera > 1 %}

                                {% if direc_origen.pisos_escalera = 10 %}

                                o más pisos

                                {% else %}

                                pisos

                                {% endif %}

                                {% else %}

                                piso

                                {% endif %}
                            </td>
                        </tr>

                        {% endif %}

                        <tr>
                            <td>
                                <span style="color:#777;">Rampa del inmueble: </span>
                            </td>
                            <td>{{ direc_origen.rampa|yesno:"Si,No" }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#777;">Ascensor del inmueble : </span>
                            </td>
                            <td>{{ direc_origen.ascensor|yesno:"Si,No" }}</td>
                        </tr>

                        {% if direc_origen.pisos_ascensor = 0 %}

                        {% else %}

                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de pisos a recorrer por ascensor: </span>
                            </td>
                            <td>{{ direc_origen.pisos_ascensor }} {% if direc_origen.pisos_ascensor > 1 %}

                                {% if direc_origen.pisos_ascensor = 10 %}

                                o más pisos

                                {% else %}

                                pisos

                                {% endif %}

                                {% else %}

                                piso

                                {% endif %}
                            </td>
                        </tr>

                        {% endif %}

                        <tr>
                            <td>
                                <span style="color:#777;" style="color:#777;">Ascensor de servicio del inmueble: </span>
                            </td>
                            <td>{{ direc_origen.ascensor_servicio|yesno:"Si,No" }}</td>
                        </tr>

                        {% if direc_origen.pisos_ascensor_servicio = 0 %}

                        {% else %}

                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de pisos a recorrer por ascensor de servicio: </span>
                            </td>
                            <td>{{ direc_origen.pisos_ascensor_servicio }} {% if direc_origen.pisos_ascensor_servicio > 1 %}

                                {% if direc_origen.pisos_ascensor_servicio = 10 %}

                                o más pisos

                                {% else %}

                                pisos

                                {% endif %}

                                {% else %}

                                piso

                                {% endif %}
                            </td>
                        </tr>

                        {% endif %}

                    </table>

                    {% endfor %}

                </span>



            </div>

            <div class="col-md-6" >
                <h3>Dirección de destino

                    {% if direccion_destino %}

                    {% for direc_destino in direccion_destino %}

                    <small style="float:right;" class="hidden-print btn-group btn-group-xs">
                        <a data-toggle="modal" data-target="#myModalDireccion" title="Editar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{request.get_full_path}}" class="btn btn-default botonmodalDireccion edit" id="{{direc_destino.id}}" data-numero="{{direc_destino.id}}">Editar</a>
                        <a title="Eliminar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_destino.id %}?next={{request.get_full_path}}"  class="btn btn-default botonmodalEliminar" data-toggle="modal" data-target=".eliminar">Eliminar</a>
                    </small>

                    {% endfor %}

                    {% else %}

                    <a data-toggle="modal" data-target="#myModalDireccion" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Destino&pre={{presupuesto.id}}" title="Agregar dirección de destino" style="float:right;" class="botonmodalDireccion btn btn-default btn-xs hidden-print">Agregar dirección de destino</a>

                    {% endif %}

                </h3>
                <span id="direccion-destino">

                    {% for direc_destino in direccion_destino %}

                    <p style="padding:5px;">{{ direc_destino.direccion }}</p>
                    <table class="table table-condensed table-hover table-bordered" >
                        <tr>
                            <td>
                                <span style="color:#777;">Tipo de direccion del inmueble: </span>
                            </td>
                            <td>{{ direc_destino.tipo_inmueble }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#777;">Distancia del vehículo al inmueble: </span>
                            </td>
                            <td>
                                {% if direc_destino.distancia_vehiculo = 70 %}

                                Más de

                                {% endif %}

                                {{ direc_destino.distancia_vehiculo }} m.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de

                                    {% if direc_destino.pisos > 1 %}

                                    Pisos

                                    {% else %}

                                    Piso

                                    {% endif %}

                                    del inmueble:
                                </span>
                            </td>
                            <td>{{ direc_destino.pisos }} {% if direc_destino.pisos > 1 %}

                                {% if direc_destino.pisos = 10 %}

                                o más pisos

                                {% else %}

                                pisos

                                {% endif %}

                                {% else %}

                                Piso

                                {% endif %}
                            </td>
                        </tr>

                        {% if direc_destino.pisos_escalera = 0 %}

                        {% else %}

                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de

                                    {% if direc_destino.pisos_escalera > 1 %}

                                    Pisos

                                    {% else %}

                                    Piso

                                    {% endif %}

                                    a recorrer por escalera:
                                </span>
                            </td>
                            <td>{{ direc_destino.pisos_escalera }} {% if direc_destino.pisos_escalera > 1 %}

                                {% if direc_destino.pisos_escalera = 10 %}

                                o más pisos

                                {% else %}

                                pisos

                                {% endif %}

                                {% else %}

                                piso

                                {% endif %}
                            </td>
                        </tr>

                        {% endif %}

                        <tr>
                            <td>
                                <span style="color:#777;">Rampa del inmueble: </span>
                            </td>
                            <td>{{ direc_destino.rampa|yesno:"Si,No" }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#777;">Ascensor del inmueble: </span>
                            </td>
                            <td>{{ direc_destino.ascensor|yesno:"Si,No" }}</td>
                        </tr>

                        {% if direc_destino.pisos_ascensor = 0 %}

                        {% else %}

                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de pisos a recorrer por ascensor: </span>
                            </td>
                            <td>{{ direc_destino.pisos_ascensor }} {% if direc_destino.pisos_ascensor > 1 %}

                                {% if direc_destino.pisos_ascensor = 10 %}

                                o más pisos

                                {% else %}

                                Pisos

                                {% endif %}

                                {% else %}

                                Piso

                                {% endif %}

                            </td>
                        </tr>

                        {% endif %}

                        <tr>
                            <td>
                                <span style="color:#777;">Ascensor de servicio del inmueble: </span>
                            </td>
                            <td>{{ direc_destino.ascensor_servicio|yesno:"Si,No" }}</td>
                        </tr>

                        {% if direc_destino.pisos_ascensor_servicio = 0 %}

                        {% else %}

                        <tr>
                            <td>
                                <span style="color:#777;">Cantidad de pisos a recorrer por ascensor de servicio: </span>
                            </td>
                            <td>{{ direc_destino.pisos_ascensor_servicio }} {% if direc_destino.pisos_ascensor_servicio > 1 %}
                                {% if direc_destino.pisos_ascensor_servicio = 10 %}

                                o más pisos

                                {% else %}

                                Pisos

                                {% endif %}

                                {% else %}
                                Piso
                                {% endif %}
                            </td>
                        </tr>

                        {% endif %}
                    </table>
                    {% endfor %}
                </span>
            </div>
        </div><!--fin row de direcciones-->
    </div>
</div>
<style>
.controles{visibility: hidden;}
.tr-mueble:hover .controles{visibility: visible;}
.tr-mueble:hover .servicioStyle{background: #fff;}
.t-ambiente{cursor:pointer;font-size: 18px;width:83%;display:inline-block;padding:10px 1px;}
.btn-addmueble{float:right;cursor:pointer;z-index:1000;width:17%;text-align:center;margin-top: 10px;}
.servicioStyle{border: 1px solid #e7e7e7;background: #f5f5f5;border-radius: 5px;}
@media (max-width:992px) {
    .t-ambiente{width:70%;}
    .btn-addmueble{width:30%;}
}
</style>
<h3 id="ambientes" style="border-bottom:1px solid #e7e7e7;" >Detalle de muebles a mudar
    <small class="btn-group btn-group-xs" role="group" aria-label="..." style="float:right;">
    <a data-toggle="modal" data-target="#myModalAmbiente" title="Agregar ambiente" style="float:righ;" class="btn btn-default btn-sm botonmodalMueble hidden-print" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&amb={{ ambiente.ambiente }}" data-numero="ambienteFocus">Agregar mueble</a>
    <a id="addClass" style="cursor:pointer;display:none;" class="btn btn-default btn-sm hidden-print">Expandir</a>
    <a id="removeClass" style="cursor:pointer;" class="btn btn-default btn-sm hidden-print">Contraer</a>
    </small>
</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {% if lista_ambiente %}

    {% for ambiente in lista_ambiente %}


    <div class="panel panel-default">
        <div class="panel-heading" style="padding:0px 5px!important;">
            <h4 class="panel-title" >

                <a role="tab" class="t-ambiente" id="headingOne{{forloop.counter}}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne{{forloop.counter}}">{{ambiente.ambiente|upper}}</a>
                <a data-toggle="modal" data-target="#myModalAmbiente" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&amb={{ ambiente.ambiente }}" title="Agregar mueble al ambiente {{ambiente.ambiente|upper}}" class="btn btn-default btn-xs botonmodalMueble hidden-print btn-addmueble" data-numero="{{ ambiente.ambiente }}">Agregar otro mueble</a>

            </h4>

        </div>
        <div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse btn-colapsable in{% if forloop.first %}  {% endif %}" role="tabpanel" aria-labelledby="headingOne{{forloop.counter}}">
            <table class="table table-hover">
                <tr>
                    <td width="30%" style="margin-left:20px;">
                        <strong>&nbsp; &nbsp; &nbsp;Mueble</strong>
                    </td>
                    <td width="20%">
                        <strong>Tamaño/Ocupción</strong>
                    </td>
                    <td width="10%">
                        <strong>Dimensiones</strong>
                    </td>
                    <td width="30%">
                        <strong>Servicios</strong>
                    </td>
                    <td width="3.3333333%"></td>
                    <td width="3.3333333%"></td>
                    <td width="3.3333333%"></td>
                </tr>

                {% for mueble in detalle_list %}

                {% if ambiente.ambiente = mueble.ambiente %}

                <tr style="color:#777;" class="tr-mueble">
                    <td>&nbsp; &nbsp; &nbsp;{{mueble.mueble}}</td>
                    <td>{{ mueble.tamano }}/{{ mueble.ocupacidad }}</td>
                    <td>{{ mueble.ancho|floatformat:"0" }}x{{ mueble.largo|floatformat:"0" }}x{{ mueble.alto|floatformat:"0" }}</td>
                    <td>
                        <div class="">
                            <span style="color:#777;" id="listservi{{mueble.id}}">

                                {% regroup mueble.presupuesto_servicio_set.all by servicio as servicio_list %}
                                {% for det_servivio in servicio_list %}
                                <span class="{% if servicio %}servicioStyle{% endif %}" style="margin-left:5px;">
                                    {{ det_servivio.grouper }}
                                    {% for item in det_servivio.list %}
                                    {% if forloop.first %}
                                    <a title="Eliminar {{ det_servivio.grouper }}" style="font-size:10px;color:#777;cursor:pointer;" data-opcion="{% url 'upresupuestos:PresupuestoServicioDelete' item.id %}?next={{request.get_full_path}}" class="hidden-print glyphicon glyphicon-remove botonmodalEliminar" data-toggletooltip="tooltip" data-placement="left" data-toggle="modal" data-target=".eliminar"></a>
                                    {% endif %}
                                    {% endfor %}

                                </span>

                                {% endfor %}

                            </span>
                        </div>
                    </td>
                    <td>
                        <a title="Agregar servicio al mueble {{mueble.mueble|lower}}" style="float:right;cursor:pointer;padding:0px 0px 8px 8px;" data-toggle="modal" data-target="#myModalServicio" data-opcion="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{request.get_full_path}}&pre={{ mueble.id }}" data-name="{{mueble.mueble|lower}}" class="controles glyphicon-asterisk glyphicon glyphicon-plus botonmodalServicio hidden-print" data-toggletooltip="tooltip" data-placement="left"></a>
                    </td>
                    <td>
                        <a style="padding:0px 0px 8px 16px;float:right;cursor:pointer;" title="Editar {{mueble.mueble|lower}}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleUpdate' mueble.id %}?next={{request.get_full_path}}" style="float:righ;" class="controles botonmodalMueble glyphicon glyphicon-edit hidden-print" data-toggletooltip="tooltip" data-placement="left" data-toggle="modal" data-target="#myModalAmbienteEditar"></a>
                    </td>
                    <td width="">
                        <a title="Eliminar {{mueble.mueble|lower}}" style="padding:0px 0px 8px 8px;float:right;cursor:pointer;" data-opcion="{% url 'upresupuestos:PresupuestoDetalleDelete' mueble.id %}?next={{request.get_full_path}}" data-numero="{{mueble.id}}"  class="controles botonmodalEliminar glyphicon glyphicon-remove hidden-print" data-toggletooltip="tooltip" data-placement="left" data-toggle="modal" data-target=".eliminar"></a>
                    </td>
                </tr>

                {% endif %}

                {% endfor %}

            </table>
        </div>
    </div>

    {% endfor %}

    {% endif %}

</div><!--fin acordion-->
<div style="display:block;height:600px;width:100%;"></div>
<!--modal eliminar-->
<div class="modal fade eliminar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" id="cerrarEliminar" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">

                    Eliminar

                </h4>
            </div>
      <iframe class="id_opcionEliminar" id="" src="" width="100%" height="170" scrolling="no" frameborder="0" seamless>
            <p>Texto alternativo para navegadores que no aceptan iframes.</p>
      </iframe>
    </div>
  </div>
</div>
<!-- Modal finalizar presupuesto preguntar si hay servicio-->
<div class="modal fade fpresupuestoServicio" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">Presupuesto
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel2"></h4>
            </div>
            <div class="modal-body">

                {% if not servicio %}
                <p>¿Desea agragar servicio a los muebles?</p>

                {% else %}
                <p>¿Enviar presupuesto?</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if not servicio %}
                <a href="#ambientes" data-dismiss="modal" class="btn btn-default">Si</a>
                <button type="button" data-dismiss="modal" data-toggle="modal" data-target=".fpresupuesto" class="btn btn-default">No</button>
                {% else %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-default">Enviar</button>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<!-- Modal finalizar presupuesto-->
<div class="modal fade fpresupuesto" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel3">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">Resumen del presupuesto
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel3"></h4>
            </div>
            <div class="modal-body">
                <p>¿Enviar presupuesto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-default">Enviar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal agregar direccion-->
<div class="modal fade" id="myModalDireccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrardir">
                    <span aria-hidden="true">&times;</span>
                </button>
                <iframe class="id_opcionDireccion" id="" src="" width="100%" height="575" scrolling="auto" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal agregar servicio-->
<div class="modal fade" id="myModalServicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel44">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">Agregar servicio al mueble <span id="name-mueble"></span></h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionServicio" src="{% url 'upresupuestos:PresupuestoServicioView' %}" width="100%" height="380" scrolling="no" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal agregar mueble-->
<div class="modal fade bs-example-modal-lg" id="myModalAmbiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarmueble">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Agregar detalle del presupuesto</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionMueble" src="" width="100%" height="390" scrolling="no" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal editar mueble-->
<div class="modal fade" id="myModalAmbienteEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarmuebleEdit">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Editar detalle del presupuesto</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionMueble" src="" id="" width="100%" height="390" scrolling="no" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal editar datos personales-->
<div class="modal fade" id="myModalDatosPersonales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel44">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-cerrarDatosPersonales">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">Editar datos personales</h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionDatosPersonales" id="" src="" width="100%" height="340" scrolling="auto" frameborder="0" seamless>
                    <p>Texto alternativo para navegadores que no aceptan iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<div title="Click para Cerrar" id="carga" style="cursor:pointer;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:inset yellow 0px 0px 14px;background-position:center;background-size:100%;background-color:#111111;width:300px;color:#fff;text-align:center;height:100px;padding:52px 12px 12px 12px;position:fixed;top:30%;left:40%;z-index:6;display:none;">PROCESANDO...</div>

<script>
window.onload=cerrar;
function cerrar(){
$("#carga").animate({"opacity":"0"},1000,function(){$("#carga").css("display","none");});
}
$("#carga").click(function(){cerrar();});


// Autor: @jqcaper
// Configuraciones Generales
var nombre_tabla = "#acordion"; // id
var nombre_boton_eliminar = ".botonmodal"; // Clase
var nombre_formulario_modal = "#myModalServicio"; //id

// Fin de configuraciones
//
$(".botonmodalEliminar").on('click',function(evento){
    evento.preventDefault();
    var opcion = $(this).data('opcion');
    var numero = $(this).data('numero');
    $('.id_opcionEliminar').attr('src', opcion);
    $('.id_opcionEliminar').attr('id', numero);
});
$(".botonmodalServicio").on('click',function(evento){
    evento.preventDefault();
    var opcion = $(this).data('opcion');
    var name = $(this).data('name');
    $('.id_opcionServicio').attr('src', opcion);
    $('#name-mueble').text(name);
});
$(".botonmodalDireccion").on('click',function(ev){
    ev.preventDefault();
    var numero = $(this).data('numero');
    var opcion = $(this).data('opcion');
    $('.id_opcionDireccion').attr('src', opcion);
    $('.id_opcionDireccion').attr('id', numero);
});
$(".botonmodalMueble").on('click',function(eve){
    eve.preventDefault();
    var numero = $(this).data('numero');
    var opcion = $(this).data('opcion');
    $('.id_opcionMueble').attr('src', opcion);
    $('.id_opcionMueble').attr('id', numero);
});
$(".botonmodalDatosPersonales").on('click',function(even){
    even.preventDefault();
    var numero = $(this).data('numero');
    var opcion = $(this).data('opcion');
    $('.id_opcionDatosPersonales').attr('src', opcion);
    $('.id_opcionDatosPersonales').attr('id', numero);
});
</script>
<script>


$(document).ready(function() {
//    setInterval(
//    function contador(){
//    var ancho = $(window).width();
 //   $('#ancho').html(ancho + 'px');
//    if(ancho < 992){
//        //alert('992')
//    }
//}
//,500);


    $(function () {
        $('[data-toggletooltip="tooltip"]').tooltip()
    })
    document.getElementById('id_body').setAttribute('data-spy','scroll');
    document.getElementById('id_body').setAttribute('data-target','#navbar-example');
    document.getElementById('id_body').setAttribute('data-offset','70');
    $(function(){
//clic en un enlace de la lista
$('.linknav a').on('click',function(e){
//prevenir en comportamiento predeterminado del enlace
e.preventDefault();
//obtenemos el id del elemento en el que debemos posicionarnos
var strAncla=$(this).attr('href');

//utilizamos body y html, ya que dependiendo del navegador uno u otro no funciona
$('body,html').stop(true,true).animate({
//realizamos la animacion hacia el ancla
//-126 indica que baja el scroll 126px que es la altura de la cabecera para que se coloque correctamente
scrollTop: $(strAncla).offset().top-70
},1000);
});
$('.modal-footer a').on('click',function(e){
//prevenir en comportamiento predeterminado del enlace
e.preventDefault();
//obtenemos el id del elemento en el que debemos posicionarnos
var strAncla=$(this).attr('href');

//utilizamos body y html, ya que dependiendo del navegador uno u otro no funciona
$('body,html').stop(true,true).animate({
//realizamos la animacion hacia el ancla
//-126 indica que baja el scroll 126px que es la altura de la cabecera para que se coloque correctamente
scrollTop: $(strAncla).offset().top-70
},1000);
});
});

});
</script>

{% endblock content1 %}

{% block ayuda %}

<div class="">
    <p>
        Se llama <strong>presupuesto</strong> al cálculo y negociación anticipado de los ingresos y egresos de una actividad económica.  Es un plan de acción dirigido a cumplir una meta prevista, expresada en valores y términos financieros que debe cumplirse en determinado tiempo y bajo ciertas condiciones previstas.
    </p>
    <p>
        Puede solicitar su presupuesto con 3 simples  pasos.
        <ul>
            <li>Paso 1 complete los datos personales y fecha de la mudanza.</li>
            <li>Paso 2 complete las direcciones y datos de los inmuebles.</li>
            <li>Paso 3 complete los ambientes y muebles a trasladar con sus servicios.</li>
        </ul>
        Luego presione finalizar presupuesto para calcular los datos y enviarle un correo con el presupuesto.
    </p>
</div>

{% endblock ayuda %}

