{% extends "base_modal_form.html" %}

{% block formulario %}

<form action="" method="post" id="myform" name="myform2">

  {% csrf_token %}

  <div class="form-group campo">

    {{form.as_p}}

    <input type="text" id="capacidadmueble">
    <input type="text" id="volmaterial">
    <input type="text" id="pesomaterial">
    <p id="msjcontenedor"></p>
  </div>

  {{form_data}}

  <button type="submit" class="btn btn-default">Registrar</button>
  <button class="btn btn-default" data-dismiss="modal" id="btn-cancelar" type="button">Cancelar</button>
  <br>
</form>

{% endblock formulario %}

{% block style %}

<link rel="stylesheet" href="/static/css/presupuestoForm/preDetalle.css">

{% endblock style %}

{% block js_form %}

<script src="/static/js/presupuestoForm/preDetalle.js"></script>

<script>
var densidadBaja = 0
var densidadMedia = 0
var densidadAlta = 0
var densidadMuyAlta = 0

$('input[name=lista_ocupacion]').click(function() {
  radioColorOcupacion()
});

radioColorOcupacion()

$('input[name=lista_tamano]').click(function() {
  radioColorTamano()
});

radioColorTamano()

setTimeout(function() {
  var idAmbinete = $(parent.document.getElementsByClassName(
    "id_opcionMueble")).attr('id');
  if (idAmbinete=="ambienteFocus") {
    document.getElementById('id_lista_ambiente').focus();
  } else {
    document.getElementById('id_lista_mueble').focus();
    document.getElementById('id_lista_ambiente').disabled = true;
  }
}, 500);

$(document).ready(function() {
  $("#id_lista_ambiente").on("change", function() {
    id_lista_ambiente = $("#id_lista_ambiente").val();
    $("#id_ambiente").val(id_lista_ambiente);
    $.get('/presupuesto/detalle/nuevo',
      {id_lista_ambiente: id_lista_ambiente},
      function(data) {
        $("#id_ambiente").val(data[0].ambiente);
      });
  });

  $("#id_lista_mueble").on("change", function() {
    id_lista_mueble = $("#id_lista_mueble").val();
    $.get('/presupuesto/detalle/nuevo',
      {id_lista_mueble: id_lista_mueble},
      function(data) {
        $("#id_mueble").val(data[0].mueble);
        $("#id_ocupacidad").val(data[0].descripocupacion);
        $("#id_valor_ocupacidad").val(data[0].valorocupacion);
        $("#id_lista_ocupacion").val(data[0].ocupacion);
        $("#capacidadmueble").val(data[0].capacidadmueble);
        $("#volmaterial").val(data[0].vol_contenedor);
        $("#id_capacidad_volumen_contenedor").val(data[0].capacidadvolcontenedor);
        $("#id_capacidad_peso_contenedor").val(data[0].capacidadpesocontenedor);
        $("#id_descripcion_contenedor").val(data[0].descripcioncontenedor);
        $("#pesomaterial").val(data[0].peso_contenedor);
        $("#id_tamano").val(data[0].tamano);
        $("#id_descripcion_contenido").val(data[0].descripcioncontenido);
        densidadBaja = (data[0].densidadbajacontenido);
        densidadMedia = (data[0].densidadmediacontenido);
        densidadAlta = (data[0].densidadaltacontenido);
        densidadMuyAlta = (data[0].densidadmuyaltacontenido);
        $("#id_densidadcontenido").val(densidadMedia);
        $("#id_descripcion_densidadcontenido").val('Media');

        lista_ocupacion = $("input[name=lista_ocupacion]");
        for(var i=0; i<lista_ocupacion.length; i++) {
          if (data[0].ocupacion==lista_ocupacion[i].value) {
            $(lista_ocupacion[i]).attr("checked","checked");
            radioColorOcupacion()
          }
        }
        if (data[0].trasladable == true) {
          document.getElementById("id_trasladable").checked = true;
        } else {
          document.getElementById("id_trasladable").checked = false;
        }

        lista_tamano = $("input[name=lista_tamano]");
        for(var i=0; i<lista_tamano.length; i++) {
          if (data[0].lista_tamano==lista_tamano[i].value) {
            $('#id_lista_tamano_' + i).click();
            volumen = calcular_volumen($("#id_ancho").val(), $(
            "#id_largo").val(), $("#id_alto").val(), $("#id_cantidad").val());
            $("#id_volumen_mueble").val(volumen);
            radioColorTamano()
          }
        }
      });
  });

  $("#id_lista_tamano").on("change", function() {
    id_lista_tamano = $('input[name=lista_tamano]:checked').val();
    id_lista_mueble = $("#id_lista_mueble").val();
    $.get('/presupuesto/detalle/nuevo',
      {id_lista_tamano: id_lista_tamano, id_lista_mueble: id_lista_mueble},
      function(data) {
        $("#id_tamano").val(data[0].tamano);
        $("#id_ancho").val(data[0].ancho);
        $("#id_largo").val(data[0].largo);
        $("#id_alto").val(data[0].alto);
        volumen = calcular_volumen($("#id_ancho").val(), $(
          "#id_largo").val(), $("#id_alto").val(), $("#id_cantidad").val());
        $("#id_volumen_mueble").val(volumen);
        calculoscontenido();
        $("#msjcontenedor").text("Peso del contenido: " +
          $("#id_peso_contenido").val() +
          "kg número de contenedores " +
          $("#id_cantidad_contenedor").val());
      });
  });

  $("input[name=lista_ocupacion]").click(function () {
    id_ocupacion = $('input[name=lista_ocupacion]:checked').val();
    id_lista_mueble = $("#id_lista_mueble").val();
    $.get('/presupuesto/detalle/nuevo',
      {id_ocupacion: id_ocupacion, id_lista_mueble: id_lista_mueble},
      function(data) {
        $("#id_ocupacidad").val(data[0].ocupacion);
        $("#id_valor_ocupacidad").val(data[0].valorocupacion);
        $("#volmaterial").val(data[0].vol_contenedor);
        $("#id_capacidad_volumen_contenedor").val(data[0].capacidadvolcontenedor);
        $("#id_capacidad_peso_contenedor").val(data[0].capacidadpesocontenedor);
        $("#id_descripcion_contenedor").val(data[0].descripcioncontenedor);
        $("#pesomaterial").val(data[0].peso_contenedor);
        $("#id_descripcion_contenido").val(data[0].descripcioncontenido);
        densidadBaja = (data[0].densidadbajacontenido);
        densidadMedia = (data[0].densidadmediacontenido);
        densidadAlta = (data[0].densidadaltacontenido);
        densidadMuyAlta = (data[0].densidadmuyaltacontenido);

        if ($('#id_descripcion_densidadcontenido').val() == 'Baja') {
          $("#id_densidadcontenido").val(densidadBaja)
        } else if ($('#id_descripcion_densidadcontenido').val() == 'Media') {
          $("#id_densidadcontenido").val(densidadMedia);
        } else if ($('#id_descripcion_densidadcontenido').val() == 'Alta') {
          $("#id_densidadcontenido").val(densidadAlta);
        } else if ($('#id_descripcion_densidadcontenido').val() == 'Muy alta'){
          $("#id_densidadcontenido").val(densidadMuyAlta);
        }

        if (data[0].ocupacion == 'Vacío') {
          $("#id_descripcion_contenido").val('Sin contenido');
        }
        calculoscontenido();
        $("#msjcontenedor").text("Peso del contenido: " +
          $("#id_peso_contenido").val() +
          "kg número de contenedores " +
          $("#id_cantidad_contenedor").val());
      });
  });

  $('#id_ancho').on('change', function() {
    volumen = calcular_volumen($(this).val(), $(
      "#id_largo").val(), $("#id_alto").val(), $("#id_cantidad").val());
    $("#id_volumen_mueble").val(volumen);
    calculoscontenido();
    $("#msjcontenedor").text("Peso del contenido: " +
      $("#id_peso_contenido").val() +
      "kg número de contenedores " +
      $("#id_cantidad_contenedor").val());
  });

  $('#id_largo').on('change', function() {
    volumen = calcular_volumen($("#id_ancho").val(), $(
      this).val(), $("#id_alto").val(), $("#id_cantidad").val());
    $("#id_volumen_mueble").val(volumen);
    calculoscontenido();
    $("#msjcontenedor").text("Peso del contenido: " +
      $("#id_peso_contenido").val() +
      "kg número de contenedores " +
      $("#id_cantidad_contenedor").val());
  });

  $('#id_alto').on('change', function() {
    volumen = calcular_volumen($("#id_ancho").val(), $(
      "#id_largo").val(), $(this).val(), $("#id_cantidad").val());
    $("#id_volumen_mueble").val(volumen);
    calculoscontenido();
    $("#msjcontenedor").text("Peso del contenido: " +
      $("#id_peso_contenido").val() +
      "kg número de contenedores " +
      $("#id_cantidad_contenedor").val());
  });

  $("#id_cantidad").on('change', function() {
    // al cambiar la cantidad de muebles se recalcula el volumen del contenido y todo los calculos posteriores al él
    volumen = calcular_volumen($("#id_ancho").val(), $(
      "#id_largo").val(), $("#id_alto").val(), $("#id_cantidad").val());
    $("#id_volumen_mueble").val(volumen);
    calculoscontenido();
    $("#msjcontenedor").text("Peso del contenido: " +
      $("#id_peso_contenido").val() +
      "kg número de contenedores " +
      $("#id_cantidad_contenedor").val());
  });

  $("#id_descripcion_contenido").change(function() {
    id_descripcion_contenido = $("#id_descripcion_contenido").val();
    $.get('/presupuesto/detalle/nuevo',
      {id_descripcion_contenido: id_descripcion_contenido},
      function(data) {
        densidadBaja = (data[0].densidadbajacontenido);
        densidadMedia = (data[0].densidadmediacontenido);
        densidadAlta = (data[0].densidadaltacontenido);
        densidadMuyAlta = (data[0].densidadmuyaltacontenido);
        $("#id_densidadcontenido").val(densidadMedia);
        $("#id_descripcion_densidadcontenido").val('Media');
        calculoscontenido();
        $("#msjcontenedor").text("Peso del contenido: " +
          $("#id_peso_contenido").val() +
          "kg número de contenedores " +
          $("#id_cantidad_contenedor").val());
      });
  });

  $('#id_descripcion_densidadcontenido').change(function() {
    if ($('#id_descripcion_densidadcontenido').val() == 'Baja') {
      $("#id_densidadcontenido").val(densidadBaja)
    } else if ($('#id_descripcion_densidadcontenido').val() == 'Media') {
      $("#id_densidadcontenido").val(densidadMedia);
    } else if ($('#id_descripcion_densidadcontenido').val() == 'Alta') {
      $("#id_densidadcontenido").val(densidadAlta);
    } else if ($('#id_descripcion_densidadcontenido').val() == 'Muy alta'){
      $("#id_densidadcontenido").val(densidadMuyAlta);
    }
    calculoscontenido();
    $("#msjcontenedor").text("Peso del contenido: " +
      $("#id_peso_contenido").val() +
      "kg número de contenedores " +
      $("#id_cantidad_contenedor").val());
  });

//obj = document.getElementById("id_descripcion_contenedor");

 $("#id_descripcion_contenedor").change(function() {
    id_descripcion_contenedor = $("#id_descripcion_contenedor").val();
    $.get('/presupuesto/detalle/nuevo',
      {id_descripcion_contenedor: id_descripcion_contenedor},
      function(data) {
        $("#volmaterial").val(data[0].vol_contenedor);
        $("#pesomaterial").val(data[0].peso_contenedor);
        $("#id_capacidad_volumen_contenedor").val(data[0].capacidadvolcontenedor);
        $("#id_capacidad_peso_contenedor").val(data[0].capacidadpesocontenedor);
      });
      calculoscontenido();
      $("#msjcontenedor").text("Peso del contenido: " +
        $("#id_peso_contenido").val() +
        "kg número de contenedores " +
        $("#id_cantidad_contenedor").val());
  });
  // ev = document.createEvent('Event');
  // ev.initEvent('change', true, false);
  // obj.dispatchEvent(ev);

  $("#id_descripcion_contenedor").on("focusout", function() {
    calculoscontenido();
    $("#msjcontenedor").text("Peso del contenido: " +
      $("#id_peso_contenido").val() +
      "kg número de contenedores " +
      $("#id_cantidad_contenedor").val());
  });

  function calculoscontenido() {
    volcontenido = calcular_volcontenido($(
      "#capacidadmueble").val(), $(
      "#id_volumen_mueble").val(), $(
      "#id_valor_ocupacidad").val(), $(
      "#id_cantidad").val());
    $("#id_volumen_contenido").val(volcontenido);

    peso_contenido = calcular_pesocontenido($(
      "#id_volumen_contenido").val(), $(
      "#id_densidadcontenido").val());
    $("#id_peso_contenido").val(peso_contenido);

    cant_contenedor = calcular_cantidadcontenedor($(
      "#id_volumen_contenido").val(), $(
      "#id_capacidad_volumen_contenedor").val(), $(
      "#id_peso_contenido").val(), $(
      "#id_capacidad_peso_contenedor").val());
    $("#id_cantidad_contenedor").val(cant_contenedor);

    volcontenedor = calcular_volcontenedor($(
      "#id_cantidad_contenedor").val(), $(
      "#volmaterial").val());
    $("#id_volumen_contenedor").val(volcontenedor);

    pesocontenedor = calcular_pesocontenedor($(
      "#id_cantidad_contenedor").val(),$(
      "#pesomaterial").val());
    $("#id_peso_contenedor").val(pesocontenedor);
  }

  $('#myform').submit(function() {
    document.getElementById('id_lista_ambiente').disabled = false;
    var action = "{% url 'upresupuestos:PresupuestoDetalleView' %}";
    var that = $(this);
    $.ajax( {
      url: action,
      type: 'POST',
      data: that.serialize()
      ,success: function(data) {
        var modalp = parent.document.getElementById('myModalAmbiente');
        var divp = parent.document.getElementsByClassName("modal-backdrop");
        var bodyp = parent.document.getElementById('id_body');
        var closep = parent.document.getElementById("btn-cerrarModal");
        var guardar = parent.document.getElementById("msjGuardado");
        if (data.estatus=="ok") {
          $(closep).click();
          $(guardar).css('width','300px');
          $(guardar).text('Mueble guardado con exito');
          $(guardar).fadeIn();
          setTimeout(function() {
            parent.location.reload();
          }, 1000);
        }
      }
    });
    return false;
  });

  $('#btn-cancelar').click(function() {
    cerrarModal(parent.document.getElementById('btn-cerrarModal'),
      parent.document.getElementById('msjEliminado')
      );
  });

});
</script>
<script type="text/javascript">
function refresh() {
  var id_presupuesto = $("#id_presupuesto").val();
  $.ajax( {
    url: "/presupuesto/ficha/detalle/"+ id_presupuesto,
    success: function(data) {
      var divs = parent.document.getElementById('accordion');
      $(divs).html(data);
    }
  });
}
</script>
<script>
function calcular_volumen(ancho, largo, alto, cantidadmueble) {
  var resultado = 0;
  resultado= (ancho*largo*alto)/1000000;
  resultado = resultado * cantidadmueble;
  return resultado.toFixed(3);
}

function calcular_volcontenido(cap_mueble, vol_mueble, ocupacidad, cantidadmueble) {
  var resultado = 0;
  resultado= (cap_mueble*vol_mueble*ocupacidad*cantidadmueble);
  return resultado.toFixed(3);
}

function calcular_pesocontenido(vol_contenido, densidadcontenido) {
  var resultado = 0;
  resultado= (vol_contenido*densidadcontenido)
  return resultado.toFixed(3);
}

function calcular_cantidadcontenedor(vol_contenido, cap_volcontenedor, peso_contenido, cap_pesocontenedor) {
  var resultado = 0;
  var cant_volumen = 0;
  var cant_peso = 0;

  cant_volumen = (vol_contenido/cap_volcontenedor);
  cant_volumen = Math.ceil(cant_volumen);
  cant_peso = (peso_contenido/ cap_pesocontenedor);
  cant_peso = Math.ceil(cant_peso);

  if (cant_volumen > cant_peso) {
    resultado = cant_volumen;
  } else {
    resultado = cant_peso;
  }
  return resultado;
}

function calcular_volcontenedor(cant_contenedor, vol_material) {
  var resultado = 0;
  resultado= (cant_contenedor*vol_material);
  return resultado.toFixed(3);
}

function calcular_pesocontenedor(cant_contenedor, peso_material) {
  var resultado = 0;
  resultado= (cant_contenedor*peso_material)
  return resultado.toFixed(3);
}
</script>

{% endblock js_form %}
