  {% extends 'base_ficha.html' %}

  {% block titulo %}

  <title>Presupuesto</title>

  {% endblock titulo %}

  {% block titulo_tabla %}

  <h2>detalle presupuesto</h2>

  {% endblock titulo_tabla %}

  {% block content1 %}

  <div class="panel panel-default">
    <p>Hoy es: {{ now|date }}</p>
    <table class="table table-hover">
      <tr>
        <td>
          <strong>Nro item: </strong>
          {{ detallepresupuesto.id }}
          <strong>Ambiente: </strong>
          {{ detallepresupuesto.ambiente }}<br>
          <strong>mueble: </strong>
          {{ detallepresupuesto.mueble }}<br>
          <strong>tamaño: </strong>
          {{ detallepresupuesto.tamano }}<br>
          <strong>ancho: </strong>
          {{ detallepresupuesto.ancho }}<br>
          <strong>largo:</strong> {{ detallepresupuesto.largo }}<br>
          <strong>alto:</strong> {{ detallepresupuesto.alto }}<br>
          <strong>ocupacidad:</strong> {{ detallepresupuesto.ocupacidad }}<br>
          <strong>valor ocupacidad:</strong> {{ detallepresupuesto.valor_ocupacidad }}<br>
          <strong>cantidad_contenedo:</strong> {{ detallepresupuesto.cantidad_contenedo }}<br>
          <strong>volumen contenido:</strong> {{ detallepresupuesto.volumen_contenido }}<br>
          <strong>volumen contenedor:</strong> {{ detallepresupuesto.volumen_contenedor }}<br>
          <strong>volumen_mueble:</strong> {{ detallepresupuesto.volumen_mueble }}<br>
          <strong>capacidad_peso_contenedor:</strong> {{ detallepresupuesto.capacidad_peso_contenedor }}<br>
          <strong>capacidad_volumen_contenedor:</strong> {{ detallepresupuesto.capacidad_volumen_contenedor }}<br>
          <strong>peso_contenido: {{ detallepresupuesto.peso_contenido }}<br>
            <strong>peso_contenedor: {{ detallepresupuesto.peso_contenedor }}<br>
            </td>
            <td colspan="2">
            </td>
            <td>
              <a title="Editar cliente" data-toggle="tooltip" data-placement="right" href="../../editar/{{detallepresupuesto.id}}/" class="glyphicon-asterisk glyphicon glyphicon-edit floatRight"></a>
            </td>
          </tr>

          <tr>
            <td class="">
              <strong>Descripcion servicios y materiales </strong>
              <a href="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{request.get_full_path}}&pre={{ det_mueble.id }}">Agregar servicio</a>
              <br>
              {% for det_servicio in  servicio_list %}
              servicio: {{ det_servicio.servicio }}<br>
              tarifa: {{ det_servicio.tarifa }}
              <p>
                <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&serv={{ det_servicio.servicio }}" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                <span>
                  <strong>material: </strong>
                  {{ det_servicio.material }}<br>
                  monto: {{ det_servicio.monto_material }}<br>
                  volumen: {{ det_servicio.volumen_material }}<br>
                  peso: {{ det_servicio.peso_material }}<br>
                </span>
              </p>
              <p>
                <small>
                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoServicioUpdate' det_servicio.id %}?next={{request.get_full_path}}" class="glyphicon-asterisk glyphicon glyphicon-edit fichaClienteCon"></a>
                  <a href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}'); return false" class="glyphicon glyphicon-remove fichaClienteCon"></a>
                </small>
              </p>

              {% endfor %}

            </td>
            <td width="80px"></td>
            <td width="80px"></td>
            <td width="80px">
              <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
            </td>
          </tr>

        </table>
      </div>
      {% endblock content1 %}

      {% block ayuda %}

      <div class="well well-lg">
        <p>La <strong>Cotizacion</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
      </div>

      {% endblock ayuda %}

