{% extends 'base_lista.html' %}

{% block titulo %}

<title>Finalizar solicitud</title>

{% endblock titulo %}

{% block cuerpo_tabla %}

<div class="panel panel-default">
  <div class="panel-heading"><h2>¡Presupuesto finalizado!</h2></div>
  <div class="panel-body">
    <p>¡Su solicitud ha sido registrada!</p>
    <p>Muy pronto nuestros ejecutivos estarán en contacto con usted.</p>
    <p>Agradecemos su solicitud.</p>
  </div>
</div>

{% endblock cuerpo_tabla %}

{% block ayuda %}

<div class="well well-lg">
  <p>Gracias por su solicitud. Muy pronto nuestros ejecutivos estarán en contacto con usted.</p>
</div>

{% endblock ayuda %}

