{% extends "base_modal_form.html" %}

{% block formulario %}

<form action="" method="post" id="myform" name="myform2">

  {% csrf_token %}

  <div class="form-group campo">

    {% for i in form %}

    <span  class="campo{{forloop.counter0}}"><label for="{{ i.id_for_label }}">{{i.label}}</label> {{i}}</span>

    {% endfor %}

    <input type="text" id="capacidadmueble">
    <input type="text" id="densidadcontenido">
    <input type="text" id="volmaterial">
    <input type="text" id="pesomaterial">
  </div>

  {{form_data}}

  <button type="submit" class="btn btn-default" style="float:right;">Agregar</button>
  <br>
</form>

{% endblock formulario %}

{% block style %}

<link rel="stylesheet" href="/static/css/presupuestoForm/preDetalle.css">

{% endblock style %}

{% block js_form %}

<script src="/static/js/presupuestoForm/preDetalle.js"></script>
<script>

$('#id_lista_ocupacion li label').addClass('btn-radio');
$('#id_lista_tamano li label').addClass('btn-radio');
$('input[name=lista_ocupacion]').click(function(){
  radioColorOcupacion()
});
  radioColorOcupacion()
$('input[name=lista_tamano]').click(function(){
  radioColorTamano()
});
  radioColorTamano()

//$('label[for=id_lista_ocupacion_0]');
//document.getElementByFor('id_lista_ocupacion_0').setAttribute('id','scroll');
//document.getElementById('id_body').setAttribute('data-spy','scroll');

setTimeout(function() {
  var idAmbinete = $(parent.document.getElementsByClassName("id_opcionMueble")).attr('id');
  if (idAmbinete=="ambienteFocus"){
    document.getElementById('id_lista_ambiente').focus();
  }else{
    document.getElementById('id_lista_mueble').focus();
    document.getElementById('id_lista_ambiente').disabled = true;
  }
},500);
$(document).ready(function(){
  $("#id_lista_ambiente").on("change", function(){
    id_lista_ambiente = $("#id_lista_ambiente").val();
    $("#id_ambiente").val(id_lista_ambiente);
    $.get('/presupuesto/detalle/nuevo',
      {id_lista_ambiente: id_lista_ambiente},
      function(data){
        $("#id_ambiente").val(data[0].ambiente);
      });
  });

  $("#id_lista_mueble").on("change", function(){
    id_lista_mueble = $("#id_lista_mueble").val();
    $.get('/presupuesto/detalle/nuevo',
      {id_lista_mueble: id_lista_mueble},
      function(data){
        $("#id_mueble").val(data[0].mueble);
        $("#id_ocupacidad").val(data[0].descripocupacion);
        $("#id_valor_ocupacidad").val(data[0].valorocupacion);
        $("#id_lista_ocupacion").val(data[0].ocupacion);
        $("#capacidadmueble").val(data[0].capacidadmueble);
        $("#densidadcontenido").val(data[0].densidadcontenido);
        $("#volmaterial").val(data[0].vol_contenedor);
        $("#id_capacidad_volumen_contenedor").val(data[0].capacidadvolcontenedor);
        $("#id_capacidad_peso_contenedor").val(data[0].capacidadpesocontenedor);
        $("#id_descripcion_contenedor").val(data[0].descripcioncontenedor);
        $("#pesomaterial").val(data[0].peso_contenedor);

        lista_ocupacion = $("input[name=lista_ocupacion]");
        for(var i=0; i<lista_ocupacion.length; i++){
          if (data[0].ocupacion==lista_ocupacion[i].value){
            $(lista_ocupacion[i]).attr("checked","checked");
            radioColorOcupacion()
          }
        }
        if (data[0].trasladable == true){
          document.getElementById("id_trasladable").checked = true;
        }else{
          document.getElementById("id_trasladable").checked = false;
        }
        $('#id_lista_tamano_0').click();
        radioColorTamano()
      });
});

$("#id_lista_tamano").on("change", function(){
  id_lista_tamano = $('input[name=lista_tamano]:checked').val();
  id_lista_mueble = $("#id_lista_mueble").val();
  $.get('/presupuesto/detalle/nuevo',
    {id_lista_tamano: id_lista_tamano, id_lista_mueble: id_lista_mueble},
    function(data){
      $("#id_tamano").val(data[0].tamano);
      $("#id_ancho").val(data[0].ancho);
      $("#id_largo").val(data[0].largo);
      $("#id_alto").val(data[0].alto);
      $("#id_densidad").val(data[0].densidad);
      $("#id_peso").val(data[0].peso);
      $("#id_valor_densidad").val(data[0].valor_densidad);
      $("#id_volumen_mueble").val(data[0].volumen_mueble);

      volcontenido = calcular_volcontenido($("#capacidadmueble").val(),$("#id_volumen_mueble").val(),$("#id_valor_ocupacidad").val());

      $("#id_volumen_contenido").val(volcontenido);

      peso_contenido = calcular_pesocontenido($("#id_volumen_contenido").val(),$("#densidadcontenido").val());
      $("#id_peso_contenido").val(peso_contenido);

      cant_contenedor = calcular_cantidadcontenedor($("#id_volumen_contenido").val(),$("#id_capacidad_volumen_contenedor").val(),$("#id_peso_contenido").val(),$("#id_capacidad_peso_contenedor").val());

      $("#id_cantidad_contenedor").val(cant_contenedor);

      volcontenedor = calcular_volcontenedor($("#id_cantidad_contenedor").val(),$("#volmaterial").val());
      $("#id_volumen_contenedor").val(volcontenedor);

      pesocontenedor = calcular_pesocontenedor($("#id_cantidad_contenedor").val(),$("#pesomaterial").val());
      $("#id_peso_contenedor").val(pesocontenedor);

    });
});

$("input[name=lista_ocupacion]").click(function () {
  id_ocupacion = $('input[name=lista_ocupacion]:checked').val();
  $.get('/presupuesto/detalle/nuevo',
    {id_ocupacion: id_ocupacion},
    function(data){
      $("#id_ocupacidad").val(data[0].ocupacion);
      $("#id_valor_ocupacidad").val(data[0].valorocupacion);
      volcontenido = calcular_volcontenido($("#capacidadmueble").val(),$("#id_volumen_mueble").val(),$("#id_valor_ocupacidad").val());

      $("#id_volumen_contenido").val(volcontenido);

      peso_contenido = calcular_pesocontenido($("#id_volumen_contenido").val(),$("#densidadcontenido").val());
      $("#id_peso_contenido").val(peso_contenido);

      cant_contenedor = calcular_cantidadcontenedor($("#id_volumen_contenido").val(),$("#id_capacidad_volumen_contenedor").val(),$("#id_peso_contenido").val(),$("#id_capacidad_peso_contenedor").val());

      $("#id_cantidad_contenedor").val(cant_contenedor);

      volcontenedor = calcular_volcontenedor($("#id_cantidad_contenedor").val(),$("#volmaterial").val());
      $("#id_volumen_contenedor").val(volcontenedor);

      pesocontenedor = calcular_pesocontenedor($("#id_cantidad_contenedor").val(),$("#pesomaterial").val());
      $("#id_peso_contenedor").val(pesocontenedor);
    });
});

$('#id_ancho').on('change', function(){
  densidad = calcular_densidad($("#id_peso").val(),$(this).val(),$("#id_largo").val(),$("#id_alto").val());
  volumen = calcular_volumen($(this).val(),$("#id_largo").val(),$("#id_alto").val());
  $("#id_valor_densidad").val(densidad);
  $("#id_volumen_mueble").val(volumen);

});

$('#id_largo').on('change', function(){
  densidad = calcular_densidad($("#id_peso").val(),$("#id_ancho").val(),$(this).val(),$("#id_alto").val());
  volumen = calcular_volumen($("#id_ancho").val(),$(this).val(),$("#id_alto").val());
  $("#id_valor_densidad").val(densidad);
  $("#id_volumen_mueble").val(volumen);
});

$('#id_alto').on('change', function(){
  densidad = calcular_densidad($("#id_peso").val(), $("#id_ancho").val(), $("#id_largo").val(), $(this).val());
  volumen = calcular_volumen($("#id_ancho").val(),$("#id_largo").val(),$(this).val());
  $("#id_valor_densidad").val(densidad);
  $("#id_volumen_mueble").val(volumen);
});


$('#myform').submit(function(){
    document.getElementById('id_lista_ambiente').disabled = false;
    var action = "{% url 'upresupuestos:PresupuestoDetalleView' %}";
    var that = $(this);
    $.ajax({
        url: action,
        type: 'POST',
        data: that.serialize()
        ,success: function(data){
            var modalp = parent.document.getElementById('myModalAmbiente');
            var divp = parent.document.getElementsByClassName("modal-backdrop");
            var bodyp = parent.document.getElementById('id_body');
            var closep = parent.document.getElementById("btn-cerrarmueble");
          if (data.estatus=="ok"){
            $(closep).click();
            setTimeout(function() {
            parent.location.reload();
            },100);
          }
        }
    });
    return false;
});

});
</script>
<script type="text/javascript">
function refresh() {
  var id_presupuesto = $("#id_presupuesto").val();
  $.ajax({
  url: "/presupuesto/ficha/detalle/"+ id_presupuesto,
  success: function(data) {
    var divs = parent.document.getElementById('accordion');
    $(divs).html(data);
  }
 });
}
</script>
<script>
function calcular_densidad(peso,ancho,largo,alto){
  var resultado = 0;
  resultado= (peso/((ancho*largo*alto)/1000000));

  return resultado.toFixed(2);
}

function calcular_volumen(ancho,largo,alto){
  var resultado = 0;
  resultado= (ancho*largo*alto)/1000000;

  return resultado.toFixed(3);
}

function calcular_volcontenido(cap_mueble,vol_mueble,ocupacidad){
  var resultado = 0;
  resultado= (cap_mueble*vol_mueble*ocupacidad);

  return resultado.toFixed(3);

}

function calcular_pesocontenido(vol_contenido,densidadcontenido){
  var resultado = 0;
  resultado= (vol_contenido*densidadcontenido)

  return resultado.toFixed(3);

}

function calcular_cantidadcontenedor(vol_contenido, cap_volcontenedor, peso_contenido, cap_pesocontenedor){
  var resultado = 0;
  var cant_volumen = 0;
  var cant_peso = 0;

  cant_volumen = (volcontenido/cap_volcontenedor);
  cant_volumen = Math.ceil(cant_volumen);
  cant_peso = (peso_contenido/ cap_pesocontenedor);
  cant_peso = Math.ceil(cant_peso);


  if (cant_volumen > cant_peso) {
    resultado = cant_volumen;
  }else{
    resultado = cant_peso;
  }

  return resultado;

}

function calcular_volcontenedor(cant_contenedor,vol_material){
  var resultado = 0;
  resultado= (cant_contenedor*vol_material);

  return resultado.toFixed(3);

}

function calcular_pesocontenedor(cant_contenedor,peso_material){
  var resultado = 0;
  resultado= (cant_contenedor*peso_material)

  return resultado.toFixed(3);

}
</script>

{% endblock js_form %}
