<link href="/static/bootstrap/css/bootstrap3.css" rel="stylesheet">
<link href="/static/css/estilosForm.css" rel="stylesheet">
<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
<style>
body{padding: 0px;}
#id_servicio,p label[for=id_servicio],#id_detalle_presupuesto,p label[for=id_detalle_presupuesto]{display: none;}
</style>
<form action="" method="post" id="myform">

  {% csrf_token %}

  <div class="form-group">

    {{ form.as_p }}

  </div>
  <button type="button" class="btn btn-default btn-registrar">Registrar</button>
</form>
<script>
$(document).ready(function() {
  document.getElementById('id_lista_servicio').focus();

  $("#id_lista_servicio").on("change", function(){
    id_lista_servicio = $("#id_lista_servicio").val();
    $.get('/presupuesto/servicio/nuevo'+id_lista_servicio,
      {id_lista_servicio: id_lista_servicio},
      function(data){
        $("#id_servicio").val(data[0].servicio);
      });
  });

  $(".btn-registrar").on("click", function(){
    var formulario = document.getElementById("myform");
    $.ajax({
      type: "POST",
      url: "{% url 'upresupuestos:PresupuestoServicioView' %}",
      success: function(data) {
        alert(data.status);
      }
    });
    alert("guarda");
  });
  $('.btn-registrar').on('click', function () {
    $.ajax({
        type: 'POST',
        url: '{% url upresupuestos:PresupuestoServicioView" %}',
        },
        success: function (data, textStatus, jqXHR) {
            $('#foo_modal').find('.modal-body').html(data);
            $('#foo_modal').modal('show');
        },
    });
});
});
</script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/eliminar.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/ayuda.js"></script>
