{% extends "base_modal_form.html" %}

{% block formulario %}

<form action="" method="post" id="myform">

  {% csrf_token %}

  <div class="form-group">

    {{ form.as_p }}

  </div>
  <span id="seleccion"></span>
  <button type="submit" style="float:right;" class="btn btn-default btn-registrar">Agregar</button>
</form>
<div class="alert alert-danger" id="seleccionServicio" style="display:none;" role="alert"></div>

{% endblock formulario %}

{% block style %}

<link rel="stylesheet" href="/static/css/presupuestoForm/preServicio.css">

{% endblock style %}

{% block js_form %}

<script>
setTimeout(function() {
  document.getElementById('id_lista_servicio').focus();
},500);
$('#id_lista_servicio').multiSelect(
{
  afterSelect: function(values){
    $("#id_servicio").val(values);
  },
});
$(document).ready(function() {
  $('#myform').submit(function(){
    if ($('#id_lista_servicio').val() == null){
      $("#seleccionServicio").text('Seleccione un servicio');
      $("#seleccionServicio").fadeIn();
      setTimeout(function() {
        $("#seleccionServicio").fadeOut();
      },3000);
      return false;
    }else{
      var action = "{% url 'upresupuestos:PresupuestoServicioView' %}";
      var that = $(this);
      $.ajax({
        url: action,
        type: 'POST',
        data: that.serialize()
        ,success: function(data){
          var modalp = parent.document.getElementById('myModalServicio');
          var divp = parent.document.getElementsByClassName("modal-backdrop");
          var bodyp = parent.document.getElementById('id_body');
          var closep = parent.document.getElementById("btn-cerrar");
          var guardar = parent.document.getElementById("msjGuardado");
          if (data.estatus=="ok"){
            $(closep).click();
            setTimeout(function() {
              parent.location.reload();
            },1000);
            $(guardar).css('width','300px');
            $(guardar).text('Servicio guardado con exito');
            $(guardar).fadeIn();
          }else{
            $("#seleccionServicio").text(data.msj);
            $("#seleccionServicio").fadeIn();
            setTimeout(function() {
              $("#seleccionServicio").fadeOut();
            },3000);
          }
        },
        error: function (ajaxContext) {
          alert('Ocurrio un error...');
        }
      });

return false;
}
});
});
</script>
<script type="text/javascript">
function refresh() {
  var id_mueble = $("#id_detalle_presupuesto").val();
  $.ajax({
    url: "/presupuesto/detalle/servicio/"+ id_mueble,
    success: function(data) {
      var divs = parent.document.getElementById('listservi'+id_mueble);
      $(divs).html(data);
    }
  });
}
</script>

{% endblock js_form %}
