{% extends 'base_ficha.html' %}

{% block acceso_rapido %}

<a aria-expanded="false" class="navbar-brand" href="{% url 'upresupuestos:PresupuestoList' %}" role="button" title="Volver">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a aria-expanded="false" class="navbar-brand" onclick="window.print();" role="button" title="Imprimir">
    <span class="glyphicon glyphicon-print"></span>
</a>

<a aria-expanded="false" class="navbar-brand botonmodalFormulario" data-numero="{{ presupuesto.id }}" data-nombre="Editar detalle del presupuesto" data-opcion="{% url 'upresupuestos:PresupuestoUpdate' presupuesto.id %}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Editar detalles del presupuesto">
    <span class="glyphicon glyphicon-edit"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario" data-nombre="Agregar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Origen&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Agregar dirección de origen" >
    <span class="glyphicon glyphicon-export"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario" data-nombre="Agregar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Destino&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Agregar dirección de destino" >
    <span class="glyphicon glyphicon-import"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario" data-nombre="Agregar mueble" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Agregar mueble">
    <span class="glyphicon glyphicon-lamp"></span>
</a>

{% endblock acceso_rapido %}

{% block acceso_rapido_adicional %}{% endblock acceso_rapido_adicional %}

{% block link_navegacion %}

<li class="linknav">
    <a href="#datos-personales">Datos del cliente

        {% if presupuesto.dni %}

        <span class="glyphicon glyphicon-ok"></span>

        {% else %}

        <span class="glyphicon glyphicon-minus"></span>

        {% endif %}

    </a>
</li>
<li class="linknav">
    <a href="#direcciones">Direcciones

        {% if direccion_origen and direccion_destino %}

        <span class="glyphicon glyphicon-ok"></span>

        {% else %}

        <span class="glyphicon glyphicon-minus"></span>

        {% endif %}

    </a>
</li>
<li class="linknav">
    <a href="#ambientes">Ambientes y muebles

        {% if lista_ambiente %}

        <span class="glyphicon glyphicon-ok"></span>

        {% else %}

        <span class="glyphicon glyphicon-minus"></span>

        {% endif %}

    </a>
</li>

{% if presupuesto.dni and direccion_origen and direccion_destino and lista_ambiente %}

{% if servicio %}

<li class="linknav">
    <a onClick="location='{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}'">Ver resumen</a>
</li>

{% else %}

<li class="linknav">
    <a data-target=".resumen" data-toggle="modal" type="button">Ver resumen</a>
</li>

{% endif %}

{% endif %}

{% if presupuesto.dni and direccion_origen and direccion_destino and lista_ambiente %}

{% if presupuesto.estado = "Servicios cargados" %}

<li>
    <a class="btn btn-default btn-blanco" type="button">Finalizar solicitud</a>
</li>

{% endif %}

{% endif %}

{% if presupuesto.estado = "Terminado cliente" %}

<li>
    <a class="btn btn-success btn-verde" href="{% url 'upresupuestos:PresupuestoRevisarUpdateView' presupuesto.id %}?next={{ request.get_full_path }}" type="button">Revisar presupuesto</a>
</li>

{% endif %}

{% if presupuesto.estado = "Terminado cotizador" %}

<li>
    <a class="btn btn-default btn-blanco" href="{% url 'upresupuestos:PresupuestoRevisarUpdateView' presupuesto.id %}?next={{ request.get_full_path }}" type="button">Revisar presupuesto</a>
</li>

{% endif %}

{% if presupuesto.estado = "Terminado cotizador" %}

<li>
    <a class="btn btn-success btn-verde" href="#" type="button">Enviar correo</a>
</li>

{% endif %}

{% endblock link_navegacion %}

{% block titulo %}<title>Presupuesto</title>{% endblock titulo %}

{% block col1 %}class="col-md-10"{% endblock col1 %}

{% block content1 %}

<div id="datos-personales"><!--Panel de Detalles del presupuesto-->
    <h2>Detalles del presupuesto</h2>
    <table class="table table-hover table-bordered" id="myDatosPersonales">
        <tr>
            <td><b>Cotizador:</b> {{ presupuesto.cotizador }}</td>
            <td><b>Fecha de registro:</b> {{ presupuesto.fecha_creacion|date:"d/m/Y" }}</td>
            <td><b>Hora de registro:</b> {{ presupuesto.hora_creacion|time:"h:i a" }}</td>
            <td><b>N° de presupuesto:</b> {{ presupuesto.id }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Solicitante:</b> {{ presupuesto.nombre_cliente }}</td>
            <td><b>Teléfono celular:</b> {{ presupuesto.telefono_celular }}</td>
            <td><b>Teléfono fijo:</b> {{ presupuesto.telefono }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>e-mail:</b> {{ presupuesto.email }}</td>
            <td><b>Empresa:</b> {{ presupuesto.empresa_cliente }}</td>
            <td><b>Cargo:</b> {{ presupuesto.cargo_cliente }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Medio de contacto:</b> {{ presupuesto.fuente_promocion }}</td>
            <td><b>Fecha de mudanza:</b> {{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</td>
            <td><b>Hora de mudanza:</b> {{ presupuesto.hora_estimadamudanza|time:"h:i a" }}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Observaciones:</b> {{ presupuesto.comentario }}</td>
        </tr>
    </table>

    {% if presupuesto.estado != "Terminado cliente" and presupuesto.estado != "Terminado cotizador" %}

    <a class="btn btn-default botonmodalFormulario hidden-print" data-numero="{{ presupuesto.id }}" data-nombre="Editar detalles del presupuesto" data-opcion="{% url 'upresupuestos:PresupuestoUpdate' presupuesto.id %}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Editar detalles del presupuesto">Editar detalles del presupuesto</a>

    {% endif %}

</div><!--Fin de Panel de Detalles del presupuesto-->
<br>
<div class="panel panel-color1" id="direcciones"><!--Panel de Direcciones-->
    <h2>Direcciones</h2>
    <div class="panel-body">
        <table class="table table-condensed table-hover table-bordered">

            {% if not direccion_origen %}

            <tr>
                <td><a class="botonmodalFormulario btn btn-success hidden-print" data-nombre="Agregar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Origen&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" title="Agregar dirección de origen">Agregar dirección de origen</a></td>
            </tr>

            {% else %}


            {% for direc_origen in direccion_origen %}

            <tr class="tr-direccion">
                <td width="40%">
                    <h4>{{ direc_origen.tipo_direccion }} {{ direc_origen.orden }}</h4>
                    <p>{{ direc_origen.direccion }}</p>
                </td>
                <td width="25%">

                    {{ direc_origen.tipo_inmueble }}

                    {{ direc_origen.total_m2|floatformat:"0" }}

                    m<sup>2</sup> en

                    {{ direc_origen.pisos }}

                    {% if direc_origen.pisos > 1 %}

                    pisos

                    {% else %}

                    piso

                    {% endif %}

                    <br>
                    Ocupación:

                    {{ direc_origen.ocupacidad_inmueble }}

                    <br>
                    Distancia del vehículo:

                    {% if direc_origen.distancia_vehiculo = 70 %}

                    Más de

                    {% endif %}

                    {{ direc_origen.distancia_vehiculo }} metros

                </td>
                <td width="25%">

                    {% if direc_origen.pisos_escalera = 0 %}

                    Sin escaleras

                    {% else %}

                    Con escaleras

                    ({{ direc_origen.pisos_escalera }}

                    {% if direc_origen.pisos_escalera > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {% if direc_origen.pisos_ascensor = 0 %}

                    Sin ascensor

                    {% else %}

                    Con ascensor

                    ({{ direc_origen.pisos_ascensor }}

                    {% if direc_origen.pisos_ascensor = 10 %}

                    o más pisos)

                    {% else %}

                    pisos)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_origen.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                    {% if direc_origen.ascensor_servicio %}

                    ({{ direc_origen.pisos_ascensor_servicio }}

                    {% if direc_origen.pisos_ascensor_servicio > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_origen.rampa|yesno:"Con rampa,Sin rampa" }}

                </td>
                <td width="10%">
                    <a class="botonmodalFormulario controles edit glyphicon glyphicon-edit" data-nombre="Editar dirección de origen" data-numero="{{ direc_origen.id }}"  data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_origen.id %}?next={{ request.get_full_path }}" data-target="#myModalFormulario"
                    data-toggle="modal" id="{{ direc_origen.id }}" data-toggletooltip="tooltip" title="Editar dirección de origen"></a>

                    {% if forloop.first %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden" data-numero="{{ direc_origen.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?presupuesto={{ presupuesto.id }}&tipo=Origen&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de origen"></a>

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-up botonOrden" data-numero="{{ direc_origen.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?presupuesto={{ presupuesto.id }}&tipo=Origen&posicion=subir" data-toggletooltip="tooltip" title="Dirección de origen"></a>

                    {% endif %}

                    <a class="botonmodalEliminar controles glyphicon glyphicon-remove" data-nombre="Dirección de origen"  data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_origen.id %}?next={{ request.get_full_path }}" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar dirección de origen"></a>
                </td>
            </tr>

            {% endfor %}

            {% endif %}

            {% if not direccion_destino %}

            <tr>
                <td><a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-nombre="Agregar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Destino&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" title="Agregar dirección de destino">Agregar dirección de destino</a></td>
            </tr>

            {% else %}

            {% for direc_destino in direccion_destino %}

            <tr class="tr-direccion">
                <td>
                    <h4>{{ direc_destino.tipo_direccion }} {{ direc_destino.orden }}</h4>
                    <p>{{ direc_destino.direccion }}</p>

                </td>
                <td>

                    {{ direc_destino.tipo_inmueble }}

                    de

                    {{ direc_destino.pisos }}

                    {% if direc_destino.pisos > 1 %}

                    pisos

                    {% else %}

                    piso

                    {% endif %}

                    <br>
                    Distancia del vehículo:

                    {% if direc_destino.distancia_vehiculo = 70 %}

                    Más de

                    {% endif %}

                    {{ direc_destino.distancia_vehiculo }} metros

                </td>
                <td>

                    {% if direc_destino.pisos_escalera = 0 %}

                    Sin escaleras

                    {% else %}

                    Con escaleras

                    ({{ direc_destino.pisos_escalera }}

                    {% if direc_destino.pisos_escalera > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {% if direc_destino.pisos_ascensor = 0 %}

                    Sin ascensor

                    {% else %}

                    Con ascensor

                    ({{ direc_destino.pisos_ascensor }}

                    {% if direc_destino.pisos_ascensor = 10 %}

                    o más pisos)

                    {% else %}

                    pisos)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_destino.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                    {% if direc_destino.ascensor_servicio %}

                    ({{ direc_destino.pisos_ascensor_servicio }}

                    {% if direc_destino.pisos_ascensor_servicio > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_destino.rampa|yesno:"Con rampa,Sin rampa" }}

                </td>
                <td>
                    <a class="botonmodalFormulario controles edit glyphicon glyphicon-edit" data-nombre="Editar dirección de destino" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{ request.get_full_path }}" data-target="#myModalFormulario" data-toggle="modal" id="{{ direc_destino.id }}" data-toggletooltip="tooltip" title="Editar dirección de destino"></a>

                    {% if forloop.first %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de destino"></a>

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-up botonOrden" data-numero="{{ direc_destino.id }}" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=subir" title="Dirección de destino"></a>

                    {% endif %}

                    <a class="botonmodalEliminar controles glyphicon glyphicon-remove" data-nombre="Dirección de destino" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_destino.id %}?next={{ request.get_full_path }}" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar dirección de destino"></a>
                </td>
            </tr>

            {% endfor %}

            {% endif %}

        </table>

        {% if direccion_origen %}

        <a class="botonmodalFormulario btn btn-default hidden-print" data-nombre="Agregar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Origen&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" title="Agregar dirección de origen">Agregar dirección de origen</a>

        {% endif %}

        {% if direccion_destino %}

        <a class="botonmodalFormulario btn btn-default hidden-print boton-almedio" data-nombre="Agregar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Destino&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" title="Agregar dirección de destino">Agregar dirección de destino</a>

        {% endif %}

    </div>
</div><!--fin de Panel de Direcciones-->
<div class="panel" id="ambientes"> <!--Panel Detalle de muebles-->

    {% if direccion_origen and direccion_destino %}

    <h2>Muebles a mudar
        <a class="caretExpandirContraer glyphicon glyphicon-menu-down" data-placement="left" data-toggletooltip="tooltip" id="addClass" title="Expandir"></a>
        <a class="caretExpandirContraer glyphicon glyphicon-menu-up" data-placement="left" data-toggletooltip="tooltip" id="removeClass" title="Contraer" ></a>
    </h2>

    {% if not lista_ambiente %}

    <a class="btn btn-success botonmodalFormulario hidden-print" data-numero="ambienteFocus" data-nombre="Agregar muebles" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-target="#myModalFormulario" data-toggle="modal" title="Agregar mueble">Agregar muebles</a>

    {% else %}

    <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">

        {% for ambiente in lista_ambiente %}

        <div class="panel panel-default">
            <div class="panel-heading" style="padding:0px 5px!important;" id="headingOne{{ forloop.counter }}" role="tab">
                <h4 class="panel-title">
                    <a aria-controls="collapseOne{{ forloop.counter }}" aria-expanded="true" class="t-ambiente" data-parent="#accordion" data-toggle="collapse" href="#collapseOne{{ forloop.counter }}" role="button">{{ambiente.ambiente|upper}}</a>
                </h4>
            </div>
            <div aria-labelledby="headingOne{{ forloop.counter }}" class="panel-collapse collapse btn-colapsable in{% if forloop.first %} {% endif %}" id="collapseOne{{ forloop.counter }}" role="tabpanel">
                <table class="table table-hover">
                    <tr>
                        <td width="7%"><strong>&nbsp; &nbsp;Cant.</strong></td>
                        <td width="30%" style="margin-left:20px;">
                            <strong>Mueble</strong>
                        </td>
                        <td width="15%">
                            <strong>Tamaño/Ocupación</strong>
                        </td>
                        <td width="10%">
                            <strong>Dimensiones</strong>
                        </td>
                        <td width="27%">
                            <strong>Servicios</strong>
                        </td>
                        <td width="3.3333333%"></td>
                        <td width="3.3333333%"></td>
                        <td width="3.3333333%"></td>
                    </tr>

                    {% for mueble in detalle_list %}

                    {% if ambiente.ambiente = mueble.ambiente %}

                    <tr class="tr-mueble">
                        <td>&nbsp; &nbsp;{{ mueble.cantidad }}</td>
                        <td>{{ mueble.mueble }}</td>
                        <td>{{ mueble.tamano }} / {{ mueble.ocupacidad }}</td>
                        <td>{{ mueble.ancho|floatformat:"0" }}x{{ mueble.largo|floatformat:"0" }}x{{ mueble.alto|floatformat:"0" }}</td>
                        <td>
                            <div>
                                <span id="listservi{{ mueble.id }}">

                                    {% regroup mueble.presupuesto_servicio_set.all by servicio as servicio_list %}

                                    {% for det_servivio in servicio_list %}

                                    <span class="{% if servicio %}servicioStyle{% endif %}">

                                        {{ det_servivio.grouper }}

                                        {% for item in det_servivio.list %}

                                        {% if forloop.first %}

                                        <a class="botonmodalEliminar boton-servicios glyphicon glyphicon-remove hidden-print " data-nombre="{{ det_servivio.grouper }}" data-opcion="{% url 'upresupuestos:PresupuestoServicioDelete' item.id %}?next={{ request.get_full_path }}" data-placement="left" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar {{ det_servivio.grouper }}"></a>

                                        {% endif %}

                                        {% endfor %}

                                    </span>

                                    {% endfor %}

                                </span>
                            </div>
                        </td>
                        <td>
                            <a class="controles glyphicon glyphicon-wrench botonmodalFormulario hidden-print" data-name="{{ mueble.mueble|lower }}" data-nombre="Agregar servicio al mueble {{ mueble.mueble|lower }}" data-opcion="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{ request.get_full_path }}&pre={{ mueble.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" style="cursor:pointer; float:right; padding:0px0 5px 5px;" title="Agregar servicio al mueble {{ mueble.mueble|lower }}"></a>

                        </td>
                        <td>

                            <a class="controles botonmodalFormulario glyphicon glyphicon-edit hidden-print" data-nombre="Editar mueble" data-opcion="{% url 'upresupuestos:PresupuestoDetalleUpdate' mueble.id %}?next={{ request.get_full_path }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" style="cursor:pointer; float:right; padding:0px0 5px 5px;" title="Editar {{ mueble.mueble|lower }}"></a>

                        </td>
                        <td>

                            <a class="controles botonmodalEliminar glyphicon glyphicon-remove hidden-print" data-nombre="{{ mueble.mueble|lower }}" data-numero="{{ mueble.id }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleDelete' mueble.id %}?next={{ request.get_full_path }}" data-placement="left" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" style="cursor:pointer; float:right; padding:0px0 5px 5px;" title="Eliminar {{ mueble.mueble|lower }}"></a>

                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                    <tr>
                        <td></td>
                        <td colspan="7">
                            <a class="btn-addmueble botonmodalFormulario hidden-print" data-nombre="Agregar mueble" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar mueble al ambiente {{ ambiente.ambiente }}">Agregar otro mueble a {{ ambiente.ambiente }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        {% endfor %}

        <br>
        <a class="botonmodalFormulario btn btn-default hidden-print boton-almedio" data-nombre="Agregar mueble" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-target="#myModalFormulario" data-toggle="modal" title="Agregar mueble">Agregar mueble</a>

    </div>

    {% endif %}

    {% endif %}

</div><!--fin acordion-->
<div style="display:block;height:600px;width:100%;"></div>
<!--modal eliminar-->
<div aria-labelledby="mySmallModalLabel" class="modal fade eliminar" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" id="cerrarEliminar" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Eliminar <span class="nombreEliminar"></span>
                </h4>
            </div>
            <iframe class="id_opcionEliminar" frameborder="0" height="200" id="" scrolling="no"  seamless src="" width="100%">
                <p>ESTE NAVEGADOR NO ACEPTA IFRAMES. UTILICE OPERA, MOZILLA FIREFOX O CHROME</p>
            </iframe>
        </div>
    </div>
</div>
<!-- Modal Formularios-->
<div aria-labelledby="myModalLabelFormulario" class="modal fade" id="myModalFormulario" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" id="btn-cerrarModal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title nombre" id="myModalLabelFormulario"><span class="nombreTitulo"></span></h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionFormulario" frameborder="0" height="500" id="" scrolling="auto" src="" width="100%">
                    <p>ESTE NAVEGADOR NO ACEPTA IFRAMES. UTILICE OPERA, MOZILLA FIREFOX O CHROME.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal resumen de presupuesto-->
<div aria-labelledby="resumen" class="modal fade resumen" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Resumen del presupuesto</h4>
            </div>
            <div class="modal-body">

                {% if servicio %}

                ¿Desea contratar más servicios para los muebles?

                {% else %}

                ¿Desea contratar servicios para los muebles?

                {% endif %}

            </div>
            <div class="modal-footer">

                {% if servicio %}

                <a class="btn btn-default" data-dismiss="modal" href="#ambientes" type="button">Sí</a>
                <a class="btn btn-default resumenPresupuesto" data-dismiss="modal" data-opcion="{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}">No</a>

                {% else %}

                <a class="btn btn-default" data-dismiss="modal" href="#ambientes" type="button">Sí</a>
                <a class="btn btn-default resumenPresupuesto" data-dismiss="modal" data-opcion="{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}" href="" type="button">No</a>

                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger msj" id="msjEliminado" style="display:none;" role="alert">Eliminado</div>
<div class="alert alert-success msj" id="msjGuardado" style="display:none;" role="alert">Guardado</div>
<script src="/static/js/presupuestoFicha/preFicha.js"></script>
<script>
</script>

{% endblock content1 %}

{% block ayuda %}

<div>
    <p>
        Se llama <strong>presupuesto</strong> al cálculo y negociación anticipado del ingreso y egreso de una actividad económica.  Es un plan de acción dirigido a cumplir una meta prevista, expresada en valores y términos financieros que debe cumplirse en determinado tiempo y bajo ciertas condiciones previstas.
    </p>
    <p>
        Puede solicitar su presupuesto con 3 simples  pasos.
        <ul>
            <li>Paso 1 complete los datos personales y fecha de la mudanza.</li>
            <li>Paso 2 complete las direcciones y datos de los inmuebles.</li>
            <li>Paso 3 complete los ambientes y muebles a trasladar con sus servicios.</li>
        </ul>
        Luego presione finalizar presupuesto para calcular los datos y enviarle un correo con el presupuesto.
    </p>
</div>

{% endblock ayuda %}
