{% for direc_destino in direccion_destino %}

            <tr class="tr-direccion">
                <td>
                    <h4>{{ direc_destino.tipo_direccion }} {{ direc_destino.orden }}</h4>
                    <p>{{ direc_destino.direccion }}</p>

                </td>
                <td>

                    {{ direc_destino.tipo_inmueble }}

                    de

                    {{ direc_destino.pisos }}

                    {% if direc_destino.pisos > 1 %}

                    pisos

                    {% else %}

                    piso

                    {% endif %}

                    <br>
                    Distancia del vehículo:

                    {% if direc_destino.distancia_vehiculo = 70 %}

                    Más de

                    {% endif %}

                    {{ direc_destino.distancia_vehiculo }} metros

                </td>
                <td>

                    {% if direc_destino.pisos_escalera = 0 %}

                    Sin escaleras

                    {% else %}

                    Con escaleras

                    ({{ direc_destino.pisos_escalera }}

                    {% if direc_destino.pisos_escalera > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {% if direc_destino.pisos_ascensor = 0 %}

                    Sin ascensor

                    {% else %}

                    Con ascensor

                    ({{ direc_destino.pisos_ascensor }}

                    {% if direc_destino.pisos_ascensor = 10 %}

                    o más pisos)

                    {% else %}

                    pisos)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_destino.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                    {% if direc_destino.ascensor_servicio %}

                    ({{ direc_destino.pisos_ascensor_servicio }}

                    {% if direc_destino.pisos_ascensor_servicio > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_destino.rampa|yesno:"Con rampa,Sin rampa" }}

                </td>
                <td>
                    <a class="botonmodalFormulario controles edit glyphicon glyphicon-edit btn2 btn" data-nombre="Editar dirección de destino" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{ request.get_full_path }}" data-target="#myModalFormulario" data-toggle="modal" id="{{ direc_destino.id }}" data-toggletooltip="tooltip" title="Editar dirección de destino"></a>

                    {% if forloop.first %}

                    {% if direccion_destino.count > 1 %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden btn2" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de destino"></a>

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden disabled" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de destino"></a>

                    {% endif %}

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-up botonOrden btn2" data-numero="{{ direc_destino.id }}" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=subir" title="Dirección de destino"></a>

                    {% endif %}

                    <a class="botonmodalEliminar controles glyphicon glyphicon-remove btn2 btn" data-nombre="Dirección de destino" data-ask="Desea eliminar el registro: " data-placement="left" data-boton="ELIMINAR" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_destino.id %}?next={{ request.get_full_path }}" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar dirección de destino"></a>
                </td>
            </tr>

            {% endfor %}
