{% extends "base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block col_edit %}

class="col-md-10"

{% endblock col_edit %}

{% block titulo_form %}

<h2>Nuevo presupuesto</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<link rel="stylesheet" href="/static/css/presupuestoForm/preDatosPersonales.css">
<div class="form-group filtra-campos">

    {% for campo in form %}

    <p id="{{campo.name}}">
        <label for="{{campo.id_for_label}}">{{ campo.label }}</label>
        {{ campo }}
    </p>

    {% endfor %}

</div>
<script src="/static/js/presupuestoForm/preDatosPersonales.js"></script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>
        El <strong>Presupuesto</strong> es el cálculo anticipado del valor del servicio a prestarse en determinado tiempo y bajo ciertas condiciones indicadas por el cliente.
    </p>
</div>

{% endblock ayuda %}
