{% extends 'base_ficha.html' %}

{% load presupuesto_extras %}

{% block acceso_rapido %}

<a aria-expanded="false" class="navbar-brand" href="{% url 'upresupuestos:PresupuestoList' %}" role="button" title="Volver">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a aria-expanded="false" class="navbar-brand" onclick="window.print();" role="button" title="Imprimir">
    <span class="glyphicon glyphicon-print"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario btn2" data-numero="{{ presupuesto.id }}" data-nombre="Editar detalle del presupuesto" data-opcion="{% url 'upresupuestos:PresupuestoUpdate' presupuesto.id %}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Editar detalles del presupuesto">
    <span class="glyphicon glyphicon-edit"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario btn2" data-nombre="Agregar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Origen&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Agregar dirección de origen" >
    <span class="glyphicon glyphicon-export"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario btn2" data-nombre="Agregar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Destino&pre={{ presupuesto.id }}" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Agregar dirección de destino" >
    <span class="glyphicon glyphicon-import"></span>
</a>
<a aria-expanded="false" class="navbar-brand botonmodalFormulario btn2" data-nombre="Agregar mueble" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-numero="ambienteFocus" data-target="#myModalFormulario" data-toggle="modal" role="button" title="Agregar mueble">
    <span class="glyphicon glyphicon-lamp"></span>
</a>

{% endblock acceso_rapido %}

{% block acceso_rapido_adicional %}{% endblock acceso_rapido_adicional %}

{% block link_navegacion %}{% endblock link_navegacion %}

{% block widget_sidebar %}

{% widget_sidebar "pasos_presupuesto" "Pasos a completar" %}

{% if presupuesto.dni and direccion_origen and direccion_destino and lista_ambiente %}

{% widget_sidebar "acciones_ficha_presupuesto" "Acciones" %}

{% endif %}

{% endblock widget_sidebar %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block col1 %}

class="col-md-12"

{% endblock col1 %}

{% block content1 %}

<div id="datos-personales"><!--Panel de Detalles del presupuesto-->
    <h2>Datos básicos del presupuesto </h2>
    <table class="table table-hover table-bordered" id="myDatosPersonales">
        <tr>
            <td><b>Cotizador:</b>

                {{presupuesto.cotizador.get_full_name}}

            </td>
            <td><b>Fecha de registro:</b> {{ presupuesto.fecha_creacion|date:"d/m/Y" }}</td>
            <td><b>Hora de registro:</b> {{ presupuesto.hora_creacion|time:"h:i a" }}</td>
            <td><b>N° de presupuesto:</b> {{ presupuesto.id }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Solicitante:</b> {{ presupuesto.nombre_cliente }}</td>
            <td><b>Teléfono celular:</b> {{ presupuesto.telefono_celular }}</td>
            <td><b>Teléfono fijo:</b> {{ presupuesto.telefono }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>e-mail:</b> {{ presupuesto.email }}</td>
            <td><b>Empresa:</b> {{ presupuesto.empresa_cliente }}</td>
            <td><b>Cargo:</b> {{ presupuesto.cargo_cliente }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Medio de contacto:</b> {{ presupuesto.fuente_promocion }}</td>
            <td><b>Fecha de mudanza:</b> {{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}</td>
            <td><b>Hora de mudanza:</b> {{ presupuesto.hora_estimadamudanza|time:"h:i a" }}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Observaciones:</b> {{ presupuesto.comentario }}</td>
        </tr>
    </table>
    <a class="btn btn-default botonmodalFormulario hidden-print btn2" data-numero="{{ presupuesto.id }}" data-nombre="Editar Datos básicos del presupuesto" data-opcion="{% url 'upresupuestos:PresupuestoUpdate' presupuesto.id %}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Editar Datos básicos del presupuesto">Editar Datos básicos del presupuesto</a>
</div><!--Fin de Panel de Detalles del presupuesto-->
<br>
<div class="panel panel-color1" id="direcciones"><!--Panel de Direcciones-->
    <h2>Direcciones</h2>
    <div class="panel-body">
        <table class="table table-condensed table-hover table-bordered">

            {% if not direccion_origen %}

            <tr>
                <td colspan="4">
                    <a class="botonmodalFormulario btn btn-success hidden-print" data-nombre="Agregar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Origen&pre={{ presupuesto.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar dirección de origen">Agregar dirección de origen
                    </a>
                </td>
            </tr>

            {% else %}


            {% for direc_origen in direccion_origen %}

            <tr class="tr-direccion">
                <td width="40%">
                    <h4>{{ direc_origen.tipo_direccion }} {{ direc_origen.orden }}</h4>
                    <p>{{ direc_origen.direccion }}</p>
                </td>
                <td width="25%">

                    {{ direc_origen.tipo_inmueble }}

                    {{ direc_origen.total_m2|floatformat:"0" }}

                    m<sup>2</sup> en

                    {{ direc_origen.pisos }}

                    {% if direc_origen.pisos > 1 %}

                    pisos

                    {% else %}

                    piso

                    {% endif %}

                    <br>
                    Ocupación:

                    {{ direc_origen.ocupacidad_inmueble }}

                    <br>
                    Distancia del vehículo:

                    {% if direc_origen.distancia_vehiculo = 70 %}

                    Más de

                    {% endif %}

                    {{ direc_origen.distancia_vehiculo }} metros

                </td>
                <td width="25%">

                    {% if direc_origen.pisos_escalera = 0 %}

                    Sin escaleras

                    {% else %}

                    Con escaleras

                    ({{ direc_origen.pisos_escalera }}

                    {% if direc_origen.pisos_escalera > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {% if direc_origen.pisos_ascensor = 0 %}

                    Sin ascensor

                    {% else %}

                    Con ascensor

                    ({{ direc_origen.pisos_ascensor }}

                    {% if direc_origen.pisos_ascensor = 10 %}

                    o más pisos)

                    {% else %}

                    pisos)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_origen.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                    {% if direc_origen.ascensor_servicio %}

                    ({{ direc_origen.pisos_ascensor_servicio }}

                    {% if direc_origen.pisos_ascensor_servicio > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_origen.rampa|yesno:"Con rampa,Sin rampa" }}

                </td>
                <td width="10%">
                    <a class="botonmodalFormulario controles edit glyphicon glyphicon-edit btn2 btn" data-nombre="Editar dirección de origen" data-numero="{{ direc_origen.id }}"  data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_origen.id %}?next={{ request.get_full_path }}" data-target="#myModalFormulario"
                    data-toggle="modal" id="{{ direc_origen.id }}" data-toggletooltip="tooltip" title="Editar dirección de origen"></a>

                    {% if forloop.first %}

                    {% if direccion_origen.count > 1 %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden btn2" data-numero="{{ direc_origen.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?presupuesto={{ presupuesto.id }}&tipo=Origen&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de origen"></a>

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden disabled" data-numero="{{ direc_origen.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?presupuesto={{ presupuesto.id }}&tipo=Origen&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de origen"></a>

                    {% endif %}

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-up botonOrden btn2" data-numero="{{ direc_origen.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_origen.id %}?presupuesto={{ presupuesto.id }}&tipo=Origen&posicion=subir" data-toggletooltip="tooltip" title="Dirección de origen"></a>

                    {% endif %}

                    <a class="botonmodalEliminar controles glyphicon glyphicon-remove btn2 btn" data-nombre="Dirección de origen" data-ask="Desea eliminar el registro: " data-boton="ELIMINAR" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_origen.id %}?next={{ request.get_full_path }}" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar dirección de origen"></a>
                </td>
            </tr>

            {% endfor %}

            {% endif %}

            {% if not direccion_destino %}

            <tr>
                <td colspan="4">
                    <a class="botonmodalFormulario btn btn-success hidden-print boton-almedio" data-nombre="Agregar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Destino&pre={{ presupuesto.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar dirección de destino">Agregar dirección de destino
                    </a>
                </td>
            </tr>

            {% else %}

            {% for direc_destino in direccion_destino %}

            <tr class="tr-direccion">
                <td>
                    <h4>{{ direc_destino.tipo_direccion }} {{ direc_destino.orden }}</h4>
                    <p>{{ direc_destino.direccion }}</p>

                </td>
                <td>

                    {{ direc_destino.tipo_inmueble }}

                    de

                    {{ direc_destino.pisos }}

                    {% if direc_destino.pisos > 1 %}

                    pisos

                    {% else %}

                    piso

                    {% endif %}

                    <br>
                    Distancia del vehículo:

                    {% if direc_destino.distancia_vehiculo = 70 %}

                    Más de

                    {% endif %}

                    {{ direc_destino.distancia_vehiculo }} metros

                </td>
                <td>

                    {% if direc_destino.pisos_escalera = 0 %}

                    Sin escaleras

                    {% else %}

                    Con escaleras

                    ({{ direc_destino.pisos_escalera }}

                    {% if direc_destino.pisos_escalera > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {% if direc_destino.pisos_ascensor = 0 %}

                    Sin ascensor

                    {% else %}

                    Con ascensor

                    ({{ direc_destino.pisos_ascensor }}

                    {% if direc_destino.pisos_ascensor = 10 %}

                    o más pisos)

                    {% else %}

                    pisos)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_destino.ascensor_servicio|yesno:"Con ascensor de servicio,Sin ascensor de servicio" }}

                    {% if direc_destino.ascensor_servicio %}

                    ({{ direc_destino.pisos_ascensor_servicio }}

                    {% if direc_destino.pisos_ascensor_servicio > 1 %}

                    pisos)

                    {% else %}

                    piso)

                    {% endif %}

                    {% endif %}

                    <br>

                    {{ direc_destino.rampa|yesno:"Con rampa,Sin rampa" }}

                </td>
                <td>
                    <a class="botonmodalFormulario controles edit glyphicon glyphicon-edit btn2 btn" data-nombre="Editar dirección de destino" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{ request.get_full_path }}" data-target="#myModalFormulario" data-toggle="modal" id="{{ direc_destino.id }}" data-toggletooltip="tooltip" title="Editar dirección de destino"></a>

                    {% if forloop.first %}

                    {% if direccion_destino.count > 1 %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden btn2" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de destino"></a>

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-down botonOrden disabled" data-numero="{{ direc_destino.id }}" data-placement="left" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=bajar" data-toggletooltip="tooltip" title="Dirección de destino"></a>

                    {% endif %}

                    {% else %}

                    <a class="btn controles glyphicon glyphicon-arrow-up botonOrden btn2" data-numero="{{ direc_destino.id }}" data-opcion="{% url 'upresupuestos:PresupuestoDireccionOrden' direc_destino.id %}?presupuesto={{ presupuesto.id }}&tipo=destino&posicion=subir" title="Dirección de destino"></a>

                    {% endif %}

                    <a class="botonmodalEliminar controles glyphicon glyphicon-remove btn2 btn" data-nombre="Dirección de destino" data-ask="Desea eliminar el registro: " data-placement="left" data-boton="ELIMINAR" data-opcion="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_destino.id %}?next={{ request.get_full_path }}" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar dirección de destino"></a>
                </td>
            </tr>

            {% endfor %}

            {% endif %}

        </table>

        {% if direccion_origen %}

        <a class="botonmodalFormulario btn btn-default hidden-print btn2" data-nombre="Agregar dirección de origen" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Origen&pre={{ presupuesto.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar dirección de origen">Agregar más direcciones de origen</a>&nbsp;

        {% endif %}

        {% if direccion_destino %}

        <a class="botonmodalFormulario btn btn-default hidden-print boton-almedio btn2" data-nombre="Agregar dirección de destino" data-opcion="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{ request.get_full_path }}&tipo=Destino&pre={{ presupuesto.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar dirección de destino">Agregar más direcciones de destino</a>&nbsp;

        {% endif %}

    </div>
</div><!--fin de Panel de Direcciones-->
<div class="panel" id="ambientes"> <!--Panel Detalle de muebles-->

    {% if direccion_origen and direccion_destino %}

    <h2>Muebles a mudar
        <a class="caretExpandirContraer glyphicon glyphicon-menu-down" data-placement="left" data-toggletooltip="tooltip" id="addClass" title="Expandir"></a>
        <a class="caretExpandirContraer glyphicon glyphicon-menu-up" data-placement="left" data-toggletooltip="tooltip" id="removeClass" title="Contraer" ></a>
    </h2>

    {% if not lista_ambiente %}

    <a class="btn btn-success botonmodalFormulario hidden-print" data-numero="ambienteFocus" data-nombre="Agregar muebles" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar mueble">Agregar muebles</a>

    {% else %}

    <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">

        {% for ambiente in lista_ambiente %}

        <div class="panel panel-default" id="{{ambiente.ambiente}}">
            <div class="panel-heading paddingAmbientes" id="headingOne{{ forloop.counter }}" role="tab">
                <h4 class="panel-title">
                    <a aria-controls="collapseOne{{ forloop.counter }}" aria-expanded="true" class="t-ambiente" data-parent="#accordion" data-toggle="collapse" href="#collapseOne{{ forloop.counter }}" role="button">{{ambiente.ambiente|upper}}</a>
                </h4>
            </div>
            <div aria-labelledby="headingOne{{ forloop.counter }}" class="panel-collapse collapse btn-colapsable in{% if forloop.first %} {% endif %}" id="collapseOne{{ forloop.counter }}" role="tabpanel">
                <table class="table table-hover">
                    <tr>
                        <td width="7%"><strong>&nbsp; &nbsp;Cant.</strong></td>
                        <td width="30%" class="marginLeftMueble">
                            <strong>Mueble</strong>
                        </td>
                        <td width="15%">
                            <strong>Tamaño/Ocupación</strong>
                        </td>
                        <td width="10%">
                            <strong>Dimensiones</strong>
                        </td>
                        <td width="27%">
                            <strong>Servicios</strong>
                        </td>
                        <td width="3.3333333%"></td>
                        <td width="3.3333333%"></td>
                        <td width="3.3333333%"></td>
                    </tr>

                    {% for mueble in detalle_list %}

                    {% if ambiente.ambiente = mueble.ambiente %}

                    <tr class="tr-mueble">
                        <td>&nbsp; &nbsp;{{ mueble.cantidad }}</td>
                        <td>{{ mueble.mueble }}</td>
                        <td>{{ mueble.tamano }} / {{ mueble.ocupacidad }}</td>
                        <td>{{ mueble.ancho|floatformat:"0" }}x{{ mueble.largo|floatformat:"0" }}x{{ mueble.alto|floatformat:"0" }}</td>
                        <td>
                            <div>
                                <span id="listservi{{ mueble.id }}">

                                    {% regroup mueble.presupuesto_servicio_set.all by servicio as servicio_list %}

                                    {% for det_servicio in servicio_list %}

                                    <span class="{% if servicio %}servicioStyle{% endif %}">

                                        {{ det_servicio.grouper }}

                                        {% for item in det_servicio.list %}

                                        {% if forloop.first %}

                                        <a class="botonmodalEliminar boton-servicios glyphicon glyphicon-remove hidden-print btn2" data-nombre="{{ det_servicio.grouper }}" data-ask="Desea eliminar el registro: " data-boton="ELIMINAR" data-opcion="{% url 'upresupuestos:PresupuestoServicioDelete' item.id %}?next={{ request.get_full_path }}" data-placement="left" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar {{ det_servicio.grouper }}"></a>

                                        {% endif %}

                                        {% endfor %}

                                    </span>

                                    {% endfor %}

                                </span>
                            </div>
                        </td>
                        <td>
                            {% if mueble.trasladable %}

                            <a class="controles glyphicon glyphicon-wrench botonmodalFormulario hidden-print btn2 btnControlMuebles" data-name="{{ mueble.mueble|lower }}" data-nombre="Agregar servicio al mueble {{ mueble.mueble|lower }}" data-opcion="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{ request.get_full_path }}&pre={{ mueble.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar servicio al mueble {{ mueble.mueble|lower }}"></a>

                            {% else %}

                            <a class="controles glyphicon glyphicon-wrench hidden-print btn-disabled btnControlMuebles" title="Agregar servicio al mueble {{ mueble.mueble|lower }}"></a>

                            {% endif %}

                        </td>
                        <td>
                            <a class="controles botonmodalFormulario glyphicon glyphicon-edit hidden-print btn2 btnControlMuebles" data-nombre="Editar mueble" data-posicion="{{ ambiente.ambiente }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleUpdate' mueble.id %}?next={{ request.get_full_path }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Editar {{ mueble.mueble|lower }}"></a>
                        </td>
                        <td>
                            <a class="controles botonmodalEliminar glyphicon glyphicon-remove hidden-print btn2 btnControlMuebles" data-ask="Desea eliminar el registro: " data-boton="ELIMINAR" data-nombre="{{ mueble.mueble|lower }}" data-numero="{{ mueble.id }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleDelete' mueble.id %}?next={{ request.get_full_path }}" data-placement="left" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar {{ mueble.mueble|lower }}"></a>
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                    <tr>
                        <td></td>
                        <td colspan="7">
                            <a class="btn-addmueble botonmodalFormulario hidden-print btn2" data-nombre="Agregar mueble" data-numero="" data-posicion="{{ ambiente.ambiente }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar mueble al ambiente {{ ambiente.ambiente }}">Agregar otro mueble a {{ ambiente.ambiente }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        {% endfor %}

        <br>
        <a class="botonmodalFormulario btn btn-default hidden-print boton-almedio btn2" data-nombre="Agregar mueble" data-posicion="{{ ambiente.ambiente }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-numero="ambienteFocus" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar mueble">Agregar mueble</a>
    </div>

    {% endif %}

    {% endif %}

</div><!--fin acordion-->
<div class="espacioBlanco"></div>
<!-- Modal Formularios-->
<div  aria-hidden="true" aria-labelledby="myModalLabelFormulario" class="modal fade" tabindex="-1" id="myModalFormulario" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button  aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" id="btn-cerrarModal" type="button" tabindex="-1">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title nombre" id="myModalLabelFormulario"><span class="nombreTitulo"></span></h4>
            </div>
            <div class="modal-body">
                <iframe class="id_opcionFormulario" data-posicion="" frameborder="0" height="500" id="" scrolling="auto" src="" width="100%">
                    <p>ESTE NAVEGADOR NO ACEPTA IFRAMES. UTILICE OPERA, MOZILLA FIREFOX O CHROME.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal comoContratarServicio de presupuesto-->
<div aria-labelledby="comoContratarServicio" class="modal fade comoContratarServicio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="elementNone">comoContratarServicio</span>
                <button  aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" id="btn-cerrarModalServ" type="button" tabindex="-1">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="contenidoMensaje">Pasos para contratar servicios</h4>
                <ul>
                    <li>Para contratar servicios se debe dirigir a la lista de los muebles.</li>
                    <li>Posicionarse en el mueble que desee agregar servicio.</li>
                    <li>Luego de posicionarse en el mueble, presionar el botón de servicios (<span class="glyphicon glyphicon-wrench"></span>), a la derecha del mueble.</li>
                    <li>Se desplegara un formulario con la lista de los servicios disponibles para seleccionar.</li>
                    <li>Seleccione los servicios y luego presione registrar.</li>
                </ul>
                <p><b>Nota:</b> solo los muebles que son trasladable se le pueden aplicar servicios.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default botonFinalizar" data-dismiss="modal" data-opcion="{% url 'upresupuestos:presupuesto_finalizado_cliente' presupuesto.id %}?estado_orden=4&nexturl=" href="" tabindex="-1" type="button">No deseo contratar servicios</a>
                <a class="btn btn-success scrollSpy" data-dismiss="modal" href="#ambientes" tabindex="-1" type="button">Confirmar</a>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success msj notific displayNone" id="msjGuardado" role="alert">Guardado</div>

{% if messages %}

{% for message in messages %}

<script>
var msj = document.getElementById('msjGuardado');
$(msj).text('{{ message }}');
$(msj).fadeIn();
setTimeout(function() {
    $(msj).fadeOut();
}, 500);
</script>

{% endfor %}

{% endif %}

{% if estado.0.estado__orden == 7 or estado.0.estado__orden == 6 or presupuesto.activo.orden == 9 %}

<script>
$(".btn2").addClass("btn-disabled");
</script>

{% endif %}

{% endblock content1 %}

{% block ayuda %}

<div>
    <p>
        Se llama <strong>presupuesto</strong> al cálculo y negociación anticipado del ingreso y egreso de una actividad económica.  Es un plan de acción dirigido a cumplir una meta prevista, expresada en valores y términos financieros que debe cumplirse en determinado tiempo y bajo ciertas condiciones previstas.
    </p>
    <p>
        Puede solicitar su presupuesto con 3 simples  pasos.
        <ul>
            <li>Paso 1 complete los datos personales y fecha de la mudanza.</li>
            <li>Paso 2 complete las direcciones y datos de los inmuebles.</li>
            <li>Paso 3 complete los ambientes y muebles a trasladar con sus servicios.</li>
        </ul>
        Luego presione finalizar presupuesto para calcular los datos y enviarle un correo con el presupuesto.
    </p>
</div>

{% endblock ayuda %}
