{% if lista_ambiente %}
{% for ambiente in lista_ambiente %}

        <div class="panel panel-default" id="{{ambiente.ambiente}}">
            <div class="panel-heading paddingAmbientes" id="headingOne{{ forloop.counter }}" role="tab">
                <h4 class="panel-title">
                    <a aria-controls="collapseOne{{ forloop.counter }}" aria-expanded="true" class="t-ambiente" data-parent="#accordion" data-toggle="collapse" href="#collapseOne{{ forloop.counter }}" role="button">{{ambiente.ambiente|upper}}</a>
                </h4>
            </div>
            <div aria-labelledby="headingOne{{ forloop.counter }}" class="panel-collapse collapse btn-colapsable in{% if forloop.first %} {% endif %}" id="collapseOne{{ forloop.counter }}" role="tabpanel">
                <table class="table table-hover">
                    <tr>
                        <td width="7%"><strong>&nbsp; &nbsp;Cant.</strong></td>
                        <td width="30%" class="marginLeftMueble">
                            <strong>Mueble</strong>
                        </td>
                        <td width="15%">
                            <strong>Tamaño/Ocupación</strong>
                        </td>
                        <td width="10%">
                            <strong>Dimensiones</strong>
                        </td>
                        <td width="27%">
                            <strong>Servicios</strong>
                        </td>
                        <td width="3.3333333%"></td>
                        <td width="3.3333333%"></td>
                        <td width="3.3333333%"></td>
                    </tr>

                    {% for mueble in detalle_list %}

                    {% if ambiente.ambiente = mueble.ambiente %}

                    <tr class="tr-mueble">
                        <td>&nbsp; &nbsp;{{ mueble.cantidad }}</td>
                        <td>{{ mueble.mueble }}</td>
                        <td>{{ mueble.tamano }} / {{ mueble.ocupacidad }}</td>
                        <td>{{ mueble.ancho|floatformat:"0" }}x{{ mueble.largo|floatformat:"0" }}x{{ mueble.alto|floatformat:"0" }}</td>
                        <td>
                            <div>
                                <span id="listservi{{ mueble.id }}">

                                    {% regroup mueble.presupuesto_servicio_set.all by servicio as servicio_list %}

                                    {% for det_servicio in servicio_list %}

                                    <span class="{% if servicio %}servicioStyle{% endif %}">

                                        {{ det_servicio.grouper }}

                                        {% for item in det_servicio.list %}

                                        {% if forloop.first %}

                                        <a class="botonmodalEliminar boton-servicios glyphicon glyphicon-remove hidden-print btn2" data-nombre="{{ det_servicio.grouper }}" data-ask="Desea eliminar el registro: " data-boton="ELIMINAR" data-opcion="{% url 'upresupuestos:PresupuestoServicioDelete' item.id %}?next={{ request.get_full_path }}" data-placement="left" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar {{ det_servicio.grouper }}"></a>

                                        {% endif %}

                                        {% endfor %}

                                    </span>

                                    {% endfor %}

                                </span>
                            </div>
                        </td>
                        <td>
                            {% if mueble.trasladable %}

                            <a class="controles glyphicon glyphicon-wrench botonmodalFormulario hidden-print btn2 btnControlMuebles" data-name="{{ mueble.mueble|lower }}" data-nombre="Agregar servicio al mueble {{ mueble.mueble|lower }}" data-opcion="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{ request.get_full_path }}&pre={{ mueble.id }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar servicio al mueble {{ mueble.mueble|lower }}"></a>

                            {% else %}

                            <a class="controles glyphicon glyphicon-wrench hidden-print btn-disabled btnControlMuebles" title="Agregar servicio al mueble {{ mueble.mueble|lower }}"></a>

                            {% endif %}

                        </td>
                        <td>
                            <a class="controles botonmodalFormulario glyphicon glyphicon-edit hidden-print btn2 btnControlMuebles" data-nombre="Editar mueble" data-posicion="{{ ambiente.ambiente }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleUpdate' mueble.id %}?next={{ request.get_full_path }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Editar {{ mueble.mueble|lower }}"></a>
                        </td>
                        <td>
                            <a class="controles botonmodalEliminar glyphicon glyphicon-remove hidden-print btn2 btnControlMuebles" data-ask="Desea eliminar el registro: " data-boton="ELIMINAR" data-nombre="{{ mueble.mueble|lower }}" data-numero="{{ mueble.id }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleDelete' mueble.id %}?next={{ request.get_full_path }}" data-placement="left" data-target=".eliminar" data-toggle="modal" data-toggletooltip="tooltip" title="Eliminar {{ mueble.mueble|lower }}"></a>
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                    <tr>
                        <td></td>
                        <td colspan="7">
                            <a class="btn-addmueble botonmodalFormulario hidden-print btn2" data-nombre="Agregar mueble" data-numero="" data-posicion="{{ ambiente.ambiente }}" data-opcion="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{ request.get_full_path }}&pre={{ presupuesto.id }}&amb={{ ambiente.ambiente }}" data-placement="left" data-target="#myModalFormulario" data-toggle="modal" data-toggletooltip="tooltip" title="Agregar mueble al ambiente {{ ambiente.ambiente }}">Agregar otro mueble a {{ ambiente.ambiente }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        {% endfor %}

{% endif %}
