{% block cantidad_tabla %}

<h6>Cantidad de ciudades encontradas:
  <span class="badge" id="count_reg">

    {{ lista_ciudad.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}
<nav class="nav-pagination hidden-print">
<ul class="pagination" >
{% block pagination %}

{% if ciudades.has_previous %}

<li>
  <a href="?page={{ ciudades.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a style="color:#000;"> Página

  <select title="nro pag." onchange="window.location.href=this.value;">
    <option value="?page=0">ver todo</option>
    {% if ciudades.paginator.page_range %}

    {% for p in ciudades.paginator.page_range %}
    {% if p == ciudades.number %}

    <option value="?page={{p}}" selected>{{p}}</option>

    {% else %}

    <option value="?page={{p}}">{{p}}</option>

    {% endif %}

    {% endfor %}

    {% else %}
    <option value="?page=1">paginar</option>
    {% endif %}
  </select>

    de

    {{ ciudades.paginator.num_pages }}

    Desde la ciudad

    {{ ciudades.start_index }}

    hasta la ciudad

    {{ ciudades.end_index }}

  </a>
</li>

{% if ciudades.has_next %}

<li>
  <a href="?page={{ ciudades.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}
{% endblock pagination %}
   </ul>
</nav>
{% block cuerpo_tabla %}
{% if ciudades %}

<table class="table table-hover table-bordered" id="tabla" style="text-align: center;">
  <tr class="active">
    <th>
      Ciudad
      <a href="?order_by=ciudad">Asc</a>
      <a href="?order_by=-ciudad">Desc</a>
    </th>
    <th width="30%">
      Provincia
      <a href="?order_by=provincia">Asc</a>
      <a href="?order_by=-provincia">Desc</a>
    </th>
    <th width="80px">Editar</th>
    <th width="80px">Eliminar</th>
  </tr>

  {% for i in ciudades %}

  <tr id="tr{{i.pk}}">
    <td>{{ i.ciudad }} </td>
    <td>{{ i.provincia }}</td>
    <td width="80px"><a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'udirecciones:edit_ciudad' i.pk %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a></td>
    <td width="80px">
      <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.pk}}" data-name="{{i.ciudad}}"></a>
    </td>
  </tr>

  {% endfor %}
</table>
{% else %}

<table class="table table-hover table-bordered" id="tabla" style="text-align: center;">
<tr><td> No se encontraron registros</td>
</tr>
</table>

{% endif %}
{% endblock cuerpo_tabla %}




