{% extends "base_edit.html" %}

{% block titulo %}

<title>Ciudad</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar ciudad</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_ciudad.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_ciudad').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <div class="">
        <p>La <strong>Ciudad </strong>es el área urbana que presenta una alta densidad de población, conformada por habitantes que no suelen dedicarse a las actividades agrícolas.</p>
        <p>Se recomienda agregar las ciudades  correspondientes para cada <strong>provincia</strong>.</p>
        <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
    </div>
</div>

{% endblock%}
