{% extends "base_edit.html" %}

{% block titulo %}

<title>Complejidad de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar complejidad de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_complejidad.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_complejidad').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
        <p><strong>Complejidad inmueble</strong> se refiere al esfuerzo necesario para el traslado de la mudanza.</p>
        <p>Al momento de evaluar o realizar una mudanza, los Niveles de complejidad serán determinados por las características físicas del Mueble o del Contenido según la sensibilidad del cotizador basada en los indicadores a evaluar.</p>
    </div>

{% endblock%}
