{% extends "base_edit.html" %}

{% block titulo %}

<title>Inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_inmueble.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_inmueble').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
 <p>El <strong>Inmueble</strong> es una propiedad que no puede ser trasladado o separado del lugar en que se halla, como casas o edificios. </p>
 <p>Agregue cada campo del formulario para crear nuevo <strong>Inmueble</strong> y luego presione registrar.</p>
 <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
</div>

{% endblock ayuda %}
