{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'udirecciones:lista_provincia' %}">Provincias</a></li>
<li class="linknav"><a href="{% url 'udirecciones:lista_ciudad' %}">Ciudades</a></li>
<li class="linknav"><a href="{% url 'udirecciones:lista_zona' %}">Zonas</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'udirecciones:lista_provincia' %}">Provincias</a></li>
<li><a href="{% url 'udirecciones:lista_ciudad' %}">Ciudades</a></li>
<li><a href="{% url 'udirecciones:lista_zona' %}">Zonas</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>País</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar país

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de Países</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "pais_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}


{% block ayuda %}

<div class="">
  <p>En esta sección se registran los <strong>Países</strong>, utilizando para ello su nombre completo en español.</p>
  <p>La información pre-cargada contiene un listado de todos los <strong>Países</strong> existentes al momento de implementación del sistema. Es posible que existan cambios en los nombres de algunos, e incluso la necesidad de incluir otros. Por lo que se recomienda, antes de incluir un nuevo <strong>País</strong>, revisar con detenimiento dicha lista para evitar duplicados.</p>
</div>

{% endblock %}
{% block js_sup %}

<script>
$(function(){
    $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'udirecciones:search_pais' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data);
}
</script>
{% endblock js_sup %}
