{% extends "base_edit.html" %}

{% block titulo %}

<title>País</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar el País {{form_edit_pais.pais.value|lower}}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<ul class="pager">
    {% if pais_previous %}
        <li class="previous">
            <a href="{% url 'udirecciones:edit_pais' pais_previous.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">&larr; Anterior</a>
        </li>
    {% else %}
        <li class="previous disabled"><a href="#">&larr; Anterior</a></li>
    {% endif %}

    {% if pais_next %}
        <li class="next">
            <a href="{% url 'udirecciones:edit_pais' pais_next.id %}?next={{request.GET.next}}{% if request.GET.page %}&page={{request.GET.page}}{% elif request.GET.order_by %}&order_by={{request.GET.order_by}}{% endif %}">Siguiente &rarr;</a>
        </li>
    {% else %}
        <li class="next disabled"><a href="#">Siguiente &rarr;</a></li>
    {% endif %}
</ul>

<div class="form-group">
  {{ form_edit_pais.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_pais').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>En esta sección se registran los <strong>Países</strong>, utilizando para ello su nombre completo en español.</p>
    <p>La información pre-cargada contiene un listado de todos los <strong>Países</strong> existentes al momento de implementación del sistema. Es posible que existan cambios en los nombres de algunos, e incluso la necesidad de incluir otros. Por lo que se recomienda, antes de incluir un nuevo <strong>País</strong>, revisar con detenimiento dicha lista para evitar duplicados.</p>
  </div>

{% endblock %}
