{% extends "base_edit.html" %}

{% block titulo %}

<title>Provincia</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar Provincia</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_provincia.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_provincia').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
      <p>Comúnmente, una <strong>provincia</strong> es una entidad subnacional al Estado.</p>
      <p>Se recomienda agregar las provincias  correspondientes para cada país.</p>
      <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
    </div>

{% endblock%}
