{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a></li>
<li class="linknav"><a href="{% url 'udirecciones:lista_complejidad_inmueble' %}">Niveles de complejidad de inmuebles</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a></li>
<li><a href="{% url 'udirecciones:lista_complejidad_inmueble' %}">Niveles de complejidad de inmuebles</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Tipos de inmueble</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar tipo de inmueble

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block link %}

<ul class="nav navbar-nav">
  <li>
    <a href="/direccion/complejidad_inmueble/" class="btn">Complejidad de inmueble</a>
  </li>
</ul>

{% endblock link %}

{% block titulo_tabla %}

<h2>Tipos de inmueble</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "tipo_inmueble_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="">
    <p>Los <strong>Tipos de inmueble</strong>, se refieren a las distintas estructuras de edificación que contienen a los muebles como pueden ser <i>Apartamentos</i>, <i>Casas</i> u <i>Oficinas</i>.</p>
    <p>Cree nombres a los <strong>Tipos de inmueble</strong> que no generen ambigüedades o confusiones en los usuarios o en los clientes.</p>
    <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
</div>

{% endblock %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'udirecciones:search_tipo_inmueble' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}

