{% block cantidad_tabla %}

<h6>Cantidad de tipos de inmueble encontrados:
  <span class="badge" id="count_reg">

    {{ lista_tipo_inmueble.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}
<nav class="nav-pagination">
  <ul class="pagination">
{% block pagination %}

{% if tipoinmuebles.has_previous %}

    <li>
      <a href="?page={{ tipoinmuebles.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>

    {% endif %}

    <li class="current">
      <a style="color:#000;"> Página

        <select title="nro pag." onchange="window.location.href=this.value;">
          <option value="?page=0">ver todo</option>
          {% if tipoinmuebles.paginator.page_range %}

          {% for p in tipoinmuebles.paginator.page_range %}
          {% if p == tipoinmuebles.number %}

          <option value="?page={{p}}" selected>{{p}}</option>

          {% else %}

          <option value="?page={{p}}">{{p}}</option>

          {% endif %}

          {% endfor %}

          {% else %}
          <option value="?page=1">paginar</option>
          {% endif %}
        </select>
        de

        {{ tipoinmuebles.paginator.num_pages }}

        Desde el tipo de inmueble

        {{ tipoinmuebles.start_index }}

        hasta el tipo de inmueble

        {{ tipoinmuebles.end_index }}

      </a>
    </li>

    {% if tipoinmuebles.has_next %}

    <li>
      <a href="?page={{ tipoinmuebles.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>

    {% endif %}

{% endblock pagination %}
  </ul>
</nav>
{% block cuerpo_tabla %}
{% if tipoinmuebles %}

<table class="table table-hover table-bordered" id="tabla" style="text-align: center;">
  <tr class="active">
    <th>
      Tipo de inmueble
      <a href="?order_by=tipo_inmueble">Asc</a>
      <a href="?order_by=-tipo_inmueble">Desc</a>
    </th>
    <th width="80px">Editar</th>
    <th width="80px">Eliminar</th>
  </tr>

{% for i in tipoinmuebles %}

<tr id="tr{{i.id}}">
    <td>{{ i.tipo_inmueble }}</td>
    <td width="80px"><a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'udirecciones:edit_tipo_inmueble' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a></td>
    <td width="80px">
        <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.tipo_inmueble}}"></a
  </td>
</tr>

{% endfor %}
</table>
{% else %}

<table class="table table-hover table-bordered" id="tabla" style="text-align: center;">
<tr><td> No se encontraron registros</td>
</tr>
</table>

{% endif %}
{% endblock cuerpo_tabla %}


