{% extends "base_edit.html" %}

{% block titulo %}

<title>Agregar tipo de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar tipo de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

    {{ form_tipo_inmueble.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_tipo_inmueble').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>Los <strong>Tipos de inmueble</strong>, se refieren a las distintas estructuras de edificación que contienen a los muebles como pueden ser <i>Apartamentos</i>, <i>Casas</i> u <i>Oficinas</i>.</p>
    <p>Cree nombres a los <strong>Tipos de inmueble</strong> que no generen ambigüedades o confusiones en los usuarios o en los clientes.</p>
    <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
</div>

{% endblock%}
