{% extends "base_edit.html" %}

{% block titulo %}

<title>Tipo de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar tipo de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_tipo_inmueble.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_tipo_inmueble').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
      <p>Si contamos con muchos inmuebles, será mucho más fácil su manejo si estos están agrupados de manera lógica.</p>
      <p>Para ello existen los <strong>Tipos de inmueble</strong>, los cuales clasifican a los <strong>inmuebles</strong> según su congruencia y relación.</p>
      <p>Cree <strong>Tipos de inmueble</strong> que no generen ambigüedades o confusiones.</p>
      <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
    </div>

{% endblock%}
