{% block cantidad_tabla %}

<h6 class="hidden-print">Roles de trabajador encontrados:
  <span class="badge" id="count_reg">

    {{ lista_cargo.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

<nav class="nav-pagination">
  <ul class="pagination">

{% block pagination %}

{% if cargos.has_previous %}

<li>
  <a href="?page={{ cargos.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a style="color:#000;"> Página

    <select title="nro pag." onchange="window.location.href=this.value;">
      <option value="?page=0">ver todo</option>
      {% if cargos.paginator.page_range %}

      {% for p in cargos.paginator.page_range %}
      {% if p == cargos.number %}

      <option value="?page={{p}}" selected>{{p}}</option>

      {% else %}

      <option value="?page={{p}}">{{p}}</option>

      {% endif %}

      {% endfor %}

      {% else %}
      <option value="?page=1">paginar</option>
      {% endif %}
    </select>
    de

    {{ cargos.paginator.num_pages }}

    Desde el vehiculo

    {{ cargos.start_index }}

    hasta el vehiculo

    {{ cargos.end_index }}

  </a>
</li>

{% if cargos.has_next %}

<li>
  <a href="?page={{ cargos.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

  </ul>
</nav>

{% block cuerpo_tabla %}
{% if cargos %}

<table class="table table-hover table-bordered" id="tabla" style="text-align: center;">
<tr class="active">
  <th>
    Rol
    <a href="?order_by=cargo" id="cargo" class="glyphicon glyphicon-sort-by-order btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
    <a href="?order_by=-cargo" id="-cargo"  class="glyphicon glyphicon-sort-by-order-alt btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>
  </th>
  <th>
    tarifa x día ($)
    <a href="?order_by=tarifa_dia" id="tarifa_dia" class="glyphicon glyphicon-sort-by-order btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
    <a href="?order_by=-tarifa_dia" id="-tarifa_dia"  class="glyphicon glyphicon-sort-by-order-alt btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>
  </th>
  <th>
    Recargo fin de semana (%)
    <a href="?order_by=recargo_fin_semana" id="recargo_fin_semana" class="glyphicon glyphicon-sort-by-order btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
    <a href="?order_by=-recargo_fin_semana" id="-recargo_fin_semana"  class="glyphicon glyphicon-sort-by-order-alt btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>
  </th>
  <th>
    Recargo nocturno (%)
    <a href="?order_by=recargo_nocturno" id="recargo_nocturno" class="glyphicon glyphicon-sort-by-order btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
    <a href="?order_by=-recargo_nocturno" id="-recargo_nocturno"  class="glyphicon glyphicon-sort-by-order-alt btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>
  </th>
  <th width="80px" class="hidden-print">Editar</th>
  <th width="80px" class="hidden-print">Eliminar</th>
</tr>

{% for i in cargos %}

<tr id="tr{{i.id}}">
  <td>{{ i.cargo }}</td>
  <td>$ {{ i.tarifa_dia }}</td>
  <td>+{{ i.recargo_fin_semana|floatformat:"2" }}%</td>
  <td>+{{ i.recargo_nocturno|floatformat:"2" }}%</td>
  <td>
    <a title="Editar" data-toggle="tooltip" data-placement="right"href="{% url 'utrabajadores:edit_cargotrabajador' i.id %}?next={{request.get_full_path}}" class="hidden-print glyphicon glyphicon-edit" ></a>
  </td>
  <td>
    <a title="Eliminar" href="#myModal" role="button" class="hidden-print glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.cargo}}"></a>
  </td>
  <input type="hidden" value="{{i.id}}" id="idtele">
</tr>

{% endfor %}

</table>
{% else %}

<table class="table table-hover table-bordered" id="tabla" style="text-align: center;">
<tr><td> No se encontraron registros</td>
</tr>
</table>

{% endif %}
{% endblock cuerpo_tabla %}
{% block js_inf %}

<script>
ocultarASCDesc('cargo');
ocultarASCDesc('tarifa_dia');
ocultarASCDesc('recargo_fin_semana');
ocultarASCDesc('recargo_nocturno');
</script>

{% endblock js_inf %}
