{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'ucontenidos:buscar_contenidoservicio' 0 %}">Servicios típicos para contenidos</a></li>
<li class="linknav"><a href="{% url 'ucontenidos:buscar_contenidotipico' 0 %}">Contenidos típicos por mueble</a></li>
<li class="linknav"><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a></li>


{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'ucontenidos:buscar_contenidoservicio' 0 %}">Servicios típicos para contenidos</a></li>
<li><a href="{% url 'ucontenidos:buscar_contenidotipico' 0 %}">Contenidos típicos por mueble</a></li>
<li><a href="{% url 'umuebles:lista_mueble' %}">Muebles</a></li>
<li><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Tipos de contenidos</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar tipo de contenido

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Tipos de contenido</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "contenido_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Tipos de contenido</strong> son los artículos que se encuentran en los <strong>Muebles</strong> y están conformados por una ámplia variedad de objetos con diversas formas, tamaños y tratamientos.</p>
  <p>Los <strong>Tipos de contenido</strong> son el ejemplo más emblemático del uso de la estadística para la estimación del esfuerzo en las mudanzas, de este modo se facilita el trabajo del cotizador al momento de describir sus detalles a medida que se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'ucontenidos:search_contenido' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
