{% extends "base3.html" %}

{% block titulo %}

<title>Ambiente tipo inmueble</title>

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<h2>Agregar relacion ambiente tipo inmueble</h2>
<form action="" method="post">

  {% csrf_token %}

  <button type="submit" class="btn btn-default">Registrar</button>
  <a href="javascript:history.back();" class="btn btn-default">Regresar</a>
  <br><br>
  <div class="form-group">

    {{ form_ambtipoinmueble.as_p }}

  </div>
  <button type="submit" class="btn btn-default">Registrar</button>
  <a href="javascript:history.back();" class="btn btn-default">Regresar</a>
  <br><br>
</form>

{% endblock %}

{% block ayuda %}

<br>
<div class="">
  <div class="well well-lg">
    <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
    <p>Para ello existen las relaciones entre <strong>Tipos de inmuebles</strong> y <strong>Ambientes</strong>, los cuales clasifican a los ambientes según su tipo de inmueble.</p>
    <p>Seleccione la relacion de un tipo de inmueble y un ambiente. luego presione resgistrar.</p>
  </div>
</div>

{% endblock%}
