{% extends 'base3.html' %}
{% block titulo %}<title>Ambiente tipo inmueble</title>{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body">
        <p>¿Eliminar la relacion ambiente - tipo inmueble <span id="modal_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="frmEliminar">
          {% csrf_token %}
          <input type="hidden" id="modal_id" name="item_id">
          <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
          <button type="submit" class="btn btn-default">Si</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->
{% if lista_ambtipoinmueble %}
<h2>Ambientes por tipo de inmueble</h2>
<h6>Cantidad de tipo inmueble encontrado:
  <span class="badge" id="count_reg">
    {{ lista_inmueble.count }}
  </span>
</h6>
{% for i in lista_inmueble %}
<br>
<table class="table table-hover" id="tabla">
  <tr class="active">
    <th>
      {{ i.tipo_inmueble }}
    </th>
    <th>Editar</th>
    <th>Eliminar</th>
    <th><a href="nuevo/" class="glyphicon-asterisk glyphicon glyphicon-plus"> </a></th>
  </tr>
  {% for iambiente in lista_ambtipoinmueble %}
  {% if iambiente.tipo_inmueble == i %}
  <tr id="tr{{iambiente.id}}">
    <td>{{ iambiente.ambiente }}</td>
    <td>
      <a href="editar/{{iambiente.id}}" class="glyphicon glyphicon-edit" ></a>
      {# <button id ="editar" data-telid="{{i.id}}" class="btn btn-mini btn-primary" type="button">editar</button> #}
    </td>
    <td>
      <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{iambiente.id}}" data-name="{{iambiente.ambiente}}"></a>
    </td>
    <td></td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endfor %}

{% else %}
<p>No hay lista de ambiente por tipo inmueble</p>
{% endif %}

{% endblock %}
{% block ayuda %}

<div class="">
  <div class="well well-lg">
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
  </div>
</div>

{% endblock%}
