{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Editar ambientes  por tipo inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar ambiente por tipo de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

{{ form_edit_ambtipoinmueble.as_p }}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="">
  <div class="well well-lg">
    <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
    <p>Para ello existen las relaciones entre <strong>Tipos de inmuebles</strong> y <strong>Ambientes</strong>, los cuales clasifican a los ambientes según su tipo de inmueble.</p>
    <p>Edite la informcacon de la relacion <strong>Ambientes por tipo de inmuebles</strong> y luego presione registrar.</p>
  </div>
</div>

{% endblock%}
