{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Ambientes por tipo de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar ambientes por tipo de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

    <div class="form-group">

        {{ form_ambtipoinmueble.as_p }}

    </div>

{% endblock cuerpo_form %}

{% block ayuda %}

<br>
<div class="">
  <div class="well well-lg">
    <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
    <p>Para ello existen las relaciones entre <strong>Tipos de inmuebles</strong> y <strong>Ambientes</strong>, los cuales clasifican a los ambientes según su tipo de inmueble.</p>
    <p>Seleccione la relacion de un tipo de inmueble y un ambiente. luego presione resgistrar.</p>
  </div>
</div>

{% endblock%}
