{% extends 'inicio/base_lista.html' %}

{% block titulo %}

<title>Ambiente tipo inmueble</title>

{% endblock titulo %}

{% block titulo_modal %}

<h3 id="myModalLabel">Eliminar servicio</h3>

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el servicio <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% if lista_ambtipoinmueble %}

{% block titulo_tabla %}

<h2>Servicios</h2>

{% endblock titulo_tabla %}

{% block cantidad_tabla %}

<h6>Cantidad de servicios registrados:
  <span class="badge" id="count_reg">

    {{ lista_inmueble.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

{% for i in lista_inmueble %}

<h3 id="{{i.id}}">{{ i.tipo_inmueble }}<a href="nuevo/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a></h3>
<table class="table table-hover" id="tabla">

  <thead>
    <tr class="active">
      <th>Ambiente</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>

    {% for iambiente in lista_ambtipoinmueble %}

    {% if iambiente.tipo_inmueble == i %}

    <tr id="tr{{iambiente.id}}">
      <td>{{ iambiente.ambiente }}</td>
      <td>
        <a href="editar/{{iambiente.id}}" class="glyphicon glyphicon-edit" ></a>
      </td>
      <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{iambiente.id}}" data-name="{{iambiente.ambiente}}"></a>
      </td>
    </tr>

    {% endif %}

    {% endfor %}
    {% endfor %}
  </tbody>

  {% endblock cuerpo_tabla %}

  {% endif %}

  {% block ayuda %}

  <br>
  <div class="">
    <div class="well well-lg">
      <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
      <p>Para ello existen las relaciones entre <strong>Tipos de inmuebles</strong> y <strong>Ambientes</strong>, los cuales clasifican a los ambientes según su tipo de inmueble.</p>
      <p>Clasifique los ambientes según su tipo de inmueble presionando el botón ( <span class="glyphicon-asterisk glyphicon glyphicon-plus"></span> ).</p>
    </div>
  </div>

  {% endblock ayuda %}
