{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Editar tipo de ambiente</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar tipo de ambiente</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

{{form_edit_tipoambiente.as_p}}


</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}{% endblock contenido_adicional %}

{% block ayuda %}

<br>
<div class="">
    <div class="well well-lg">
        <p>Si contamos con muchos ambientes, será mucho más fácil su manejo si estos están agrupados de manera lógica.</p>
        <p>Para ello exisen los <strong>Tipos de Ambiente</strong>, los cuales clasifican a los ambientes según su congruencia y relación.</p>
        <p>Al editar los <strong>Tipos de ambiente</strong> ya creados se debe recordar que el dato puede haber sido utilizado para clasificar ambientes, y que es posible que haya otros <strong>Tipos de ambiente</strong> ya creados, por lo que se debe prevenir generar ambigüedades o confusiones como <i>Apartamento</i> o <i>Departamento</i>.</p>
        <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
    </div>
</div>

{% endblock%}
