{% extends 'inicio/base3.html' %}

{% block titulo %}

<title>Ciudad</title>

{% endblock %}

{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body">
        <p>¿Eliminar <span id="modal_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="frmEliminar">

          {% csrf_token %}

          <input type="hidden" id="modal_id" name="item_id">
          <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
          <button type="submit" class="btn btn-default">Si</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->
<h2>Listado de ciudad </h2>
<a href="nuevo/" class="btn btn-default">Nuevo</a>
<h6>Cantidad de ciudad encontrada:
  <span class="badge" id="count_reg">

    {{ lista_ciudad.count }}

  </span>
</h6>

{% if lista_ciudad %}

<table class="table table-hover" id="tabla">
  <tr class="active">
    <th>Ciudad</th>
    <th>Provincia</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  {% for i in lista_ciudad %}

  <tr id="tr{{i.id}}">
    <!-- <td>{{ i.count }}</td>-->
    <td>{{ i.ciudad }}</td>
    <td>{{ i.provincia }}</td>
    <td>
      <a href="{{i.id}}/" class="glyphicon glyphicon-edit"></a>
    </td>
    <td>
      <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.ciudad}}"></a>
    </td>
  </tr>

  {% endfor %}

</table>
<a href="nuevo/" class="btn btn-default">Nuevo</a>

{% else %}

<p> No hay ciudades registradas </p>

{% endif %}

{% endblock %}

{% block ayuda %}

<br>
<div class="">
  <div class="well well-lg">
    <p>La <strong>Ciudad </strong>es el área urbana que presenta una alta densidad de población, conformada por habitantes que no suelen dedicarse a las actividades agrícolas.</p>
    <p>Se recomienda agregar las ciudades  correspondientes para cada <strong>provincia</strong>.</p>
    <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
  </div>
</div>

{% endblock%}
