{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Complejidad de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar complejidad de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_complejidad_inmueble.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<br>
<div class="">
    <div class="well well-lg">
        <p><strong>Complejidad inmueble</strong> se refiere al esfuerzo necesario para el traslado de la mudanza.</p>
        <p>Al momento de evaluar o realizar una mudanza, los Niveles de complejidad serán determinados por las características físicas del Mueble o del Contenido según la sensibilidad del cotizador basada en los indicadores a evaluar.</p>
    </div>
</div>

{% endblock%}
