{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Complejidad de inmueble</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar complejidad de inmueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_complejidad_inmueble.as_p }}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Inmuebles asignados a este nivel de complejidad</h4>
<table class="table table-hover">
<tr class="active">
    <th>Inmueble</th>
    <th>Tipo de inmueble</th>
    <th></th>
</tr>

{% for det in complejidad_inmueble.inmueble_set.all %}
<tr id="tr{{det.id}}">
    <td>{{ det.inmueble }}</td>
    <td>{{ det.tipo_inmueble }}</td>
    <td>
      <a href="{% url 'udireciones:edit_inmueble' det.id %}?next={% url 'udireciones:edit_complejidad_inmueble' complejidad_inmueble.id %}" class="glyphicon glyphicon-edit"></a>

    </td>
</tr>

{% endfor %}

</table>

{% endblock contenido_adicional %}

{% block ayuda %}

<br>
<div class="">
    <div class="well well-lg">
        <p><strong>Complejidad inmueble</strong> se refiere al esfuerzo necesario para el traslado de la mudanza.</p>
        <p>Al momento de evaluar o realizar una mudanza, los Niveles de complejidad serán determinados por las características físicas del Mueble o del Contenido según la sensibilidad del cotizador basada en los indicadores a evaluar.</p>
    </div>
</div>

{% endblock%}
