 {% extends 'base3.html' %}
 {% block content %}

<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Pais</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el pais <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_id" name="item_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->
{% if lista_complejidad_inmueble %}
<div class="col-md-1"></div>
<div class="col-md-4">
  <h2>Listado de complejidad inmueble </h2>
  <a href="nuevo/" class="btn btn-default">Nuevo</a>
  <br>
    <h6>Cantidad de complejidad inmueble encontrados: <span class="badge">{{ lista_complejidad_inmueble.count }}</span> </h6>
    <table class="table table-hover">
     <tr class="active">
      <th>complejidad</th>
      <th>factor</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {% for i in lista_complejidad_inmueble %}
    <tr id="tr{{i.id}}">
      <td>{{ i.complejidad }}</td>
      <td>{{ i.factor }}</td>
      <td><a href="{{i.id}}/" class="glyphicon glyphicon-edit"></a></td>
      <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.complejidad}}"><i class="icon-trash icon-white"></i>Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </table>
<a href="nuevo/" class="btn btn-default">Nuevo</a>
</div>
{% else %}
<p> No hay complejidad inmueble registrados. </p>
<a href="nuevo/" class="btn btn-default">Nuevo</a>
{% endif %}
{% endblock %}
