{% extends "base3.html" %}

{% block titulo %}

<title>Direccion</title>

{% endblock %}

{% block content %}

<div class="">
   <h2>Agregar direccion</h2>
  <form action="" method="post">

    {% csrf_token %}

    <button type="submit" class="btn btn-default">Registrar</button>
    <a href="javascript:history.back();" class="btn btn-default">Regresar</a>
    <br>
    <br>
    <div class="form-group">

      {{ form_direccion.as_p }}

    </div>
    <button type="submit" class="btn btn-default">Registrar</button>
    <a href="javascript:history.back();" class="btn btn-default">Regresar</a>
    <br>
    <br>
  </form>
</div>

{% endblock %}

{% block ayuda %}

<br>
<div class="">
  <div class="well well-lg">
    <p>Las <strong>Direcciones</strong> son unos de los requisitos clave para la mudanza  </strong>.</p>
    <p>Agregue cada campo del formulario de dirección y luego presione registrar.</p>
    <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
  </div>
</div>

{% endblock%}
