{% extends 'base3.html' %}

{% block titulo %}

<title>Direccion</title>

{% endblock %}

{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body">
        <p>¿Eliminar <span id="modal_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="frmEliminar">

          {% csrf_token %}

          <input type="hidden" id="modal_id" name="item_id">
          <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
          <button type="submit" class="btn btn-default">Si</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->
<h2>Direccion</h2>

{% if lista_direccion %}

  {% for i in lista_direccion %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Ficha direccion
      <a href="nuevo/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
      <span style="float:right;padding:20px;"></span>
      <a href="{{i.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
    </h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Calle: </strong>{{ i.calle }} </td>
        <td><strong>Tipo de direccion: </strong>{{ i.tipo_direccion }}</td>
      </tr>
      <tr>
        <td><strong>Numero:  </strong> {{ i.numero }}</td>
        <td><strong>Zip1: </strong>{{ i.zip1 }}</td>
      </tr>
      <tr>
        <td><strong>Piso:  </strong>{{ i.piso }}</td>
        <td><strong>Punto de referencia: </strong>{{ i.punto_referencia }}</td>
      </tr>
      <tr>
        <td><strong>Adicional: </strong>{{ i.adicional }}</td>
        <td><strong>Cliente: </strong>{{ i.cliente }}</td>
      </tr>
    </table>
 </div>
</div>

    {% endfor %}

{% else %}

<p> No hay inmueble registrados. </p>

{% endif %}

{% endblock %}

