 {% extends 'base3.html' %}
 {% block content %}

<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Pais</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el pais <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_id" name="item_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->
{% if lista_direccion %}
<div class="col-md-1"></div>
<div class="col-md-5">
    <h2>Listado de direccion </h2>
    <p><a href="nuevo/" class="btn btn-default">Nuevo</a></p>
    <p><a href="tipo_direccion/" class="btn btn-default">Tipo direccion</a></p>
    <h6>Cantidad de direccion encontrados: <span class="badge">{{ lista_direccion.count }}</span> </h6>
    <table class="table table-hover">
       <tr class="active">
        <th>Direccion</th>
        <th>Punto referencia</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    {% for i in lista_direccion %}
    <tr id="tr{{i.id}}">
        <td>calle: {{ i.calle }} numero: {{ i.numero }} piso: {{ i.piso }}</td>

        <td>{{ i.punto_referencia }}</td>
        <td><a href="{{i.id}}/" class="glyphicon glyphicon-edit"></a></td>
        <td>
            <a href="#myModal" role="button" class="btn btn-danger delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="calle: {{ i.calle }} numero: {{ i.numero }} piso: {{ i.piso }}"><i class="icon-trash icon-white"></i>Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<p><a href="nuevo/" class="btn btn-default">Nuevo</a></p>
</div>
{% else %}
<p><a href="nuevo/" class="btn btn-default">Nuevo</a></p>
<p> No hay direcciones registradas.</p>
{% endif %}
{% endblock %}
