{% extends "inicio/base3.html" %}

{% block titulo %}

<title>Provincia</title>

{% endblock %}

{% block content %}

<div class="">
    <h2>Agregar inmuebles</h2>
    <form action="" method="post">

        {% csrf_token %}

        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a><br><br>
        <div class="form-group">

          {{form_inmueble.as_p}}

      </div>
      <button type="submit" class="btn btn-default">Registrar</button>
      <a href="javascript:history.back();" class="btn btn-default">Regresar</a><br><br>
  </form>
</div>

{% endblock %}
