{% extends 'base3.html' %}

{% block titulo %}

<title>Inmueble</title>

{% endblock %}

{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body">
        <p>¿Eliminar <span id="modal_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="frmEliminar">

          {% csrf_token %}

          <input type="hidden" id="modal_id" name="item_id">
          <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
          <button type="submit" class="btn btn-default">Si</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->
<h2>Inmueble </h2>

{% if lista_inmueble %}

<div class="panel panel-default">
  {% for i in lista_inmueble %}
  <div class="panel-heading">
    <h4>
      <a href="../editar/{{i.id}}" style="float:center;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
      Ficha inmueble
      <a href="../nuevo/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
    </h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Inmueble: </strong>{{ i.inmueble }}</td>
        <td><strong>Cliente:</strong> {{ i.direccion.cliente }}</td>
      </tr>
      <tr>
        <td><strong>Tipo de inmueble: </strong>{{ i.tipo_inmueble }}</td>
        <td><strong>Tipo de direccion: </strong>{{ i.direccion.tipo_direccion }}</td>
      </tr>
      <tr>
        <td><strong>Numero de ambientes: </strong>{{ i.numero_ambientes }}</td>
        <td><strong>Direccion: </strong>{{ i.direccion }}</td>
      </tr>
      <tr>
        <td><strong>Piso: </strong>{{ i.pisos }}</td>
        <td><strong>Zona: </strong>{{ i.direccion.zona }}</td>
      </tr>
      <tr>
        <td><strong>Pisos escaleras: </strong>{{ i.pisos_escalera }}</td>
        <td><strong>Ciudad: </strong>{{ i.direccion.zona.ciudad }}</td>
      </tr>
      <tr>
        <td><strong>Rampa: </strong>

          {% if i.rampa %}

          Si

          {% else %}

          No

          {% endif %}

        </td>
        <td><strong>Provincia: </strong>{{ i.direccion.zona.ciudad.provincia }}</td>
      </tr>
      <tr>
        <td><strong>Ascensor: </strong>

          {% if i.ascensor %}

          Si

          {% else %}

          No

          {% endif %}

        </td>
        <td><strong>Pais: </strong>{{ i.direccion.zona.ciudad.provincia.pais }}</td>
      </tr>
      <tr>
        <td><strong>Servicio ascensor: </strong>

          {% if i.ascensor_servicio %}

          Si

          {% else %}

          No

          {% endif %}

        </td>
        <td><strong>Complejidad: </strong>{{ i.complejidad }}</td>
      </tr>
      <tr>
        <td><strong>Pisos ascensor servicio: </strong>{{ i.pisos_ascensor_servicio }}</td>
        <td><strong>Pisos ascensor: </strong>{{ i.pisos_ascensor }}</td>
      </tr>
    </table>

    {% endfor %}

  </div>
</div>

{% else %}

<p> No hay inmueble registrados. </p>

{% endif %}

{% endblock %}
