{% extends 'inicio/base_ficha.html' %}

{% block titulo %}

<title>Inmueble</title>

{% endblock titulo %}

{% block titulo_ficha %}

<h2></h2>

{% endblock titulo_ficha %}

{% block col1 %}

        <div class="col-md-12">

{% endblock col1 %}

{% block content1 %}

{% if lista_inmueble %}

<div class="panel panel-default">
  {% for i in lista_inmueble %}
  <div class="panel-heading">
    <h4>Ficha inmueble</h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td class="text-right"><strong>Inmueble: </strong></td>
        <td class="text-left">{{ i.inmueble }}</td>
        <td class="text-right"><strong>Cliente:</strong> </td>
        <td class="text-left">{{ i.direccion.cliente }}</td>
      </tr>
      <tr>
        <td class="text-right"><strong>N° de ambientes: </strong></td>
        <td class="text-left">{{ i.numero_ambientes }}</td>
        <td class="text-right"><strong>Tipo de inmueble: </strong></td>
        <td class="text-left">{{ i.tipo_inmueble }}</td>
      </tr>
      <tr>
        <td class="text-right"><strong>Piso: </strong></td>
        <td class="text-left">{{ i.pisos }}</td>
        <td class="text-right">
          <strong>Rampa: </strong>
        </td>
        <td class="text-left">

          {% if i.rampa %}

          Si

          {% else %}

          No

          {% endif %}

        </td>
      </tr>
      <tr>
        <td class="text-right"><strong>Pisos escaleras: </strong></td>
        <td class="text-left">{{ i.pisos_escalera }}</td>
        <td class="text-right">
          <strong>Ascensor: </strong>
        </td>
        <td class="text-left">

          {% if i.ascensor %}

          Si

          {% else %}

          No

          {% endif %}

        </td>
      </tr>
      <tr>
         <td class="text-right">
          <strong>Pisos ascensor servicio: </strong>
        </td>
        <td class="text-left">{{ i.pisos_ascensor_servicio }}</td>
        <td class="text-right">
          <strong>Servicio ascensor: </strong>
        </td>
        <td class="text-left">

          {% if i.ascensor_servicio %}

          Si

          {% else %}

          No

          {% endif %}

        </td>
      </tr>
      <tr>
        <td class="text-right">
          <strong>Pisos ascensor: </strong>
        </td>
        <td class="text-left">{{ i.pisos_ascensor }}</td>
        <td class="text-right"><strong>Complejidad: </strong></td>
        <td class="text-left">{{ i.complejidad }}</td>
      </tr>
      <tr>
        <td class="text-right"><strong>Direccion {{ i.direccion.tipo_direccion }}:</strong></td>
        <td class="text-left">
          <p>
        Pais {{ i.direccion.zona.ciudad.provincia.pais }} provincia {{ i.direccion.zona.ciudad.provincia }} ciudad {{ i.direccion.zona.ciudad }} Zona {{ i.direccion.zona }}
        calle {{ i.direccion.calle }} numero {{ i.direccion.numero }} piso {{ i.direccion.piso }}
      </p>
      <p>
        Punto de referencia {{ i.direccion.punto_referencia }}
      </p>
      <p>
       Zip1: {{ i.direccion.zip1 }}
      </p>
    </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
         <a href="../editar/{{i.id}}" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
       </td>
      </tr>
    </table>

    {% endfor %}

  </div>
</div>

{% else %}

<p> No hay inmueble registrados. </p>

{% endif %}

{% endblock %}
