{% extends 'base3.html' %}

{% block titulo %}

<title>Editar pais</title>

{% endblock %}

{% block content %}

<div class="">
    <h2>Editar pais</h2>
    <form action="" method="post">

        {% csrf_token %}

        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a>
        <br>
        <br>
        <div class="form-group">

            {{ form_edit_pais }}

        </div>
        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a>
        <br>
        <br>
    </form>
</div>

{% endblock %}

{% block ayuda %}

<br>
<div class="">
  <div class="well well-lg">
    <p>En esta sección se registran los <strong>Países</strong>, utilizando para ello su nombre completo en español.</p>
    <p>La información pre-cargada contiene un listado de todos los <strong>Países</strong> existentes al momento de implementación del sistema. Es posible que existan cambios en los nombres de algunos, e incluso la necesidad de incluir otros. Por lo que se recomienda, antes de incluir un nuevo <strong>País</strong>, revisar con detenimiento dicha lista para evitar duplicados.</p>
  </div>
</div>

{% endblock %}
