{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Tipo direccion</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar tipo de direccion</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_tipodireccion.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<br>
<div class="">
    <div class="well well-lg">
    <p>Las <strong>direcciones</strong> se clasifican según su uso para efectos de la mudanza.</p>
    <p>Para ello exisen los <strong>Tipos de direcciones</strong>, los cuales clasifican a las <strong>direcciones</strong>.</p>
    <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
  </div>
</div>

{% endblock %}
