{% extends 'base3.html' %}

{% block titulo %}

<title>Tipo inmueble</title>

{% endblock %}

{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
                <p>¿Eliminar <span id="modal_name"></span>?</p>
            </div>
            <div class="modal-footer">
                <form method="post" id="frmEliminar">

                    {% csrf_token %}

                    <input type="hidden" id="modal_id" name="item_id">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button type="submit" class="btn btn-default">Si</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--EndModal-->

<h2>Listado de tipo de inmueble </h2>
<a href="nuevo/" class="btn btn-default">Nuevo</a>
<h6>Cantidad de tipo inmueble:
    <span class="badge" id="count_reg">

        {{ lista_tipo_inmueble.count }}

    </span>
</h6>

{% if lista_tipo_inmueble %}

<table class="table table-hover" id="tabla">
    <tr class="active">
        <th>Tipo inmueble</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>

    {% for i in lista_tipo_inmueble %}

    <tr id="tr{{i.id}}">
        <td>{{ i.tipo_inmueble }}</td>
        <td>
            <a href="{{i.id}}/" class="glyphicon glyphicon-edit"></a>
        </td>
        <td>
            <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.tipo_inmueble}}"></a>
        </td>
    </tr>

    {% endfor %}

</table>
<br>
<a href="nuevo/" class="btn btn-default">Nuevo</a>

{% else %}

<p>no se encontraron registros.</p>

{% endif %}

{% endblock %}

{% block ayuda %}

<br>
<div class="">
    <div class="well well-lg">
        <p>Si contamos con muchos inmuebles, será mucho más fácil su manejo si estos están agrupados de manera lógica.</p>
        <p>Para ello existen los <strong>Tipos de inmueble</strong>, los cuales clasifican a los <strong>inmuebles</strong> según su congruencia y relación.</p>
    </div>
</div>

{% endblock %}
