{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uservicios:lista_material' %}">Materiales</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_unidad' %}">Unidades</a></li>
<li class="linknav"><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Niveles de complejidad para el servicio
</a></li>
<li class="linknav"><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Servicios con sus materiales relacionados</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uservicios:lista_material' %}">Materiales</a></li>
<li><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a></li>
<li><a href="{% url 'uservicios:lista_unidad' %}">Unidades</a></li>
<li><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Niveles de complejidad para el servicio
</a></li>
<li><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Servicios con sus materiales relacionados</a></li>

{% endblock footerLink %}


{% block titulo %}

<title>Complejidad</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar complejidad

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar la complejidad <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Niveles de complejidad</h2>

{% endblock titulo_tabla %}


{% block contenidogeneral %}

 <div id="search-results">
   {% include "complejidad_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}
{% block ayuda %}

<div class="">
  <p>Los <strong>Niveles de complejidad</strong> se refieren al nivel de esfuerzo y consumo de tiempo en los cuales se incurrirá para la aplicación de los <strong>Servicios</strong> a los <strong>Muebles</strong> y <strong>Contenidos</strong> que serán mudados.</p>
  <p>Los <strong>Niveles de complejidad</strong> de este modo se asocian a factores de consumo de material y de consumo de tiempo, que lo llevan a tener una tarifa específica que compensa el esfuerzo para la aplicación de un <strong>Servicio</strong> específico con el <strong>Nivel de complejidad</strong> seleccionado.</p>
  <p>Al momento de evaluar o realizar una mudanza, los <strong>Niveles de complejidad</strong> serán determinados por las características físicas del <strong>Mueble</strong> o del <strong>Contenido</strong> según la sensibilidad del cotizador basada en los indicadores a evaluar.</p>
  <p>Los indicadores para definir <strong>Niveles de complejidad</strong> incluyen fragilidad de los objeto, necesidad de mantener un orden específico, formas irregulares difíciles de embalar, gran número de piezas para armar o desarmar, dificultad para sujetar el objeto, necesidad de que participe más de una persona, etc.</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'uservicios:search_complejidad' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
