{% extends 'base_edit.html' %}

{% block titulo %}<title>Material</title>{% endblock titulo %}

{% block titulo_form %}

<h2>Editar material </h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

    {{form_edit_material.as_p}}

</div>
<script type="text/javascript">
document.getElementById('id_material').focus();
$('#id_contenedor').click(function() {
    seleccionR(this);
});

seleccionR($('#id_contenedor'));

function seleccionR(id) {
    if( $(id).is(':checked') ) {
        $('p:has(input[id=id_capacidad_peso])').fadeIn(200);
        $('p:has(input[id=id_capacidad_volumen])').fadeIn(200);
    }else {
        $('p:has(input[id=id_capacidad_peso])').fadeOut( 200, function() {
        $(this).css('display', 'none');
     });
        $('p:has(input[id=id_capacidad_volumen])').fadeOut( 200, function() {
        $(this).css('display', 'none');
     });
        $('input[id=id_capacidad_peso]').val('0');
        $('input[id=id_capacidad_volumen]').val('0');
    }
}
</script>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

{% if material.servicio_material_set.all %}

<h4>Servicios que usan este material</h4>
<div class="panel panel-default">
<table class="table" style="text-align: center;">
<tr class="">
    <th>Servicios</th>
    <th width="400">Editar</th>
</tr>

{% for det in material.servicio_material_set.all %}

<tr id="tr{{det.id}}">
    <td>{{ det.servicio }}</td>
    <td width="400">
      <a href="{% url 'uservicios:edit_serviciomaterial' det.id %}?next={% url 'uservicios:edit_material' material.id %}" class="glyphicon glyphicon-edit"></a>
    </td>
</tr>

{% endfor %}

</table>
</div>

{% endif %}

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="">
    <p>Los <strong>Materiales</strong> son utilizados en la aplicación de un <strong>Servicio</strong> para lograr que el traslado de los <strong>Muebles</strong> se efectúe en las mejores condiciones posibles.</p>
    <p>Los <strong>Materiales</strong> se consumen en una proporción relativa a las características del <strong>Servicio</strong> en el que se aplican y las características de los <strong>Mueble</strong> que los reciben.</p>
    <p>Al momento de evaluar o realizar una mudanza, los <strong>Materiales</strong> inciden sobre el precio final de la misma.</p>
    <p>La apropiada identificación de <strong>Materiales</strong> y su relación con los <strong>Servicios</strong> que los involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
</div>

{% endblock ayuda %}
