{% extends 'base_edit.html' %}

{% block titulo %}<title>Servicio material</title>{% endblock titulo %}

{% block acceso_rapido %}

        <a title="Volver" class="navbar-brand" role="button" aria-expanded="false" href="{% if request.GET.next = None %}../../0/0/{% else %}{{request.GET.next}}{% endif %}"><span class="glyphicon glyphicon-chevron-left"></span></a>

{% endblock acceso_rapido %}

{% block titulo_form %}

<h2>Agregar relacion material al servicio {{ Servicio    }} </h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group filtra-servicio">

    {{form_serviciomaterial.as_p}}

</div>
<script type="text/javascript">
document.getElementById('id_material').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <p>Los <strong>Materiales</strong> son utilizados en la aplicación de un <strong>Servicio</strong> para lograr que el traslado de los <strong>Muebles</strong> se efectúe en las mejores condiciones posibles.</p>
    <p>Los <strong>Materiales</strong> se consumen en una proporción relativa a las características del <strong>Servicio</strong> en el que se aplican y las características de los <strong>Mueble</strong> que los reciben.</p>
    <p>Al momento de evaluar o realizar una mudanza, los <strong>Materiales</strong> inciden sobre el precio final de la misma.</p>
    <p>La apropiada identificación de <strong>Materiales</strong> y su relación con los <strong>Servicios</strong> que los involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
</div>

{% endblock ayuda %}
