{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uservicios:lista_material' %}">Materiales</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_unidad' %}">Unidades</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_complejidad' %}">Niveles de complejidad</a></li>
<li class="linknav"><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Niveles de complejidad para el servicio
</a></li>
<li class="linknav"><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Servicios con sus materiales relacionados</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_contenedor' %}">Contenedor</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uservicios:lista_material' %}">Materiales</a></li>
<li><a href="{% url 'uservicios:lista_unidad' %}">Unidades</a></li>
<li><a href="{% url 'uservicios:lista_complejidad' %}">Niveles de complejidad</a></li>
<li><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Niveles de complejidad para el servicio
</a></li>
<li><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Servicios con sus materiales relacionados</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Servicios</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar servicio

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el servicio <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Servicios</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "servicio_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="">
  <p>Los <strong>Servicios</strong> comprenden aquellas actividades que se realizan sobre un <strong>Mueble</strong> para lograr su traslado en las mejores condiciones posibles.</p>
  <p>Los <strong>Servicios</strong> pueden sevir para proteger, modificar o brindar un tratamiento específico a cada <strong>Mueble</strong>.</p>
  <p>Al momento de evaluar o realizar una mudanza, los <strong>Servicios</strong> serán una parte importante de la calidad percibida por el cliente, al igual que un componente que incide sobre el precio final de la misma.</p>
  <p>La apropiada identificación de <strong>Servicios</strong> y su relación con los <strong>Materiales</strong> que involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'uservicios:search_servicio' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
