{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uservicios:lista_material' %}">Materiales</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a></li>
<li class="linknav"><a href="{% url 'uservicios:lista_complejidad' %}">Niveles de complejidad</a></li>
<li class="linknav"><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Niveles de complejidad para el servicio
</a></li>
<li class="linknav"><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Servicios con sus materiales relacionados</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uservicios:lista_material' %}">Materiales</a></li>
<li><a href="{% url 'uservicios:lista_servicio' %}">Servicios</a></li>
<li><a href="{% url 'uservicios:lista_complejidad' %}">Niveles de complejidad</a></li>
<li><a href="{% url 'uservicios:buscar_complejidad_servicio' 0 0 %}">Niveles de complejidad para el servicio
</a></li>
<li><a href="{% url 'uservicios:buscar_servicio_material' 0 0 %}">Servicios con sus materiales relacionados</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Unidades de medida</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar unidad de medida

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Unidades de medida</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "unidad_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}
{% block ayuda %}

<div class="">
  <p>Las <strong>Unidades de medida</strong> representan la referencia de la magnitud física de un material.</p>
  <p>Las <strong>Unidades de medida</strong> se aplican a distancias y tamaños en metros o centímetros, áreas en metros cuadrados, volúmenes en metros cúbicos y pesos en kilogramos.</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'uservicios:search_unidad' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
