.prueba {
  background: #000;
}

.form-group>p>label {
  display:block;
  font-family: inherit;
  font: inherit;
}

.form-group>p>input[type=date],
.form-group>p>input[type=password],
.form-group>input[type=number],
.form-group>input[type=text],.form-group>p>textarea,
.form-group>p>input[type=text],
.form-group>p>input[type=email],
.form-group>p>input[type=url],
.form-group>p>select,
.form-group>p>input[type=number] {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
  padding: 10px 16px;
  display:block;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  color: #555;
  font-family: inherit;
  font: inherit;
  margin: 0;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-group>p>#activo {
  position: absolute!important;
  margin-left: -20px!important;
  margin: 4px 0 0!important;
  line-height: normal!important;
  box-sizing: border-box!important;
  padding: 0px!important;
  font-family: inherit!important;
  font-size: inherit!important;
  font: inherit!important;
  color: inherit!important;
  cursor: pointer!important;
}

.form-group>p>input:focus,
.form-group>p>select:focus,
.form-group>p>textarea:focus,
.form-group>input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

th {
  text-align: center!important;
}

.fixed {
  position:fixed;
  z-index: 20;
  top: 50px;
}

.btn-procesos {
  background: #fff;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.divider-vertical-b,.divider-vertical {
  height: 50px;
  margin: 0px 25px 0px 0px;
  border-right: 1px solid #e7e7e7;
}

.alert-danger {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.filtra-cliente>p>label[for=id_cliente],.filtra-cliente>p>select[id=id_cliente] {
  display: none;
}

.filtra-tipoinmueble>p>label[for=id_tipo_inmueble],.filtra-tipoinmueble>p>select[id=id_tipo_inmueble] {
  display: none;
}

.filtra-ambiente>p>label[for=id_ambiente],.filtra-ambiente>p>select[id=id_ambiente] {
  display: none;
}

.filtra-servicio>p>label[for=id_servicio],.filtra-servicio>p>select[id=id_servicio] {
  display: none;
}

.filtra-mueble>p>label[for=id_mueble],.filtra-mueble>p>select[id=id_mueble] {
  display: none;
}

.ayuda {
    width:40%;
    right:-100%;
    top: 81px;
    position: fixed;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
  }

.redes {
  display:block !important;
  margin-top: 15px;
  font-size: 50px;
}

.redes a span {
  margin-right: 25px;
  color: #fff;
}
.w li a {
  color: #777!important;
}

.w li a:hover {
  color: #777!important;
}

.w {
  list-style: none;
  margin-left: -27px;
}

#footer {
  color: #f5f5f5!important;
  background-image: url("/static/img/dark-canvas.gif");
  font-size: 18px;
  z-index:1!important;
  position: relative;
  height: 470px;
  border-top: 1px solid #e7e7e7;
}

body {
    padding-top: 70px;
}

.barra-vertical {
  background:#f5f5f5;
  width:180px;
  color: #777;
  height:100%;
  z-index:0;
  position:fixed;
  top: 50px;
  left: 0;
  border-right: 1px solid #e7e7e7;
  font-size: 12px;
}

.linknav {
  z-index:1000;
}

.linknav a {
  display: block;
  padding: 10px 15px!important;
  width: 100%;
  text-decoration: none!important;
}

.linknav a:hover {
  background: rgba(0,0,0,.1);
}

.nav_l {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width:992px) {
  .barra-vertical {
    background:#f5f5f5;
    color: #777!important;
    position:fixed;
    top: 50px;
    height: 30px;
    width:100%;
    z-index: 1000;
    border-bottom: 1px solid #e7e7e7;
  }

  #preResumen {
    float: right;
  }

  .linknav {
    padding:0!important;
    display:inline-block!important;
    border-right:0 solid #e7e7e7;
  }

  .nav_l {
    padding:0px!important;
    background:#f5f5f5;
    list-style:none;
    padding:5px;
    max-width:1000px;
  }

  .divider-vertical {
    display: none;
  }

  .ayuda {
    top:120px;
    overflow-y: scroll;
    max-height: 80%;
    width: 60%;
  }
}

html,body {
  height:100%;
}

#page-wrap {
  margin: auto;
  height: auto;
  min-height:100%;
}

#copyright {
  width:90%;
  margin:auto auto;
  bottom: 0px;
  position: absolute;
}

#copyright p {
  text-align: center;
  font-size: 12px;
  font-family: arial;
  color:#777!important;
}

.nav-pagination {
  float:right!important;
}

/*
Fondo azul y letras blancas para el Navbar
que sobreescribe el diseño Bootstrap
 */
.navbar-brand {
   color: #fff!important;
}

.navbar-brand .badge {
   background-color: #e38d13;
}

.titulo-seccion {
  padding-left: 10px;
  color: #e38d13;
  font-weight: bold;
}

.panel-color1 {
  background-color: #F9F9F9!important;
}

.boton-almedio {
  vertical-align: middle;
}

.width25 {
  width: 25%!important;
}

.width50 {
  width: 50%!important;
}
.radioselect-ul {
  display: block;
  list-style: none;
  padding: 0;
  width: 100%;
}

.radioselect-ul li {
  display: inline-table;
  margin: -3px;
  border: 1px solid #ccc;
}

.radioselect-ul li label {
  padding: 5px 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.radioselect-ul li label input {
  width: 0;
  height: 0;
}

.btn-verde {
  text-align: left!important;
}

.btn-verde:hover {
  background: #5CB85C!important;
  opacity: .9;
}
