.form-group>p>label,
.labelU {
  display:block;
  font-family: inherit;
  font: inherit;
}

.form-group>p>input[type=date],
.form-group>p>input[type=password],
.form-group>input[type=number],
.form-group>input[type=text],.form-group>p>textarea,
.form-group>p>input[type=text],
.form-group>p>input[type=email],
.form-group>p>input[type=url],
.form-group>p>select,
.form-group>p>input[type=number] {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
  padding: 10px 16px;
  display:block;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  color: #555;
  font-family: inherit;
  font: inherit;
  margin: 0;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-group>p>#activo {
  position: absolute!important;
  margin-left: -20px!important;
  margin: 4px 0 0!important;
  line-height: normal!important;
  box-sizing: border-box!important;
  padding:0!important;
  font-family: inherit!important;
  font-size: inherit!important;
  font: inherit!important;
  color: inherit!important;
  cursor: pointer!important;
}

.form-group>p>input:focus,
.form-group>p>select:focus,
.form-group>p>textarea:focus,
.form-group>input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

th {
  text-align: center!important;
}

.fixed {
  position:fixed;
  z-index: 20;
  top: 50px;
}

.btn-procesos {
  background: #fff;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.divider-vertical-b,.divider-vertical {
  height: 50px;
  margin:0 25px 0 0;
  border-right: 1px solid #e7e7e7;
}

.alert-danger {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.filtra-cliente>p>label[for=id_cliente],.filtra-cliente>p>select[id=id_cliente] {
  display: none;
}

.filtra-tipoinmueble>p>label[for=id_tipo_inmueble],.filtra-tipoinmueble>p>select[id=id_tipo_inmueble] {
  display: none;
}

.filtra-ambiente>p>label[for=id_ambiente],.filtra-ambiente>p>select[id=id_ambiente] {
  display: none;
}

.filtra-servicio>p>label[for=id_servicio],.filtra-servicio>p>select[id=id_servicio] {
  display: none;
}

.filtra-mueble>p>label[for=id_mueble],.filtra-mueble>p>select[id=id_mueble] {
  display: none;
}

.ayuda {
    width:40%;
    right:-100%;
    top: 81px;
    position: fixed;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
  }

.redes {
  display:block !important;
  margin-top: 15px;
  font-size: 50px;
}

.redes a span {
  margin-right: 25px;
  color: #fff;
}
.w li a {
  color: #777!important;
}

.w li a:hover {
  color: #777!important;
}

.w {
  list-style: none;
  margin-left: -27px;
}

#footer {
  color: #f5f5f5!important;
  background-image: url("/static/img/dark-canvas.gif");
  font-size: 18px;
  z-index:1040!important;
  position: relative;
  height: 470px;
  border-top: 1px solid #777;
}

#id_body {
    padding-top: 0;

    position: relative;
}

@media (max-width:992px) {
  .barra-vertical {
    display: none;
  }

  #preResumen {
    float: right;
  }

  .linknav {
    padding:0!important;
    display:inline-block!important;
    border-right:0 solid #e7e7e7;
  }

  .nav_l {
    padding:0px!important;
    background:#f5f5f5;
    list-style:none;
    padding:5px;
    max-width:1000px;
  }

  .divider-vertical {
    display: none;
  }

  .ayuda {
    top:120px;
    overflow-y: scroll;
    max-height: 80%;
    width: 60%;
  }
}

html,body {
  height:calc(100% - 50px);
}

#page-wrap {
  margin: auto;
  height: auto;
  min-height:100%;
  overflow: hidden;
}

#copyright {
  width:90%;
  margin:auto auto;
  bottom:0;
  position: absolute;
}

#copyright p {
  text-align: center;
  font-size: 12px;
  font-family: arial;
  color:#777!important;
}

.nav-pagination {
  float:right!important;
}

/*
Fondo azul y letras blancas para el Navbar
que sobreescribe el diseño Bootstrap
 */
.navbar-brand {
   color: #fff!important;
}

.navbar-brand .badge {
   background-color: #e38d13;
}

.titulo-seccion {
  padding-left: 10px;
  color: #e38d13;
  font-weight: bold;
}

.panel-color1 {
  background-color: #F9F9F9!important;
}

.boton-almedio {
  vertical-align: middle;
}

.width25 {
  width: 25%!important;
}

.width50 {
  width: 50%!important;
}
.radioselect-ul {
  display: block;
  list-style: none;
  padding: 0;
  width: 100%;
}

.radioselect-ul li {
  display: inline-table;
  margin: -3px;
  border: 1px solid #ccc;
}

.radioselect-ul li label {
  padding: 5px 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.radioselect-ul li label input {
  width: 0;
  height: 0;
}

.btn-verde {
  text-align: left!important;
}

.btn-verde:hover, .btn-verde:focus {
  background: #5CB85C!important;
  opacity: .9;
}

.btn-blanco {
  text-align: left!important;
}

.btn-blanco:hover {
  background: #fff!important;
  opacity: .9;
}

.botonmodalEliminar {
  cursor: pointer;
}

.focusBlue {
  border-color: #66afe9!important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.focusBlueModal {
  border-color: #66afe9!important;
  border: 4px solid #66afe9!important;
  outline: 0;
  -webkit-box-shadow: inset 4 5px 5px rgba(0,0,0,.075), 5 5 20px rgba(102, 175, 233, .6);
  box-shadow: inset 4 5px 5px rgba(0,0,0,.075), 5 5 20px rgba(102, 175, 233, .6);
}

.elementHidden {
  visibility: hidden;
}

.elementNone {
  display: none;
}

.notific {
  display: block;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fuenteTotales {
  font-weight: 600;
  background: rgba(232, 232, 232, 1);
}

.fuenteSubTotales {
  background: rgba(232, 232, 232, 1);
}

.motivoAnulacion {
  position: fixed;
  width: 510px;
  top:75px;
  left: 30px;
  text-align: center;
  z-index:6;
}

.btn-disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-ordenarLista {
  float: right;
  font-size: 16px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-top: 0;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    background: #265a88;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(max-width:768px) {

}

@media(min-width:768px) {

}

.titleAcciones {
        color: #fff;
        font-size: 18px;
        border-bottom: 1px solid #fff;
        margin-bottom: 5px;
        margin-top: 20px;
}
.btnAcciones button {
        display: block;
        width: 100%;
        margin-bottom: 0;
}

.widgetAcciones {
        margin: 20px;
}

.titlePasos {
        color: #fff;
        font-size: 18px;
        border-bottom: 1px solid #fff;
        margin-bottom: 5px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
}

.ulWpasos li a,
.ulWpasos li {
  padding: 0!important;
  float: none!important;
  margin-left: 0!important;
}

.ulWpasos li a:hover,
.ulWpasos li a:active,
.ulWpasos li a:focus,
.ulWpasos li:hover,
.ulWpasos li:active  {
  background: rgba(0,0,0,.3)!important;
}

.ulWpasos li a span {
  float: right;
  top: 10px;
  right: 5px;
}

#menuSidebar {
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbarPrincipal {
  margin-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbarPrincipal.toggled {
  margin-left: 0;
}

.contenidoVariable {
  height: calc(100% + 50px)!important;
  overflow-y: none;
  margin-top: 50px!important;
  position: relative!important;
}

.floatLeft {
  float: left!important;
}

.floatRight {
  float: right!important;
}
.btn-menuSidebar {
  float:right!important;
  z-index:1001;
}

.textAlignCenter {
  text-align: center;
}

.textAlignJustify {
  text-align: justify;
}


.verticalAlign {
  vertical-align: middle!important;
}

.displayNone {
  display: none;
}

.btn-descripcionAyuda {
  color: #777;
  font-size: 18px;
}

.fuenteNegra {
  color: #000!important;
}

.cursorPointer {
  cursor: pointer;
}

.fichaClienteTlf {
  margin:0 0 0!important;
}

.fichaClienteCon {
  padding: 0 0 8px 16px;
}

.spanMedio {
  float:right!important;
  padding:20px!important;
}

.padding0 {
  padding: 0!important;
}

.buscarLista {
  max-width: 250px;
  float:right;
}
.espacioBlanco {
  display:block;
  height:600px;
  width:100%;
}

.fontSize25 {
  font-size: 25px;
}
.displayInlineTable {
  display: inline-table!important;
}
.border2px {
  border: 2px solid #ddd!important;
}
.borderTop2px {
  border-top: 2px solid #ddd!important;
}

.buscadorSelect .zelect {
      display: inline-block;
      background-color: white;
      min-width: 300px;
      cursor: pointer;
      line-height: 36px;
      border: 1px solid #dbdece;
      border-radius: 6px;
      position: relative;
    }
    .buscadorSelect .zelected {
      font-weight: bold;
      padding-left: 10px;
    }
    .buscadorSelect .zelected.placeholder {
      color: #999f82;
    }
    .buscadorSelect .zelected:hover {
      border-color: #c0c4ab;
      box-shadow: inset 0px 5px 8px -6px #dbdece;
    }
    .buscadorSelect .zelect.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .buscadorSelect .dropdown {
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #dbdece;
      border-top: none;
      position: absolute;
      left:-1px;
      right:-1px;
      top: 36px;
      z-index: 2;
      padding: 3px 5px 3px 3px;
    }
    .buscadorSelect .dropdown input {
      font-family: sans-serif;
      outline: none;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #dbdece;
      box-sizing: border-box;
      width: 100%;
      padding: 7px 0 7px 10px;
    }
    .buscadorSelect .dropdown ol {
      padding: 0;
      margin: 3px 0 0 0;
      list-style-type: none;
      max-height: 400px;
      overflow-y: scroll;
    }
    .buscadorSelect .dropdown li {
      padding-left: 10px;
    }
    .buscadorSelect .dropdown li.current {
      background-color: #e9ebe1;
    }
    .buscadorSelect .dropdown .no-results {
      margin-left: 10px;
    }
