@page{
    size: auto;
    margin-top: 1.5cm;
    margin-right: 1cm;
    margin-left: 1cm;
    margin-bottom: 1.5cm;
    orphans:5;
    widows:4;
}

.well {
    display: none;
}

header, footer, head { display: none !important; }

nav, #cabecera, #menu, #lateral, #comentarios {
    display: none !important;
}

body {
    background: #fff;
    color: #000;
    float: none !important;
    width: auto !important;
    margin:  0 !important;
    padding: 0 !important;
}

.wrapper { margin: 0 auto; font-size: 9pt; width: 100%; max-width: none; padding: 4%; }

a { text-decoration: none; font-weight: bold; color: #000; }

a[href]:after {
    content: " (Enlace " attr(href) ")";
    display: block;
    color: blue;
    text-decoration: none;
}

article .attachment-main_thumb { display: none; }

a[title=Imprimir] {
    display: none;
}

.break {
    page-break-after: auto;
}

.site-description {display:none;}
.site-title {display:none;}

.break-inside{
    page-break-inside: avoid;
}

.border-none, .panel-default {
    border: 0px solid #fff !important;
}

