/* Ocultar datos de cabecera innecesarios
   para la creación de un presupuesto
*/
.filtra-campos>p>label[for=id_cotizador],
.filtra-campos>p>select#id_cotizador,
.filtra-campos>p>label[for=id_descripcion_vehiculo],
.filtra-campos>p>textarea#id_descripcion_vehiculo,
.filtra-campos>p>label[for=id_descripcion_persona],
.filtra-campos>p>textarea#id_descripcion_persona,
.filtra-campos>p>label[for=id_cantidad_vehiculo],
.filtra-campos>p>input#id_cantidad_vehiculo,
.filtra-campos>p>label[for=id_cantidad_persona],
.filtra-campos>p>input#id_cantidad_persona,
.filtra-campos>p>label[for=id_cantidad_ayudante],
.filtra-campos>p>input#id_cantidad_ayudante,
.filtra-campos>p>label[for=id_cantidad_ayudanteadicional],
.filtra-campos>p>input#id_cantidad_ayudanteadicional,
.filtra-campos>p>label[for=id_cantidad_ambientes],
.filtra-campos>p>input#id_cantidad_ambientes,
.filtra-campos>p>label[for=id_cantidad_muebles],
.filtra-campos>p>input#id_cantidad_muebles,
.filtra-campos>p>label[for=id_cantidad_contenedores],
.filtra-campos>p>input#id_cantidad_contenedores,
.filtra-campos>p>label[for=id_total_capacidad_vehiculovol],
.filtra-campos>p>input#id_total_capacidad_vehiculovol,
.filtra-campos>p>label[for=id_total_capacidad_vehiculokg],
.filtra-campos>p>input#id_total_capacidad_vehiculokg,
.filtra-campos>p>label[for=id_total_peso_contenedores],
.filtra-campos>p>input#id_total_peso_contenedores,
.filtra-campos>p>label[for=id_total_peso_muebles],
.filtra-campos>p>input#id_total_peso_muebles,
.filtra-campos>p>label[for=id_total_peso_contenidos],
.filtra-campos>p>input#id_total_peso_contenidos,
.filtra-campos>p>label[for=id_total_peso_materiales],
.filtra-campos>p>input#id_total_peso_materiales,
.filtra-campos>p>label[for=id_total_peso_mudanza],
.filtra-campos>p>input#id_total_peso_mudanza,
.filtra-campos>p>label[for=id_total_volumen_muebles],
.filtra-campos>p>input#id_total_volumen_muebles,
.filtra-campos>p>label[for=id_total_volumen_contenedores],
.filtra-campos>p>input#id_total_volumen_contenedores,
.filtra-campos>p>label[for=id_total_volumen_contenidos],
.filtra-campos>p>input#id_total_volumen_contenidos,
.filtra-campos>p>label[for=id_total_volumen_materiales],
.filtra-campos>p>input#id_total_volumen_materiales,
.filtra-campos>p>label[for=id_total_m3],
.filtra-campos>p>input#id_total_m3,
.filtra-campos>p>label[for=id_tiempo_servicios],
.filtra-campos>p>input#id_tiempo_servicios,
.filtra-campos>p>label[for=id_tiempo_carga],
.filtra-campos>p>input#id_tiempo_carga,
.filtra-campos>p>label[for=id_duracion_teorica],
.filtra-campos>p>input#id_duracion_teorica,
.filtra-campos>p>label[for=id_duracion_optima],
.filtra-campos>p>input#id_duracion_optima,
.filtra-campos>p>label[for=id_tiempo_total],
.filtra-campos>p>input#id_tiempo_total,
.filtra-campos>p>label[for=id_monto_vehiculo_hora],
.filtra-campos>p>input#id_monto_vehiculo_hora,
.filtra-campos>p>label[for=id_monto_vehiculo_recorrido],
.filtra-campos>p>input#id_monto_vehiculo_recorrido,
.filtra-campos>p>label[for=id_monto_personateorica],
.filtra-campos>p>input#id_monto_personateorica,
.filtra-campos>p>label[for=id_monto_personaoptima],
.filtra-campos>p>input#id_monto_personaoptima,
.filtra-campos>p>label[for=id_monto_materiales],
.filtra-campos>p>input#id_monto_materiales,
.filtra-campos>p>label[for=id_monto_servicios],
.filtra-campos>p>input#id_monto_servicios,
.filtra-campos>p>label[for=id_monto_m3_inmueble],
.filtra-campos>p>input#id_monto_m3_inmueble,
.filtra-campos>p>label[for=id_monto_amb_inmueble],
.filtra-campos>p>input#id_monto_amb_inmueble,
.filtra-campos>p>label[for=id_monto_mudanza_hrsdirectas],
.filtra-campos>p>input#id_monto_mudanza_hrsdirectas,
.filtra-campos>p>label[for=id_monto_mundanza_hrsoptimas],
.filtra-campos>p>input#id_monto_mundanza_hrsoptimas,
.filtra-campos>p>label[for=id_monto_recursos_revisado],
.filtra-campos>p>input#id_monto_recursos_revisado,
.filtra-campos>p>label[for=id_monto_servicios_revisado],
.filtra-campos>p>input#id_monto_servicios_revisado,
.filtra-campos>p>label[for=id_monto_vehiculo_revisado],
.filtra-campos>p>input#id_monto_vehiculo_revisado,
.filtra-campos>p>label[for=id_monto_materiales_revisado],
.filtra-campos>p>input#id_monto_materiales_revisado,
.filtra-campos>p>label[for=id_monto_mundanza_revisada],
.filtra-campos>p>input#id_monto_mundanza_revisada,
.filtra-campos>p>label[for=id_monto_persona],
.filtra-campos>p>input#id_monto_persona,
.filtra-campos>p>label[for=id_monto_sin_impuesto],
.filtra-campos>p>input#id_monto_sin_impuesto,
.filtra-campos>p>label[for=id_monto_impuesto],
.filtra-campos>p>input#id_monto_impuesto,
.filtra-campos>p>label[for=id_monto_con_impuesto],
.filtra-campos>p>input#id_monto_con_impuesto,
.filtra-campos>p>label[for=id_descuento_recargo],
.filtra-campos>p>input#id_descuento_recargo,
.filtra-campos>p>label[for=id_monto_descuento_recargo],
.filtra-campos>p>input#id_monto_descuento_recargo,
.filtra-campos>p>label[for=id_estado],
.filtra-campos>p>input#id_estado,
.filtra-campos>p>label[for=id_activo],
.filtra-campos>p>input#id_activo,
.filtra-campos>p>label[for=id_tipo_calculo],
.filtra-campos>p>input#id_tipo_calculo,
.filtra-campos>p>label[for=id_descuento_recargo],
.filtra-campos>p>input#id_descuento_recargo,
.filtra-campos>p>label[for=id_activo],
.filtra-campos>p>select#id_activo,
.filtra-campos>p>label[for=id_comentario_activo],
.filtra-campos>p>textarea#id_comentario_activo,
.filtra-campos>p>label[for=id_tipo_duracion],
.filtra-campos>p>input#id_tipo_duracion {
  display: none;
}

@media (max-width:991px) {

  .campo {
    width: 50%;
  }

  #recorrido_km, #tiempo_recorrido,
  #fecha_estimadamudanza, #hora_estimadamudanza {
    width: 50%;
  }
}

@media (max-width:630px) {

  .campo{
    width: 48%;
  }

  #recorrido_km, #tiempo_recorrido,
  #fecha_estimadamudanza, #hora_estimadamudanza {
    width:100%;
  }
}
