{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Agregar forma de mueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar forma de mueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

{{ form_formamueble.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_forma').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>La <strong>Forma de mueble</strong> es una clasificación referencial de los <strong>Muebles</strong> que permite prever su tratamiento para efectos del traslado.</p>
  <p>Esta clasificación no afecta el precio de la cotización, pero será útil para la identificación de <strong>Muebles</strong> y su ubicación durante el traslado.</p>
</div>

{% endblock ayuda %}
