{% extends 'inicio/base_lista.html' %}

{% block titulo %}

<title>Tipos de mueble</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar mueble

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Muebles</h2>
<a href="/mueble/mueble_ambiente/0/" class="btn btn-default">Muebles por ambientes</a>
<a href="/mueble/tamano_mueble/0/" class="btn btn-default">Tamaños de muebles</a>
<a href="/mueble/tipo_mueble/" class="btn btn-default">Tipo de muebles</a>
<a href="/mueble/ocupacion/" class="btn btn-default">Ocupacion</a>


{% endblock titulo_tabla %}

{% if lista_tipomueble %}

{% block cantidad_tabla %}

<h6>Cantidad de muebles encontradas:
  <span class="badge" id="count_reg">

    {{ lista_mueble.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

<tr class="active">
    <th>Tipo de mueble</th>
    <th>Mueble</th>
    <th>Ambiente</th>
    <th>Trasladable</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  {% for i in lista_mueble %}

  <tr id="tr{{i.id}}">
    <td>{{ i.tipo_mueble }}</td>
    <td>{{ i.mueble }}</td>
    <td>{{ i.ambiente }}</td>
    <td>

      {% if i.trasladable %}
      Sí
      {% else %}
      No
      {% endif %}

    </td>
    <td>
      <a title="Editar" data-toggle="tooltip" data-placement="right" href="editar/{{i.id}}" class="glyphicon glyphicon-edit"></a>
    </td>
    <td>
      <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.mueble}}"></a>
    </td>
    <input type="hidden" value="{{i.id}}" id="idtele">
  </tr>

  {% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Mueble</strong> serán los objetos que se verán afectados durante una mudanza, algunos de ellos recibiendo servicios, otros almacenando contenidos.</p>
  <p>Los <strong>Muebles</strong>, durante una mudanza, estarán asociados a un <strong>Ambiente</strong> de origen, y podrán ser trasladables o no. En caso de no ser trasladables, el único sentido de registrarlos consiste en la identificación de los <strong>Contenidos</strong> que mantienen, como puede ser el caso de los <i>muebles de cocina empotrada</i> o los <i>armarios empotrados</i> que generarán <strong>Contenedores</strong> pero ellos mismos no formarán parte de la mudanza.</p>
  <p>Los muebles deben contar con un equilibrio entre lo general y lo específico, de manera que pueda estandarizarse la inmensa diversidad de posibilidades que se encuentra en el mercado, en solo unos pocos <i>muebles representativos</i> del resto.</p>
</div>

{% endblock ayuda %}
