{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Agregar tipo de mueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar mueble</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_mueble.as_p }}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Ambientes asociados al mueble</h4>
<div class="panel panel-default">
  <table class="table" style="text-align: center;">
    <tr class="">
      <th width="300">Ambientes</th>
      <th width="3"></th>
    </tr>

    {% for det in mueble.mueble_ambiente_set.all %}

    <tr id="tr{{det.id}}">
      <td width="300">{{ det.ambiente }}</td>
      <td width="3">
        <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'umuebles:edit_muebleambiente' det.id %}?next={% url 'umuebles:edit_mueble' mueble.id %}" class="glyphicon glyphicon-edit"></a>
      </td>
    </tr>

    {% endfor %}

  </table>
</div>

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Mueble</strong> serán los objetos que se verán afectados durante una mudanza, algunos de ellos recibiendo servicios, otros almacenando contenidos.</p>
  <p>Los <strong>Muebles</strong>, durante una mudanza, estarán asociados a un <strong>Ambiente</strong> de origen, y podrán ser trasladables o no. En caso de no ser trasladables, el único sentido de registrarlos consiste en la identificación de los <strong>Contenidos</strong> que mantienen, como puede ser el caso de los <i>muebles de cocina empotrada</i> o los <i>armarios empotrados</i> que generarán <strong>Contenedores</strong> pero ellos mismos no formarán parte de la mudanza.</p>
  <p>Los muebles deben contar con un equilibrio entre lo general y lo específico, de manera que pueda estandarizarse la inmensa diversidad de posibilidades que se encuentra en el mercado, en solo unos pocos <i>muebles representativos</i> del resto.</p>
</div>

{% endblock ayuda %}
