{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Editar tamaño de muebles</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar tamaño de muebles</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_tamanomueble.as_p }}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Muebles clasificados en este tamaño de mueble</h4>

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="well well-lg">
  <p>El <strong>Tipo de mueble</strong> es una clasificación referencial de los <strong>Muebles</strong> que permite encontrarlos por su nombre genérico, el cual agrupará a otros <strong>Muebles</strong> similares.</p>
  <p>Una buena clasificación de los <strong>Muebles</strong> facilita el trabajo del cotizador al momento de seleccionarlos, según se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock ayuda %}
