{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Editar tamaño de muebles</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar tamaño de muebles</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

 {{ form_edit_tamano.as_p }}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Muebles clasificados en este tamaño de muebles</h4>

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="well well-lg">
  <p>El <strong>Tamaño de mueble</strong> es una referencia que permite rápidamente asignar dimensiones a los <strong>Muebles</strong> de forma genérica, de forma que no se depende de la medición exacta de todos los <strong>Muebles</strong> encontrados.</p>
  <p>La experiencia convertida en estadística es la fuente principal para la asignación de dimensiones a los <strong>Tamaños</strong> típicos de cada <strong>Mueble</strong>, de este modo se facilita el trabajo del cotizador al momento de describir sus detalles a medida que se encuentran en un <strong>Ambiente</strong>.</p>
  <p>También incidirá significativamente sobre el rendimiento del cotizador, debido a que podrá hacer más rápido el trabajo de levantamiento de información en campo.</p>
</div>

{% endblock ayuda %}
