{% extends 'base_ficha.html' %}

{% block titulo %}

<title>Ficha Cliente</title>

{% endblock titulo %}

{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body">
        <p>¿Eliminar <span id="modal_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="frmEliminar">

          {% csrf_token %}

          <input type="hidden" id="modal_id" name="item_id">
          <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
          <button type="submit" class="btn btn-default">Si</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->

{% if lista_cliente %}<!--cliente individual-->

<div class="panel panel-default">

  {% for i in lista_cliente %}<!--cliente individual-->

  <div class="panel-heading">
    <h4>

      {{ i.cliente }}

      <a href="../../../direccion/nuevo" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
      <span style="float:right;padding:20px;"></span>
      <a href="../../../direccion/{{i.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
    </h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Nombre: </strong>{{ i.cliente }} </td>
      </tr>
      <tr>
        <td><strong>Comentario:  </strong> {{ i.comentario }}</td>
      </tr>
      <tr>
        <td><strong>Adicional 1:  </strong>{{ i.adicional1 }}</td>
      </tr>
      <tr>
        <td><strong>Adicional 2: </strong>{{ i.adicional2 }}</td>
      </tr>
      <tr>
          <td><strong>Adicional 3: </strong>{{ i.adicional3 }}</td>
      </tr>
      <tr>
          <td><strong>Adicional 4: </strong>{{ i.adicional4 }}</td>
      </tr>
        <tr>
          <td><strong>Activo: </strong>{{ i.activo }}</td>
      </tr>
    </table>

    {% endfor %}

  </div>
</div>

{% else %}

<h4>
  <a href="../../../direccion/nuevo" style="" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</h4>

{% endif %}

{% if lista_telefono_cliente %}

<a href="../../../telefono/nuevo" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
<h6>Cantidad de telefono encontrados:
  <span class="badge" id="count_reg">

    {{ lista_telefono_cliente.count }}

  </span>
</h6>

<tr class="active">
    <th>Tipo</th>
    <th>Numero</th>
    <th>Cliente</th>
    <th>Editar</th>
    <th>Eliminar</th>
</tr>

{% for i in lista_telefono_cliente %}

<tr id="tr{{i.id}}">
    <td>{{ i.tipo_telefono }}</td>
    <td>{{ i.numero }}</td>
    <td>{{ i.cliente }}</td>
    <td><a href="editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a></td>
    <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.numero}}"></a>
  </td>
</tr>

{% endfor %}

{% endif %}

{% endblock content %}

{% block content2 %}

{% if direccioncliente_lista %}

<div class="panel panel-default">

  {% for i in direccioncliente_lista %}

  <div class="panel-heading">
    <h4>

      {{ i.cliente }}

      <a href="../../../direccion/nuevo" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
      <span style="float:right;padding:20px;"></span>
      <a href="../../../direccion/{{i.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
    </h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Calle: </strong>{{ i.calle }} </td>
        <td><strong>Tipo de direccion: </strong>{{ i.zona }}</td>
      </tr>
      <tr>
        <td><strong>Numero:  </strong> {{ i.numero }}</td>
        <td><strong>Zip1: </strong>{{ i.tipo_direccion }}</td>
      </tr>
      <tr>
        <td><strong>Piso:  </strong>{{ i.piso }}</td>
        <td><strong>Punto de referencia: </strong>{{ i.zip }}</td>
      </tr>
      <tr>
        <td><strong>Adicional: </strong>{{ i.adicional }}</td>
        <td><strong>Cliente: </strong>{{ i.punto_referencia }}</td>
      </tr>
    </table>

    {% endfor %}

  </div>
</div>

{% else %}

<h4>
  <a href="../../../direccion/nuevo" style="" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</h4>

{% endif %}

{% if lista_email %}

<a href="../nuevo" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
<h6>Cantidad de Email encontrados:
  <span class="badge" id="count_reg">

    {{ lista_email.count }}

  </span>
</h6>
<tr class="active">
    <th>Email</th>
    <th>Cliente</th>
    <th>Editar</th>
    <th>Eliminar</th>
</tr>

{% for i in lista_email %}

<tr id="tr{{i.id}}">
    <td>{{ i.email }}</td>
    <td>{{ i.cliente.nombre_principal }}</td>
    <td><a href="editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a></td>
    <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.email}}"></a>
  </td>
</tr>

{% endfor %}

{% endif %}

{% endblock content2 %}
