{% extends 'inicio/base_ficha.html' %}

{% block titulo %}

<title>Ficha &middot; Cliente</title>

{% endblock titulo %}

{% block titulo_ficha %}

<h2>Ficha del cliente</h2>

{% endblock titulo_ficha %}

{% block titulo_modal %}

Eliminar

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}


{% block link %}

<ul class="nav navbar-nav">
  <li>
    <a href="../../"><span class="glyphicon glyphicon-chevron-left"></span></a>
  </li>
</ul>

{% endblock link %}

{% block content1 %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#datos" aria-controls="home" role="tab" data-toggle="tab">Datos del cliente</a></li>
    <li role="presentation"><a href="#detalle" aria-controls="profile" role="tab" data-toggle="tab">Informacion Adicional</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="datos">

      {% if lista_cliente %}<!--cliente individual-->

      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <table class="table table-hover">

              {% for i in lista_cliente %}

              <tr>
                <td class=""><strong>Nombre: </strong>{{ i.nombre_principal }}</td>
                <td colspan="2"><span style="">
                  <strong>{{ i.activo|yesno:"Activo,Inactivo" }}</strong>
                </span></td>
                <td><a title="Editar cliente" data-toggle="tooltip" data-placement="right" href="../../editar/{{i.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a></td>
              </tr>
              <tr>
                <td class=""><strong>DNI: </strong>{{ i.dni }}
                  <span style="">
                    <strong>Estado civil: </strong>

                    {% if i.estado_civil %}

                    {{ i.estado_civil }}

                    {% else %}

                    <a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../editar/{{i.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>

                    {% endif %}

                  </span>
                <strong>Fe.Nac.: </strong> {{ i.fecha_nacimiento|date:"d/m/Y" }}
                  <span style="">
                    <strong>Sexo: </strong>

                    {% if i.sexo %}

                    {{ i.sexo }}

                    {% else %}

                    <a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../editar/{{i.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>

                    {% endif %}

                  </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              {% endfor %}

              {% if lista_telefono_cliente %}

              {% for i in lista_telefono_cliente %}

              <tr id="tr{{i.id}}">
                <td class=""><strong>{{ i.tipo_telefono }}: </strong></td>
                <td>{{ i.numero }}</td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../../telefono/nuevo/{{id_cli}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
                <td>
                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="../../../telefono/editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
                </td>
                <td>
                  <a href=# onclick="eliminar('telefono/delete/?codigo={{i.id}}','{{i.id}}','{{i.numero}}'); return false" class="glyphicon glyphicon-remove"></a>
                </td>
              </tr>

              {% endfor %}

              {% else %}

              <tr>
                <td class=""><strong>Telefono: </strong></td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../../telefono/nuevo/{{id_cli}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
                <td></td>
                <td></td>
              </tr>
              {% endif %}

              {% if lista_email %}

              {% for i in lista_email %}

              <tr id="tr{{i.id}}">
                <td class="text-right"><strong>Email: </strong></td>
                <td>{{ i.email }}</td>
                <td><a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../email/nuevo/{{id_cli}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a></td>
                <td>
                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="email/editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
                </td>
                <td>
                  <a href=# onclick="eliminar('email/delete/?codigo={{i.id}}','{{i.id}}','{{i.email}}'); return false" class="glyphicon glyphicon-remove"></a>
                </td>
              </tr>

              {% endfor %}

              {% else %}

              <tr>
                <td class="text-right"><strong>Email: </strong></td>
                <td></td>
                <td><a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../email/nuevo/{{id_cli}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a></td>
                <td></td>
                <td></td>
              </tr>

              {% endif %}

              {% if direccioncliente_lista %}

          {% for i in direccioncliente_lista %}

          <tr id="tr{{i.id}}">
            <td class="text-right"><strong>{{ i.tipo_direccion }}: </strong></td>
            <td>
              <address>
                <p>{{ i.zona.ciudad.provincia.pais }}.
                {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }}
              </p>
                  <p>
                 Zona {{ i.zona }}
                calle {{ i.calle }} numero {{ i.numero }}
                </p>
                 <p>
                Punto de referencia {{ i.punto_referencia }}
              </p>
              </address>
            </td>
            <td width="3">
              <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="../../../direccion/nuevo/{{id_cli}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
            </td>
            <td width="3">
              <a title="Editar" data-toggle="tooltip" data-placement="right" href="../../../direccion/{{i.id}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
            </td>
            <td width="3">
             <a href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}','{{ i.zona.ciudad.provincia.pais }}. {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }} Zona {{ i.zona }} calle {{ i.calle }} numero {{ i.numero }} Punto de referencia {{ i.punto_referencia }}'); return false" class="glyphicon glyphicon-remove"></a>
            </td>
          </tr>

              <tr id="tr{{i.id}}">
                <td class=""><strong>{{ i.tipo_direccion }}: </strong>
                    {{ i.zona.ciudad.provincia.pais }}.
                    {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }}
                    Zona {{ i.zona }}, calle {{ i.calle }}, número {{ i.numero }}
                    <p>
                      Punto de referencia {{ i.punto_referencia }}
                    </p>
                </td>
                <td width="3">
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="../../../direccion/nuevo" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
                <td width="3">
                  <a title="Editar" data-toggle="tooltip" data-placement="right" href="../../../direccion/{{i.id}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
                </td>
                <td width="3">
                  <a href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}','{{ i.zona.ciudad.provincia.pais }}. {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }} Zona {{ i.zona }} calle {{ i.calle }} numero {{ i.numero }} Punto de referencia {{ i.punto_referencia }}'); return false" class="glyphicon glyphicon-remove"></a>
                </td>
              </tr>

              {% endfor %}

          <tr>
            <td><strong>Direccion</strong></td>
            <td></td>
            <td>
              <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="../../../direccion/nuevo/{{id_cli}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
            </td>
            <td></td>
            <td></td>
          </tr>
              <tr>
                <td><strong>Direccion</strong></td>
                <td></td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="../../../direccion/nuevo" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
                <td></td>
                <td></td>
              </tr>

              {% endif %}

            </table>
          </div>
        </div>
      </div>

      {% else %}

      <p>no existe el cliente </p>

      {% endif %}

    </div>
    <div role="tabpanel" class="tab-pane fade" id="detalle">

      {% if lista_cliente %}

      {% for i in lista_cliente %}

      <br>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><strong>Comentario:  </strong> {{ i.comentarios }}</p>
          <table class="table">
            <tr>
              <td><strong>Adicional 1: </strong>{{ i.adicional1 }}</td>
              <td><strong>Adicional 3: </strong>{{ i.adicional3 }}</td>
            </tr>
            <tr>
              <td><strong>Adicional 2: </strong>{{ i.adicional2 }}</td>
              <td><strong>Adicional 4: </strong>{{ i.adicional4 }}</td>
            </tr>
          </table>
          <a title="Editar" data-toggle="tooltip" data-placement="right" href="../../editar/{{i.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
        </div>
      </div>

      {% endfor %}

      {% endif %}

    </div>
  </div>
</div>

{% endblock content1 %}

{% block content2 %}
<h4>Cotizaciones</h4>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cotizaciones" aria-controls="home" role="tab" data-toggle="tab">Activas</a></li>
    <li role="presentation"><a href="#activas" aria-controls="profile" role="tab" data-toggle="tab">Historial</a></li>
  </ul>

  <!-- Tab panes -->
  <br>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="cotizaciones">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- Table -->
        <table class="table" style="text-align: center;">
          <tr class="">
            <th>Numero</th>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Estado</th>
            <th width="3">Ver</th>
          </tr>
          <tr>
            <td>001</td>
            <td>09-98-00</td>
            <td>987678</td>
            <td>True</td>
            <td width="3"><a href="#" class="glyphicon glyphicon-share"></a></td>
          </tr>
        </table>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="activas">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- Table -->
        <table class="table" style="text-align: center;">
          <tr class="">
            <th>Numero</th>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Estado</th>
            <th width="3">Ver</th>
          </tr>
          <tr>
            <td>001</td>
            <td>09-98-00</td>
            <td>987678</td>
            <td>True</td>
            <td width="3"><a href="#" class="glyphicon glyphicon-share"></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock content2 %}

{% block content3 %}

<a href="../../" class="btn btn-default">Lista de clientes</a>

{% endblock content3 %}

{% block content4 %}

{% endblock content4 %}
