<div class="col-md-1"></div>
<div class="col-md-4">
    <h2>Agregar cliente</h2>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a><br><br>
        <div class="form-group">
            {{ cliente_form.as_p }}
            {{ email_form.as_p }}
            {{ mensaje }}
        </div>
        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a><br><br>
    </form>
</div>
