<div class="col-md-1"></div>
<div class="col-md-4">
    <h2>Editar cliente</h2>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Guardar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a><br><br>
        <div class="form-group">
            {{ editar_clie.as_p }}
        </div>
        <a href="{% url 'uclientes:add_telefono_cliente' id_cli %}" class="btn btn-default">agregar telefono</a>
        <a href="{% url 'uclientes:add_direccion_sede_cliente' id_cli %}" class="btn btn-default">agregar direccion</a>
        <br><br>
        <button type="submit" class="btn btn-default">Guardar</button>
        <a href="javascript:history.back();" class="btn btn-default">Regresar</a><br><br>
    </form>
</div>
