{% extends "base_edit.html" %}

{% block titulo %}

<title>Cliente</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar cliente</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ cliente_form.as_p }}
            {{ mensaje }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Clientes</strong> son las personas que se le ofrece el servicio de <strong>mudanza</strong>. </p>
  <p>El <strong>cliente</strong> puede estar activo o inactivo. Puede ver más detalles viendo la ficha del cliente.</p>
  <p>Puede agregar más cliente presionando el botón nuevo.</p>

</div>

{% endblock ayuda %}
