{% extends "inicio/base_edit.html" %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uclientes:lista_cliente' %}" style="color:#777;">Lista de clientes</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_sexo' %}" style="color:#777;">Lista de sexo</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uclientes:lista_cliente' %}" style="color:#777;">Lista de clientes</a></li>
<li><a href="{% url 'uclientes:lista_sexo' %}" style="color:#777;">Lista de sexo</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Estado civil</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar estado civil</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_estadocivil.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_estado_civil').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>El <strong>Estado civil</strong> es la situación de las personas físicas determinada por sus relaciones de familia, provenientes del matrimonio o del parentesco, que establece ciertos derechos y deberes.</p>
  <p>Edite el estado civil y presione el botón ( Registrar ).</p>
</div>

{% endblock ayuda %}
