{% extends 'base3.html' %}
{% block header %}<h2>Telefono del cliente</h2>{% endblock %}
{% if lista_telefono_cliente %}
<h4>Telefonos</h4>
<h6>Cantidad de telefonos encontrados:
  <span class="badge">
    {{ lista_telefono_cliente.count }}
  </span>
</h6>
  <table data-role="table" data-mode="" class="ui-responsive ui-shadow" id="myTabletipoambiente">
    <thead>
    <tr>
      <!--<th data-priority="6">Numero</th>-->
      <th>Tipo</th>
    <th>Numero</th>
      <th data-priority="1">Editar</th>
      <th data-priority="2">Eliminar</th>
    </tr>
  </thead>
   <tbody>
    {% for i in lista_telefono_cliente %}
    <tr id="tr{{i.id}}">
      <!-- <td>{{ i.count }}</td>-->
       <td>{{ i.telefono.tipo_telefono }}</td>
    <td>{{ i.telefono }}</td>
      <td>
        <a href="editar/{{i.id}}/" class="ui-btn ui-icon-edit ui-btn-icon-notext">Editar</a>
      </td>
      <td>
        <a href="#myModal" role="button" class="ui-btn ui-icon-delete ui-btn-icon-notext delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.telefono}}">Eliminar</a>
      </td>
    </tr>
  </tbody>

  {% endfor %}

</table>
<br>
<a href="nuevo/" class="ui-btn ui-icon-plus ui-btn-icon-left">Nuevo</a>
<a class="ui-btn ui-icon-carat-l ui-btn-icon-left" href="../">Regresar</a>

{% else %}
<a href="nuevo/" class="ui-btn ui-icon-plus ui-btn-icon-left">Nuevo</a>
<p>Telefono no encontrado</p>
{% endif %}

