{% extends 'base3.html' %}

{% block content %}
 <!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar telefono</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el telefono <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_id" name="item_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->

 {% if lista_telefono_cliente %}

<h4>Telefonos</h4>
<h6>Cantidad de telefonos encontrados:
  <span class="badge" id="count_reg">
    {{ lista_telefono_cliente.count }}
  </span>
</h6>
  <table data-role="table" data-mode="" class="ui-responsive ui-shadow" id="myTabletipoambiente">
    <thead>
    <tr>
      <!--<th data-priority="6">Numero</th>-->
      <th>Tipo</th>
    <th>Numero</th>

    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  {% for i in lista_telefono_cliente %}
  <tr id="tr{{i.id}}">
    <td>{{ i.tipo_telefono }}</td>
    <td>{{ i.numero }}</td>
    <td>
      <a href="../../../telefono/editar/{{i.id}}" class="glyphicon glyphicon-edit">ed
      </a>
    </td>
    <td>
      <a href="#myModal" role="button" class="btn btn-danger delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.numero}}"><i class="icon-trash icon-white"></i>Eliminar</a>
    </td>
  </tr>

  {% endfor %}

</table>

{% else %}
<a href="nuevo/" class="ui-btn ui-icon-plus ui-btn-icon-left">Nuevo</a>

<p>Telefono no encontrado</p>

{% endif %}

{% endblock %}
