@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ebr9r5');
	src:url('fonts/icomoon.eot?#iefix-ebr9r5') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-ebr9r5') format('truetype'),
		url('fonts/icomoon.woff?-ebr9r5') format('woff'),
		url('fonts/icomoon.svg?-ebr9r5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
	content: "\e600";
}
