{% extends 'base_lista.html' %}

{% block titulo %}

<title>Tipo de telefonos</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar tipo de telefono

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de tipos de telefono </h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "tipotelefono_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="">
<p>
  Si contamos con muchos Telefonos, será mucho más fácil su manejo si estos están agrupados de manera lógica
</p>
<p>
  Para ello exisen los Tipos de telefonos, los cuales clasifican a los <strong>Telefono</strong>.
</p>
<p>
  El <strong>Tipo telefono</strong> se usa para agrupar los numeros telefonicos de los clientes.
</p>
<p>
  Para agregar un nuevo teléfono presione el botón (nuevo).
</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'utelefonos:search_tipotelefono' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
