{% extends "base_edit.html" %}

{% block titulo %}

<title>Tipo de telefono</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar Tipo de telefono</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_tipotelefono.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_tipo_telefono').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>
  Si contamos con muchos Telefonos, será mucho más fácil su manejo si estos están agrupados de manera lógica
</p>
<p>
  Para ello exisen los Tipos de telefonos, los cuales clasifican a los <strong>Telefono</strong>.
</p>
<p>
  El <strong>Tipo telefono</strong> se usa para agrupar los numeros telefonicos de los clientes.
</p>
</div>

{% endblock ayuda %}
