{% block cantidad_tabla %}

<h6>Cantidad de tipo de telefonos encontrados:
  <span class="badge" id="count_reg">

    {{ lista_tipotelefono.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}
<nav class="nav-pagination">
  <ul class="pagination">

{% block pagination %}

{% if tipostelefono.has_previous %}

<li>
  <a href="?page={{ tipostelefono.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a class="fuenteNegra"> Página

    <select title="nro pag." onchange="window.location.href=this.value;">
      <option value="?page=0">ver todo</option>
      {% if tipostelefono.paginator.page_range %}

      {% for p in tipostelefono.paginator.page_range %}
      {% if p == tipostelefono.number %}

      <option value="?page={{p}}" selected>{{p}}</option>

      {% else %}

      <option value="?page={{p}}">{{p}}</option>

      {% endif %}

      {% endfor %}

      {% else %}
      <option value="?page=1">paginar</option>
      {% endif %}
    </select>

    de

    {{ tipostelefono.paginator.num_pages }}

    Desde el tipo de teléfono

    {{ tipostelefono.start_index }}

    hasta el tipo de teléfono

    {{ tipostelefono.end_index }}

  </a>
</li>

{% if tipostelefono.has_next %}

<li>
  <a href="?page={{ tipostelefono.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

  </ul>
</nav>
{% block cuerpo_tabla %}
{% if tipostelefono %}

<table class="table table-hover table-bordered textAlignCenter" id="tabla">
<tr class="active">
    <th>
      Tipo de teléfono
      <a href="?order_by=tipo_telefono" id="tipo_telefono" class="glyphicon glyphicon-sort-by-alphabet btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
      <a href="?order_by=-tipo_telefono" id="-tipo_telefono"  class="glyphicon glyphicon-sort-by-alphabet-alt btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>
    </th>
    <th width="80px">Editar</th>
    <th width="80px">Eliminar</th>
</tr>

{% for i in tipostelefono %}

<tr id="tr{{i.id}}">
    <td>{{ i.tipo_telefono }}</td>
    <td>
      <a href="editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
    </td>
    <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.tipo_telefono}}"></a>
  </td>
</tr>


{% endfor %}
</table>
{% else %}

<table class="table table-hover table-bordered textAlignCenter" id="tabla">
<tr><td> No se encontraron registros</td>
</tr>
</table>

{% endif %}
{% endblock cuerpo_tabla %}
{% block js_inf %}

<script>
ocultarASCDesc('tipo_telefono');
</script>

{% endblock js_inf %}
