<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Proyecto Demo</title>
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
     <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
     <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/js/eliminar.js"></script>
    <script src="/static/js/bootstrap.js"></script>

  </head>
  <body>
    {% block content %}
    {% endblock%}
  </body>
</html>
