{% block content %}
<div data-role="page" id="login">
    <div data-role="main" class="ui-content">
        <form method="post" action="demoform.asp">
        <div>
          <h3>Login information</h3>
          <label for="usrnm" class="ui-hidden-accessible">Username:</label>
          <input type="text" name="user" id="usrnm" placeholder="Username">
          <label for="pswd" class="ui-hidden-accessible">Password:</label>
          <input type="password" name="passw" id="pswd" placeholder="Password">
          <label for="log">Keep me logged in</label>
          <input type="checkbox" name="login" id="log" value="1" data-mini="true">
          <input type="submit" data-inline="true" value="Log in">
        </div>
      </form>
    </div>
</div>
<div data-role="page" id="dashboard">
    <div data-role="header">
        <h1>Insert Page Title Here</h1>
    </div>
    <div data-role="main" class="ui-content">
        <p>Insert Content Here</p>
    </div>
    <div data-role="footer">
        <h1>Insert Footer Text Here</h1>
    </div>
</div>
{% endblock%}
