{% extends 'base_ficha.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uclientes:lista_cliente' %}">Lista de clientes</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_estadocivil' %}">Lista de estado civil</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_sexo' %}">Lista de sexo</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uclientes:lista_cliente' %}">Lista de clientes</a></li>
<li><a href="{% url 'uclientes:lista_estadocivil' %}">Lista de estado civil</a></li>
<li><a href="{% url 'uclientes:lista_sexo' %}">Lista de sexo</a></li>

{% endblock footerLink %}

{% block col1 %}

class="col-md-7"

{% endblock col1 %}

{% block titulo %}

<title>Ficha del Cliente</title>

{% endblock titulo %}

{% block titulo_ficha %}

<h2>Ficha del cliente</h2>

{% endblock titulo_ficha %}

{% block titulo_modal %}

Eliminar

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block content1 %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#datos" aria-controls="home" role="tab" data-toggle="tab">Datos del cliente</a></li>
    <li role="presentation"><a href="#detalle" aria-controls="profile" role="tab" data-toggle="tab">Información adicional</a></li>
    <li role="presentation"><a href="#Hcotizacion" aria-controls="profile" role="tab" data-toggle="tab">Historial de cotizaciones</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="datos">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <table class="table table-hover">
              <tr>
                <td class="">
                  <strong>DNI: </strong>

                  {{ lista_cliente.0.dni }}

                  <strong> Nombre: </strong>

                  {{ lista_cliente.0.nombre_principal }}

                  <p>
                    <span style="">
                      <strong>Estado civil: </strong>

                      {{ lista_cliente.0.estado_civil }}

                    </span>
                    <strong>Fe.Nac.: </strong>

                    {{ lista_cliente.0.fecha_nacimiento|date:"d/m/Y" }}

                    <span style="">
                      <strong>Sexo: </strong>

                      {{ lista_cliente.0.sexo }}

                    </span>
                  </p>
                </td>
                <td colspan="2">
                  <span style="">
                    <strong>

                      {{ lista_cliente.0.activo|yesno:"Activo,Inactivo" }}

                    </strong>
                  </span>
                </td>
                <td>
                  <a title="Editar cliente" data-toggle="tooltip" data-placement="right" href="../../editar/{{lista_cliente.0.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
                </td>
              </tr>
              <tr>
                <td class="">
                  <strong>Teléfonos: </strong>

                  {% for i in lista_telefono_cliente %}

                  <p id="tr{{lista_telefono_cliente.0.id}}" style="margin:0 0 0!important;">
                    <strong>

                      {{ lista_telefono_cliente.0.tipo_telefono }}:

                    </strong>

                    {{ lista_telefono_cliente.0.numero }}

                    <small>
                      <a style="padding: 0 0 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="../../../telefono/editar/{{lista_telefono_cliente.0.id}}/" class="glyphicon glyphicon-edit"></a>
                      <a style="padding: 0 0 8px 8px;" href=# onclick="eliminar('telefono/delete/?codigo={{lista_telefono_cliente.0.id}}','{{lista_telefono_cliente.0.id}}','{{lista_telefono_cliente.0.numero}}'); return false" class="glyphicon glyphicon-remove"></a>
                    </small>
                  </p>

                  {% endfor %}

                </td>
                <td></td>
                <td></td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../../telefono/nuevo/{{lista_cliente.0.id}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
              </tr>
              <tr>
                <td class="">
                  <strong>Emails: </strong><br>

                  {% for i in lista_email %}

                  <p id="tr{{i.id}}" style="margin:0 00!important;">

                    {{ i.email }}

                    <small>
                      <a style="padding:0px0 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="" href="email/editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
                      <a style="padding:0px0 8px 8px;" href=# onclick="eliminar('email/delete/?codigo={{i.id}}','{{i.id}}','{{i.email}}'); return false" class="glyphicon glyphicon-remove"> </a>
                    </small>
                  </p>

                  {% endfor %}

                  <td></td>
                  <td></td>
                </td>
                <td>
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" href="../../email/nuevo/{{lista_cliente.0.id}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
              </tr>
              <tr>
                <td class="">
                  <strong>Direcciones: </strong><br>

                  {% for i in direccioncliente_lista %}

                  <p id="tr{{i.id}}" style="margin:0 00!important;">
                    <strong>{{ i.tipo_direccion }}: </strong>
                    {{ i.zona.ciudad.provincia.pais }}.
                    {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }}
                    Zona {{ i.zona }}, calle {{ i.calle }}, número {{ i.numero }}
                    Punto de referencia {{ i.punto_referencia }}
                    <small>
                      <a style="padding:0px0 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="../../../direccion/{{i.id}}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
                      <a style="padding:0px0 8px 8px;" href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}','{{ i.zona.ciudad.provincia.pais }}. {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }} Zona {{ i.zona }} calle {{ i.calle }} numero {{ i.numero }} Punto de referencia {{ i.punto_referencia }}'); return false" class="glyphicon glyphicon-remove"></a>
                    </small>
                    <a href="{{ i.get_absolute_url }}">editar</a>
                  </p>
{{ i.full_direccion}}
                  {% endfor %}

                </td>
                <td width="80px"></td>
                <td width="80px"></td>
                <td width="80px">
                  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="../../../direccion/nuevo/{{ lista_cliente.0.id }}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="detalle">
      <br>
      <div class="panel panel-default">
        <table class="table table-hover">
          <tr>
            <td class="" colspan="2">
              <strong>Comentario:  </strong>

              {{ lista_cliente.0.comentarios }}

              <a title="Editar" data-toggle="tooltip" data-placement="right" href="../../editar/{{lista_cliente.0.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
            </td>
          </tr>
          <tr>
            <td><strong>Adicional 1: </strong>{{ lista_cliente.0.adicional1 }}</td>
            <td><strong>Adicional 3: </strong>{{ lista_cliente.0.adicional3 }}</td>
          </tr>
          <tr>
            <td><strong>Adicional 2: </strong>{{ lista_cliente.0.adicional2 }}</td>
            <td><strong>Adicional 4: </strong>{{ lista_cliente.0.adicional4 }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Hcotizacion">
      <br>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- Table -->
        <table class="table" style="text-align: center;">
          <tr class="">
            <th>Numero</th>
            <th>Fecha</th>
            <th>Contrato</th>
            <th>Estado</th>
            <th width="80px">Ver</th>
          </tr>

          {% for cli in lista_cliente %}

          {% if lista_cotizacion %}

          {% for i in lista_cotizacion %}

          {% if i.cliente.id = cli.id %}

          <tr>
            <td>{{ i.numero_cotizacion }}</td>
            <td>{{ i.fecha_creacion|date:"d/m/Y" }}</td>
            <td>{{ i.numero_contrato }}</td>
            <td>{{ i.estado }}</td>
            <td>
              <a width="" href="../../../cotizacion/buscar/{{i.id}}" class="glyphicon glyphicon-tag" ></a>
            </td>
          </tr>

          {% endif %}

          {% endfor %}

          {% endif %}

          {% endfor %}

        </table>
      </div>
    </div>
  </div>
</div>
{% if lista_cliente %}

<br>

<h4>Cotizaciones activas</h4>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <!-- Table -->
  <table class="table" style="text-align: center;">
    <tr class="">
      <th>Numero</th>
      <th>Fecha</th>
      <th>Contrato</th>
      <th>Estado</th>
      <th width="80px">Ver</th>
    </tr>

    {% for cli in lista_cliente %}

    {% if lista_cotizacion %}

    {% for i in lista_cotizacion %}

    {% if i.cliente.id = cli.id and i.estado.id != 5 %}

    <tr>
      <td>{{ i.numero_cotizacion }}</td>
      <td>{{ i.fecha_creacion|date:"d/m/Y" }}</td>
      <td>{{ i.numero_contrato }}</td>
      <td>{{ i.estado }}</td>
      <td>
        <a width="" href="../../../cotizacion/buscar/{{i.id}}" class="glyphicon glyphicon-tag" ></a>
      </td>
    </tr>

    {% endif %}

    {% endfor %}

    {% endif %}

    {% endfor %}

  </table>
</div>

{% endif %}

{% endblock content1 %}
