{% extends "inicio/base_edit.html" %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uclientes:lista_cliente' %}" style="color:#777;">Lista cliente</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_estadocivil' %}" style="color:#777;">Lista de estado civil</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_sexo' %}" style="color:#777;">Lista de sexo</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uclientes:lista_cliente' %}" style="color:#777;">Lista cliente</a></li>
<li><a href="{% url 'uclientes:lista_estadocivil' %}" style="color:#777;">Lista de estado civil</a></li>
<li><a href="{% url 'uclientes:lista_sexo' %}" style="color:#777;">Lista de sexo</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Cliente</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar cliente</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ cliente_form.as_p }}
            {{ mensaje }}

</div>
<script type="text/javascript">
document.getElementById('id_nombre_principal').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>Los <strong>Clientes</strong> son las personas que se le ofrece el servicio de <strong>mudanza</strong>. </p>
  <p>El <strong>cliente</strong> puede estar activo o inactivo. Puede ver más detalles viendo la ficha del cliente.</p>
  <p>Puede agregar más cliente presionando el botón nuevo.</p>

</div>

{% endblock ayuda %}
