{% extends "base_edit.html" %}

{% block titulo %}

<title>Cliente</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar el cliente {{editar_clie.nombre_principal.value|lower}}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ editar_clie.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_nombre_principal').focus();
$( "#id_fecha_nacimiento" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>Los <strong>Clientes</strong> son las personas a las que se prestan los servicios de <strong>mudanza</strong>.</p>
  <p>El registro de <strong>Clientes</strong> conlleva el llenado de múltiples campos que aportan información sobre la persona a atender. Puede estar activo o inactivo.</p>

</div>

{% endblock ayuda %}
