{% extends 'inicio/base3.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uclientes:lista_cliente' %}" style="color:#777;">Clientes</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_estadocivil' %}" style="color:#777;">Estado civil</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_sexo' %}" style="color:#777;">Sexo</a></li>

{% endblock link_navegacion %}

{% block footerlink %}

<li><a href="{% url 'uclientes:lista_cliente' %}">Clientes</a></li>
<li><a href="{% url 'uclientes:lista_estadocivil' %}">Estado civil</a></li>
<li><a href="{% url 'uclientes:lista_sexo' %}">Sexo</a></li>

{% endblock footerlink %}

{% block titulo %}

<title>Direccion: cliente</title>

{% endblock %}

{% block content %}

<div class="col-md-2"></div>


<!--IniciaModal-->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body">
        <p>¿Eliminar <span id="modal_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="frmEliminar">

          {% csrf_token %}

          <input type="hidden" id="modal_id" name="item_id">
          <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
          <button type="submit" class="btn btn-default">Si</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->
<h2>Direccion del cliente</h2>

{% if direccioncliente_lista %}

<div class="panel panel-default">

  {% for i in direccioncliente_lista %}

  <div class="panel-heading">
    <h4>
      {{ i.cliente }}
      <a href="../../../direccion/nuevo/{{id_cli}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
      <span style="float:right;padding:20px;"></span>
      <a href="../../../direccion/{{i.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
    </h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Calle: </strong>{{ i.calle }} </td>
        <td><strong>Tipo de direccion: </strong>{{ i.zona }}</td>
      </tr>
      <tr>
        <td><strong>Numero:  </strong> {{ i.numero }}</td>
        <td><strong>Zip1: </strong>{{ i.tipo_direccion }}</td>
      </tr>
      <tr>
        <td><strong>Piso:  </strong>{{ i.piso }}</td>
        <td><strong>Punto de referencia: </strong>{{ i.zip }}</td>
      </tr>
      <tr>
        <td><strong>Adicional: </strong>{{ i.adicional }}</td>
        <td><strong>Cliente: </strong>{{ i.punto_referencia }}</td>
      </tr>
    </table>

    {% endfor %}

  </div>
</div>

{% else %}

<h4>
  <a href="../../../direccion/nuevo/0/" style="" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</h4>

{% endif %}


{% endblock %}

{% block ayuda %}

<div class="well well-lg">
 <p>La <strong>Direccion</strong> del cliente es importante ya que es requisito para la mudanza.  </p>
 <p>Se recomienda agregar al menos una direccion por cada cliente.</p>
 <p>Para agregar una direccion presione el boton (<span class="glyphicon-asterisk glyphicon glyphicon-plus"></span>)</p>

</div>

{% endblock ayuda %}
