{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Cliente: Email</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar email</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_email.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
  <p>El <strong>Email</strong> del cliente es importante porque por medio de ellos se contacta al cliente y se envían promociones existentes.  </p>
  <p>Se recomienda agregar al menos un email por cada cliente.</p>
</div>

{% endblock ayuda %}
