{% extends "base_edit.html" %}

{% block titulo %}

<title>Estado civil</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar el estado civil {{form_edit_estadocivil.estado_civil.value|lower}}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_estadocivil.as_p }}

</div>
<script type="text/javascript">
document.getElementById('id_estado_civil').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>El <strong>Estado civil</strong> es la situación de las personas físicas determinada por sus relaciones de familia, provenientes del matrimonio o del parentesco, que establece ciertos derechos y deberes.</p>
  <p>Edite el estado civil y presione el botón ( Registrar ).</p>
</div>

{% endblock ayuda %}
