{% block cantidad_tabla %}

<h6>Cantidad de sexos encontrados:
  <span class="badge" id="count_reg">

    {{ lista_sexo.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}
<nav class="nav-pagination">
  <ul class="pagination">

{% block pagination %}

{% if sexos.has_previous %}

<li>
  <a href="?page={{ sexos.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
</li>

{% endif %}

<li class="current">
  <a class="fuenteNegra"> Página

    <select title="nro pag." onchange="window.location.href=this.value;">
      <option value="?page=0">ver todo</option>
      {% if sexos.paginator.page_range %}

      {% for p in sexos.paginator.page_range %}
      {% if p == sexos.number %}

      <option value="?page={{p}}" selected>{{p}}</option>

      {% else %}

      <option value="?page={{p}}">{{p}}</option>

      {% endif %}

      {% endfor %}

      {% else %}
      <option value="?page=1">paginar</option>
      {% endif %}
    </select>
    de

    {{ sexos.paginator.num_pages }}

    Desde el

    {{ sexos.start_index }}

    hasta el

    {{ sexos.end_index }}

  </a>
</li>

{% if sexos.has_next %}

<li>
  <a href="?page={{ sexos.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
</li>

{% endif %}

{% endblock pagination %}

  </ul>
</nav>

{% block cuerpo_tabla %}
{% if sexos %}

<table class="table table-hover table-bordered textAlignCenter" id="tabla">
<tr class="active">
  <th>
    Sexo
    <a href="?order_by=sexo" id="sexo" class="glyphicon glyphicon-sort-by-alphabet btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Asc"></a>
    <a href="?order_by=-sexo" id="-sexo"  class="glyphicon glyphicon-sort-by-alphabet-alt btn-ordenarLista" data-placement="left" data-toggletooltip="tooltip" title="Desc"></a>
  </th>
  <th width="80px">Editar</th>
  <th width="80px">Eliminar</th>
</tr>

{% for i in sexos %}

<tr id="tr{{i.id}}">
      <td>{{ i.sexo }}</td>
      <td>
        <a href="editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
      </td>
      <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.sexo}}"></a>
      </td>
    </tr>

{% endfor %}

</table>
{% else %}

<table class="table table-hover table-bordered textAlignCenter" id="tabla">
<tr><td> No se encontraron registros</td>
</tr>
</table>

{% endif %}
{% endblock cuerpo_tabla %}
{% block js_inf %}

<script>
ocultarASCDesc('sexo');
</script>

{% endblock js_inf %}
