{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uclientes:lista_cliente' %}">Clientes</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_estadocivil' %}">Estado civil</a></li>
<li class="linknav"><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a></li>
<li class="linknav"><a href="{% url 'utelefonos:lista_tipotelefono' %}">Tipos de teléfono</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uclientes:lista_cliente' %}">Clientes</a></li>
<li><a href="{% url 'uclientes:lista_estadocivil' %}">Estado civil</a></li>
<li><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a></li>
<li><a href="{% url 'utelefonos:lista_tipotelefono' %}">Tipos de teléfono</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Sexos</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar sexo

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de sexos</h2>

{% endblock titulo_tabla %}

{% if lista_sexo %}

{% block cantidad_tabla %}

<h6>Cantidad de sexos encontrados:
  <span class="badge" id="count_reg">

    {{ lista_sexo.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}


{% block cuerpo_tabla %}

<tr class="active">
  <th>Sexo</th>
  <th width="80px">Editar</th>
  <th width="80px">Eliminar</th>
</tr>

{% for i in lista_sexo %}

<tr id="tr{{i.id}}">
      <td>{{ i.sexo }}</td>
      <td>
        <a href="editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
      </td>
      <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.sexo}}"></a>
      </td>
    </tr>

{% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="">
  <p>El registro de <strong>Clientes</strong> demanda el dato del <strong>Sexo</strong>, que lo caracteriza como varón, mujer u otros. Además de aportar información sobre la manera de dirigirse a la persona.</p>
  <p>Nuestra sociedad acepta la diversidad sexual por lo que puede agregar más <strong>Sexos</strong> presionando el botón <a title="Nuevo" class="" role="button" href="nuevo/" style="color: #777; font-size: 18px;"><span class="glyphicon-asterisk glyphicon glyphicon-plus"></span></a> en la barra de herramientas.</p>
</div>

{% endblock ayuda %}
