{% extends 'base_lista.html' %}

{% block link_navegacion %}

<li class="linknav"><a href="{% url 'uclientes:lista_cliente' %}">Clientes</a></li>
<li class="linknav"><a href="{% url 'uclientes:lista_estadocivil' %}">Estado civil</a></li>
<li class="linknav"><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a></li>
<li class="linknav"><a href="{% url 'utelefonos:lista_tipotelefono' %}">Tipos de teléfono</a></li>

{% endblock link_navegacion %}

{% block footerLink %}

<li><a href="{% url 'uclientes:lista_cliente' %}">Clientes</a></li>
<li><a href="{% url 'uclientes:lista_estadocivil' %}">Estado civil</a></li>
<li><a href="{% url 'udirecciones:lista_tipo_direccion' %}">Tipos de dirección</a></li>
<li><a href="{% url 'utelefonos:lista_tipotelefono' %}">Tipos de teléfono</a></li>

{% endblock footerLink %}

{% block titulo %}

<title>Sexos</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar sexo

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de sexos</h2>

{% endblock titulo_tabla %}

{% block contenidogeneral %}

 <div id="search-results">
   {% include "sexo_lista_search.html" %}
 </div>

{% endblock contenidogeneral%}

{% block ayuda %}

<div class="">
  <p>El registro de <strong>Clientes</strong> demanda el dato del <strong>Sexo</strong>, que lo caracteriza como varón, mujer u otros. Además de aportar información sobre la manera de dirigirse a la persona.</p>
  <p>Nuestra sociedad acepta la diversidad sexual por lo que puede agregar más <strong>Sexos</strong> presionando el botón <a title="Nuevo" class="btn-descripcionAyuda" role="button" href="nuevo/"><span class="glyphicon-asterisk glyphicon glyphicon-plus"></span></a> en la barra de herramientas.</p>
</div>

{% endblock ayuda %}
{% block js_sup %}

<script>
$(function(){

  $('#search').keyup(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'uclientes:search_sexo' %}",
      data: {
        'search_text': $('#search').val(),
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success: searchSuccess,
      dataType: 'Html'
    });
  });
});

function searchSuccess(data, textStatus, jqXHR){
  $('#search-results').html(data)
}
</script>

{% endblock js_sup %}
