{% extends "base_edit.html" %}

{% block titulo %}

<title>Sexo</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar el sexo {{form_edit_sexo.sexo.value|lower}}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_edit_sexo.as_p }}


</div>
<script type="text/javascript">
document.getElementById('id_sexo').focus()
</script>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>El registro de <strong>Clientes</strong> demanda el dato del <strong>Sexo</strong>, que lo caracteriza como varón, mujer u otros. Además de aportar información sobre la manera de dirigirse a la persona.</p>
</div>

{% endblock ayuda %}
