{% extends 'base_lista.html' %}

{% block titulo %}

<title>Cliente: Telefono</title>

{% endblock titulo %}

{% block titulo_modal %}

<div class="modal-header">
  <h3 id="myModalLabel">Eliminar telefono</h3>
</div>

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de telefonos </h2>

{% endblock titulo_tabla %}

{% if lista_telefono_cliente %}

{% block cantidad_tabla %}

<a href="../../../telefono/nuevo/0/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
<h6>Cantidad de telefono encontrados:
  <span class="badge" id="count_reg">

    {{ lista_telefono_cliente.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

<tr class="active">
    <th>Tipo</th>
    <th>Numero</th>
    <th>Cliente</th>
    <th>Editar</th>
    <th>Eliminar</th>
</tr>

{% for i in lista_telefono_cliente %}

<tr id="tr{{i.id}}">
    <td>{{ i.tipo_telefono }}</td>
    <td>{{ i.numero }}</td>
    <td>{{ i.cliente }}</td>
    <td><a href="../../../telefono/editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a></td>
    <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.numero}}"></a>
        <a href="../../nuevo/{{id_cli}}/" class="glyphicon glyphicon-plus" style="float:right;"></a>
  </td>
</tr>

{% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<br>
<div class="well well-lg">
 <p>El <strong>Telefono</strong> del cliente es importante porque por medio de ellos se contacta al cliente.  </p>
 <p>Se recomienda agregar al menos un telefono por cada cliente.</p>

</div>

{% endblock ayuda %}
