.filtra-campos>p>#id_descripcion_vehiculo,
.filtra-campos>p>#id_tiempo_carga,
.filtra-campos>p>#id_tiempo_total,
.filtra-campos>p>label[for=id_descripcion_vehiculo],
.filtra-campos>p>label[for=id_descripcion_persona],
.filtra-campos>p>#id_descripcion_persona,
.filtra-campos>p>input[type=number],
.filtra-campos>p>label[for=id_cantidad_vehiculo],
.filtra-campos>p>label[for=id_cantidad_persona],
.filtra-campos>p>label[for=id_cantidad_ambientes],
.filtra-campos>p>label[for=id_cantidad_muebles],
.filtra-campos>p>label[for=id_cantidad_contenedores],
.filtra-campos>p>label[for=id_total_peso_contenedores],
.filtra-campos>p>label[for=id_total_peso_muebles],
.filtra-campos>p>label[for=id_total_peso_contenidos],
.filtra-campos>p>label[for=id_total_volumen_muebles],
.filtra-campos>p>label[for=id_total_volumen_contenedores],
.filtra-campos>p>label[for=id_total_volumen_contenidos],
.filtra-campos>p>label[for=id_total_m3],
.filtra-campos>p>label[for=id_tiempo_carga],
.filtra-campos>p>label[for=id_tiempo_total],
.filtra-campos>p>label[for=id_monto_vehiculo_hora],
.filtra-campos>p>label[for=id_monto_vehiculo_recorrido],
.filtra-campos>p>label[for=id_monto_persona],
.filtra-campos>p>label[for=id_monto_sin_impuesto],
.filtra-campos>p>label[for=id_monto_impuesto],
.filtra-campos>p>label[for=id_monto_con_impuesto],
#cantidad_ayudante, #cantidad_ayudanteadicional, #total_capacidad_vehiculokg,
#total_capacidad_vehiculovol, #duracion_teorica, #duracion_optima,
#monto_personateorica, #monto_personaoptima, #monto_m3_inmueble,
#monto_amb_inmueble, #monto_mudanza_hrsdirectas, #monto_mundanza_hrsoptimas,
#monto_descuesto_regargo {
  display: none;
}

.campo {
  width: 50%;
}

#descripcion_vehiculo, #descripcion_persona, #cantidad_vehiculo,
#cantidad_persona, #cantidad_ambientes, #cantidad_muebles,
#cantidad_contenedores, #total_peso_contenedores, #total_peso_muebles,
#total_peso_contenidos, #total_volumen_muebles, #total_volumen_contenedores,
#total_volumen_contenidos, #total_m3, #tiempo_carga, #tiempo_total,
#monto_vehiculo_hora, #monto_vehiculo_recorrido, #monto_persona,
#monto_sin_impuesto, #monto_impuesto, #monto_con_impuesto, #cotizador,
#total_capacidad_vehiculo, #total_peso_materiales, #total_peso_mudanza,
#total_volumen_materiales, #tiempo_servicios, #monto_materiales,
#monto_servicios, #estado,#activo {
  display: none;
}

#recorrido_km, #tiempo_recorrido, #fecha_estimadamudanza {
  width: 25%;
}

@media (max-width:991px) {
  .campo{width: 50%;}
  #recorrido_km,#tiempo_recorrido,#fecha_estimadamudanza{width: 32.5%;}
}

@media (max-width:630px) {

  .campo{
    width: 48%;
  }

  #recorrido_km, #tiempo_recorrido, #fecha_estimadamudanza {
    width:100%;
  }
}

.form-group>p>label {
  display:inline-table;
  font-family: inherit;
  font: inherit;
}

#id_dni, #id_nombre_cliente, #id_telefono, #id_email,
#id_fecha_estimadamudanza, #id_recorrido_km, #id_tiempo_recorrido {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
  padding: 10px 16px;
  display:block;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  color: #555;
  font-family: inherit;
  font: inherit;
  margin: 0;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

#id_dni:focus, #id_nombre_cliente:focus, #id_telefono:focus, #id_email:focus,
#id_fecha_estimadamudanza:focus, #id_recorrido_km:focus,
#id_tiempo_recorrido:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
