body{
	background: #F1F1F1;
	font-family: monospace, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#container{
	margin: 30px;
}

.multiselect select{
		background: #FFFFFF;
		border: 1px solid #CCC;
		font-weight: bold;
		margin: 0;
		margin-right: 4px;
		padding: 3px 6px;
}

.multiselect select.disabled{
	background: #DDDDDD;
	opacity: 0.8;
}

.multiselect select.loading{
    background: #f1f1f1;
    color: transparent;
    min-width: 130px;
}

.multiselect select option{
	font-weight: normal;
	border: none !important;
}
