{% extends "inicio/base3.html" %}

{% block acceso_rapido %}

        <a title="Volver" class="navbar-brand" role="button" aria-expanded="false" href="javascript:history.back();"><span class="glyphicon glyphicon-chevron-left"></span></a>

{% endblock acceso_rapido %}

{% block navegacion %}

<div class="col-md-2">
    <div class="barra-vertical hidden-print" style="">
        <ul class="nav_l">

            {% block link_navegacion %}{% endblock link_navegacion %}

        </ul>
    </div>
</div>

{% endblock navegacion %}

{% block content %}

<div {% block col_edit %}

    class="col-md-5"

{% endblock col_edit %}

>
    <div class="">

        {% block titulo_form %}{% endblock titulo_form %}

        <form action="" method="post">

            {% csrf_token %}

            {% block cuerpo_form %}{% endblock cuerpo_form %}

            <button type="submit" class="btn btn-default">Registrar</button>
            <br>

        </form>
    </div>
    <br>
    <div class="">

        {% block contenido_adicional %}{% endblock contenido_adicional %}

    </div>
</div>
<div class="ayuda well well-lg">
    <button style="padding:0px;" type="button" class="ayuda_btn close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    {% block ayuda %}{% endblock ayuda %}

</div>

{% endblock content %}
