{% extends "inicio/base3.html" %}

{% block link_base %}

<ul class="nav navbar-nav">
  <li>
    <a href="javascript:history.back();" class="btn">Regresar</a>
  </li>
</ul>

{% endblock link_base %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="">

                {% block titulo_form %}{% endblock titulo_form %}

                <form action="" method="post">

                    {% csrf_token %}

                    {% block cuerpo_form %}{% endblock cuerpo_form %}

                    <button type="submit" class="btn btn-default">Registrar</button>
                </form>
            </div>
            <br>
            <div class="col-md-8">

            {% block contenido_adicional %}{% endblock contenido_adicional %}

            </div>

        </div>
        <div class="col-md-4">

            {% block ayuda %}{% endblock ayuda %}

        </div>
    </div>
</div>
<br>

{% endblock content %}
