<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/eliminar.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/bootstrap.js"></script>

<script>
    $('#id_tipo_ambiente').focus();
</script>
<script>
    $(window).scroll(function()
        {
            if ($(this).scrollTop() > 10) $('.btn-procesos').addClass("fixed").fadeIn();
            else $('.btn-procesos').removeClass("fixed").fadeIn();
        });
</script>
<script>
    $(function(){

  $('.lii').click(function(){
    $('.li.active').removeClass('active');
    $(this).addClass('active');

  });

});
</script>
