<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/eliminar.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/ayuda.js"></script>


<script>
    $('#id_tipo_ambiente').focus();
</script>
<script>
    $(window).scroll(function()
        {
            if ($(this).scrollTop() > 10) $('.btn-procesos').addClass("fixed").fadeIn();
            else $('.btn-procesos').removeClass("fixed").fadeIn();
        });
</script>
<script>
    $(function(){

  $('.lii').click(function(){
    $('.li.active').removeClass('active');
    $(this).addClass('active');

  });

});

</script>
<script>
    $(document).ready(main);

var contador = 1;

function main () {
    $('.girar').click(function() {
        if (contador == 1) {

  $('.girar').removeClass('giro2');
  $(this).addClass('giro');


  contador = 0;
} else{
    contador = 1;
  $('.girar').removeClass('giro');
  $(this).addClass('giro2');

}
});
}
</script>
<style>
.girar {
  position: relative;cursor:pointer;
  -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
}

.girar.giro {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
    zoom: 1;
}
.girar.giro2 {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    zoom: 1;
}
</style>
