{% extends 'inicio/base_lista.html' %}

{% block titulo %}

<title>Tipo de telefonos</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar tipo de telefono

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el registro: <strong id="modal_name"></strong>?</p>

{% endblock validacion_modal %}

{% block titulo_tabla %}

<h2>Listado de tipos de telefono </h2>

{% endblock titulo_tabla %}

{% if obj_list %}

{% block cantidad_tabla %}

<h6>Cantidad de tipo de telefonos encontrados:
  <span class="badge" id="count_reg">

    {{ obj_list.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

<tr class="active">
    <th>Tipo de telefono</th>
    <th>Editar</th>
    <th>Eliminar</th>
</tr>

{% for i in obj_list %}

<tr id="tr{{i.id}}">
    <td>{{ i.tipo_telefono }}</td>
    <td>
      <a href="editar/{{i.id}}/" class="glyphicon glyphicon-edit"></a>
    </td>
    <td>
        <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.tipo_telefono}}"></a>
  </td>
</tr>

{% endfor %}

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<br>
<div class="well well-lg">
<p>
  Si contamos con muchos Telefonos, será mucho más fácil su manejo si estos están agrupados de manera lógica
</p>
<p>
  Para ello exisen los Tipos de telefonos, los cuales clasifican a los <strong>Telefono</strong>.
</p>
<p>
  El <strong>Tipo telefono</strong> se usa para agrupar los numeros telefonicos de los clientes.
</p>
<p>
  Para agregar un nuevo teléfono presione el botón (nuevo).
</p>
</div>

{% endblock ayuda %}
