{% extends 'base3.html' %}

{% block header %}<title>Editar nivel de complejidad</title>{% endblock %}

{% block content %}

<div class="">
    <h2>Editar nivel de complejidad</h2>
    <form action="" method="post">

        {% csrf_token %}

        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="../../" class="btn btn-default">Regresar</a>
        <br>
        <br>
        <div class="form-group">

            {{form_edit_complejidad.as_p}}

        </div>
        <button type="submit" class="btn btn-default">Registrar</button>
        <a href="../../" class="btn btn-default">Regresar</a>
        <br>
        <br>
    </form>
</div>

{% endblock %}

{% block ayuda %}

<div class="">
    <div class="well well-lg">
        <p>Los <strong>Niveles de complejidad</strong> son el medio para categorizar el esfuerzo variable que existe ante la inmensa variedad de situaciones que se presentan en los inmuebles, ambientes, muebles y contenidos que se manipulan en una mudanza.</p>
        <p>Cada <strong>Nivel de complejidad</strong> se asocia en los módulos de <i>Inteligencia de negocio</i> a escalas de esfuerzo, consumo de material y costo.</p>
        <p>Utilizar nombres y descripciones que fácilmente permitan determinar la diferencia entre un nivel de complejidad y otro.</p>
        <p>Para mejorar la calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
    </div>
</div>

{% endblock%}
