{% extends 'inicio/base_ficha.html' %}

{% block titulo %}

<title>Niveles de complejidad para servicios</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar nivel de complejidad para el servicio

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Desea eliminar el registro: <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% block link %}

<ul class="nav navbar-nav">
  <li>
    <a href="javascript:history.back();" class="btn">Regresar</a>
  </li>
  <li>
    <a href="/servicio/complejidad_servicio/nuevo/{{ idserv }}/" class="btn">Nuevo</a>
  </li>
  <li>
    <a href="/servicio/complejidad_servicio/0/0/" class="btn">Ver todos</a>
  </li>
  <li>
    <a href="/servicio/" class="btn">Servicios</a>
  </li>
  <li>
    <a href="/servicio/complejidad/" class="btn">Niveles de complejidad</a>
  </li>
</ul>

{% endblock link %}

{% block titulo_ficha %}

<h2>Niveles de complejidad para el servicio</h2>

{% endblock titulo_ficha %}

{% block content1 %}

<h6>Cantidad de registros encontrados:
  <span class="badge" id="count_reg">

    {{ buscar_complejidadservicio.count }}


  </span>
</h6>
<div class="panel panel-default">
  <table class="table table-hover" style="text-align: center;">
    <tr class="active">
      <th>Servicio</th>
      <th>Complejidad</th>
      <th>Tarifa</th>
      <th width="3">Editar</th>
      <th width="3">Eliminar</th>
    </tr>

    {% for i in buscar_complejidadservicio %}

    <tr id="tr{{i.id}}">
      <td>{{ i.servicio }}</td>
      <td>{{ i.complejidad }}</td>
      <td>{{ i.tarifa }}</td>
      <td>
        <a title="Editar" data-toggle="tooltip" data-placement="right" href="../../editar/{{i.id}}" class="glyphicon glyphicon-edit" ></a>
      </td>
      <td>
        <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="servicio: {{i.servicio}}"></a>
      </td>
    </tr>

    {% endfor %}

  </table>
</div>

{% endblock content1 %}

{% block content2 %}

<div class="ayuda">
  <p>Los <strong>Niveles de complejidad</strong> se refieren al nivel de esfuerzo y consumo de tiempo en los cuales se incurrirá para la aplicación de los <strong>Servicios</strong> a los <strong>Muebles</strong> y <strong>Contenidos</strong> que serán mudados.</p>
  <p>Los <strong>Niveles de complejidad</strong> de este modo se asocian a factores de consumo de material y de consumo de tiempo, que lo llevan a tener una tarifa específica que compensa el esfuerzo para la aplicación de un <strong>Servicio</strong> específico con el <strong>Nivel de complejidad</strong> seleccionado.</p>
  <p>Al momento de evaluar o realizar una mudanza, los <strong>Niveles de complejidad</strong> serán determinados por las características físicas del <strong>Mueble</strong> o del <strong>Contenido</strong> según la sensibilidad del cotizador basada en los indicadores a evaluar.</p>
  <p>Los indicadores para definir <strong>Niveles de complejidad</strong> incluyen fragilidad de los objeto, necesidad de mantener un orden específico, formas irregulares difíciles de embalar, gran número de piezas para armar o desarmar, dificultad para sujetar el objeto, necesidad de que participe más de una persona, etc.</p>
</div>

{% endblock content2 %}

