{% extends 'inicio/base_lista.html' %}

{% block titulo %}

<title>Complejidad</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar complejidad

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar la complejidad <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% block link %}

<ul class="nav navbar-nav">
  <li>
    <a href="/servicio/" class="btn">Servicios</a>
  </li>
  <li>
    <a href="/material/" class="btn">Materiales</a>
  </li>
  <li>
    <a href="/servicio/complejidad_servicio/0/0/" class="btn">Niveles de complejidad de servicios</a>
  </li>
</ul>

{% endblock link %}

{% if lista_complejidad %}

{% block titulo_tabla %}

<h2>Niveles de complejidad</h2>

{% endblock titulo_tabla %}

{% block cantidad_tabla %}

<h6>Niveles de complejidad registrados:
  <span class="badge" id="count_reg">

    {{ lista_complejidad.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

    <tr class="active">
      <th>Nivel de complejidad</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>

    {% for i in complejidades %}
    <tr id="tr{{i.id}}">
      <td>{{ i.descripcion }}</td>
      <td>
        <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uservicios:edit_complejidad' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a>
      </td>
      <td>
        <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.descripcion}}"></a>
      </td>
    </tr>
  {% endfor %}

<nav>
  <ul class="pagination">

    {% if complejidades.has_previous %}

    <li>
      <a href="?page={{ complejidades.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>

    {% endif %}

    <li class="current">
      <a style="color:#000;"> Página

        {{ complejidades.number }}

        de

        {{ complejidades.paginator.num_pages }}

        Desde el servicio

        {{ complejidades.start_index }}

        hasta el servicio

        {{ complejidades.end_index }}

      </a>
    </li>

    {% if complejidades.has_next %}

    <li>
      <a href="?page={{ complejidades.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>

    {% endif %}

  </ul>
</nav>

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Niveles de complejidad</strong> se refieren al nivel de esfuerzo y consumo de tiempo en los cuales se incurrirá para la aplicación de los <strong>Servicios</strong> a los <strong>Muebles</strong> y <strong>Contenidos</strong> que serán mudados.</p>
  <p>Los <strong>Niveles de complejidad</strong> de este modo se asocian a factores de consumo de material y de consumo de tiempo, que lo llevan a tener una tarifa específica que compensa el esfuerzo para la aplicación de un <strong>Servicio</strong> específico con el <strong>Nivel de complejidad</strong> seleccionado.</p>
  <p>Al momento de evaluar o realizar una mudanza, los <strong>Niveles de complejidad</strong> serán determinados por las características físicas del <strong>Mueble</strong> o del <strong>Contenido</strong> según la sensibilidad del cotizador basada en los indicadores a evaluar.</p>
  <p>Los indicadores para definir <strong>Niveles de complejidad</strong> incluyen fragilidad de los objeto, necesidad de mantener un orden específico, formas irregulares difíciles de embalar, gran número de piezas para armar o desarmar, dificultad para sujetar el objeto, necesidad de que participe más de una persona, etc.</p>
</div>

{% endblock ayuda %}
