{% extends 'base_edit.html' %}

{% block titulo %}<title>Material</title>{% endblock titulo %}

{% block titulo_form %}

<h2>Editar material </h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

    {{form_edit_material.as_p}}

</div>

{% endblock cuerpo_form %}

{% block contenido_adicional %}

<h4>Servicios que usan este material</h4>

{% endblock contenido_adicional %}

{% block ayuda %}

<div class="well well-lg">
    <p>Los <strong>Materiales</strong> son utilizados en la aplicación de un <strong>Servicio</strong> para lograr que el traslado de los <strong>Muebles</strong> se efectúe en las mejores condiciones posibles.</p>
    <p>Los <strong>Materiales</strong> se consumen en una proporción relativa a las características del <strong>Servicio</strong> en el que se aplican y las características de los <strong>Mueble</strong> que los reciben.</p>
    <p>Al momento de evaluar o realizar una mudanza, los <strong>Materiales</strong> inciden sobre el precio final de la misma.</p>
    <p>La apropiada identificación de <strong>Materiales</strong> y su relación con los <strong>Servicios</strong> que los involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
</div>

{% endblock ayuda %}
