{% extends 'base_lista.html' %}

{% block titulo %}

<title>Materiales</title>

{% endblock %}

{% block titulo_modal %}

<h3 id="myModalLabel">Eliminar material</h3>

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el material<span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% if lista_material %}

{% block titulo_tabla %}

<h2>Materiales</h2>

{% endblock titulo_tabla %}

{% block cantidad_tabla %}

<h6>Cantidad de materiales registrados:
  <span class="badge" id="count_reg">

    {{ lista_material.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

<thead>
  <tr>
    <th>Material</th>
    <th>Precio ($)</th>
    <th>Peso (Kgs)</th>
    <th>Recuperable</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
</thead>
<tbody>

  {% for i in lista_material %}

  <tr id="tr{{i.id}}">
    <td>{{ i.material }}</td>
    <td>{{ i.precio }}</td>
    <td>{{ i.peso }}</td>
    <td>
      {% if i.recuperable = False %}
        No
      {% else %}
        Sí
      {% endif %}
    </td>
    <td>
      <a href="editar/{{i.id}}" class="glyphicon glyphicon-edit"></a>
    </td>
    <td>
      <a href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.material}}"></a>
    </td>
  </tr>

  {% endfor %}

</tbody>

{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Materiales</strong> son utilizados en la aplicación de un <strong>Servicio</strong> para lograr que el traslado de los <strong>Muebles</strong> se efectúe en las mejores condiciones posibles.</p>
  <p>Los <strong>Materiales</strong> se consumen en una proporción relativa a las características del <strong>Servicio</strong> en el que se aplican y las características de los <strong>Mueble</strong> que los reciben.</p>
  <p>Al momento de evaluar o realizar una mudanza, los <strong>Materiales</strong> inciden sobre el precio final de la misma.</p>
  <p>La apropiada identificación de <strong>Materiales</strong> y su relación con los <strong>Servicios</strong> que los involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
</div>

{% endblock ayuda %}
