{% extends 'inicio/base_lista.html' %}

{% block titulo %}

<title>Servicios</title>

{% endblock titulo %}

{% block titulo_modal %}

Eliminar servicio

{% endblock titulo_modal %}

{% block validacion_modal %}

<p>¿Realmente desea eliminar el servicio <span id="modal_name"></span>?</p>

{% endblock validacion_modal %}

{% if lista_servicio %}

{% block titulo_tabla %}

<h2>Servicios</h2>

{% endblock titulo_tabla %}

{% block cantidad_tabla %}

<h6>Cantidad de servicios registrados:
  <span class="badge" id="count_reg">

    {{ lista_servicio.count }}

  </span>
</h6>

{% endblock cantidad_tabla %}

{% block cuerpo_tabla %}

  <tr class="active">
    <th>Servicios</th>
    <th width="3">Materiales</th>
    <th>Complejidad</th>
    <th width="3">Editar</th>
    <th width="3">Eliminar</th>
  </tr>

  {% for i in servicios %}

  <tr id="tr{{i.id}}">
    <td>{{ i.servicio }}</td>
    <td width="3"><a href="servicio_material/{{i.id}}/0/" class="glyphicon glyphicon-th-large"></a></td>
    <td width="3"><a href="complejidad_servicio/{{i.id}}/0/" class="glyphicon glyphicon-certificate"></a></td>
    <td width="3">
      <a title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'uservicios:edit_servicio' i.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-edit"></a>
    </td width="3">
    <td>
      <a title="Eliminar" href="#myModal" role="button" class="glyphicon glyphicon-remove delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.servicio}}"></a>
    </td>
  </tr>

  {% endfor %}
<nav>
  <ul class="pagination">

    {% if servicios.has_previous %}

    <li>
      <a href="?page={{ servicios.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>

    {% endif %}

    <li class="current">
      <a style="color:#000;"> Página

        {{ servicios.number }}

        de

        {{ servicios.paginator.num_pages }}

        Desde el servicio

        {{ servicios.start_index }}

        hasta el servicio

        {{ servicios.end_index }}

      </a>
    </li>

    {% if servicios.has_next %}

    <li>
      <a href="?page={{ servicios.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>

    {% endif %}

  </ul>
</nav>
{% endblock cuerpo_tabla %}

{% endif %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Servicios</strong> comprenden aquellas actividades que se realizan sobre un <strong>Mueble</strong> para lograr su traslado en las mejores condiciones posibles.</p>
  <p>Los <strong>Servicios</strong> pueden sevir para proteger, modificar o brindar un tratamiento específico a cada <strong>Mueble</strong>.</p>
  <p>Al momento de evaluar o realizar una mudanza, los <strong>Servicios</strong> serán una parte importante de la calidad percibida por el cliente, al igual que un componente que incide sobre el precio final de la misma.</p>
  <p>La apropiada identificación de <strong>Servicios</strong> y su relación con los <strong>Materiales</strong> que involucran, serán claves para orientar la ejecución del trabajo de campo una vez contratada la mudanza.</p>
</div>

{% endblock ayuda %}
