{% extends 'base3.html' %}
{% block header %}<h2>Servicios</h2>{% endblock %}
{% block content %}

<!--IniciaModal-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Eliminar servicio</h3>
  </div>
  <div class="modal-body">
    <p>¿Realmente desea eliminar el servicio <span id="modal_name"></span>?</p>
  </div>
  <div class="modal-footer">
    <form method="post" id="frmEliminar">
      {% csrf_token %}
      <input type="hidden" id="modal_id" name="item_id">
      <button class="" data-dismiss="modal" aria-hidden="true">Cerrar</button>
      <button type="submit" class="">Eliminar</button>
    </form>
  </div>
</div>
<!--EndModal-->
{% if lista_servicio %}

<h6>Cantidad de servicio encontradas:
  <span class="badge" id="count_reg">
    {{ lista_servicio.count }}
  </span>
</h6>

<table data-role="table" data-mode="" class="ui-responsive ui-shadow" id="myTableservicio">

  <thead>
    <tr>
      <!--<th data-priority="6">Numero</th>-->
      <th>Servicios</th>
      <th data-priority="1">Editar</th>
      <th data-priority="2">Eliminar</th>
    </tr>
  </thead>

  <tbody>
    {% for i in lista_servicio %}
    <tr id="tr{{i.id}}">
      <!-- <td>{{ i.count }}</td>-->
      <td>{{ i.servicio }}</td>
      <td>
        <a href="editar/{{i.id}}/" class="ui-btn ui-icon-edit ui-btn-icon-notext">Editar</a>
      </td>
      <td>
        <a href="#myModal" role="button" class="ui-btn ui-icon-delete ui-btn-icon-notext delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.servicio}}">Eliminar</a>
      </td>
    </tr>
  </tbody>

  {% endfor %}

</table>
<br>
<a href="nuevo/" class="ui-btn ui-icon-plus ui-btn-icon-left">Nuevo</a>
<a class="ui-btn ui-icon-carat-l ui-btn-icon-left" href="../">Regresar</a>

{% else %}

<a href="nuevo/" class="ui-btn ui-icon-plus ui-btn-icon-left">Nuevo</a>
<p> No se encontro registro.</p>

{% endif %}

{% endblock %}
