{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Cotizacion</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar cotizacion</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form_cotizacion.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
  <p>La <strong>Cotizacion</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
