 {% extends 'inicio/base3.html' %}
 {% block content %}

{% if buscar_cotizacion %}

<table class="table table-hover" id="adm">

  <tr class="active">
    <th  colspan="2">Datos administrativos</th>

  </tr>

  {% for i in buscar_cotizacion %}

  <tr>
    <td>Nro de contrato</td>
    <td>{{ i.numero_contrato }}</td>
  </tr>
  <tr>
    <td>Nro de cotizacion</td>
    <td>{{ i.numero_cotizacion }}</td>
  </tr>
  <tr>
    <td>Cliente</td>
    <td>{{ i.cliente.nombre_principal }}</td>
  </tr>
  <tr>
    <td>Cotizador</td>
    <td>{{ i.cotizador }}</td>
  </tr>

  <tr>
    <td>Creado por</td>
    <td>{{ i.creadopor }}</td>
  </tr>
  <tr>
    <td>Fecha de creación</td>
    <td>{{ i.fecha_creacion }}</td>
  </tr>
  <tr>
    <td>Fecha de culminación</td>
    <td>{{ i.fecha_culminacion }}</td>
  </tr>
  <tr>
    <td>Fecha estimada de la mudanza</td>
    <td>{{ i.fecha_estimadamudanza }}</td>
  </tr>


  {% endfor %}

</table>

<table class="table table-hover" id="logistica">

  <tr class="active">
    <th  colspan="2">Datos logisticos</th>
  </tr>

  {% for i in buscar_cotizacion %}

  <tr>
    <td>Inmueble</td>
    <td>{{ i.inmueble }}</td>
  </tr>
  <tr>
    <td>Tipo de inmueble</td>
    <td>{{ i.inmueble.tipo_inmueble }}</td>
  </tr>
  <tr>
    <td>Pisos</td>
    <td>{{ i.inmueble.pisos }}</td>
  </tr>
  <tr>
    <td>Pisos por escalera</td>
    <td>{{ i.inmueble.pisos_escalera }}</td>
  </tr>
  <tr>
    <td>Rampa</td>
    <td>
      {% if i.inmueble.rampa %}

      Si

      {% else %}

      No
      {% endif %}

    </td>
  </tr>
  <tr>
    <td>Ascensor</td>
    <td>
      {% if i.inmueble.ascensor %}

      Si

      {% else %}

      No
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Pisos por ascensor</td>
    <td>{{ i.inmueble.pisos_ascensor }}</td>
  </tr>
  <tr>
    <td>Ascensor de servicio</td>
    <td>
      {% if i.inmueble.ascensor_servicio %}

      Si

      {% else %}

      No
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Pisos por ascensor de servicio</td>
    <td>{{ i.inmueble.pisos_ascensor_servicio }}</td>
  </tr>
  <tr>
    <td>Complejidad</td>
    <td>{{ i.inmueble.complejidad }}</td>
  </tr>
  <tr>
    {% if det_direccion %}

    {% for det_dir in det_direccion %}

    {% if det_dir.tipo_direccion == 'Origen' %}

    <td>direccion origen</td>
    <td>{{ det_dir.direccion }}</td>

    {% endif %}

    {% endfor %}

    {% else %}

    <td>direccion</td>
    <td></td>

    {% endif %}

  </tr>
  <tr>
    {% if det_direccion %}

    {% for det_dir in det_direccion %}

    {% if det_dir.tipo_direccion == 'Destino' %}

    <td>direccion destino</td>
    <td>{{ det_dir.direccion }}</td>

    {% endif %}

    {% endfor %}

    {% else %}

    <td>direccion</td>
    <td></td>

    {% endif %}

  </tr>
  <tr>
    <td>Distancia de vehiculo al inmueble</td>
    <td>{{ i.inmueble.distancia_vehiculo }}</td>
  </tr>
  <tr>
    <td>Tiempo de carga</td>
    <td>{{ i.tiempo_carga }}</td>
  </tr>
  <tr>
    <td>Peso de muebles</td>
    <td>{{ i.peso_muebles}}</td>
  </tr>
  <tr>
    <td>Volumen de muebles sugeridos</td>
    <td>{{ i.volumen_muebles_sugerido }}</td>
  </tr>
  <tr>
    <td>Volumen de muebles cotizados</td>
    <td>{{ i.volumen_muebles_cotizado }}</td>
  </tr>
  <tr>
    <td>Peso de contenedores</td>
    <td>{{ i.peso_contenedores}}</td>
  </tr>
  <tr>
    <td>Volumen de contenedores</td>
    <td>{{ i.volumen_contenedores }}</td>
  </tr>
  <tr>
    <td>Peso de contenidos</td>
    <td>{{ i.peso_contenidos }}</td>
  </tr>
  <tr>
    <td>Volumen de contenidos</td>
    <td>{{ i.volumen_contenidos }}</td>
  </tr>
  <tr>
    <td>Peso de materiales</td>
    <td>{{ i.peso_materiales }}</td>
  </tr>
  <tr>
    <td>Total m3</td>
    <td>{{total_m}}

    </td>
  </tr>
  <tr>
    {% if det_trabajador %}

    {% for det_trab in det_trabajador %}

    {% if det_trab.cargo.cargo == 'Ayudante' %}

    <td>Cantidad de ayudante</td>
    <td>{{ det_trab.cantidad }}</td>

    {% endif %}

    {% endfor %}

    {% else %}

    <td>Cantidad de ayudante</td>
    <td></td>

    {% endif %}
  </tr>
  <tr>
    {% if det_trabajador %}

    {% for det_trab in det_trabajador %}

    {% if det_trab.cargo.cargo == 'Chofer' %}

    <td>Cantidad de chofer</td>
    <td>{{ det_trab.cantidad }}</td>

    {% endif %}

    {% endfor %}

    {% else %}

    <td>Cantidad de chofer</td>
    <td></td>

    {% endif %}
  </tr>

  {% if det_vehiculo %}

  {% for det_veh in det_vehiculo %}
  <tr>
    <td>Vehiculo</td>
    <td>{{ det_veh.vehiculo.modelo }}</td>
  </tr>
  <tr>
    <td>Capacidad de volumen</td>
    <td>{{ det_veh.vehiculo.capacidad_volumen }}</td>
  </tr>
  <tr>
    <td>Capacidad de peso</td>
    <td>{{ det_veh.vehiculo.capacidad_peso }}</td>
  </tr>
  <tr>
    <td>Cantidad de vehiculo</td>
    <td>{{ det_veh.cantidad }}</td>
  </tr>

  {% endfor %}

  {% else %}

  <td>Cantidad de vehiculo</td>
  <td></td>

  {% endif %}

  <tr>
    <td>Total recorrido por tiempo </td>
    <td>{{ i.total_recorrido_tiempo }}</td>
  </tr>
  <tr>
    <td>Total recorrido por km </td>
    <td>{{ i.total_recorrido_km }}</td>
  </tr>

  {% endfor %}

</table>

<table class="table table-hover" id="mudanza">

  <tr class="active">
    <th  colspan="2">Datos de la mudanza</th>

  </tr>

  {% for i in buscar_cotizacion %}

  <tr>
    <td>Estado</td>
    <td>{{ i.estado }}</td>
  </tr>
  <tr>
    <td>Cantidad de ambientes</td>
    <td>{{ i.cantidad_ambientes }}</td>
  </tr>
  <tr>
    <td>cantidad de contenedores</td>
    <td>{{ i.cantidad_contenedores }}</td>
  </tr>
  <tr>
    <td>Cantidad de muebles</td>
    <td>{{ i.cantidad_muebles }}</td>
  </tr>

  {% endfor %}

</table>

<table class="table table-hover" id="economia">
  <tr class="active">
    <th  colspan="2">Datos de la economia</th>
  </tr>

  {% for i in buscar_cotizacion %}

  <tr>
    <td>Monto por muebles</td>
    <td>{{ i.monto_muebles }}</td>
  </tr>
  <tr>
    <td>Monto por material</td>
    <td>{{ i.monto_material }}</td>
  </tr>
  <tr>
    <td>Monto de descuento</td>
    <td>{{ i.monto_descuento }}</td>
  </tr>
  <tr>
    <td>Total sin impuesto</td>
    <td>{{ i.total_sin_impuesto }}</td>
  </tr>
  <tr>
    <td>Monto del impuesto</td>
    <td>{{ i.monto_impuesto }}</td>
  </tr>
  <tr>
    <td>Total con impuesto</td>
    <td>{{ i.total_con_impuesto }}</td>
  </tr>

  {% endfor %}

</table>

<table class="table table-hover" id="detalle">

  <tr class="active">
    <th  colspan="12">Detalles de la cotización</th>

  </tr>

  {% for i in det_ambiente %}

  <tr>
    <td colspan="12"><h4>Ambiente {{forloop.counter}}: {{ i.ambiente.ambiente }}</h4></td>
  </tr>
   <tr>
    <td>Piso</td>
    <td>Factor del piso</td>
    <td>Cantidad de muebles</td>
    <td>Volumen de los muebles</td>
    <td>Peso de los muebles</td>
    <td>Cantidad de contenedores</td>
    <td>Volumen de los contenedores</td>
    <td>Peso de los contenedores</td>
    <td>Volumen de los contenidos</td>
    <td>Peso de los contenidos</td>
    <td>Peso de los materiales</td>
    <td>Observaciones</td>
  </tr>
  <tr>
    <td>{{ i.piso }}</td>
    <td>{{ i.piso.factor }}</td>
    <td>{{ i.cantidad_muebles }}</td>
    <td>{{ i.volumen_muebles }}</td>
    <td>{{ i.peso_muebles }}</td>
    <td>{{ i.cantidad_contenedores }}</td>
    <td>{{ i.volumen_contenedores }}</td>
    <td>{{ i.peso_contenedores }}</td>
    <td>{{ i.volumen_contenidos }}</td>
    <td>{{ i.peso_contenidos }}</td>
    <td>{{ i.peso_materiales }}</td>
    <td>{{ i.observaciones }}</td>
  </tr>
  <tr>
    <td colspan="12">
       {% if det_mueble %}
       <table class="table table-hover">

        {% for det_mue in det_mueble %}

        {% if det_mue.cotizacion_ambiente == i %}

        <tr>
          <td colspan="14"><h4>Mueble: {{ det_mue.mueble }}</h4></td>
        </tr>
        <tr>
          <td>Tipo de mueble </td>
          <td>Tamaño </td>
          <td>Ancho </td>
          <td>Alto </td>
          <td>Largo </td>
          <td>Volumen </td>
          <td>Capacidad </td>
          <td>Ocupación </td>
          <td>Forma </td>
          <td>Trasladable </td>
          <td>Apilable </td>
          <td>Capacidad de carga </td>
          <td>Capacidad de interna </td>
          <td>observaciones </td>
        </tr>
        <tr>
          <td>{{ det_mue.mueble.tipo_mueble }} </td>
          <td>{{ det_mue.tamano }} </td>
          <td>{{ det_mue.ancho }} </td>
          <td>{{ det_mue.alto }} </td>
          <td>{{ det_mue.largo }} </td>
          <td>{{ det_mue.volumen }} </td>
          <td>{{ det_mue.capacidad }} </td>
          <td>{{ det_mue.ocupacion }} </td>
          <td>{{ det_mue.forma }} </td>
          <td>

            {% if det_mue.trasladable %}

            Si

            {% else %}

            No

            {% endif %}

          </td>
          <td>

            {% if det_mue.apilable %}

            Si

            {% else %}

            No

            {% endif %}

          </td>
          <td>

            {% if det_mue.capacidad_carga %}

            Si

            {% else %}

            No

            {% endif %}

          </td>
          <td>

            {% if det_mue.capacidad_interna %}

            Si

            {% else %}

            No

            {% endif %}

          </td>
          <td>{{ det_mue.observaciones }} </td>
        </tr>

        {% if det_servicio %}

        <tr>
          <td colspan="14">
          <h4>Servicio</h4>
          </td>
        </tr>
        <tr>
          <td td colspan="14">

          {% for det_ser in det_servicio %}

          {% if det_ser.cotizacion_mueble == det_mue %}

            {{ det_ser.servicio }} -

          {% endif %}

        {% endfor %}

          </td>
        </tr>

        {% endif %}

        <tr>
          <td colspan="14">

            {% if det_material %}

            <table class="table table-hover">

              {% for det_mat in det_material %}

              {% if det_mat.cotizacion_mueble == det_mue %}

              <tr>
                <td colspan="6"><h4>material: {{ det_mat.material }}</h4></td>
              </tr>
              <tr>
                <td>Cantidad </td>
                <td>Precio unitario</td>
                <td>Precio total</td>
                <td>Peso unitario</td>
                <td>Peso total</td>
                <td>Recuperable</td>
              </tr>
              <tr>
                <td>{{ det_mat.cantidad }} </td>
                <td>{{ det_mat.precio_unitario }}</td>
                <td>{{ det_mat.precio_total }}</td>
                <td>{{ det_mat.peso_unitario }}</td>
                <td>{{ det_mat.peso_total }}</td>
                <td>
                  {% if det_mat.recuperable %}

                  Si

                  {% else %}

                  No

                  {% endif %}

                </td>
              </tr>
          </td>
        <tr>

              {% endif %}

              {% endfor %}

            </table>

            {% endif %}

          </td>
        </tr>

        {% endif %}

        {% endfor %}

       </table>

       {% endif %}

    </td>
  </tr>

  {% endfor %}

</table>

</div>

{% else %}

<p><a href="nuevo/" class="btn btn-default">Nuevo</a></p>
<p> No se encontro registro.</p>

{% endif %}

{% endblock %}
