 {% extends 'base3.html' %}
 {% block content %}

<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar modelo</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el modelo <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_id" name="item_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->
{% if lista_vehiculo %}

<h6>Cantidad de registros encontrados:
  <span class="badge" id="count_reg">
    {{ lista_vehiculo.count }}
  </span>
</h6>

  <table class="table table-hover" id="tabla">

   <tr class="active">
    <th>modelo</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  {% for i in lista_vehiculo %}

  <tr id="tr{{i.id}}">
    <td>{{ i.modelo }}</td>
    <td>
      <a href="editar/{{i.id}}" class="glyphicon glyphicon-edit" ></a>
      {# <button id ="editar" data-telid="{{i.id}}" class="btn btn-mini btn-primary" type="button">editar</button> #}
    </td>
    <td>
      <a href="#myModal" role="button" class="btn btn-danger delete" data-target="#myModal" data-toggle="modal" id="{{i.id}}" data-name="{{i.modelo}}"><i class="icon-trash icon-white"></i>Eliminar</a>
    </td>
    <input type="hidden" value="{{i.id}}" id="idtele">
  </tr>

  {% endfor %}

</table>
<p><a href="nuevo/" class="btn btn-default">Nuevo</a></p>
</div>

{% else %}

<p><a href="nuevo/" class="btn btn-default">Nuevo</a></p>
<p> No se encontro registro.</p>

{% endif %}

{% endblock %}
