{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block titulo_form %}

<h2 disabled>Agregar dirección {{ form.tipo_direccion|lower }}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<style>
.campo>span>textarea,.campo>span>input[type=date],.campo>span>input[type=password],.campo>span>input[type=number],.campo>span>input[type=text],.campo>span>input[type=email],.campo>span>input[type=url]{
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
  padding: 10px 16px;
  display:block;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  color: #555;
  font-family: inherit;
  font: inherit;
  margin: 0px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.campo>span>input:focus,.campo>span>textarea:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.campo>label{display:block;font-family: inherit;font: inherit;}
.campo{display:inline-block;margin-bottom: 15px;text-align: left;}
.campo span ul{list-style: none;}
.campo span ul li label{font: inherit;font-family: inherit;}
h2 input{border: none;box-shadow: none;pointer-events:none;width: 110px;}
.control-campos>.presupuesto,.control-campos>.tipo_direccion,.control-campos>.valor_ambiente_complejidad,.control-campos>.factor_complejidad,.control-campos>.valor_metrocubico_complejiadad,.control-campos>.complejidad,.control-campos>.valor_ocupacidad,.control-campos>.ocupacidad_inmueble,.control-campos>.tipo_inmueble{display:none;}
.control-campos>.direccion{width: 100%;text-align: left;}
.control-campos>.lista_tipoinmueble,.control-campos>.lista_ocupacion{width: 49.59%;display:inline-table;text-align: left;}
.control-campos>.rampa,.control-campos>.ascensor,.control-campos>.ascensor_servicio{width: 32%;}
.control-campos>.distancia_vehiculo,.control-campos>.total_m2,.control-campos>.pisos,.control-campos>.pisos_escalera,.control-campos>.pisos_ascensor,.control-campos>.pisos_ascensor_servicio{width: 49.59%!important;}
</style>
<!--<div class="form-group control-campos">
{{ form.as_p }}
</div><-->
<div class="form-group control-campos">

  {% for i in form %}

  <div class="campo form-group {{i.name}}">
    <label for="id_{{i.name}}">{{ i.label }} </label>
    <span>
      {{ i }}
    </span>
  </div>

  {% endfor %}

</div>
<script type="text/javascript">
document.getElementById('id_direccion').focus()
document.getElementById('id_tipo_direccion').setAttribute('disabled','disabled')
$('#id_tipo_direccion').css('background','#fff')
</script>

{% endblock cuerpo_form %}
{% block js_sup %}
<script>
$(document).ready(function(){
    $("input[name=lista_tipoinmueble]").click(function () {
        id_tipoinmueble = $('input[name=lista_tipoinmueble]:checked').val();
        $.get('/presupuesto/direccion/nuevo',
            {id_tipoinmueble: id_tipoinmueble},
            function(data){
                $("#id_tipo_inmueble").val(data[0].tipoinmueble);
            });
    });

    $("input[name=lista_ocupacion]").click(function () {
        id_ocupacion = $('input[name=lista_ocupacion]:checked').val();
        $.get('/presupuesto/direccion/nuevo',
            {id_ocupacion: id_ocupacion},
            function(data){
                $("#id_ocupacidad_inmueble").val(data[0].ocupacion);
                $("#id_valor_ocupacidad").val(data[0].valorocupacion);
            });
    });

});

</script>
{% endblock js_sup %}
{% block ayuda %}

<div>
  <p>La <strong>Presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
