{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block col_edit %}

class="col-md-10"

{% endblock col_edit %}

{% block titulo_form %}

<h2>Agregar dirección de {{ form.tipo_direccion.value|lower }}</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<style>
#id_total_m2,#id_distancia_vehiculo,#id_pisos_ascensor_servicio,#id_pisos_ascensor,#id_pisos_escalera,#id_pisos,#id_lista_tipoinmueble,#id_direccion,.campo>label>input[type=date],.campo>label>input[type=password],.campo>label>input[type=number],.campo>label>input[type=text],.campo>label>input[type=email],.campo>label>input[type=url]{
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
  padding: 10px 16px;
  display:block;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  color: #555;
  font-family: inherit;
  font: inherit;
  margin: 0px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
#id_total_m2:focus,#id_distancia_vehiculo:focus,#id_pisos_ascensor_servicio:focus,#id_pisos_ascensor:focus,#id_pisos_escalera:focus,#id_pisos:focus,#id_lista_tipoinmueble:focus,#id_direccion:focus,.campo>label>input:focus,.campo>label>textarea:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.campo>label{display:block;font-family: inherit;font: inherit;}
.campo{display:inline-block;margin-bottom: 15px;text-align: left;}
.campo label ul{list-style: none;}
.campo label ul li label{font: inherit;font-family: inherit;}
h2 input{border: none;box-shadow: none;pointer-events:none;width: 110px;}
.control-campos>.presupuesto,.control-campos>.tipo_direccion,.control-campos>.valor_ambiente_complejidad,.control-campos>.factor_complejidad,.control-campos>.valor_metrocubico_complejiadad,.control-campos>.complejidad,.control-campos>.valor_ocupacidad,.control-campos>.ocupacidad_inmueble,.control-campos>.tipo_inmueble{display:none;}
.control-campos>.direccion,#s_direccion{width: 65%!important;text-align: left;}
.control-campos>.lista_tipoinmueble{width: 34%;display:inline-table;text-align: left;}
.control-campos>.lista_ocupacion{width: 34%;}
.control-campos>.rampa,.control-campos>.ascensor,.control-campos>.ascensor_servicio{}
.control-campos>.distancia_vehiculo,.control-campos>.total_m2,.control-campos>.pisos,.control-campos>.pisos_escalera,.control-campos>.pisos_ascensor,.control-campos>.pisos_ascensor_servicio{width: 32.59%!important;}
.alerta{position: absolute;top:-15px;}
.control-campos>.rampa,.control-campos>.ascensor,.control-campos>.ascensor_servicio{display:block-table;margin-left: 50px;}
.checkbox{display:inline-table!important;margin-left: 50px;}
#s_rampa>label,#s_ascensor>label,#s_ascensor_servicio>label{float: right;margin-left: 5px;margin-bottom:50px;}
#s_rampa label,#s_ascensor label,#s_ascensor_servicio label {margin-left: -10px;}
@media (max-width:992px) {
  .control-campos>.distancia_vehiculo,.control-campos>.total_m2,.control-campos>.pisos,.control-campos>.pisos_escalera,.control-campos>.pisos_ascensor,.control-campos>.pisos_ascensor_servicio{width: 49.59%!important;}
  .control-campos>.lista_ocupacion{width: 25%;}
}
</style>

<div class="form-group control-campos">

  {% if form.errors %}

    <p class="alert-danger alerta">Complete todos los campos y luego clic en registrar.</p>

  {% endif %}

  {% for i in form %}

  <div class="campo form-group {{i.name}}" id="s_{{i.name}}">
    <label for="{{ i.id_for_label }}">{{ i.label }} </label>
    <label>{{ i }}</label>
  </div>

  {% endfor %}

</div>
<script type="text/javascript">
document.getElementById('id_direccion').focus()
document.getElementById('id_tipo_direccion').setAttribute('disabled','disable')
document.getElementById('id_pisos').setAttribute('type','number')
document.getElementById('s_rampa').setAttribute('class','checkbox checkbox-primary')
document.getElementById('s_ascensor').setAttribute('class','checkbox checkbox-primary')
document.getElementById('s_ascensor_servicio').setAttribute('class','checkbox checkbox-primary')
$( "l" ).addClass( "radio radio-primary" );
$('#s_pis').css('display','none')
$(document).ready(function() {
    setTimeout(function() {
        $(".alerta").fadeOut(1500);
    },3000);
});
</script>


{% endblock cuerpo_form %}

{% block js_sup %}

<script>
$(document).ready(function(){
    $("input[name=lista_tipoinmueble]").click(function () {
        id_tipoinmueble = $('input[name=lista_tipoinmueble]:checked').val();
        $.get('/presupuesto/direccion/nuevo',
            {id_tipoinmueble: id_tipoinmueble},
            function(data){
                $("#id_tipo_inmueble").val(data[0].tipoinmueble);
            });
    });

    $("input[name=lista_ocupacion]").click(function () {
        id_ocupacion = $('input[name=lista_ocupacion]:checked').val();
        $.get('/presupuesto/direccion/nuevo',
            {id_ocupacion: id_ocupacion},
            function(data){
                $("#id_ocupacidad_inmueble").val(data[0].ocupacion);
                $("#id_valor_ocupacidad").val(data[0].valorocupacion);
            });
    });

});

</script>

{% endblock js_sup %}

{% block ayuda %}

<div>
  <p>La <strong>Presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
