{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Agregar dirección</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">
  {{ form.as_p }}

</div>

{% endblock cuerpo_form %}
{% block js_sup %}
<script>
$(document).ready(function(){
    $("input[name=lista_tipoinmueble]").click(function () {
        id_tipoinmueble = $('input[name=lista_tipoinmueble]:checked').val();
        $.get('/presupuesto/direccion/nuevo',
            {id_tipoinmueble: id_tipoinmueble},
            function(data){
                $("#id_tipo_inmueble").val(data[0].tipoinmueble);
            });
    });

    $("input[name=lista_ocupacion]").click(function () {
        id_ocupacion = $('input[name=lista_ocupacion]:checked').val();
        $.get('/presupuesto/direccion/nuevo',
            {id_ocupacion: id_ocupacion},
            function(data){
                $("#id_ocupacidad_inmueble").val(data[0].ocupacion);
                $("#id_valor_ocupacidad").val(data[0].valorocupacion);
            });
    });

});

</script>
{% endblock js_sup %}
{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
