{% extends 'inicio/base_ficha.html' %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}


{% block content1 %}


<div class="panel panel-default">
  <p>Hoy es: {{ now|date }}</p>
  <p>
    {% if direccion_origen and direccion_destino and detalle_list %}

    <a data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDetailResumen' presupuesto.id %}" style="float:right;" class="">ver resumen</a></p>

    {% endif %}
  <table class="table table-hover">

    <tr>
      <td>
        <strong>Nro presupuesto: </strong>
        {{ presupuesto.id }}
        <strong>DNI: </strong>

        {{ presupuesto.dni }}

        <strong> Nombre: </strong>

        {{ presupuesto.nombre_cliente }}

        <p>
          <span style="">
            <strong>Teléfonos: </strong>

            {{ presupuesto.telefono }}
          </span>
        </p>
        <p>
        </span>
        <strong>Email: </strong>

        {{ presupuesto.email }}
      </span>

    </p>
    <p>
    </span>
    <strong>Fecha estimada de la mudanza: </strong>

    {{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}

  </span>
</p>
</td>
<td colspan="2">
</td>
<td>
  <a title="Editar cliente" data-toggle="tooltip" data-placement="right" href="../../editar/{{presupuesto.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
</td>
</tr>
<tr>
  <td class="">
    <strong>Dirección de Origen: </strong><br>

    {% for direc_origen in direccion_origen %}
    {{ direc_origen.direccion }}
    <p>
      <span style="">
        <strong>Descripción del inmueble: </strong>

        {{ direc_origen.tipo_inmueble }}
        <br>
        m2 del inmueble: {{ direc_origen.total_m2 }}<br>
        distancia entre el vehiculo y el inmueble:{{ direc_origen.distancia_vehiculo }}<br>
        ocupacidad: {{ direc_origen.ocupacidad_inmueble }}<br>
        valor de la ocupacidad: {{ direc_origen.valor_ocupacidad }}<br>
        pisos del inmueble: {{ direc_origen.pisos }}<br>
        pisos por escalera: {{ direc_origen.pisos_escalera }}<br>
        Tiene rampa: {{ direc_origen.rampa|yesno:"Si,No" }}<br>
        Tiene ascensor: {{ direc_origen.ascensor|yesno:"Si,No" }} -
        pisos por ascensor:{{ direc_origen.pisos_ascensor }}<br>
        Tiene ascensor de servicio: {{ direc_origen.ascensor_servicio|yesno:"Si,No" }} -
        pisos por ascensor de servicio:{{ direc_origen.pisos_ascensor_servicio }}<br>
        Complejidad: {{ direc_origen.complejidad }}<br>
        factor de complejidad: {{ direc_origen.factor_complejidad }}<br>
        valor de complejidad por ambiente: {{ direc_origen.valor_ambiente_complejidad }}<br>
        valor de complejidad por m3:{{ direc_origen.valor_metrocubico_complejiadad }}<br>
      </span>
    </p>

    <small>
      <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_origen.id %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
      <a style="padding:0px 0px 8px 8px;" href="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_origen.id %}?next={{request.get_full_path}}" onclick="" class="glyphicon glyphicon-remove"></a>
    </small>
  </p>
  {% endfor %}

</td>
<td width="3"></td>
<td width="3"></td>
<td width="3">
  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Origen&pre={{presupuesto.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</td>
</tr>
<tr>
  <td class="">
    <strong>Dirección de Destino: </strong><br>

    {% for direc_destino in direccion_destino %}
    {{ direc_destino.direccion }}
    <p>
      <span style="">
        <strong>Descripción del inmueble: </strong>

        {{ direc_destino.tipo_inmueble }}
        <br>
        m2 del inmueble: {{ direc_destino.total_m2 }}<br>
        distancia entre el vehiculo y el inmueble:{{ direc_destino.distancia_vehiculo }}<br>
        ocupacidad: {{ direc_destino.ocupacidad_inmueble }}<br>
        valor de la ocupacidad: {{ direc_destino.valor_ocupacidad }}<br>
        pisos del inmueble: {{ direc_destino.pisos }}<br>
        pisos por escalera: {{ direc_destino.pisos_escalera }}<br>
        Tiene rampa: {{ direc_destino.rampa|yesno:"Si,No" }}<br>
        Tiene ascensor: {{ direc_destino.ascensor|yesno:"Si,No" }} -
        pisos por ascensor:{{ direc_destino.pisos_ascensor }}<br>
        Tiene ascensor de servicio: {{ direc_destino.ascensor_servicio|yesno:"Si,No" }} -
        pisos por ascensor de servicio:{{ direc_destino.pisos_ascensor_servicio }}<br>
        Complejidad: {{ direc_destino.complejidad }}<br>
        factor de complejidad: {{ direc_destino.factor_complejidad }}<br>
        valor de complejidad por ambiente: {{ direc_destino.valor_ambiente_complejidad }}<br>
        valor de complejidad por m3:{{ direc_destino.valor_metrocubico_complejiadad }}<br>
      </span>
    </p>
    <small>
      <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
      <a style="padding:0px 0px 8px 8px;" href="{% url 'upresupuestos:PresupuestoDireccionDelete' direc_destino.id %}?next={{request.get_full_path}}"  class="glyphicon glyphicon-remove"></a>
    </small>
    <a href="{{ direc_destino.get_absolute_url }}">editar</a>
  </p>
  {% endfor %}

</td>
<td width="3"></td>
<td width="3"></td>
<td width="3">
  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Destino&pre={{presupuesto.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</td>
</tr>
<tr>
  <td class="">
    <strong>Descripcion objetos a mudar </strong><br>

    {% for det_mueble in detalle_list %}
    ambiente: {{ det_mueble.ambiente }}<br>
    <p>
      <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&amb={{ det_mueble.ambiente }}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
      <span style="">
        <strong>mueble: </strong>
        {{ det_mueble.mueble }}<br>
        tamaño: {{ det_mueble.tamano }}<br>
        ancho: {{ det_mueble.ancho }}<br>
        largo: {{ det_mueble.largo }}<br>
        alto: {{ det_mueble.alto }}<br>
        densidad: {{ det_mueble.densidad }}<br>
        valor densidad: {{ det_mueble.valor_densidad }}<br>
        peso: {{ det_mueble.tamano }}<br>
        ocupacidad: {{ det_mueble.ocupacidad }}<br>
        valor ocupacidad: {{ det_mueble.valor_ocupacidad }}<br>
        cantidad_contenedo: {{ det_mueble.cantidad_contenedo }}<br>
        volumen contenido: {{ det_mueble.volumen_contenido }}<br>
        volumen contenedor: {{ det_mueble.volumen_contenedor }}<br>
        volumen_mueble: {{ det_mueble.volumen_mueble }}<br>
        capacidad_peso_contenedor: {{ det_mueble.capacidad_peso_contenedor }}<br>
        capacidad_volumen_contenedor: {{ det_mueble.capacidad_volumen_contenedor }}<br>
        peso_contenido: {{ det_mueble.peso_contenido }}<br>
        peso_contenedor: {{ det_mueble.peso_contenedor }}<br>

      </span>
    </p>
    <p>
      <small>
        <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDetalleUpdate' det_mueble.id %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
        <a style="padding:0px 0px 8px 8px;" href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}','{{ i.zona.ciudad.provincia.pais }}. {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }} Zona {{ i.zona }} calle {{ i.calle }} numero {{ i.numero }} Punto de referencia {{ i.punto_referencia }}'); return false" class="glyphicon glyphicon-remove"></a>


      </small>
    </p>
    <strong>Descripcion servicios y materiales </strong>
    <a href="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{request.get_full_path}}&pre={{ det_mueble.id }}">Agregar servicio</a>
    <br>
    {% for det_servivio in det_mueble.presupuesto_servicio_set.all %}
    servicio: {{ det_servivio.servicio }}<br>
    tarifa: {{ det_servivio.tarifa }}
    <p>
      <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoServicioView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}&serv={{ det_servivio.servicio }}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
      <span style="">
        <strong>material: </strong>
        {{ det_servivio.material }}<br>
        monto: {{ det_servivio.monto_material }}<br>
        volumen: {{ det_servivio.volumen_material }}<br>
        peso: {{ det_servivio.peso_material }}<br>
      </span>
    </p>
    <p>
      <small>
        <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoServicioUpdate' det_servivio.id %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
        <a style="padding:0px 0px 8px 8px;" href="{% url 'upresupuestos:PresupuestoServicioDelete' det_servivio.id %}?next={{request.get_full_path}}" class="glyphicon glyphicon-remove"></a>

      </small>
    </p>

    {% endfor %}
    {% endfor %}

  </td>
  <td width="3"></td>
  <td width="3"></td>
  <td width="3">
    <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}&pre={{presupuesto.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
  </td>
</tr>

</table>
</div>

{% endblock content1 %}

{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Cotizacion</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}

