{% extends 'inicio/base_ficha.html' %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block content1 %}
<div class="panel panel-default">
  <p>
    Fecha de cotización: {{ presupuesto.fecha_creacion|date:"d/m/Y" }}.
    Nro presupuesto: {{ presupuesto.id }}

  </p>
  <table class="table table-hover">
    <tr>
      <td>
        <strong>DNI: </strong>

        {{ presupuesto.dni }}

        <strong>Nombre: </strong>

        {{ presupuesto.nombre_cliente }}

        <p>
          <span style="">
            <strong>Teléfonos: </strong>

            {{ presupuesto.telefono }}

          </span>
        </p>
        <p>
        </span>
        <strong>Email: </strong>

        {{ presupuesto.email }}

      </span>

    </p>
    <p>
    </span>
    <strong>Fecha estimada de la mudanza: </strong>

    {{ presupuesto.fecha_estimadamudanza|date:"d/m/Y" }}

  </span>
</p>
</td>
<td colspan="2">
</td>
<td>
  <a title="Editar cliente" data-toggle="tooltip" data-placement="right" href="../../editar/{{presupuesto.id}}/" style="float:right;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
</td>
</tr>
<tr>
  <td class="">
    <strong>Dirección de Origen: </strong><br>

    {% for direc_origen in presupuesto.presupuesto_direccion_set.all %}

    {% if direc_origen.tipo_direccion == "Origen" %}

    {{ direc_origen.direccion }}

    <p>
      <span style="">
        <strong>Descripción del inmueble: </strong>

        {{ direc_origen.tipo_inmueble }}

        <br>
        m2 del inmueble: {{ direc_origen.total_m2 }}<br>
        distancia entre el vehiculo y el inmueble:{{ direc_origen.distancia_vehiculo }}<br>
        ocupacidad: {{ direc_origen.ocupacidad_inmueble }}<br>
        valor de la ocupacidad: {{ direc_origen.valor_ocupacidad }}<br>
        pisos del inmueble: {{ direc_origen.pisos }}<br>
        pisos por escalera: {{ direc_origen.pisos_escalera }}<br>
        Tiene rampa: {{ direc_origen.rampa|yesno:"Si,No" }}<br>
        Tiene ascensor: {{ direc_origen.ascensor|yesno:"Si,No" }} -
        pisos por ascensor:{{ direc_origen.pisos_ascensor }}<br>
        Tiene ascensor de servicio: {{ direc_origen.ascensor_servicio|yesno:"Si,No" }} -
        pisos por ascensor de servicio:{{ direc_origen.pisos_ascensor_servicio }}<br>
        Complejidad: {{ direc_origen.complejidad }}<br>
        factor de complejidad: {{ direc_origen.factor_complejidad }}<br>
        valor de complejidad por ambiente: {{ direc_origen.valor_ambiente_complejidad }}<br>
        valor de complejidad por m3:{{ direc_origen.valor_metrocubico_complejiadad }}<br>
      </span>
    </p>

    <small>
      <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_origen.id %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
      <a style="padding:0px 0px 8px 8px;" href=# onclick="eliminar('direccion/delete/?codigo={{direc_origen.id}}','{{direc_origen.id}}'); return false" class="glyphicon glyphicon-remove"></a>
    </small>
  </p>
  {% endif %}
  {% endfor %}

</td>
<td width="3"></td>
<td width="3"></td>
<td width="3">
  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Origen&pre={{presupuesto.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</td>
</tr>
<tr>
  <td class="">
    <strong>Dirección de Destino: </strong><br>

    {% for direc_destino in presupuesto.presupuesto_direccion_set.all %}
    {% if direc_destino.tipo_direccion == "Destino" %}
    {{ direc_destino.direccion }}
    <p>
      <span style="">
        <strong>Descripción del inmueble: </strong>

        {{ direc_destino.tipo_inmueble }}
        <br>
        m2 del inmueble: {{ direc_destino.total_m2 }}<br>
        distancia entre el vehiculo y el inmueble:{{ direc_destino.distancia_vehiculo }}<br>
        ocupacidad: {{ direc_destino.ocupacidad_inmueble }}<br>
        valor de la ocupacidad: {{ direc_destino.valor_ocupacidad }}<br>
        pisos del inmueble: {{ direc_destino.pisos }}<br>
        pisos por escalera: {{ direc_destino.pisos_escalera }}<br>
        Tiene rampa: {{ direc_destino.rampa|yesno:"Si,No" }}<br>
        Tiene ascensor: {{ direc_destino.ascensor|yesno:"Si,No" }} -
        pisos por ascensor:{{ direc_destino.pisos_ascensor }}<br>
        Tiene ascensor de servicio: {{ direc_destino.ascensor_servicio|yesno:"Si,No" }} -
        pisos por ascensor de servicio:{{ direc_destino.pisos_ascensor_servicio }}<br>
        Complejidad: {{ direc_destino.complejidad }}<br>
        factor de complejidad: {{ direc_destino.factor_complejidad }}<br>
        valor de complejidad por ambiente: {{ direc_destino.valor_ambiente_complejidad }}<br>
        valor de complejidad por m3:{{ direc_destino.valor_metrocubico_complejiadad }}<br>
      </span>
    </p>
    <small>
      <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{% url 'upresupuestos:PresupuestoDireccionUpdate' direc_destino.id %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
      <a style="padding:0px 0px 8px 8px;" href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}'); return false" class="glyphicon glyphicon-remove"></a>
    </small>
    <a href="{{ direc_destino.get_absolute_url }}">editar</a>
  </p>
  {% endif %}
  {% endfor %}

</td>
<td width="3"></td>
<td width="3"></td>
<td width="3">
  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDireccionView' %}?next={{request.get_full_path}}&tipo=Destino&pre={{presupuesto.id}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</td>
</tr>
<tr>
  <td class="">
    <strong>Descripcion objetos a mudar </strong><br>

    {% for direc_origen in presupuesto.presupuesto_direccion_set.all %}
    {% if direc_origen.tipo_direccion == "Origen" %}
    {{ direc_origen.direccion }}
    {{ direc_origen.inmueble }}
    {{ direc_origen.tipo_inmueble }}
    <small>
      <a style="padding:0px 0px 8px 16px;" title="Editar" data-toggle="tooltip" data-placement="right" href="{{ direc_origen.get_absolute_url }}/" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-edit"></a>
      <a style="padding:0px 0px 8px 8px;" href=# onclick="eliminar('direccion/delete/?codigo={{i.id}}','{{i.id}}','{{ i.zona.ciudad.provincia.pais }}. {{ i.zona.ciudad.provincia }}, {{ i.zona.ciudad }} Zona {{ i.zona }} calle {{ i.calle }} numero {{ i.numero }} Punto de referencia {{ i.punto_referencia }}'); return false" class="glyphicon glyphicon-remove"></a>
    </small>
    <a href="{{ i.get_absolute_url }}">editar</a>
  </p>
  {% endif %}
  {% endfor %}

</td>
<td width="3"></td>
<td width="3"></td>
<td width="3">
  <a title="Agregar" data-toggle="tooltip" data-placement="right" title="Tooltip on top" href="{% url 'upresupuestos:PresupuestoDetalleView' %}?next={{request.get_full_path}}" style="float:righ;" class="glyphicon-asterisk glyphicon glyphicon-plus"></a>
</td>
</tr>

</table>
</div>
{% endblock content1 %}

{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Cotizacion</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}

