{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Presupuesto</title>

{% endblock titulo %}

{% block titulo_form %}

  <h2>Editar servicio</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ form.as_p }}

</div>

{% endblock cuerpo_form %}

{% block js_sup %}
<script>
$(document).ready(function(){
  $("#id_lista_servicio").on("change", function(){
    id_lista_servicio = $("#id_lista_servicio").val();
    $.get('/presupuesto/servicio/'+id_lista_servicio,
      {id_lista_servicio: id_lista_servicio},
          function(data){
            $("#id_servicio").val(data[0].servicio);
            $("#id_tarifa").val(data[0].tarifa);
      });
    });

  $("#id_lista_material").on("change", function(){
      id_lista_material = $("#id_lista_material").val();
      $.get('/presupuesto/servicio/'+id_lista_servicio,
        {id_lista_material: id_lista_material},
            function(data){
              $("#id_material").val(data[0].material);
              $("#id_volumen_material").val(data[0].volumen);
              $("#id_peso_material").val(data[0].peso);
              $("#id_monto_material").val(data[0].precio);
        });
  });

});
</script>

{% endblock js_sup %}
{% block ayuda %}

<div class="well well-lg">
  <p>La <strong>Presupuesto</strong>  es la acción y efecto de cotizar, poner precio a algo, estimar a alguien o algo en relación con un fin. el documento informa y establece el valor del servicios.</p>
</div>

{% endblock ayuda %}
