{% extends "base_edit.html" %}

{% block titulo %}

<title>Detalles ambiente</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar detalles del ambiente</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

    <div class="form-group">

        {{ editar_cotizacionambiente.as_p }}

    </div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="">
    <div class="well well-lg">
      <p>Los <strong>Ambientes</strong> son los diversos espacios que se encuentran en un <strong>Inmueble</strong>.</p>
      <p>Cree <strong>Ambientes</strong> que no generen ambigüedades o confusiones como <i>Living</i> y <i>Living Room</i>.</p>
      <p>Para lograr buena calidad de las listas es recomendable mantener un formato uniforme en la forma de escribir. Una buena alternativa es utilizar la primera letra en mayúsculas y el resto en minúsculas, a menos que sean siglas o nombres propios.</p>
      <p>Utilice una clasificación apropiada para los <strong>Ambientes</strong> que permita su comprensión y rápida búsqueda.</p>
      <p>IMPORTANTE: La clasificación por <strong>Tipo de ambiente</strong> es solo de uso referencial, y no será determinante al cargar información de los distintos <strong>Tipos de inmuebles</strong> en los cuales se puede encontrar el mismo <strong>Ambiente</strong>.</p>
    </div>
  </div>

{% endblock%}
