{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Editar estado de cotización</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Editar estado de cotización</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

{{ editar_estadocotizacion.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
  <p>El <strong>Estado de cotización</strong> establece momentos claves del proceso de cotización que tiene implicaciones sobre el nivel de compromiso con el cliente, la posibilidad de modificar y el nivel de avance que tiene con respecto al ciclo de vida total de una cotización.</p>
</div>

{% endblock ayuda %}
