{% extends "base_edit.html" %}

{% block titulo %}

<title>Editar piso de ambiente</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>piso</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

  {{ editar_piso.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Pisos de ambientes</strong> permiten identificar, en un <strong>Inmueble</strong> que cuenta con varios pisos, aquel en el cual se encuentra el ambiente en cuestión.</p>
  <p>Este dato permite estimar tiempos y esfuerzos asociados a los <strong>Muebles</strong> y <strong>Contenidos</strong> considerando que su ubicación en pisos superiores, como áticos o pisos de habitaciones, o inferiores como sótanos, incide sobre la actividad de mudanza.</p>
</div>

{% endblock ayuda %}
