{% extends "inicio/base_edit.html" %}

{% block titulo %}

<title>Agregar tipo de mueble</title>

{% endblock titulo %}

{% block titulo_form %}

<h2>Agregar tiempo de carga</h2>

{% endblock titulo_form %}

{% block cuerpo_form %}

<div class="form-group">

{{ form_tiempocarga.as_p }}

</div>

{% endblock cuerpo_form %}

{% block ayuda %}

<div class="well well-lg">
  <p>Los <strong>Tiempos de carga</strong> son rangos de volúmen, peso y cantidad de objetos a trasladar que se asocian a un tiempo específico para su movilización.</p>
  <p>El sistema determinará el <strong>Tiempo de carga</strong> evaluando las características de los objetos y seleccionando un valor de esta sección.</p>
</div>

{% endblock ayuda %}
